[2021-02-16 19:14] hauntsaninja commented on #10074
I was surprised https://github.com/mypyc/mypy_mypyc-wheels/pull/20 didn't work. Try setting `DISTUTILS_USE_SDK=1`? (Agreed that this is easiest done by someone with access to a Windows dev machine)

[2021-02-17 00:28] jp-larose commented on #5485
Wondering if the solution is to somehow flag the Callable instance variable as a static method.  Because that's essentially the intended use.  Now, I'm not sure if the fix should be in mypy or in the typing library.

[2021-02-17 04:35] codewithpatch commented on #4440
I'd like to ask - is this a good design to do?
I'm having lots of circular dependency in my project using this design due to type annotations. I was solving it using forward reference `from future import annotations`

But I was advised by my our techlead that it is better to make a flat hierarchy. The problem is, by doing his advise - there is going to be a huge refactor that will happen with the

[2021-02-17 10:48] cipollone commented on #1191
I'm fine with the rune "only one annotation per scope". To me, the problem is just that the error is not informative enough. Both the error text and the [example](https://mypy.readthedocs.io/en/stable/error_code_list.html#check-that-each-name-is-defined-once-no-redef) in the documentation suggest that it may be a coding issue. Instead, I just had to remove the second annotation!
[code]
Without thi

[2021-02-17 12:47] KantiCodes commented on #10015
Experiencing the same problem, any news on the workaround/solution?

[2021-02-17 15:33] leoruiz commented on #4660
Same for me on Python 3.9.1 and mypy 0.800

[2021-02-17 18:28] JukkaL opened #10099 "[GSOC 2021] Google Summer of Code 2021 project ideas"
Here are our projects for Google Summer of Code 2021:

* [Speeding up string operations in mypyc](https://github.com/mypyc/mypyc/issues/801)
* [Support singledispatch efficiently](https://github.com/mypyc/mypyc/issues/802)

**Update:** These are final! You can apply (only) to one of the above projects.

[2021-02-17 18:33] JukkaL commented on #10072
@97littleleaf11 Sounds great! We are currently busy preparing to submit our org application, but I'll be happy to help once we get the administrative work done.

I added a separate issue about all project ideas (currently only the one I mentioned above, but we may add more): #10099. There's also a link to a more detailed description of the project.

[2021-02-17 19:34] JukkaL commented on #10072
I've submitted the GSoC org application.

[2021-02-17 20:50] Venom1991 commented on #7591
This problem bit me just now and the @staticmethod approach seems to work in Python 3.9.1 (no exception is being thrown).

[2021-02-17 23:03] mrhgit opened #10100 "using __new__ with type(x: T) resolvestype(x: T) as being of type type"
The following code passes a MyPy check with flying colors:
[code]

But the following does not:
[code]

Instead it seems to resolve `type(x)` as `<class 'type'>` when used with `__new__()` and complains about missing arguments:

Is this expected behavior, or is it resolving incorrectly in the second case?

[2021-02-18 00:00] MrMino opened #10101 "Errors on multi-variable assignments of types"
**Bug Report**

MyPy seems to have issues when multi-variable assignments of types to their aliases are involved.

**To Reproduce**
Run mypy on the following two sources:

[code]
[code]

**Expected Behavior**
MyPy does not show any errors for any of the function's signatures, since they are all essentially the same.

**Actual Behavior**
MyPy shows the following errors for `test2` and `test3`:

[co

[2021-02-18 00:46] zerkms opened #10102 "JUnit report jenkins compatibility"
**Bug Report**

It looks like the current stable `mypy-0.800-cp36-cp36m-manylinux2010_x86_64.whl` does not generate a "valid" junit compatible file as jenkins treats it. I know that the junit format is not really standardised, but I think it would be cool if the file generated was jenkins compatible (or may be a little tool was provided that converts the "incorrect" format to a "correct" one).

An

[2021-02-18 00:52] zerkms commented on #10102
UPD: I believe this would be the jenkins' junit xsd: https://github.com/junit-team/junit5/blob/main/platform-tests/src/test/resources/jenkins-junit.xsd

[2021-02-18 01:04] JelleZijlstra commented on #10101
This is because only the `x = y` form is recognized as creating a type alias. https://www.python.org/dev/peps/pep-0613/ is an attempt to make this behavior more explicit. We could document this better in https://mypy.readthedocs.io/en/stable/kinds_of_types.html#type-aliases, so keeping this open as a documentation issue.

[2021-02-18 01:21] JelleZijlstra commented on #10015
@KantiCodes you're probably using a version of mypy that doesn't support the new option yet.

[2021-02-18 01:27] mwgamble opened #10103 "Mypy complains about empty __all__ being untyped"
**Bug Report**

Mypy complains when `__all__` is empty, because it can't infer the type of an empty list. This should be unnecessary, as the type of `__all__` should already be known ahead of time.

If you attempt to type it while following PEP8, you run into more problems. The import for `List` (`from typing import List`) must come after the `__all__` assignment. This means you must also write `f

[2021-02-18 01:29] syastrov opened #10104 "Code review request: support for asdict returning TypedDict"
I'm sorry for abusing the issue tracker, but I'm not sure how else to notify someone who could perform a code-review (I did try pinging/mentions). And no worries of course :)

I have brought this PR up-to-date and passing tests again and would like to request a re-review: https://github.com/python/mypy/pull/8583/

@JukkaL Perhaps you have the time at some point to take a look or could ping someone

[2021-02-18 05:39] leycec commented on #1923
**Necrobump.** We just drunkenly stumbled into this with [beartype](https://github.com/beartype/beartype).

Superficially, casting to `types.FunctionType` *does* solve this specific issue – while introducing even more issues, because `types.FunctionType` isn't subscriptable:

[code]

So you can either have dunder attributes guaranteed to be defined on pure-Python callables *or* you can have typing

[2021-02-18 05:43] ShadowLNC commented on #10079
Currently I think this is officially not supported, but I do agree it would be a nice feature to have (type checking any kwargs passthrough, not just for super() calls but anywhere they're used)

[2021-02-18 07:09] gvanrossum commented on #1923
Bear type is unbearably annoying. Go away.

[2021-02-18 08:38] kurazu opened #10105 "Changing just the return type annotation causes incompatible argument error"
**Bug Report**

When a return type annotation changes from `Iterable` of `Optional` typevars into `Iterable` of `Tuples` of `Optional` typevars `mypy` starts to signal an error in function call arguments (invalid callback argument type).

**To Reproduce**

[code]
(Write your steps here:)

1. Run `mypy` on the above code `mypy test_mypy_problem.py`

**Expected Behavior**

The code should have passe

[2021-02-18 09:01] srittau commented on #10102
As far as I can tell, Jenkins is expecting a root `<testsuites>` element, which then contains individual `<testsuite>` elements.

[2021-02-18 09:49] KantiCodes commented on #10015
@JelleZijlstra thanks a lot :)

[2021-02-18 11:18] ennnas commented on #4430
Another solution that I found and that doesn't require using `#type: ignore` is to make the `hybrid_property` have the same typing as a normal property when type checking.
[code]
[reference](https://github.com/dropbox/sqlalchemy-stubs/issues/98)

[2021-02-18 11:42] cjolowicz opened #10106 "type union operator (PEP 604) cannot be used in type argument for generic class"
**Bug Report**

mypy reports an error when the type union operator ([PEP 604]) is used in a type argument for a generic class.

[PEP 604]: https://www.python.org/dev/peps/pep-0604/

**To Reproduce**

[code]

**Expected Behavior**

[code]

**Actual Behavior**

[code]

**Your Environment**

- Mypy version used: 0.800
- Mypy command-line flags:
- Mypy configuration options from `mypy.ini` (and other

[2021-02-18 12:40] munael commented on #5149
Still very much a needed QoL. Something like:

[code]

would be great. Not sure how to combine union type syntax with variable-as-types syntax (e.g. `'y': str | [str]`).

[2021-02-18 17:24] luislew commented on #10062
Any updates on when you expect to release 0.810?🤞

[2021-02-18 17:54] JukkaL commented on #10074
This seems to enable the 64-bit compiler, but we still run out of memory.

My next attempt is reducing the size of the build: https://github.com/python/mypy/pull/10107

If that doesn't help, bisecting to find the commit that caused the breakage could be helpful. This will be somewhat tricky, since we'll need to merge changes to the build scripts on top of the mypy commit to test before the build w

[2021-02-18 20:20] zerkms commented on #10102
I have borrowed the core of the solution https://github.com/xmlrunner/unittest-xml-reporting/blob/master/xmlrunner/extra/xunit_plugin.py does in the similar case with a little alteration.

The transform that makes mypy report valid for me looks like this

[code]

[2021-02-18 20:27] funkyfuture commented on #9043
see #4507 for an open issue in this regard.

[2021-02-18 20:49] intgr commented on #9981
I hate to be that guy again :) but I would be very pleased to see this release.

[2021-02-18 21:32] hauntsaninja commented on #9981
https://github.com/python/mypy/issues/10062 is the issue to follow for the release with this change. Jukka should be releasing soon :)

[2021-02-18 21:33] hauntsaninja commented on #10106
Duplicate of https://github.com/python/mypy/issues/9880

[2021-02-18 21:33] #10106 closed

[2021-02-18 22:13] hauntsaninja commented on #10072
In case anyone here is interested, here are some high impact "good second issues": https://github.com/python/mypy/issues/9880 https://github.com/python/mypy/issues/8481#issuecomment-739446125 https://github.com/python/mypy/issues/9852

[2021-02-19 04:11] l0b0 opened #10109 "nullcontext treated as having no __enter__ or __exit__ method"
**Bug Report**

[Using `nullcontext` to randomly get a specific context manager](https://stackoverflow.com/a/56971244/96588) results in `mypy` errors.

**To Reproduce**

Run `mypy` on the following code:

[code]

**Expected Behavior**

As far as I can tell from looking at contextlib.py it *does* have `__enter__` and `__exit__`, so this error should not happen.

**Actual Behavior**

[code]

**Your

[2021-02-19 06:07] MartinSeeler commented on #8449
It is possible, I think you mixed up some types in your `compose` function. Since `f` is after `g`, `f` has to be an arrow from `Y => Z`, e.g.
[code]

[2021-02-19 12:28] JukkaL commented on #10074
Reducing the size of the build did not help. The build was already using multiple files.

[2021-02-19 14:07] JukkaL commented on #10074
It now seems like https://github.com/python/mypy/commit/7ec1455821373ee394afc824f18c53bff1b6923b (or the follow-up commit) caused the failures. I've reverted the commit now.

My initial impression is that MSVC doesn't like the code we are generating and runs out of memory, either because of some major inefficiency or a bug. I have an idea about how to modify the generated code to not cause problem

[2021-02-19 14:20] JukkaL opened #10114 "Build wheels for Apple Silicon"
Currently we don't generate binary wheels for macs with Apple Silicon, and the only option is to use the slower, interpreted version of mypy when using an ARM CPython build. A compiled wheel could up to 4x faster than the interpreted one.

cibuildwheel (https://github.com/joerick/cibuildwheel), which we use to compile wheels, now supports cross-compiling `arm64` wheels for Apple Silicon on Intel.

[2021-02-19 14:21] JukkaL commented on #10074
We now have Windows wheels again: https://github.com/mypyc/mypy_mypyc-wheels/releases/tag/v0.820%2Bdev.b07c564043328ded5686d1aac4d7d3e5c8a5bfb0

[2021-02-19 14:21] #10074 closed

[2021-02-19 14:27] JelleZijlstra commented on #10109
The issue isn't with `nullcontext`, it's that mypy infers `(open("path") if bool(getrandbits(1)) else nullcontext())` to be of type `object`. Variants of this have been reported many times. A workaround is to first declare a variable like `cm: ContextManager[None] = (open("path") if bool(getrandbits(1)) else nullcontext())`.

[2021-02-19 15:34] JukkaL commented on #10062
Cherry-picked #10078 and #10096. The latter is needed for the wheel builds to work.

Any time now! The Windows wheel builds work now.

I decided to wait until the Windows wheels work, since my original hypothesis of why they were failing wasn't correct, and there might have been something seriously wrong (actually it was a just regression that wasn't included in the release branch).

[2021-02-19 17:28] marcglobality commented on #10062
I see the release in github but not in pypy. How long it takes to appear in there / When are you planning to upload it?

[2021-02-19 17:39] JukkaL commented on #10062
The release is finally out: http://mypy-lang.blogspot.com/2021/02/mypy-0812-released.html

(It's not 0.810 since because of issues when I tried to release 0.810 and 0.811. There are no 0.810 and 0.811 releases on PyPI.)

[2021-02-19 17:39] #10062 closed

[2021-02-19 17:52] JukkaL opened #10116 "Release 0.900 planning"
I'm planning to release mypy 0.900 some time in March. This release will have a particularly significant change, as third-party stubs are no longer shipped with mypy. They need to be installed by installing suitable stub packages. For example, `pip install types-requests` installs the stubs for Requests. Mypy will suggest the names of stub packages to install, and `mypy --install-types` will autom

[2021-02-19 19:31] mristin opened #10117 "`inspect.isfunction` and `inspect.ismethod`"
**Bug Report**

I use an union between a callable and a class:

[code]

Mypy does not infer that the type is `Callable` based on `inspect.isfunction` and `inspect.ismethod`, but still assumes the union:

[code]

**To Reproduce**

Execute the following command:

[code]

**Your Environment**

- Mypy version used: 0.812

[2021-02-19 19:33] mristin commented on #10117
(I am not sure if this is a bug or a feature request, please change as you see fit.)

[2021-02-19 19:35] JelleZijlstra commented on #10117
This should be fixable in typeshed once we have support for PEP 647 (https://www.python.org/dev/peps/pep-0647/). Mypy could also special-case these functions directly but that might be overkill.

[2021-02-19 23:41] msullivan commented on #1876
This has regressed again. If you do something like `mypy -m typing`, it works correctly (which is why the test still passes), but if you do `mypy typing.py` or `mypy some_dir_with_typing`, it will break, because it gets loaded directly without going through `find_module_and_diagnose`.

(Additionally something changed between 0.790 and 0.812 that caused mypy to start picking up `edb/tools/flake8/ty

[2021-02-19 23:48] ThomasWaldmann commented on #5479
Just ran into the same issue with mypy 0.812.

Interestingly, it only happens on Github Actions / Workflows and not if I try to reproduce locally.

https://github.com/borgbackup/borg/pull/5703/checks?check_run_id=1939079054#step:9:20

Import: `from .yes import *`  # and the `yes` module contains a `yes` function

[2021-02-19 23:50] hauntsaninja commented on #1876
v0.800 made a number of changes to source finding behaviour, in particular recursively finding code that we used to not find. v0.812 has a new flag `--exclude` which you can use to ignore the bad file (https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-exclude)

[2021-02-20 00:50] natemcmaster opened #10118 "Have dmypy gracefully ignore report generation settings"
**Feature**

If mypy.ini/setup.cfg enable report generation, running dmypy fails with an error
[code]

Can we update dmypy to skip report generation and let the user know their report settings are being ignored?

**Pitch**

Currently, my project has
[code]
Every time I want to run `dmypy`, I have to...
1. comment out the cobertura_xml_report setting in setup.cfg,
2. run dmypy, and
3. undo and/or r

[2021-02-20 02:15] JelleZijlstra commented on #10118
Sounds like a good idea, feel free to submit a PR.

[2021-02-20 10:02] luciotudisco opened #10119 "Unexpected mypy type error"
**Bug Report**

Unexpected mypy type error.

**To Reproduce**

[code]

**Expected Behavior**

mypy returns no error.

**Actual Behavior**

[code]

[2021-02-20 10:16] michi42 opened #10120 "@overload declarations in stubs - required to be directly adjacent?"
**Bug Report**

Currently, mypy requires `@overload ` declarations in stubs to be directly adjacent, with no declarations (e.g. type vars) in between. However, I don't find that requirement in PEP 484 [1], nor in the typing module documentation [2].

[1] https://www.python.org/dev/peps/pep-0484/#function-method-overloading
[2] https://docs.python.org/3/library/typing.html#typing.overload

**To Rep

[2021-02-20 13:33] ravwojdyla commented on #9963
👋 @JukkaL there is some inconsistency in this doc for sure, let's try to get to the bottom of that. Is this the expected behaviour:

[code]

[2021-02-20 14:54] mristin commented on #10117
@JelleZijlstra thanks for considering the issue. In fact, I think that mypy should handle `inspect.is*` methods directly as this seems a canonical way to chech whether an object is a callable, a coroutine *etc.* at runtime.

Otherwise, it would be great if mypy documentation explicitly stated how the user is expected to check for "is a callable" property. (There is no `isinstance(obj, Callable)` a

[2021-02-20 15:07] twoertwein opened #10122 "[mypyc] object has no attribute '__mypyc_attrs__'"
**Bug Report**

A function that is wrapped in a decorator can not be pickled when the function (and its decorator) are compiled.

compile.py:
[code]
test.py:
[code]
[code]

**Expected Behavior**

It can be pickled :)

**Actual Behavior**

Attribute `__mypyc_attrs__` was not found.

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: -
- Mypy configuration options from `mypy

[2021-02-20 15:15] JelleZijlstra commented on #10117
We support using `callable()` (as of #2627).

[2021-02-20 16:37] beetle-in-a-box commented on #10119
I wouldn't be inclined to call this issue a bug. Its actually caused do to the indirect type check you have in your code. This prevents mypy from concluding that the second argument to `issubclass` is actually an object. Hence the warning.

The simple solution would be to use the idiomatic approach `isinstance` instead of your `type(exclusion) is type` statement. For a minimally viable example whi

[2021-02-20 17:19] luciotudisco commented on #10119
Thanks!

[code]

fixes indeed.

Regarding the callable, that was a bad indentation on my side while reporting the issue. Good catch!

[2021-02-20 17:26] beetle-in-a-box commented on #10119
Great to hear :)! Always happy to help. Do be sure to close the issue ;)

[2021-02-20 17:38] luciotudisco commented on #10119
Thanks again!

[2021-02-20 17:38] #10119 closed

[2021-02-20 23:17] t4n1o opened #10123 "While walrus operator syntax error in mypy 0.812"
I'm using aiohttp with python3.8 and python3.9. The error in mypy is caused by the walrus operator, used like this:

[code]

The code runs just fine. But mypy 0.812 says:
`error: invalid syntax`

and refuses to type check anything else in the file.

[2021-02-21 01:37] hauntsaninja commented on #10123
You'll need to install mypy using Python 3.8 or greater.

[2021-02-21 01:37] #10123 closed

[2021-02-21 02:28] hauntsaninja opened #10124 "Make Python 2 support an "extra" in 0.900"
The motivation for this is that typed-ast is a pain to deal with (it's just broken again on latest Python 3.10, and was a pain to deal with for Python 3.9, e.g. preventing Windows installs for some months) and Python 2 usage is ever dwindling*. Since mypy 0.900 will basically force all users to revisit how they install mypy, it seems like a good time to force the remaining users of mypy with Pytho

[2021-02-21 06:52] Soumokanti123 commented on #9185
Hi sir, Can I take it to solve the problem?

[2021-02-21 12:32] TH3CHARLie commented on #10124
strongly agreed

[2021-02-21 14:30] abersheeran opened #10126 "Type check error in List[Tuple[str, Union[str, int]]]"
[code]

mypy output a error:

[code]

mypy version is 0.812

[2021-02-21 15:23] twoertwein opened #10127 "[mypyc] Can compile TypedDict but throws TypeError at runtime"
**Bug Report**

test.py
[code]

[code]
**Expected Behavior**
`TypedDict` should be supported at runtime.

**Actual Behavior**

`TypeError` is thrown.

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: -
- Mypy configuration options from `mypy.ini` (and other config files): -
- Python version used: 3.8.7
- Operating system and version: 4.13.0-36-generic, 64 bit

[2021-02-21 16:24] henryiii commented on #10124
The current setup.py says that 3.5+ is required, and I don't see wheels for Python 2 anymore. Is Python 2 still supported? It says so in quite a few places, including the GitHub summary.

[2021-02-21 16:32] JelleZijlstra commented on #10124
@henryiii Python 2 was never supported for *running* mypy, but mypy still supports *checking* Python 2 code. Shantanu's suggestion is to make the support for checking Python 2 an extra.

[2021-02-21 16:36] henryiii commented on #10124
I just realized that 🤦  Thanks!

[2021-02-21 16:37] henryiii commented on #10124
Though I'm confused about the comments covering typed ast. I still see type comments used once in a while in Python 3 only code?

[2021-02-21 17:38] JukkaL commented on #10124
The ast  module in Python 3.8 added support for type comments. So we only need typed-ast when running on Python 3.7 and earlier, or when type checking Python 2 code (and running on any Python version).

Python 2 is still used a lot, so we can't stop supporting it in the near future. For example, about 10% of downloads for requests are for Python 2. I guess the main benefit of making Python 2 suppo

[2021-02-21 17:43] JukkaL commented on #1876
Even though `--exclude` can be used as a workaround, we shouldn't crash if there's a module named `typing`. So I agree that this is a regression. Not sure if this is important enough to make a point release. Thoughts?

[2021-02-21 18:24] JelleZijlstra commented on #10126
This is because of invariance, as the error message itself indicates.

[2021-02-21 18:24] #10126 closed

[2021-02-21 18:33] henryiii commented on #10124
Then why not:

[code]

I don't get why typed comments are "Python 2"; they are perfectly valid in Python 3 only code; in fact, they were the only way to do a variable annotation before 3.6, and they were faster than instantiating an object before Python 3.10 (or for a codebase requiring 3.7+ by using the future import).

[2021-02-21 19:19] hauntsaninja commented on #10124
@henryiii The ast module doesn't allow you to parse Python 2 code, so on all versions of Python, mypy uses typed-ast to parse Python 2 code. On Python 3.8+, this is the only thing we need typed-ast for, hence this issue.

[2021-02-21 20:15] henryiii commented on #10124
Thanks for clearing up my confusion! :)

[2021-02-21 20:29] l0b0 commented on #10109
Thank you @JelleZijlstra, is there an overarching issue I can follow? That way we can also close this as a duplicate.

[2021-02-22 13:43] mkielar commented on #9975
[code]
This fooled mypy into being silent. Not sure what's uglier though, doing this, or inline ignores.

[2021-02-22 16:32] esoma commented on #10103
I had fixed this locally before, but dumped it after realizing that you can just use an empty tuple instead. iirc it just forced module level `__all__` to be `List[str]` if it was `List[<nothing>]`, which seems safe to me. I'll see what I can do about a PR. Another way is just allowing `List[<nothing>]` but that doesn't fix it if someone does something odd like this:

[code]

It's worth noting tha

[2021-02-22 19:23] nipunn1313 opened #10129 "Helpful detailed error message on Protocol structural subtyping missing when arg is Optional"
**Bug Report**

[code]

I would expect the same error message for both func1 and func2. Instead we see a useful message on `14` and a less useful message on `15`
[code]

mypy-playground repro:
https://mypy-play.net/?mypy=latest&python=3.9&gist=d00664f08c00a13896bfa4e45f6e2bf1

[2021-02-22 19:51] kerim371 commented on #8033
I'm sorry for disturbing but I can't understand whether `stubgen` supports `.pyd` files or not? The question arised after I saw these links:
1. https://github.com/python/mypy/issues/5283
2. https://github.com/pybind/pybind11/issues/2350#issuecomment-668879301
3but when I try to run the command `stubgen mymodule.pyd` I get error:
**Critical error during semantic analysis: mypy: stubgen does not sup

[2021-02-23 09:48] srittau commented on #9980
This seems to affect more than just type aliases. When I tried to change the tuples in typeshed's `stdlib/random.pyi`, it complained with the same error message. (Using mypy 0.820+dev.9cbf4c0da8f83efd0ba82a91e180b6e96dd15f69 and Python 3.8.3.):

[code]

[2021-02-23 10:48] JukkaL commented on #10129
This should be easy to fix by modifying `incompatible_argument_note` in `mypy/messages.py` to also consider union types.

[2021-02-23 10:56] tobinus opened #10130 "Unable to make generic subclass using type variable with value restriction"
**Bug Report**

Mypy reports some strange false positive errors when I try to define a generic subclass of a generic class where the type variable has a value restriction.

**To Reproduce**

I made this minimal example to reproduce the bug:

[code]

This example is a bit simple, of course, and does not make use of the value restriction. But you could imagine that there is some logic here that assu

[2021-02-23 13:25] sebastian-philipp commented on #8993
I think #8993 and #8996 are duplicates.

[code]

As `CONSTANT` is an (abstract) class property, it should have the same type as `OTHER_CONSTANT`. I think this causes both issues.

[2021-02-23 14:16] 97littleleaf11 commented on #10114
Hey @JukkaL, I briefly went through the `workflows/build.yml` just now. What should I do next, to modify`mypy/misc/build_wheel.py` or build wheels locally?

[2021-02-23 14:30] Akuli commented on #9980
https://github.com/python/mypy/blob/4827f3adf0acebd2dea7cc0dbf358b8daede6694/mypy/checker.py#L951

Maybe this is the problem?

[2021-02-23 14:55] antonagestam commented on #9980
@srittau Interesting, I noticed it works in some places of our codebase, when I tried isolating them with e.g. `mypy <(echo 'ordering: tuple[str, ...] = ("-pk",)'` it fails. Might be something else going on that is shading those definitions I guess.

That's why I thought this was only happening for type aliases. I'll rename the issue.

[2021-02-23 16:14] JukkaL commented on #10114
@97littleleaf11 You can modify `misc/build_wheel.py` to also generate `arm64` wheels when running on macOS and Python 3.9. I think that you can use `CIBW_ARCHS_MACOS` to define the platforms. We don't want universal wheels, since they will be much bigger. If you will create a PR, I can try the wheel generation manually.

[2021-02-23 18:19] TH3CHARLie commented on #10127
Thanks for reporting this! If possible, could you please reopen this at https://github.com/mypyc/mypyc/issues/ to help better track mypyc specific issues?

This I believe is a known-limitation of mypyc's metaclass support, see: https://github.com/python/mypy/blob/4827f3adf0acebd2dea7cc0dbf358b8daede6694/mypyc/lib-rt/misc_ops.c#L105-L107

[2021-02-23 19:14] twoertwein commented on #10127
I moved it https://github.com/mypyc/mypyc/issues/803

[2021-02-23 19:14] #10127 closed

[2021-02-23 19:15] twoertwein commented on #10122
Moved to https://github.com/mypyc/mypyc/issues/804

[2021-02-23 19:15] #10122 closed

[2021-02-24 08:34] hackaugusto opened #10131 "dataclasses with callbacks mistakenly report wrong number of arguments"
**Bug Report**

`mypy` mistakenly reports `Too many arguments` for callables inside a dataclass

**To Reproduce**

minimally reproducible example:

[code]

**Expected Behavior**

I expected it to type check just like this example:

[code]

**Actual Behavior**

Type checking failed.

**Your Environment**

Tested with:

- mypy-0.800
- mypy-0.812
- mypy 0.820+dev.4827f3adf0acebd2dea7cc0dbf358b8daede6

[2021-02-24 09:01] bashtage commented on #5486
I think a tutorial/extended help page on complex `overload`ing would be a great addition.

[2021-02-24 10:40] AnubhavHooda commented on #10129
@JukkaL Can I work on this issue ?

[2021-02-24 12:57] JannKleen commented on #8993
I would like to add that this also seems to happen without the `@classmethod`.

[code]

[code]

[2021-02-24 14:39] DevilXD commented on #6232
Is there any progress on this? Having type "redefinition" errors, just because I used a variable that's named the same as the one I used in a for loop couple of lines earlier, is getting quite tiresome. The flag that allows redefinitions doesn't sound that great for my usage case either.

IMO, if someone is using a variable in a for loop, it should redefine the type of the variable, even without t

[2021-02-24 17:58] TH3CHARLie commented on #10129
@AnubhavHooda feel free to do it

[2021-02-24 23:48] #10056 closed

[2021-02-25 04:09] jwodder opened #10132 "mypy confused about return type of metaclass __new__"
Consider the following trivial metaclass:

[code]

When run on this code with the default settings, mypy fails with "`Incompatible return value type (got "type", expected "MyMeta")`".  If the return type annotation of `__new__` is changed to `type`, the error then becomes "`Incompatible return type for "__new__" (returns "type", but must return a subtype of "MyMeta")`".  It seems that mypy knows t

[2021-02-25 11:41] socketpair opened #10133 "method signature bug"
[code]

mypy considers:
`error: Signature of "method" incompatible with supertype "Base"  [override]`

[2021-02-25 11:50] ethanhs commented on #10133
Mypy is correct here. I would recommend reading https://mypy.readthedocs.io/en/stable/common_issues.html#incompatible-overrides

[2021-02-25 11:50] #10133 closed

[2021-02-25 12:03] socketpair commented on #10133
OK. you are right. This case will generate error in code:

[code]

[2021-02-25 12:37] uranusjr commented on #5205
PyPA’s position has always been, and likely will be that `pyproject.toml` is only cemented as the way to *declare packaging metadata*. We do not encourage projects to store non-packaging-related configuration in `pyproject.toml` (although we don’t stop projects if they insist). It would be perfectly appropriate if Mypy decides to not support configuring with `pyproject.toml` at all.

It is also no

[2021-02-25 12:48] johnthagen commented on #5205
I'm not disagreeing with anything you said, but I do think it's worth pointing out that [PEP 518 explicitly defines the `[tool]` table](https://www.python.org/dev/peps/pep-0518/#tool-table) as an official mechanism for tools to define non-packaging-related configuration in `pyproject.toml`. To me that is at least an implicit nod towards projects doing this if they wish.

[2021-02-25 13:04] uranusjr commented on #5205
An earlier version of PEP 518 actually says `tool` is for packaging tools, but that led to a lot of finger-pointing when Black and Towncrier starts to use it, so the language is soften to stop the argument. But PyPA’s stance does not change much.

[2021-02-25 13:11] Paul-AUB commented on #9919
Well, it also prevent using the badge (http://www.mypy-lang.org/static/mypy_badge.svg) with https, which is annoying since most GitHub Enterprise configuration prevent access to http.

It makes the badge not usable for me.

[2021-02-25 13:12] Priyanshujha11 commented on #10129
can i work on this

[2021-02-25 17:18] TH3CHARLie commented on #10129
yeah feel free to do it

[2021-02-25 17:59] nzig opened #10134 "INTERNAL ERROR with `__hash__ = None`"
**Crash Report**

Mypy crashed when run on the following reduced file. Setting `__hash__` to `None` is the way to suppress Python's default hash method.

**Traceback**

[code]

**To Reproduce**

Contents of mypy_crash.py:
[code]

**Your Environment**

- Mypy version used: master (0.820+dev.15bd486a67a3214fdb854ba2f1d6d524113da6c1)
- Mypy command-line flags: None
- Mypy configuration options from `

[2021-02-25 20:59] socketpair opened #10135 "Union of dicts fail"
https://mypy-play.net/?mypy=latest&python=3.9&gist=6770a34c37170183d0fefe8b1444aa27

[code]

[code]

[2021-02-25 21:02] akanter commented on #10123
@hauntsaninja Is there a workaround for those of us who cannot upgrade mypy but are using Python 3.8?

[2021-02-25 21:36] hauntsaninja commented on #10123
This isn't upgrading mypy, it's just installing mypy with Python 3.8.

[2021-02-25 21:49] attack68 opened #10136 "False Positive: str not inferred from `isinstance`"
**Bug Report**

False positive: type should be clearly inferred as string from `isinstance`

[code]
[code]

**Expected Behavior**

No errors.

version 0.800, python 3.8

[2021-02-25 22:30] JelleZijlstra commented on #10136
The issue is that it's in a nested function; mypy doesn't apply type narrowing within nested functions. There's an open issue for that but I can't find it right now.

[2021-02-25 22:39] hauntsaninja commented on #10136
https://mypy.readthedocs.io/en/latest/common_issues.html#narrowing-and-inner-functions

[2021-02-25 22:39] #10136 closed

[2021-02-26 09:46] gen-xu opened #10137 "stubgenc.py throw TypeError: unbound method type.mro() needs an argument"
**Bug Report**

When I was trying to use stubgen to generate pyi for the PyAV package, an error is being thrown.
[code]
After a bit investigation in stubgenc.py and PyAV. I found the issue is caused by these
https://github.com/python/mypy/blob/master/mypy/stubgenc.py#L299
https://github.com/python/mypy/blob/master/mypy/stubgenc.py#L355
Basically, when invoking `obj.mro()` with `EnumType` defined i

[2021-02-26 10:01] socketpair commented on #10135
I guess, `{}` should be `Dict[Any, Any]` and not `Dict[<nothing>, <nothing>]`

[2021-02-26 10:22] lig commented on #5205
Let's face it the "PyPA’s stance" is just an opinion of a small number of community members which clearly contradicts the process actually happening in the community and the request for that being highly spread.

[2021-02-26 10:38] shadycuz opened #10139 "Type alias fails but long version works."
**Bug Report**

mypy fails when an alias is used but not when the long form is used

**To Reproduce**

1. import botostubs
[code]
2. Create type alias at top of file but but below the import
[code]
3. assign alias to a functions return type
[code]
4. Run mypy
[code]

**Expected Behavior**

I expected that I would be able to use the type alias. When I use the long form.
[code]

I do not get the err

[2021-02-26 11:08] srittau commented on #10135
There is prior discussion in python/typeshed#4846 and a PR in python/typeshed#4987.

[2021-02-26 13:30] lhupfeldt commented on #5492
I was going to open an issue after getting an issue with list concatenation, but but I think is a variation of this.
[code]

`mypy list_arg.py
list_arg.py:11: error: Argument 1 to "list" has incompatible type "Iterable[Union[str, int]]"; expected "Iterable[str]"
Found 1 error in 1 file (checked 1 source file)
``

[code]

[2021-02-26 14:07] xanderbailey opened #10140 "Generic bounded dataclass crash"
**Crash Report**

Ran mypy on my user library - no idea what went wrong.

**Traceback**

[code]

**To Reproduce**

[code]

**Your Environment**

- Mypy version used : 0.820+dev.effd970ad1e8bb09fd2a18634339e1d043a83400
- Mypy command-line flags: None
- Mypy configuration options from `mypy.ini` (and other config files):
- Python version used: 3.9.1
- Operating system and version: MacOS 10.15.7

[2021-02-26 16:24] t4n1o commented on #10123
My python version is 3.9 but hauntsaninja is correct.

You need to do:
`python3.9 -m pip install mypy`

And it will be fixed

[2021-02-26 17:53] andredasilvapinto commented on #8964
what if `raise_exception()` lives in an external library that you cannot change?

[2021-02-26 18:02] attack68 commented on #10136
@JelleZijlstra sure that's helpful info but if I restructure the above to

[code]

There is no fail, which contradicts the explanation, no?

[2021-02-26 18:04] JelleZijlstra commented on #8964
@andredasilvapinto you could provide a stub file for the library, or write something like `assert False, "unreachable"` to help mypy.

[2021-02-26 18:04] jamesbraza commented on #8964
I believe the answer in that case is to make a stub, read [here](https://mypy.readthedocs.io/en/stable/stubs.html).  I am not sure how to make an in-module stub.  If you figure it out, I would be interested to see the syntax.

You could also use `typing.cast`.  See here:

[code]

[2021-02-26 18:05] JelleZijlstra commented on #10136
That's strange, not sure how to explain that.

[2021-02-26 18:30] JelleZijlstra commented on #10139
I think the issue here is that mypy doesn't know what `botostubs.EC2.Ec2Resource.Vpc` is and treats it as Any. If you put it in a type annotation, mypy just treats it as Any and accepts it, but if you assign it to a variable, mypy doesn't recognize you're creating an alias and just treats it as a variable.

I'm not familiar with `botostubs`, but it sounds like a type package, so something must be

[2021-02-26 18:48] erictraut opened #10143 "Overload validation does not properly handle implied subtype relationships (e.g. int and float)"
I'm working to make pyright's overload validation work consistently with mypy's.

Mypy's overload validation behavior is spec'ed here: https://github.com/python/typing/issues/253#issuecomment-389262904

As part of this validation, mypy reports errors when there is overlap between two overloads that return different return types. The following test case shows four such examples. Mypy properly repor

[2021-02-26 18:58] wsanchez opened #10144 "Argument 1 to "ensure_future" has incompatible type "CoroutineType""
**Bug Report**

With this code:

[code]

I get this error from Mypy:

[code]

This surprises me, since `ensure_future` is accepts a (Future-yielding) coroutine as one of its three use cases (`Future`-like, coroutine, and awaitable).

[2021-02-26 19:50] brettcannon commented on #5205
I think a better way to phrase it is the PyPA is not _mandating_ tools use `pyproject.toml`, but the support for doing so is definitely there and available for tools that _want_ to use it (hence the "do not encourage" from @uranusjr ; it's not the same as "discourage", just that the PyPA is not taking a stance since it's way beyond any mandate or purview of PyPA to do so).

Personally, I want tool

[2021-02-26 20:15] shadycuz commented on #10139
I'm not sure how it works either @JelleZijlstra but I know it shows up in my IDE as a class. You can kind of see it in my screen shot as `Type[Vpc]`

@jeshan can you provide some insight if you have time?

[2021-02-26 23:06] 97littleleaf11 commented on #10114
@JukkaL I just made a PR about it.

[2021-02-26 23:35] #10137 closed

[2021-02-27 10:06] Akuli opened #10146 "nested isinstances lose type information"
**Bug Report**

**To Reproduce**

[code]

**Expected Behavior**

both types revealed as `Union[int, str]`

**Actual Behavior**

`object` from second type

**Your Environment**

- Mypy version used: latest master (0.820+dev.72ac2cee910ca61bfdf449217328b6d10b45d378)
- Mypy command-line flags: none
- Mypy configuration options from `mypy.ini` (and other config files): none
- Python version used: 3.7.

[2021-02-27 10:07] Akuli commented on #10144
Please report this to https://github.com/python/typeshed instead

[2021-02-27 14:27] JukkaL commented on #10114
@97littleleaf11 Thanks for the PR! This seems to work great based on some quick experiments, with about 4.3x performance improvement. [Here](https://github.com/mypyc/mypy_mypyc-wheels/releases/download/v0.820%2Bdev.5161d93950cdb6daa5a13559b64e9e016ab78183/mypy-0.820+dev.5161d93950cdb6daa5a13559b64e9e016ab78183-cp39-cp39-macosx_11_0_arm64.whl) is a Python 3.9 arm64 wheel for the current GitHub mast

[2021-02-27 14:27] #10114 closed

[2021-02-27 17:25] jaraco opened #10149 "Proposal: infer obvious parameters and return types"
**Feature**

Similar to #4409, but also broader, allow for mypy to infer the parameter and return types for a function that's a passthrough to other typed functions.

**Pitch**

Consider the case in keyring, where the `get_password` function is a convenience accessor to (a) resolve the backend and (b) invoke the method of the same name on that backend with the same parameters:

https://github.com/

[2021-02-27 19:45] JohnVillalovos commented on #7333
But then you can get an error like:

[code]

Code I'm trying it on:

[code]

[2021-02-27 22:08] DOsinga opened #10150 "Incompatible classes are not checked if not fully typed?"
**Questions and Help**

I have the following code:

[code]

Now if I import BaseGeometry from shapely (which does not come with type annotations), this seems to be fine with mypy. If instead I declare it locally as:
[code]

Mypy does flag the code above and says `Incompatible return value type (got "BaseGeometry", expected "Bar")`. Is that expected behavior? It does seem that even for classes that

[2021-02-28 05:21] JelleZijlstra commented on #10150
Anything from an untyped library becomes `Any`. I think we're unlikely to add special handling for your use case; the best course of action is to add types to the library or write stubs.

[2021-02-28 05:21] #10150 closed

[2021-02-28 07:34] mortoray commented on #10149
I think I want the same thing, but with use in `--check-untyped-defs` .  I'd like every function in my modules to be checked, even if they don't have type definitions.

The main reason I won't have untyped defs is due to return values. I'd like them to be inferred, like what would happen if I specify arguments and not a return. I have some functions with no arguments, but with a return, and there'

[2021-02-28 08:02] mortoray opened #10151 "invalid knowledge of `self` variables retained after self call, unreachable false positive, invalid operations allowed"
The `--warn-unreachable` check is reporting a false positive for a branch on an instance field that it thinks it knows the value of, but it cannot.  This is when a function calls another member function prior to the branch.

[code]

The call to `print(self.path)` is marked as unreachable.

I presume this happens since mypy is seeing the `None` assignment to `self.path`, no intervening assignment,

[2021-02-28 08:12] mortoray commented on #10151
The problem is likely more generic than the warn-unreachable problem, since it can trigger other errors as well. Here's an expanded test case:

[code]

The `instance` line is also triggering the error `Subclass of "int" and "str" cannot exist: would have incompatible method signatures`.  As well as triggering the unreachable on the print statement two lines after.

So it does appear mypy is retain

[2021-02-28 08:15] mortoray commented on #10151
Here's an example that shows a more problematic case, where it falsely assumes a type and allows an invalid statement to go unnoticed:

[code]

`value: int = self.vary + 1` should flag an error about `Unsupported operand types for + ("str" and "int")` but it does not, since mypy is falsely believing that `self.vary` is the integer `13` at this point.

[2021-02-28 09:04] jeshan commented on #10139
@shadycuz I never used mypy and don't know how it works so I'm not sure I can be of help here. Appreciate if you can point me in the right direction.

Can you try reproducing the issue with type hints from some other package?

The way I generate code is nested classes, i.e `Vpc` class is in the `Ec2Resource` class which is itself in the `EC2` one. Can you check if such a scenario work elsewhere?

[2021-02-28 12:36] NiklasRosenstein opened #10152 "Argument 2 to pop of MutableMapping has incompatible type"
**Bug Report**

Using `MutableMapping.pop(key, default)` inconsistently results in an error for the type of the `default` argument.

**To Reproduce**

[code]

**Expected Behavior**

I expect no errors when checking the above code with Mypy. The definition of `MutableMapping.pop()` allows using a different type for the `default` argument value (in which case a union of the map's value type and the

[2021-02-28 15:48] shadycuz commented on #10139
@jeshan Okay, just checking. If its just a class it should work fine with mypy.

[2021-02-28 22:49] AustinScola commented on #6406
Here is an example I just ran into where mypy reporting this error was helpful to me:
[code]
I expected to get `head == 'a'` and `tail == 'bc'`. Instead, I was surprised to find that `tail == ['b', 'c']`.

(Another error for tail is also reported here).

The reason I bring up this example is just because I don't see one like it on this thread.

[2021-02-28 23:23] asmeurer commented on #6406
Shouldn't it have caught that false assumption elsewhere where you incorrectly assumed the type of `tail` was str instead of list?

[2021-02-28 23:28] AustinScola commented on #6406
Yes, mypy did. That is what I meant by "(Another error for tail is also reported here)." However, I found the tuple unpacking disallow error message more helpful for understanding my mistake. And the tuple unpacking disallow error was also reported before the other error.

[2021-02-28 23:53] wsanchez commented on #10144
You bet.

https://github.com/python/typeshed/issues/5082

[2021-02-28 23:53] #10144 closed

[2021-03-01 02:50] asmeurer commented on #6406
Well the problem is that the tuple unpacking "error" isn't actually an error. It's perfectly within the semantics of Python that strings are iterables of characters, and I personally have seen and written lots of code that makes use of this fact.

[2021-03-01 12:05] 97littleleaf11 commented on #10129
Hi, @nipunn1313 @JukkaL , I just made a PR #10154 to fix this bug.

[2021-03-01 12:55] jacobbogdanov opened #10155 "@overload and functools.lru_cache causes an internal error"
**Crash Report**

It seems that combining `@overload` with `functools.lru_cache` causes an internal crash of `mypy.`

**Traceback**

[code]

**To Reproduce**

[code]

I also tried decorating each overload with `@functools.lru_cache`,
[code]
but that did not fix anything.

**Your Environment**

- Mypy version used: `0.820+dev.98c2c1289ff76570457fc547ae254293aea6a019`
- Mypy command-line flags: `--t

[2021-03-01 14:44] matteosantama commented on #10131
Here's another example that demonstrates mypy does not allow you pass around functions as attributes.

[code]

[code]

mypy is unable to distinguish that `foo.attrib_add` is not a method, so it inserts `self` into the arguments, overwriting the first `int` argument`.

[2021-03-01 17:49] joelberkeley opened #10156 "Syntactic short form of Callable"
**Feature**

A short form for `Callable`.

**Pitch**

`Callable` definitions can get very long and difficult to read and write, especially when nested, such as
[code]
How about adding some form of syntactic sugar, akin to `int | str` for union types?

Haskell/Idris write `int -> str -> Foo` for a function with two arguments returning a `Foo`. This comparison is limited in that it's also a function

[2021-03-02 00:43] erictraut opened #10157 "Overlapping overload detection fails when signature contains TypeVar"
Mypy detects and reports overlapping function overloads that differ in return type.

In the example below, it correctly reports that the second overload of `func1` overlaps the first overload. However, when the concrete type `str` is replaced by a generic type `_T`, it fails to report the error.

[code]

[2021-03-02 01:04] erictraut commented on #10139
FWIW, this works fine in pyright, so it's likely this is a bug in mypy. The botostubs file is very large (150K lines long — appears to be auto-generated), so perhaps that's contributing to the issue.

[2021-03-02 03:55] Jasha10 commented on #5205
Ok there has been much talk about this issue, and since it is re-opened, I'm guessing that the mypy maintainers would be willing to humor pull-requests from the community.

So, maybe it's time to shift the discussion from "gosh I wish this feature were implemented" to "how can this feature be implemented".

[2021-03-02 03:57] JelleZijlstra commented on #5205
Exactly. The next step here should be a pull request. I'll try to make time to review it, but first we need a pull request.

[2021-03-02 03:58] Jasha10 commented on #5205
I am not familiar with mypy internals. Does mypy have some sort of config IR that is used as a destination for both `mypy.ini` files and command line arguments?
(I'm thinking that, if so, this config IR could be a destination for `pyproject.toml` too)

[2021-03-02 03:59] hauntsaninja commented on #5205
Refer to https://github.com/python/mypy/pull/5208#pullrequestreview-511175639

[2021-03-02 05:27] #10000 closed

[2021-03-02 07:36] jeshan commented on #10139
Yeah I should work on that _some day_!

But Levi wrote that at least the long form works. So, that doesn't seem to be the right explanation as mypy definitely knows about the types.

[2021-03-02 10:56] AIGeneratedUsername commented on #9997
@JukkaL Here is an issue anyway.

When Mypy finds an error, it must show to a user a valid URL.

If Mypy is a "stable" version, it must show a URL to a "stable" version docs.

I have 0.812 version at this moment and it suggests me to open a URL: https://mypy.readthedocs.io/en/latest/running_mypy.html#missing-imports which contains a not supported command.

[2021-03-02 12:51] adamal opened #10158 "defaultdict.get considered to return Optional[T] when T would suffice"
**Feature**

Consider

[code]

If using a (typed) regular `dict.get(key, default)`, mypy correctly infers the return type.
I loosely think of `defaultdict` as being `dict` with permanently set `default`, but mypy does not, it seems.

I would argue it should.
Unless of course I'm missing something.

[2021-03-02 17:32] erictraut commented on #10156
You may be interested in this typing-sig discussion: https://mail.python.org/archives/list/typing-sig@python.org/thread/3MCLUHZFRVZUJ42ITN37E6TL4RAXTSNY/

[2021-03-02 19:29] hauntsaninja commented on #9997
That's a good point, thanks for bringing it up! Opened https://github.com/python/mypy/pull/10159 to fix

[2021-03-02 21:31] Dr-Irv commented on #9230
Here is something that worked for me using `typing.get_args`:

[code]

This allows you to loop through all the possible `Literal` values, and the typing is handled correctly.

[2021-03-03 13:12] jentyk commented on #6948
It would be nice if @typing.no_type_check would be also a class decorator

[2021-03-03 15:09] andredasilvapinto commented on #5528
it also doesn't seem to understand this:
[code]

[2021-03-03 18:15] adnion commented on #5480
This is still an issue in 2021.
Now it's integrated with numpy but the usage is unclear to me.
https://numpy.org/doc/stable/reference/typing.html#module-numpy.typing

[2021-03-03 21:03] ezyang opened #10160 "Confusing error message: List item 0 has incompatible type "Type[Linear]"; expected "Type[Linear]""
**Bug Report**

In some situations, mypy can report that there was an incompatible type X, but then say that the expected type was also X. Regardless of whether or not the program is correct or not, this error message is bad.

**To Reproduce**

[code]

**Expected Behavior** mypy gives me a good error message

**Actual Behavior**

[code]

**Your Environment**

- Mypy version used: mypy 0.780
- Mypy

[2021-03-03 21:05] ezyang commented on #10160
Possibly related: #9756

[2021-03-03 22:26] ethanhs commented on #5480
@adnion you need to use numpy 1.20 or newer to get type hints built into numpy. If you are still having problems, I'd ask on our gitter: https://gitter.im/python/typing

[2021-03-03 23:04] kamilturek commented on #6948
@jentyk According to the docs it should work as well as a class decorator, but it isn't apparently true.
https://docs.python.org/3/library/typing.html#typing.no_type_check

[2021-03-04 14:08] itssimon commented on #8913
Are there any plans to support `@cached_property` in mypy soon?

[2021-03-04 14:37] mykola-mokhnach opened #10161 "Cannot properly lint AbstractEventLoop.run_in_executor method wrapper"
**Bug Report**

mypy does not properly recognise types for `AbstractEventLoop.run_in_executor` wrapper function

**To Reproduce**

[code]

**Expected Behavior**

mypy should lint this code successfully

**Actual Behavior**

mypy shows the following errors:

[code]

**Your Environment**

- Mypy version used: 0.800
- Mypy command-line flags:
- Mypy configuration options from `mypy.ini` (and other co

[2021-03-04 15:43] sobolevn commented on #4868
I have made a tool to enhance `ast` with metadata from `mypy`:

[code]

Output:

[code]

I am going to release it soon.

[2021-03-04 17:05] henribru commented on #10004
Looks like a consistency check is probably the cause for Mypy as well: https://github.com/python/mypy/blob/master/mypy/checker.py#L486

[2021-03-04 17:11] LefterisJP commented on #7781
I have also ran into this problem. Any chance it gets addressed?

[2021-03-04 21:06] henryiii commented on #10114
That wheel works correctly for me on AS as well, thanks! (sorry for the delay, haven't had a chance to boot my AS machine back up till today 👶 )

[2021-03-04 22:21] zachliu commented on #7503
well, too bad some ppl can't use a list comprehension :joy_cat:

[2021-03-04 23:34] aphedges opened #10163 "False positive with variable key in Mapping with Optional value"
**Bug Report**

When using a mapping with an `Optional` value type, accessing a value using a variable key instead of a literal key prevents a `None` check from working properly.

**To Reproduce**

1. Put the following code in `test.py`:

[code]
2. Run `mypy test.py`

**Expected Behavior**

mypy should not output any errors. As the above example shows, using a string literal instead of a variable

[2021-03-05 00:27] NiklasRosenstein opened #10164 "Multi-level type resolution"
**Feature**

It would be nice if Mypy was able to resolve the types in the below snippet:

[code]

**Pitch**

Looking at just `flatmap(lambda m: m.upper())`, neither `T` nor `R` can be immediately determined.
However, it should be possible to deduce the type variables by taking into account the broader
context.

* `T = str` can be derived from the `__ror__()` call
* After propagating `T` into the

[2021-03-05 05:30] mns00 opened #10165 "Having issue while importing spacy"
I was to use a pre-trained spacy model for Entity recognition but i am getting the below issue while importing spacy:

 import spacy
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\MA20104797\AppData\Local\Programs\Python\Python37\lib\site-packages\spacy\__init__.py", line 10, in <module>
    from thinc.api import prefer_gpu, require_gpu, require_cpu  # no

[2021-03-05 05:31] hauntsaninja commented on #10165
Not related to this project

[2021-03-05 05:31] #10165 closed

[2021-03-05 07:05] #10129 closed

[2021-03-05 08:03] yanqd0 commented on #9996
It is still not working in `mypy-0.812`. When `typed-ast` is fixed to `1.4.2`, `mypy-0.790` is good, but `mypy-0.812` will still report `error: "run_path" does not return a value`.

[2021-03-05 09:20] Akuli opened #10166 "'is' operator type check"
**Feature**

`is` operator type check

**Pitch**

`"a" is 1` should be type error

[2021-03-05 09:24] ethframe commented on #10140
I've encountered similar crash:

[code]

Code to reproduce:

[code]

* Mypy version used: 0.820+dev.c8bae06919674b9846e3ff864b0a44592db888eb
* Mypy command-line flags: none
* Mypy configuration options from mypy.ini (and other config files): none
* Python version used: 3.6.8
* Operating system and version: Windows 8.1

[2021-03-05 09:30] surkova opened #10167 "Inconsistent .mypy_cache for PyJWT library"
**Bug Report**

`.mypy_cache` files for [PyJWT](https://github.com/jpadilla/pyjwt) library are different in a CI docker container and locally.

**To Reproduce**

Mypy check fails on the following line in the CI container:

[code]

with `Incompatible return value type (got "bytes", expected "str")` (line 4).

I am not able to completely reproduce container setup, since it's done by our corporate in

[2021-03-05 11:13] JukkaL commented on #10166
This is already caught by mypy if you use `--strict-equality`. However, maybe we should turn this on by default, since it's quite useful.

[2021-03-05 11:13] #10166 closed

[2021-03-05 11:18] JukkaL opened #10168 "Turn on strict equality checking by default"
We've supported `--strict-equality` for quite some time and it works quite well. Maybe it's time to turn it on by default. It would still be possible to use `--no-strict-equality` to turn it off.

Strict equality checking generates errors for code like `'x' == 5` or `'x' is 5`.

We may want to fix some remaining issues first, such as #8296.

[2021-03-05 11:18] JukkaL commented on #10166
Added #10168 about turning this on by default.

[2021-03-05 11:26] JukkaL commented on #10167
Do you have PyJWT installed in the environment where you mypy? If yes, do you have the same version of PyJWT installed in both environments?

[2021-03-05 11:31] JukkaL commented on #10164
This would be nice to support, but it would require a major redesign of the type inference engine used in mypy. Currently mypy performs type inference essentially one expression at a time, and here we'd need to build constraints for multiple expressions and solve them together.

[2021-03-05 11:36] JukkaL commented on #10163
Yeah, mypy should probably be able to figure this out, at least if `FOO` is final:

[code]

This already works if you use a literal string as the key (e.g. `data["foo"]`).

[2021-03-05 11:42] JukkaL commented on #10157
This is a false negative. Both overloaded functions are overlapping.

[2021-03-05 11:51] JukkaL commented on #10156
Since mypy generally does not support any type syntax not standardized in Python, this would need to go through the
[PEP process](https://www.python.org/dev/peps/pep-0001/). The discussion linked to by @erictraut is a good place to move this forward.  Overloading operators at type level is possible (for example, 3.10 will support `int | str`), but again this  requires a PEP.

[2021-03-05 11:51] #10156 closed

[2021-03-05 12:28] JukkaL commented on #10152
This only seems to be an issue if the value type is a type variable. There's probably some confusion between type variables in `pop` and `values`.

[2021-03-05 12:39] JukkaL commented on #10151
This is a known issue, but I'm not sure if there's anything we can reasonably do to make this better.

Almost any operation could change the type of almost any attribute in Python, so mypy optimistically assumes that function calls don't change the types of attributes. For example, this code is not safe:

[code]

It's possible that `x.z` would actually be a property that modifies `x.y` to be `None

[2021-03-05 12:46] JukkaL commented on #10149
@mortoray The conclusion in #4409 is that we could infer simple return types when using `--check-untyped-defs`. Would that be sufficient? If not, can you give an example of the behavior that you'd like to have?

[2021-03-05 12:50] mortoray commented on #10151
I feel as though this is different than the situations where a type is inferred, because I've provided an explicit type here:

[code]

So I think your comment about a strictness option and local variables would make sense. I'd prefer not to narrow down the type of `self`.

Indeed, I would even be okay with an error on your if-statement. By comparison, the TypeScript compiler will complain about su

[2021-03-05 12:57] mortoray commented on #10149
@JukkaL Yes, I believe that would be sufficient. It'd handle at least most of the situations I want.  Though as noted there, having an explicit "inferred" return might also be helpful when integrating with existing code, but I will venture to use check-untyped-defs for all my code anyway.

[2021-03-05 13:04] JukkaL commented on #4409
I'm removing the low priority and 'needs discussion' labels since this seems like a popular enough idea. We'd still need somebody to contribute an implementation.

I think that instead of special casing literals and constructor calls, this should use the normal type inference engine (perhaps with some limitations). Otherwise the behavior would be too ad hoc.

For example, these should work:

[code

[2021-03-05 13:05] JukkaL commented on #10149
@mortoray I added a more concrete design proposal to #4409.

[2021-03-05 13:07] JukkaL commented on #10146
It looks like we should perhaps maintain a stack of narrowed down types (though I might be wrong).

[2021-03-05 13:10] JukkaL commented on #10143
Yeah, we should treat `int` as a subtype of `float` here.

[2021-03-05 13:15] JukkaL commented on #10140
Here is a simplified version of the first example:

[code]

[2021-03-05 13:42] JukkaL commented on #10139
@shadycuz This works for me, using the latest mypy development version and mypy 0.812. What version of botostubs are you using, and have you installed it in the same environment as mypy? For example, can you give the output of `pip freeze`? Also can you try the latest mypy?

[2021-03-05 14:54] surkova commented on #10167
@JukkaL yes, `PyJWT` is installed in both environments. I discovered this issue in the dependabot branch which upgrades the version from 1.7.1 to 2.0.1 and when bumping to 2.0.0 PyJWT added typing annotations and changed the type which `jwt.encode` returns. Now without the stubs, for some reason, `mypy` thinks that that method still returns `bytes`, not `str`.

[2021-03-05 15:06] shadycuz commented on #10139
botostubs and mypy are in the same environment.  `botostubs 0.14.1.17.15`

I'm not sure if its the way mypy does versions but poetry wont update it.

[code]

[2021-03-05 15:22] shadycuz commented on #10139
@JukkaL That got me playing around and trying stuff and I found the issue.

I don't actually run my tests in poetry's shell, I use nox. When I run nox I only install dev dependencies. So botostubs was not getting installed. Now that I fixed that the error is gone 🎉

I also updated to 0.812 and it looks like it has additional checks because now I have more errors about other parts of my code 😊

Tha

[2021-03-05 15:22] #10139 closed

[2021-03-05 16:33] aphedges commented on #10163
Using `Final` (from `typing_extensions`) for both `FOO` and `data` was one of the first things I tried, but I didn't include it in my example because it didn't change the error message at all.

[2021-03-05 17:58] JukkaL commented on #5566
This works now.

[2021-03-05 17:58] #5566 closed

[2021-03-05 19:49] tyralla commented on #9907
@gvanrossum Before we forget: pull request #9909 has been waiting to be reviewed for almost two months now.

[2021-03-05 22:42] Akuli opened #10170 "subtype dict unpack"
**Bug Report**

mypy errors code below

**To Reproduce**

[code]

**Expected Behavior**
no error

**Actual Behavior** `a.py:2: error: Dict entry 0 has incompatible type "str": "int"; expected "object": "str"`

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: none
- Mypy configuration options from `mypy.ini` (and other config files): none
- Python version used:3.7.3
- Ope

[2021-03-05 22:46] Akuli commented on #10170
code has bug, mypy has not

[2021-03-05 22:46] #10170 closed

[2021-03-05 22:49] Akuli opened #10171 "subtype dict unpack"
**Bug Report**

**To Reproduce**
[code]
**Expected Behavior**
no error

**Actual Behavior**
confusing error message `Argument 1 to "update" of "dict" has incompatible type "Dict[int, str]"; expected "Mapping[object, str]"` even though update method was not used

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: none
- Mypy configuration options from `mypy.ini` (and other

[2021-03-05 23:28] gward opened #10172 ""Source file found twice under different module names" with namespace package installed in virtualenv by "pip install -e .""
**Bug Report**

At work, we have a standard project layout using namespace packages with dev/build/test dependencies declared in setup.py. It's a bit complex, but it worked well up until mypy 0.790. Since mypy 0.800, mypy is complaining: "Source file found twice under different module names".

This appears to be a rather obscure corner case requiring:
* implicit namespace packages
* dev dependenci

[2021-03-05 23:38] gward commented on #10172
I'm aware of several possible workarounds. Some of them might work, but I thought I should report the regression before implementing a workaround.

**Workaround 1: run mypy twice**

First, run it on packages, then run it on files:
[code]
This is a bit ugly and bound to be slower. If it's just startup overhead, I can live with it. But if there is cache thrashing, no thank you!

**Workaround 2: fake

[2021-03-05 23:53] hauntsaninja commented on #10172
I think https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-explicit-package-bases should work for you, see https://mypy.readthedocs.io/en/stable/running_mypy.html#mapping-paths-to-modules

[2021-03-05 23:53] #10172 closed

[2021-03-06 07:09] mortoray commented on #685
I'd like to see this working. Presently I want this code:

[code]

But need to use a dataclass instead, which unfortunately is mutable and can't be deconstructed like a tuple.

[code]

[2021-03-06 07:41] mortoray opened #10173 "Disallow assignment of `Any` to known/explicit types and/or Introduce `Unknown` type"
**Feature**

I'd like an option that prevents assigned of the `Any` type to something with a known type, in particular places where I've specified the type.

Returns:
[code]

Assignement:
[code]

**Pitch**

It'd be nice to have a stricter boundary between typed and untyped code. The samples I show above are frequent sources of error for me and they quietly slip by the type checking.

While migrate

[2021-03-06 11:32] Parth-Shete commented on #10171
You can use 'char' data type instead of 'str' as you are using only a single alphabet.
And you also have to import the 'object' along with the 'Dict'.

If you still didn't get it then refer this page as provided by the link...,
[https://stackoverflow.com/questions/43910979/mypy-error-incompatible-types-in-assignment#:~:text=1%20Answer&text=The%20problem%20is%20that%20mypy,%2C%20mypy%20(rightfully)

[2021-03-06 12:46] Akuli commented on #10171
@Parth-Shete  Your comment doesn't make any sense and is not relevant to my issue in any way. Python does not have a `char` data type. It has a built-in named `object` which does not have to be imported, because it is a built-in.

[2021-03-06 16:32] desbma commented on #6406
What does "disallowed" even mean here? This is perfectly valid Python code, where `mypy` can infer types and check them accordingly. There is no reason for `mypy` to generate an error on that.
Or does that mean, `mypy` is becoming a general purpose linter and no longer a static type checker?

[2021-03-06 17:29] Parth-Shete commented on #10171
You can use the link which provides the required information about this issue from stackoverflow.

[2021-03-06 18:12] Akuli commented on #10171
No, that is not the same issue. What you're saying still doesn't make any sense.

[2021-03-06 19:53] gward commented on #10172
Thank you @hauntsaninja -- that seems to work, at least in my minimal test case. I still need to try it out on the real code, but this looks useful!

[2021-03-07 04:53] Parth-Shete commented on #10171
Oh okay my bad.

[2021-03-07 11:12] heg-ulmuten opened #10178 "Narrowing depends on the order of isinstance checks when using a genric type"
**Bug Report**

Mypy is incoherent in the following code even though the only difference is the order of the `isinstance` checks. I know that Optional is the idiomatic mypy way to represent possibly missing values, but this is the smallest example I found that shows the problem.

[code]

**Expected Behavior**

Either mypy finds an error in both functions or neither.

**Actual Behavior**

In the `k

[2021-03-07 18:12] natemcmaster commented on #10118
Small fix proposed here: https://github.com/python/mypy/pull/10181

[2021-03-07 18:59] GezaBoi opened #10182 "Crash on f-strings with loguru"
**Crash Report**
When using an f-string for logging with loguru mypy crashes.

**Traceback**

[code]

**To Reproduce**

[code]

This code causes the crash. Using a normal string works fine.

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: mypy -p *folder* --implicit-reexport --show-traceback
- Python version used: 3.9.1
- Operating system and version: OSX 10.15.7

**myp

[2021-03-07 20:03] JelleZijlstra commented on #10182
This looks like an issue in `loguru_mypy`, which I'm guessing is a mypy plugin provided by the loguru project, not something that mypy itself can help with.

[2021-03-07 20:03] #10182 closed

[2021-03-08 10:35] ethframe opened #10185 "Flow-sensitive typing ignores dictionary key mutation"
**Bug Report**

mypy allows runtime type checks for dictionary items. However it ignores subsequent dictionary mutations. This leads to mypy accepting code that fails at runtime.

**To Reproduce**

[code]

**Expected Behavior**

mypy reports `.upper()` call as error. This is similar to what already happens with object attributes:

[code]

For such code mypy outputs the following error: `"None" has

[2021-03-08 10:35] ethframe commented on #10185
I suppose this will be tricky to fix in general case, since element mutation may be not as obvious as in provided snippet. For example, dictionary could be mutated inside some function called between value check and actual value usage:

[code]

Moreover this is not limited to dictionaries. Same thing could be done with object attributes and even local variables using closures:

[code]

Maybe I'm m

[2021-03-08 13:36] #10124 closed

[2021-03-09 01:19] ThatXliner opened #10186 "Mypy doesn't respect my assert statement"
**Bug Report**

For an optional type, mypy fails to respect my explicit assert statement

(A clear and concise description of what the bug is.)

**To Reproduce**
MyPy lint this (strict or no strict, still the same error):
[code]

**Expected Behavior**
It shouldn't complain

**Actual Behavior**

[code]

**Your Environment**

- Mypy version used: mypy 0.812
- Mypy command-line flags: `path/to/foo.py

[2021-03-09 01:21] hauntsaninja commented on #10186
The type of the variable is still Optional, since you could reassign to GIT later

[2021-03-09 01:21] #10186 closed

[2021-03-09 01:22] ThatXliner commented on #10186
Woah! I didn't think how fast the feedback would be 😄 ! Thanks for the help! I didn't think of that 😅

[2021-03-09 05:54] jwodder opened #10187 "Support attrs 20.1's on_setattr=attr.setters.convert"
**Feature**

Version 20.1 of [attrs](https://www.attrs.org) introduced support for running a field's converter whenever the field is set.  Here's an example of it in action:

[code]

This prints out `Foo(repo=GHRepo(owner='python', name='mypy'))`, as the `"python/mypy"` assigned to `f.repo` is converted to a `GHRepo` with `parse_ghrepo()`.

Unfortunately, mypy as of both version 0.812 and commit 2

[2021-03-09 08:46] Akuli opened #10188 "yield from inside list comprehension gives wrong type"
**Bug Report**

runtime and mypy types don't match, possibly related to #6457

**To Reproduce**

[code]

**Expected Behavior**

`reveal_type` outputting `Generator[something]` to match runtime

**Actual Behavior**

`List[str]`

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: none
- Mypy configuration options from `mypy.ini` (and other config files): none
- Python versio

[2021-03-09 08:49] Akuli opened #10189 "crash with generator in list comprehension"
**Crash Report**

possibly related to #10188

**Traceback**

[code]

**To Reproduce**

[code]

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: none
- Mypy configuration options from `mypy.ini` (and other config files): none
- Python version used: 3.7.3

[2021-03-09 14:08] s-weigand commented on #7399
I just stumbled across a similar issue, but w/o nested `Union`s (so maybe this should a different issue).
To me, it looks like `Union` and `Tuple` just won't play nicely together or maybe I just don't understand `Union` 🤔 .

The code below the minimal example of a plugin system where plugin classes are added to a register (dict).
[code]

[code]

The way I see it `Union[Tuple[A, MutableMapping[str,

[2021-03-09 17:22] JelleZijlstra commented on #10189
This is a syntax error in 3.8 and later, presumably because it has no useful behavior: https://docs.python.org/3.10/whatsnew/3.8.html#changes-in-python-behavior. Perhaps mypy should just produce an error for it in any Python version.

[2021-03-09 17:36] JelleZijlstra commented on #10188
Similar to my comment in #10189, this was made a SyntaxError in 3.8 because the runtime behavior made little sense. It doesn't seem worth the effort to try to match the runtime behavior in mypy for 3.6/3.7, but maybe we can emit an error and infer Any.

[2021-03-09 21:36] sbalmer commented on #8865
I stumbled over this and created a minimal example:

    maximum = None
    for x in [2, 1]:
        if maximum is None:
            maximum = x
        else:
            maximum = max(x, "maximum")

The last line contains an error. The variable `maximum` should be passed, but instead, the string `"maximum"` is passed. Mypy does not detect this because it assumes the last line is unreachable.

Tes

[2021-03-09 21:56] Dr-Irv opened #10190 "Type inference not made when implementing __getitem__() and slicing on self"
**Bug Report**

If a class implements `__getitem__(self, index: slice)` and another method has `b = self[slice(x,y)]`, the type of `b` is not inferred

**To Reproduce**
[code]

**Expected Behavior**

This corresponds to some code in pandas.  Since `__getitem__(self, slice)` is defined as returning the type `MyListT` which is bound to `MyList`, the type of `b` and `c` should be inferred (as it was

[2021-03-10 05:16] obi1kenobi opened #10192 "No-untyped-call / no-untyped-def errors reported despite being disabled in mypy.ini"
**Bug Report**

Mypy 0.800 and 0.812 are reporting `no-untyped-def` and `no-untyped-call` errors in modules that are configured to have those checks disabled in the `mypy.ini` file. This may be a regression introduced between 0.790 and 0.800, though this hypothesis is worth double-checking: on one hand, I'm not seeing those errors in 0.790, but on the other, that may also be because the modules in

[2021-03-10 05:34] erictraut commented on #10173
The approach we use in [pyright](https://github.com/microsoft/pyright) is similar to what you've suggested above. This approach has proven to work well for us, so mypy may want to adopt something similar.

Internally, pyright differentiates between an `Any` (which is used only when the code explicitly uses `Any` in a type annotation) and `Unknown` (which is generated in cases where an `Any` is ass

[2021-03-10 06:13] erictraut commented on #10190
I don't understand why you are using a type variable `MyListT` in this example. It has no real meaning because it's not scoped to the class `MyList`, and it's used only in the return type annotation for the methods in which it appears. Why not just replace all instances of `MyListT` with `MyList`? It will then type check without errors in both mypy and in pyright.

[2021-03-10 06:39] hauntsaninja commented on #10192
mypy doesn't treat asv_benchmarks as a package. Use `--explicit-package-base` or add an `__init__.py`, see https://mypy.readthedocs.io/en/latest/running_mypy.html#mapping-file-paths-to-modules

[2021-03-10 06:39] #10192 closed

[2021-03-10 06:58] hauntsaninja commented on #10192
Haven't checked out the code, but likely:
[code]

[2021-03-10 08:10] mitsuse opened #10193 "Tuple[X, ...] is incompatible with Type[<nothing>]"
**Bug Report**

`Tuple[X, ...]` is compatible with `Type[<nothing>]` on  mypy 0.770, but becomes incompatible on mypy 0.812.

**To Reproduce**

Please type checking this code with mypy 0.812 and CPython 3.7 ~ 3.9 .

[code]

**Expected Behavior**

Both `Tuple[X, ...]` and `List[X]` are compatible with `Type[<nothing>]` or neither are not.

**Actual Behavior**

An error was caused by passing `Tuple[

[2021-03-10 10:35] AbhiSahane0 commented on #10193
Should I solve this plz.

[2021-03-10 10:59] MarcoGorelli opened #10194 "`bool` is not treated the same as `Union[Literal[True], Literal[False]]` in overloads"
**Bug Report**

The [Type checking calls to overload docs](https://mypy.readthedocs.io/en/stable/more_types.html?highlight=overload#type-checking-calls-to-overloads) read

**To Reproduce**

[code]
https://mypy-play.net/?mypy=latest&python=3.9&gist=051875ec08b32acb049577f7cd6085f7

**Expected Behavior**

I would've expected that typing a variable as `bool` would make it behave the same way as `Unio

[2021-03-10 11:07] mortoray commented on #10173
It might well be what I want. I was unaware of its semantics before, but it sounds like TypeScript's `Unknown`.

However, my primary request here would still stand, the option to disallow implicit casts from Any to a known type: strict boundaries.

[2021-03-10 12:42] JukkaL opened #10195 "[GSOC 2021] Starter issues"
As mentioned on our [GSoC organization page](https://summerofcode.withgoogle.com/organizations/6623198768005120/), we require participants to have submitted at least 2 non-trivial, substantially different mypy or mypyc PRs.

We'll collect ideas about suitable issues here. You are free to work on any other open issues as well or file new issues if you have ideas (but wait for feedback from project

[2021-03-10 12:44] JukkaL commented on #10072
I created an issue with ideas about good first and second issues: #10195

Please add new ideas about issues and questions about contributing there.

[2021-03-10 12:46] JukkaL commented on #10099
Ideas about starter issues and links documentation: #10195

[2021-03-10 12:53] Hyperion101010 commented on #7128
Hi there I am Shivam, I know Python to an intermediate level,
I am interested to solve this issue, will you assign me?

[2021-03-10 13:53] JukkaL commented on #10195
mypyc/mypyc#757 is another good second issue. It contains many ideas, some of which are challenging, but you can just pick one idea and focus on it.

[2021-03-10 14:20] JukkaL commented on #9374
@Hyperion101010 Done!

Note that `strict = True` works in the config file, but it doesn't seem to be documented.

[2021-03-10 14:28] Dr-Irv commented on #10190
If I delete the line defining `MyListT` and change all occurences of `MyListT` to `MyList`, then you have the issue of methods like `__getitem__` and `selfslice1` using `MyList` before it is defined when you try to run the code.

[2021-03-10 14:28] JukkaL commented on #9185
@Hyperion101010 Done!

[2021-03-10 14:33] staticdev commented on #9374
@JukkaL this is my main concern. You don't know in advance what `strict` means since you don't have a clear definition. This can also change between versions and in the worst case scenario break CI/CDs all along. Having different levels of strictness (and a full option as suggested by @gvanrossum) would be ideal IMO, since you have an intention well defined.

[2021-03-10 14:41] JukkaL commented on #10173
What about using `--disallow-untyped-defs` and `--disallow-any-generics` to reject implicit `Any` types?  Then you can perhaps use an explicit `Any` for 'unknown'. The latter will reject plain `Dict` or `dict`.

[2021-03-10 14:48] JukkaL commented on #10193
@AbhiSahane0 Sure, go ahead! The most logical behavior is that both `List[int]` and `Tuple[int, ...]` in an expression context have type `object`, since they can't be used to construct values.

However, on Python 3.9 and later `list[int]` and `tuple[int, ...]` should probably have callable types, but they shouldn't be compatible with `Type`. `list[int]()` is valid but `List[int]()` isn't, and `isi

[2021-03-10 14:52] JukkaL commented on #10190
@Dr-Irv You can use either `'MyList'` (with quotes) in a type annotation to refer to it before it's defined, or add `from __future__ import annotations` to the top of file to allow forward references without quotes.

Mypy should complain about a plain type variable as a return type if it's not used anywhere else.

[2021-03-10 14:56] JukkaL commented on #9630
Now that we'll be using modular typeshed in the next release (not shipping third-party package stubs with mypy) and mypy primer, things should be better.

[2021-03-10 14:56] #9630 closed

[2021-03-10 14:58] JukkaL commented on #9374
@staticdev Ah that makes sense. We'd need to think carefully about the strictness levels, since as you mentioned they will be hard to change afterwards. Can we move the discussion of this in #3507, since this issue is about the missing/incomplete documentation?

[2021-03-10 15:05] JukkaL commented on #3507
Here's an idea, as there seems to be renewed interest in this issue:

- default strictness is the same as now (to avoid breaking a lot of things)
- add a slightly stricter level with generally useful and easy-to-deal-with options such as `--disallow-any-generics`, `--strict-equality`, `--disallow-incomplete-defs`, `--no-implicit-optional`, `--warn-unused-configs`, `--check-untyped-defs` and maybe

[2021-03-10 15:14] JukkaL commented on #9691
Maybe disable the checks when checking stubs? We don't report errors in stubs, I think. Overloads aren't very common outside stubs.

[2021-03-10 15:19] JukkaL commented on #9691
I think that something needs to be done to improve the situation, so I'm making this high priority.

[2021-03-10 16:12] himanshu007-creator commented on #8934
can you tell the exact file location to be modified?

[2021-03-10 18:44] MetRonnie commented on #9944
For me, using `--namespace-packages` and `--explicit-base-packages` fixed these maddening "found module but no type hints or library stubs" errors

[2021-03-10 19:02] MetRonnie commented on #9318
I had the same error message when importing from an auto-generated protobuf `_pb2.py` file, which has `# type: ignore` as the first line. I managed to suppress the errors by adding `# type: ignore` to the end of every line where we imported from the protobuf file, but that's pretty annoying.

[2021-03-10 19:11] Dr-Irv commented on #10190
@JukkaL Thanks.  We fixed that and got things to work inside of pandas.

[2021-03-10 19:11] #10190 closed

[2021-03-10 19:58] andersk opened #10197 "type: ignore for “incompatible with supertype” error in subclass should suffice for subsubclasses too"
[code]

Mypy is correct to report an error for `B.foo` that necessitated a `type: ignore` comment. However, having added that `type: ignore` for `B.foo`, mypy should not *also* report an error for `C.foo`. Although `C.foo` is inconsistent with `A.foo`, it’s consistent with `B.foo`, and I have already asked mypy to ignore the inconsistency between `B.foo` and `A.foo`.

This comes up in the [typeshe

[2021-03-11 02:43] mitsuse commented on #10193
@JukkaL @AbhiSahane0 Thanks for the discussion. Fundamentally, I'm aware that the problem is whether the inconsistent behavior of `List[T]` and `Tuple[T, ...] is good or not. Additionally, is there any impact on the existing code or not?

I'll share my more specific use case as a supplement.

[code]

This works for types like dataclass, but `decode(Tuple[int, ...]) , x)` causes a type error in myp

[2021-03-11 03:14] hauntsaninja commented on #10193
https://github.com/python/mypy/issues/9773

[2021-03-11 05:51] #9063 closed

[2021-03-11 07:07] edaqa-uncountable commented on #3981
What is wrong with making `__init__.py` a special case for re-exports? Is it not a common enough pattern that it makes clear what the module is exporting?

[2021-03-11 07:12] mitsuse commented on #10193
@hauntsaninja Thank you for the guide!

@JukkaL @AbhiSahane0 I close this issue as the discussion seems to be resolved once the PEP about `TypeForm` is released. Thanks!

[2021-03-11 07:12] #10193 closed

[2021-03-11 07:13] edaqa-uncountable opened #10198 "Should __init__.py imports be treated as exports with --no-implicit-reexport behaviour?"
I'm uncertain whether `--no-implicit-reexport` has a "correct" behaviour when it comes to `__init.py__` files.

If I have this __init__.py file:
[code]

My intent is to export `MyName` from the module.  Currently this does not work however, and I need to do either:

[code]

or

[code]

Both of which are redundant.

I saw [this issue](https://github.com/python/mypy/issues/3981) on stub-generation t

[2021-03-11 08:36] phyrwork opened #10199 ""if isinstance(...)" filter in dictionary comprehension causes var type to be inferred as <nothing>"
Version:
[code]

[code]

Results in
`error: <nothing> has no attribute "key"`.

If the `if isinstance(port, cls)` filter is removed the type of `port` is correctly inferred:
`error: Value expression in dictionary comprehension has incompatible type "Port"; expected type "P"`.

Seems similar to previous issue https://github.com/python/mypy/issues/5640.

[2021-03-11 08:42] hauntsaninja commented on #10199
(Not quite what you're looking for, but you might find using Protocols a more natural fit for this kind of thing)

[2021-03-11 10:07] kaullen opened #10200 "Inspection fails on second-order circular imports for dataclasses"
**Bug Report**

The following code follows all typing guidelines and works perfectly fine in runtime, but fails MyPy inspection

**To Reproduce**

myclass.py
[code]

mydc_base.py
[code]

mydc.py
[code]

**MyPy inspection result:**
`mydc.py:11: error: Unexpected keyword argument "my_field" for "MyDataclass"`

**Error vanishes if**:

- `MyDataclass` and `MyDataclassBase` are both in the same file
-

[2021-03-11 12:05] freundTech opened #10201 "Python 3.10 tracking issue"
Here's an issue for tracking the current state of mypy on CPython 3.10

CPython version: 3.10.0
mypy version: latest master (https://github.com/python/mypy/commit/e6b91bdc5c253cefba940b0864a8257d833f0d8b)

### Dependencies:
- [x] typed_ast is currently broken. Fixed on master, but no release to pypi yet (https://github.com/python/typed_ast/pull/155)
- [x] typed_ast again broken in 3.10.0a7. PR htt

[2021-03-11 13:47] intgr commented on #10197
I have seen similar cases with djangorestframework-stubs.

[2021-03-12 01:51] omry opened #10205 "Support completely skipping a specific file from any mypy processing"
**Feature**

Support excluding Python files based on a header comment without parsing them.
e.g:

file.py
[code]

This is similar to Flake's `# flake8: noqa` comment.

**Pitch**

I have a library that supports Python 3.6 and newer.
I am supporting a Python 3.8 feature (positional only arguments) , and I wanted to add some tests for it.
My library tests and lint are running in all supported Python

[2021-03-12 02:30] hauntsaninja commented on #10205
mypy 0.812 supports `--exclude`

[2021-03-12 02:30] #10205 closed

[2021-03-12 08:42] ravwojdyla commented on #8674
+1 seeing the same issue with:

[code]

👋 @nazariyv have you been able to workaround it in a sane way?

[2021-03-12 08:54] p00ya opened #10206 "Callable... has no attribute "__get__""
**Bug Report**

Python functions should have an inferred type that is aware they have a `__get__` attribute.

**To Reproduce**

Create `test.py` with the contents:

[code]

Then run: `python3 -m mypy --strict test.py`

**Expected Behavior**

No errors.  Python functions are guaranteed to have `__get__` attributes as per https://docs.python.org/3.7/howto/descriptor.html#functions-and-methods

I und

[2021-03-12 17:21] vnmabus opened #10207 "How to type result based on constructor parameters?"
I am trying to type code like this:

[code]

I have tried to make `A` generic and use overloads on the self parameter in several ways but none seems to work:

[code]

where `T` is either
[code]
or
[code]

The first case mark errors in the definition of the `TypeVar`, the `Generic` and the optional parameter in `__init__`. The second one marks an error only in the optional parameter (even if it is

[2021-03-12 17:45] JelleZijlstra commented on #8674
The issue here is that because mypy doesn't know anything about pandas, it doesn't know that pandas.DataFrame is a type, and instead just treats it as a value of type Any. Then if you do `Dataframe = pd.DataFrame`, it just thinks that you're assigning a value of type Any to `Dataframe`, not creating a type variable. This has come up repeatedly; perhaps mypy should allow variables of type Any as an

[2021-03-12 18:14] dargueta commented on #6910
Is there a way to work around this for dataclasses? I have the following:

[code]

Running MyPy 0.812 with all default settings gives

[code]

I would _really_ rather not add `# type: ignore[misc]` everywhere we do something like this, and @9999years' fix won't work for us because we're using [`desert`](https://desert.readthedocs.io/en/stable/) in conjunction with it and that would change the sett

[2021-03-12 23:30] freundTech commented on #2400
Here's another related example, that passes mypy, but should obviously fail:

[code]

[2021-03-12 23:38] sirosen commented on #5849
I just came across an interesting variant of this error:
[code]

I assume that what's happening is that the type of the RHS of that assignment is being resolved before mypy is aware that `B.foo` should have the same type as `A.foo`.

This can be fixed by annotating `foo`. But I think this is something of a problem for libraries which offer inheritance as part of their interface. If a 3rd party dev

[2021-03-12 23:39] freundTech commented on #10207
This isn't something you can do with mypy.

Mypy is a static type checker. The type you want to describe is inherently dynamic. It depends on the value of a attribute/parameter at runtime. Mypy can only check types with are known at "compile time".

[2021-03-13 00:00] JelleZijlstra commented on #10207
I do believe @vnmabus's example should work; Literal types are part of the type system now. Maybe we don't handle them properly in overload resolution though. Here's a self-contained example:

[code]
The call to `a()` should match only the second overload, but instead mypy picks the first.

[2021-03-13 03:30] shrutidst commented on #1876
@JukkaL this issue seems to be open. Can you assign it to me?

[2021-03-13 04:03] uv0xab commented on #10006
I am also curious about this question. Currently, I am working on an extension that lets users write rust-like traits in Python.

Now everything works well except for typing. It would be nice if there is any approach to tell mypy some extra annotations.

[2021-03-13 04:19] giannitedesco opened #10208 "How to make a class Unpackable from plugin hook."
Hi guys,

I am trying to add mypy support for dataclassy, which is a replacement for standard dataclasses.

You can see the code here:
https://github.com/biqqles/dataclassy/blob/15cef524b55df2c65b39d1619c7b8f1a3d28a813/dataclassy/mypy.py

One of the problems I've run in to is in supporting the feature of dataclassy that allows its dataclasses to be unpacked like tuples.

Firstly, I couldn't figure

[2021-03-13 05:30] hauntsaninja commented on #1876
Feel free to work on it. No one really takes issue assignment in mypy to mean anything

[2021-03-13 05:31] UmbralReaper opened #10209 "PySide6 - mypy doesn't handle slots correctly"
**Bug Report**

As far as I can tell, this is the cause of mypy, not Qt. The type signature looks okay to me, and it works correctly as an object, only failing as a decorator.

**To Reproduce**

1. Install `PySide6` and `mypy`
2.  Run `mypy` on the following script
[code]

**Actual Behavior**

Raises error: `error: "Slot" not callable`

**Your Environment**

[code]

- Mypy version used: `0.812`
-

[2021-03-13 05:38] Soumokanti123 commented on #10023
still it having a problem

[2021-03-13 05:55] JelleZijlstra commented on #10209
That stub is wrong; it should presumably have a `__call__` method.

[code]
is equivalent to `Slot()(slot_function)`, which will try to use `Slot.__call__`.

[2021-03-13 05:55] #10209 closed

[2021-03-13 06:01] UmbralReaper commented on #10209
Which makes it a problem on Qt's end. Thanks for the help!

[2021-03-13 07:03] hauntsaninja commented on #10201
Here's another important part to 3.10 support: https://github.com/python/mypy/issues/9880

[2021-03-13 11:25] JukkaL commented on #2400
We have a tentative plan to work on this in the next few months.

[2021-03-13 14:57] JelleZijlstra commented on #2400
FYI, https://github.com/quora/pyanalyze will detect this sort of thing.

[2021-03-14 01:15] erictraut commented on #10207
Here's a solution that works in pyright and almost works in mypy. I'm not sure why, but mypy appears to choose the wrong `__call__` overload on the last line.

[code]

[2021-03-14 01:19] erictraut commented on #10199
Can you provide a full, self-contained repro case? I've tried to guess how `ConnectionType` and `PortKey` might be defined, but I'm not able to repro the problem with the following:

[code]

This produces no error with the latest published version of mypy.

[2021-03-14 02:33] phyrwork commented on #10199
ConnectionType is an Enum of str.

PortKey is an alias for a Tuple[...] type.

I can provide a more complete example later if this is not enough.

On Sun, 14 Mar 2021, 01:20 Eric Traut, ***@***.***> wrote:

[2021-03-14 04:15] codewithvicky opened #10212 "how to type result based on constructor parmeters"
**Questions and Help**

_Please note that this issue tracker is not a help form and this issue will be closed._

Please check here instead:

- [Website](http://www.mypy-lang.org/)
- [Documentation](https://mypy.readthedocs.io/)
- [Gitter](https://gitter.im/python/typing)

[2021-03-14 04:23] #10212 closed

[2021-03-14 19:29] ghost opened #10214 ""object" not callable when creating an instance of tuple by using type alias"
**Bug Report**

Mypy shows an error when creating an instance of tuple by using type alias. Error is not present when doing the same with type alias of a list. It's likely caused by the way tuples are instantiated directly from the `__new__` method.

**To Reproduce**

[code]

**Expected Behavior**

No error

**Actual Behavior**

`error: "object" not callable`

**Your Environment**

- Mypy version

[2021-03-14 19:48] abbasidaniyal commented on #8356
Is this issue still available? I would like to take this up.

[2021-03-14 22:42] JelleZijlstra commented on #10214
Your code should actually have `tuple[int, ...]`: `tuple[int]` means a 1-tuple. Does it work if you do that?

Of course, the "object not callable" message is still a bug and should be fixed.

[2021-03-15 05:40] helafumpek commented on #10214
You're right, my mistake.  But when I changed code to
[code]
mypy complains about `error: Unexpected '...'` in the 1st line.

And when I change it to:
[code]
it's back to `error: "object" not callable` in the 3rd line.

[2021-03-15 05:54] JelleZijlstra commented on #10214
Oh, I guess that's a bug in the support for lowercase tuple (maybe already tracked). `from typing import Tuple` will work with that.

[2021-03-15 13:32] ncopa opened #10215 "FAILED mypy/test/testdaemon.py::DaemonSuite::testDaemonStatusKillRestartRecheck"
**Bug Report**
When rebuilding packages for python 3.9 mypy 0.812 unit test `mypy/test/testdaemon.py::DaemonSuite::testDaemonStatusKillRestartRecheck` fails.

**To Reproduce**

1. build python 3.9 on alpine linux x86_64
2. build mypy 0.812
3. run unit tests

**Expected Behavior**

unit tests passes

**Actual Behavior**

[code]

**Your Environment**

- Mypy version used:  0.812
- Mypy command-line

[2021-03-15 18:32] ChastinaLi commented on #7806
Ran into this issue which completely breaks out entire linting pipeline. Does anybody have a workaround for this?

[2021-03-15 18:58] sebastian-philipp commented on #7806
`#type: ignore` on the head of the file that causes this issue

[2021-03-15 20:30] tapish2000 commented on #7633
Why is this issue open, is there anything else to be done in this?

[2021-03-15 21:53] Paul-Ilyin opened #10216 "Adjusting the signature of a function on the basis of caller types in plugin"
What is the proper way to adjust the signature of a function basing on actual caller types?
I have two ideas:
1. using get_function_signature_hook, manually inferring all types from FunctionSigContext.args list
2. using get_function_hook, calling `FunctionContext.api.fail` every time when arguments are invalid

Are there any better ways?

[2021-03-16 06:36] ods commented on #8869
One more case:

[code]

The output:
```error: Argument 1 to "f" has incompatible type "Callable[[], Any]"; expected "MethodType"```

[2021-03-16 07:57] badal8381 commented on #10099
hello Sir,
I am new to Google Summer Of Code. How can I contribute to your Project. I have intermediate knowledge of Python and I Read about Mypy and which is based on python. honestly speaking I have worked on few open source projects and learned few things but I want to start my journey as a software developer and an Open Source contributor from this project. help me find my way to become a soft

[2021-03-16 11:43] JukkaL commented on #10099
@badal8381 Please have a look at #10195 and the documentation links in the issue description. They will hopefully help you get started.

[2021-03-16 13:44] JukkaL commented on #7633
Looks like there is not much left to do and this issue can be closed.

[2021-03-16 13:44] #7633 closed

[2021-03-16 14:37] bennettdams commented on #9884
Just to give a perspective from another language: One of TypeScript's main features is exactly this "object typing". It's even a main bullet point in their documentation and one of the first examples.
This way of "inline typing" is useful for many use cases, but especially for return values, as @jetzhou described.

[https://www.typescriptlang.org/docs/handbook/2/objects.html](https://www.typescrip

[2021-03-16 21:50] lundybernard commented on #5374
Adding one more (hopefully) valid use case

[code]
mypy output:
[code]

Define dataclasses for config objects in modules and sub-modules, which can be instantiated and used directly, or as shown here, used as templates to build a more complex config class.

[2021-03-16 23:08] r-kells commented on #3507
Definitely very interested in this. Defining categories is a great idea. Are there some meaningful delineations?

Im not an expert in all the `mypy` configs, but here's my attempt at categorizing and trying to keep it simple for the end user.

### Option 1:
#### KISS: have a single `--strict` flag that is unarguably strict, that would work well for a new project.
- Enable everything except the `--

[2021-03-17 00:36] melassa opened #10218 "Statement is unreachable after lambda: quit() and if __name__"
In this code mypy raise the error: Statement is unreachable on print(2) but Python execute it.
[code]
Tested under Python 3.87 and 3.9 (see https://mypy-play.net/?mypy=latest&python=3.9&flags=warn-unreachable&gist=bfac35fb419123c300ece226fd5a18d7)

[2021-03-17 03:55] erictraut commented on #10149
@JukkaL, here are some additional ideas that might be worth considering...

In pyright, we always attempt to infer the return type of functions even if the parameters and return types are unannotated. We do this by substituting an "Unknown" type (a special alias of "Any") for the unannotated input parameters. More than 50% of the time, we're able to infer a known return type. In cases where the in

[2021-03-17 09:45] alvis commented on #7291
What's more strange is that mypy doesn't complain if there are arguments passed to `__init__`. At least this inconsistency shouldn't happen. Either you require the return type hint to `__init__` in all situation, or none at all (preferred), but not the current form.

[2021-03-17 11:53] Dreamsorcerer opened #10220 "Mypy decodes a file it shouldn't be reading"
I get this error when running mypy:
[code]

This is because it is an encrypted file. However, I see no reason that mypy should be reading this file at all.

The directory is not included in the `files` list. The only place it is imported is in `secrets_vault/__init__.py`:
[code]

But, mypy shouldn't be reading that file either, as there is a `secrets_vault/__init__.pyi`:
[code]

So, why is mypy tr

[2021-03-17 11:54] #10220 closed

[2021-03-17 13:33] vickyhuo commented on #10023
Hi @kamilturek, I believe that is the problem as well. I'm currently still working on a fix

[2021-03-17 14:14] JukkaL commented on #10149
@erictraut Some of the early prototypes of a predecessor of mypy did implement clever type inference similar to what you are describing. I gave up on the idea, since often when type inference went wrong (and it's never 100% reliable), the bad types could propagate far away from the original code, making it hard to reason about what was going on. It's possible that with more effort this can be made

[2021-03-17 14:59] hauntsaninja commented on #10023
Sounds like this is just another symptom of Mapping not being covariant in its key type

[2021-03-17 15:51] mjpieters commented on #1021
How would this work with an `Enum` class that uses the tuple value -> separate arguments to `__new__` option?

E.g.:

[code]

The above causes several issues for MyPy; for the above example the `.value` type is assumed to be `Tuple[str, str, bool]`, but if I changed the order of the definitions it could also be `Tuple[str, str]`, and reports a `Missing positional argument "colour" in call to "Colo

[2021-03-17 16:40] samuelcolvin commented on #6239
Are you using the pydantic - mypy plugin? I believe that should help.

[2021-03-17 18:28] exarkun opened #10221 "State of the Mypy cache makes check results unpredictable"
The result of mypy checking a piece of code depends on *both* that code *and* the internal mypy cache.  The same piece of code can cause mypy to produce two different results depending on the state of the mypy cache.

(A clear and concise description of what the bug is.)

**To Reproduce**

Run mypy 3 times.  The first run is against version "A" of the demonstration code.  The second run is against

[2021-03-17 18:55] JukkaL commented on #10221
Thanks for the detailed bug report! Mypy should produce the same results independent of the cache state. Any deviations are unexpected (unless the cache is corrupted, but any cache generated by mypy should be fine, including older versions).

[2021-03-17 19:01] kamilturek-sc commented on #10023
@hauntsaninja What's the reason of this?

[2021-03-17 19:04] kamilturek commented on #10023
@hauntsaninja What's the reason of this?

[2021-03-17 19:21] hauntsaninja commented on #10023
It's unsafe, see https://github.com/python/typing/issues/445

[2021-03-18 09:18] mr-bjerre commented on #7191
@zero323 what solution did you end up with? One solution could be writing `Protocol` for all the required attributes and methods your mixin depends on, but it would be nice to be able to use `Foo` class directly as a requirement.

[2021-03-18 13:18] MetRonnie commented on #10166
I don't get a Non-overlapping equality error for `if value is None` here:
[code]

https://mypy-play.net/?mypy=latest&python=3.7&flags=ignore-missing-imports%2Cstrict&gist=3ac2aae64989362ea904cc3058ea854c

[2021-03-18 13:25] MetRonnie commented on #10166
Although I suppose that could be intentional, as you might want to do `if x is None: raise TypeError`

[2021-03-18 13:35] JukkaL commented on #10166
Yeah, this is intentional since redundant `None` checks tend to be quite common and could otherwise cause false positives.

[2021-03-18 16:59] sobolevn commented on #6760
I think, that this issue can now be closed: https://github.com/python/mypy/blob/ac66403cb4374b858786350b96e7f5972db84bcd/mypy/plugin.py#L368-L400

[2021-03-19 13:57] hauntsaninja commented on #2773
It's at best confusing to post on dead, years old issues. Pretty much everything talked about here is out of date (including your stackoverflow link, as it happens). In case other people stumble upon this, you're best served by reading https://mypy.readthedocs.io/en/latest/running_mypy.html#mapping-file-paths-to-modules

In your case, it's clear the issue is with pre-commit. I'm guessing what's ha

[2021-03-19 15:48] Pamplemousse opened #10224 "Type inconsistently and insufficiently refined"
**Bug Report**

Through a `if/elif` (with multiple `elif`) construct using `isinstance` in conditional, I was expecting the type of the variable checked to be refined in the branches.

**To Reproduce**

[code]

[code]

**Expected Behavior**

I was expecting `mypy` to raise no error, because I was expecting the type of `right` to be `Union[test_issue.A, test_issue.B]` at line 15 (and respectively,

[2021-03-20 06:20] jtmoon79 opened #10225 "def typed with Union passed twice is wrongly reported "Incompatible return value type""
`mypy` errantly cites error `got "Tuple[Optional[str], Optional[str]]", expected "Union[Tuple[str, str], Tuple[None, None]]"`.  Seems to mix up the `Union` and `Optional`.

---

First, notice file `test1.py` passes `mypy`

[code]

Run command
[code]

Then call another function with the same type declaration.

File `test2.py`

[code]

The same command results in

[code]

## Environment

- Mypy vers

[2021-03-20 06:20] jtmoon79 commented on #10225
Similar but not the same as #9892

[2021-03-20 12:28] Soumokanti123 commented on #10225
@jtmoon79  Can I work on this problem?

[2021-03-20 18:54] hauntsaninja commented on #10225
Unrelated to the other issue posted. This is a hard thing to solve because mypy doesn't really keep track of relationships between variables. That is to say `a` very much has type `Optional[str]` and it's only happenstance that you haven't reassigned to `a` and destroyed the relationship between `a` and `b`. You can get your example to typecheck by not unpacking the tuple; don't know if that's an

[2021-03-21 00:31] indigoviolet commented on #5512
This bug still seems to be open in mypy 0.812: https://mypy-play.net/?mypy=latest&python=3.9&gist=35daf188cbaa119b95c77522250a6081

I don't quite understand why
- typing the expression as `ContextManager[None]` doesn't suffice
- why assigning in an `if` block instead of the `if else` expression is different

Anyway,  @ilevkivskyi's https://github.com/python/mypy/issues/5512#issuecomment-415391131

[2021-03-21 02:24] dixith commented on #7445
@PrasanthChettri Are you working on other error messages as well? Can I make changes for **object is not iterable** error message?

[2021-03-21 15:15] DevilXD commented on #10194
It seems that the final type declaration of `[bool] -> Optional[int]` is simply not included as one of the overload options - and sure enough, adding an explicit overload, matching the signature of the function itself, makes this case type-check as expected:

[code]

This solution could be used for the time being. Still, I think that the non-overload signature typings should be included by default

[2021-03-21 15:19] MarcoGorelli commented on #10194
Thanks @DevilXD - yes, for the time being I'm adding in an extra overload of the `bool` case and it works fine

[2021-03-21 15:30] DevilXD opened #10233 "'<nothing>' object is not iterable"
**Bug Report**

The internal `<nothing>` object not being an iterable appears to be a problem in a case like the example below.

**To Reproduce**

[code]

**Expected Behavior**

It'd let me at least define the types of `result1` and `result2` before the `menu()` usage, silencing the `'<nothing>' object is not iterable` error.

**Actual Behavior**

This is not the case, and while `result1` and `res

[2021-03-21 20:10] JelleZijlstra commented on #7445
reopening since this isn't fully done yet

[2021-03-21 20:59] dixith commented on #7445
I'll get PR created for `is not a valid TypedDict key`. Looks like thats the only message left for correction. Do you guys see any other error message thats needs change?

[2021-03-21 23:05] vnmabus commented on #9503
Sorry, can someone point me to the discussion? Why the implementation cannot simply be checked with all defined overloads, and just report the union of all errors? I think the current behaviour limits the usefulness of `overload`.

[2021-03-22 02:16] yuyupopo opened #10236 "does not distinguish type hint and type alias"
**Bug Report**

mypy seems to think a class type hint is a type alias.

**To Reproduce**

[code]

**Expected Behavior**

I expected no errors.

**Actual Behavior**

[code]

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: None
- Mypy configuration options from `mypy.ini` (and other config files):
- Python version used: 3.7.10
- Operating system and version: macOS 10.15.7

[2021-03-22 08:28] socketpair opened #10238 "Path and mypy"
This example must not trigger errors in MyPy

[code]

[2021-03-22 08:52] ethanhs commented on #10238
What mypy version are you on? I cannot repro this on 0.812 or 0.800. I believe you should update.

[2021-03-22 08:56] socketpair commented on #10238
@ethanhs
[code]

[2021-03-22 08:58] ethanhs commented on #10238
Okay, looks like this is no longer an issue then.

[2021-03-22 08:58] #10238 closed

[2021-03-22 08:59] socketpair commented on #10238
@ethanhs did you test or just guess ?

[2021-03-22 14:17] DevilXD commented on #10236
This may be because of how the class body is built. When the methods are defined, the class' body is executed in a separate scope. This means that referencing `A` points to the local scope first (the class var in this case), and only if that wouldn't exist in the class' body, then it'd search for it in the outer scopes. Here's a section from Python docs on this: https://docs.python.org/3/reference

[2021-03-22 18:29] alexchandel opened #10239 "Rejecting a single constraint on TypeVar prevents subtype restriction"
**Bug Report**

mypy rejects a single constraint on a `TypeVar` that would restrict instances to one particular subtype.

**To Reproduce**

Consider the following, where `_T` meant to constrain `x`, `b`, and `t` to the same, unspecified subtype of `Number`:

[code]

**Actual Behavior**

mypy reports `TypeVar cannot have only a single constraint`.  (Ignore that `<` isn't supported for generic Numbe

[2021-03-22 18:53] hauntsaninja commented on #10239
mypy is correct here, you want to use `bound`.

[2021-03-22 18:53] #10239 closed

[2021-03-22 19:02] LyonsDo commented on #10233
Not sure if this is the same issue but I'm getting "TypeError: 'str' object is not callable" for the string s in
@docstrings.dedent(s, stacklevel=3)

Your Environment

PyCharm 2020.3.4
Python version used: 3.9.2
Operating system and version: Win10x64

[2021-03-22 19:05] alexchandel commented on #10239
😅 🤦‍♀️

[2021-03-22 19:33] JelleZijlstra commented on #10233
@LyonsDo pycharm errors shouldn't be reported to mypy; it's a different type checker.

@DevilXD I think your problem is that NamedTuples can't be generic (#685). If you turn on the `--disallow-any-generics` flag (as you probably should), it will tell you about a few missing instances of `[T]`; some of those can be fixed but the NamedTuple cannot.

[2021-03-22 19:35] jdahlin commented on #865
Would be nice if mypy could support this, its one less tool is needed to lint a code base.

This doesn't seem possible with the current plugin API, perhaps extending the plugin API to expose enough information to make this possible in third-party code would be good enough.

[2021-03-22 20:20] LyonsDo commented on #10233
Sorry. I have the mypy plugin enabled.

[2021-03-22 23:42] yuyupopo commented on #10236
While I agree that the best practice is to not use `A` as an attribute name, I still see this as a bug.
In your example, `set` is a method understood by the python interpreter.
In my example, `A` is a type annotation, and cannot be interpreted in the runtime. (`B.A`)

[2021-03-23 09:16] abravalheri commented on #7771
On https://github.com/python/mypy/issues/7771#issuecomment-717849821

Hi @PhilippSelenium, in my setup tox seems to be working with passenv, but I am still unsure if I should include this workaround in the CI environment or not... Would you mind to share which unwanted side effects were you facing?

[2021-03-23 09:43] PhilippSelenium commented on #7771
@abravalheri I cannot remember. I just updated tox and mypy and added ```TERM``` and had no problems ...

[2021-03-23 10:36] cbows commented on #9503
@vnmabus If you scroll back to Sep. 29, 2020 in https://gitter.im/python/typing you might find the discussion, I actually don't know if there is a better way to search gitter.

From what I remember, someone said that adding this functionality would be a substantial increase in complexity of the type checker, which probably outweighs the benefits. For a deeper understanding I guess you'd have to ta

[2021-03-23 10:55] vnmabus commented on #9503
I have found it, thanks @cbows. Maybe I am saying something stupid, but I think that the implementation could be type-checked n times (with n equal to the number of overloads), switching the types to match each overload, and report the errors found ignoring unreachable branches. I am not sure how complex that would be, but it does not seems that substantial at first glance.

[2021-03-23 13:08] sobolevn opened #10240 "`report_internal_error` does not respect `stdout` and `stderr` in several places"
When using `mypy` as a library and passing `stdout` and `stderr` into [`build.build`](https://github.com/python/mypy/blob/641919f9496c8c62b9f45e7ec8402162667b7a11/mypy/build.py#L135-L143) it is reasonable to expect that it will be respected for all cases.

But, there are several places where `report_internal_error` does not respect the passed value and just dumps everything into `sys.stdout`:

- [

[2021-03-23 15:18] uSpike commented on #10199
I'm running into this issue, I think.

Here's a pretty minimal example:
[code]
Running this results in:
[code]
however mypy complains:
[code]

[2021-03-23 15:35] DevilXD commented on #10233
@JelleZijlstra I believe there's a different issue at play here, because getting rid of the NamedTuple and using just a normal tuple instead, generates the same error.

[code]

[2021-03-23 15:41] DevilXD commented on #10236
@yuyupopo In my example tho, I'm also using a type annotation, in the `func` function - the issue is that `set` refers to the method of the defined class, instead of the built-in `set` class. This is basically the same issue as you're having, and an intended base Python behavior at the current point in time. MyPy has nothing to do with this here, unless you're implying MyPy should make an exceptio

[2021-03-23 17:41] JelleZijlstra commented on #10233
You're not setting generic parameters fully. Try using `--disallow-any-generics`.

[2021-03-23 17:46] LyonsDo commented on #10233
OK thanks.  I'll look at that later.

On Tue, 23 Mar 2021 at 18:41, Jelle Zijlstra ***@***.***>
wrote:

[2021-03-23 17:49] erictraut opened #10241 "Inconsistent handling of unsolved TypeVars"
PEP 484 doesn't provide much clarity about the situation where a TypeVar is provided with no value in a generic function call, so I'm not sure if there is a "correct" behavior. However, I'd expect that the behavior would at least be consistent for a type checker.

[code]

Note that mypy's results depend on whether the TypeVar is bound or constrained. If it is constrained, mypy appears to (arbitrar

[2021-03-23 17:55] JelleZijlstra commented on #10241
#10233 is an example where the `<nothing>` behavior is confusing for a user. In that case it would make more sense to fall back to Any.

[2021-03-23 18:28] PrasadNR commented on #6185
I am having this exact issue while setting gradients. Are there any official work-around(s)?

[2021-03-23 20:10] qwertystop opened #10242 ""Unexpected '...'" reported from ellipsis in type alias, but understood anyway?"
**Bug Report**

The type `typing.Tuple[Foo, ...]` is accepted as meaning "tuple of Foo, arbitrary length", but `tuple[Foo, ...]` is not, in the context of type aliases. It's apparently understood, but produces an error message anyway.

**To Reproduce**

Create a file:

[code]

Then run `mypy` on the file.

**Actual Behavior**

 `mypy` reports: `test.py:4: error: Unexpected '...'`. It does not repo

[2021-03-24 01:14] erictraut opened #10243 "Pyright parser uses wrong order of operations for binary operations"
When binary operators are used in chains, pyright doesn't use the correct order of operations in some cases. See below for an example of a false positive error due to this issue.

[code]

[2021-03-24 01:15] erictraut commented on #10243
Sorry, entered this bug into the wrong repo. Closing.

[2021-03-24 01:15] #10243 closed

[2021-03-24 13:59] syheliel commented on #10242
That's my running result with python 3.8.8 & mypy 0.820+dev.641919f9496c8c62b9f45e7ec8402162667b7a11, it reports errors where `tuple[int, ...]` appears
[code]
But I'm not quite undertstanding what should be the expected behavior. Do you mean that `-> IntsB` should also be reported as a new error at line 6? If it hits the problem, then I change `-> IntsB` into `tuple[int, ...]` :
[code]
Also, the s

[2021-03-24 15:29] bryanforbes commented on #8823
I'm running into an issue writing stubs for `sqlalchemy` where it would be nice if I could silence this error (checking with strict mode on):

[code]

Without that ignore, type checking for 3.6 fails. With the ignore, type checking fails in 3.7+.

[2021-03-24 19:16] DevilXD commented on #10233
Huh, alright, I got it to work. This is what I've got:

[code]

I'm guessing this isn't a *real* bug then. However, the error message of `<nothing> object is not iterable` is quite confusing. Perhaps this could be improved?

[2021-03-24 19:33] qwertystop commented on #10242
Python 3.9 added the ability to subscript built-in collection types (including `collections.abc` types, and non-collection types like `collections.abc.callable`) to specify contents directly rather than needing a parallel type hierarchy imported from `typing`. Your `"tuple" is not subscriptable` error no longer appears in Python 3.9. See also: [PEP 585](https://www.python.org/dev/peps/pep-0585/).

[2021-03-24 20:58] JelleZijlstra commented on #10233
Agree that this is unintuitive! #10241 seems like the underlying issue, so let's keep that one open.

[2021-03-24 20:58] #10233 closed

[2021-03-24 23:50] johnpmcconnell commented on #10068
So this is caused by the ["aliasing" behavior](https://mypy.readthedocs.io/en/stable/generics.html#generic-type-aliases), where assigning a generic type causes mypy to automatically assume the generics are `Any`. (I discovered this after encountering #8715.)

Since the problem is the *assignment*, there's a fairly simple workaround: *import* with an alias instead of assigning it.

So this fixes it

[2021-03-24 23:54] johnpmcconnell commented on #8715
@ufl-taeber For your case, I would recommend just importing `Tuple` directly:

[code]

This achieves what you wanted in the first place very directly: avoiding the module prefix in the type annotation.

[2021-03-25 09:53] alvis commented on #2410
As @Artimi mentioned, there're many use cases in pandas that a time index is involved.
Would everyone be happy if we add the datetime type?

[2021-03-25 13:12] andriusstank opened #10244 "Wrong types and crash with polymorphic Callable"
**Crash Report**

First of all, the code that makess mypy crash:

[code]

Adding type annotation at the last line `c: Cont[str] = Cont(Box(const_two))` prevents the crash.

There's another problem - mypy gets types in function `f` wrong. Here `c.run.inner` returns type `R`, while mypy insists it must by int.

[code]

**Traceback**

[code]

**To Reproduce**

Full source code is in the description.

[2021-03-25 14:21] syheliel commented on #10242
Thank you for explaination! It seems that it's truly a bug. In `no_subscript_builtin_alias(name: str, propose_alt: bool = True) -> str` in `typeanal.py`, the comment says that `# This should never be called if the python_version is 3.9 or newer`, so there must exists something go wrong.

[2021-03-25 15:09] danr commented on #9788
Why was this closed? Is there a way to do TypeScript's `typeof` in mypy?

[2021-03-25 15:35] wlf100220 commented on #9788
@danr [I open anonther one here in python/typing repo](https://github.com/python/typing/issues/769)

[2021-03-25 17:13] danr commented on #5152
How would one go about to fix the type signature for `replace`? In TypeScript it is possible to give a replace function this type:

[code]

It's not a 100% correspondence, I'm using TS' `Record` type instead of `dataclass` and just one single `changes` argument instead of a `**changes` keyword argument. But in essence it's the type I want to give `replace` from the `dataclasses` module.

[2021-03-25 17:35] iwanb opened #10246 "Infer descriptor type"
**Feature**

For the common case of a descriptor which behaves like a normal attribute, infer:
[code]
to:
[code]
if descriptor is a Generic with one parameter. Extra checks should also be done to make sure that the descriptor is properly typed to behave like an attribute of that type (`__get__` and `__set__` expect that type on an instance).

**Pitch**

Type annotations apply to object instances b

[2021-03-25 20:33] dixith commented on #1184
@kishdubey Are you still working on this issue? Can i take over if u are not working on it?

[2021-03-25 21:32] uSpike commented on #10199
Per my previous example, this causes a mypy error (as shown above):
[code]
however, the following does not if I access the `key` attribute before `isinstance()`:
[code]

[2021-03-26 02:45] uSpike commented on #10199
Sorry for the noise, but here's the smallest reproducible example I could make:

[code]
[code]

[2021-03-26 11:35] vnmabus commented on #8867
I am currently having the same problem, and I agree with the proposed solution. The implementation should be checked against all overload variants, and the errors should be reported (including in which overloads the errors appear). Otherwise it is impossible to typecheck the implementation of functions where the types of some parameters change together, instead of only the return type.

[2021-03-26 11:49] ClementWalter commented on #1969
Maybe a related example:

[code]

[2021-03-26 12:11] pawelrubin commented on #3863
Hi!
Are Generic TypedDicts/NamedTuples planned to be supported in the future versions of Python/mypy?
As @gwax mentioned, they would be super useful for annotating polymorphic JSON responses.

[2021-03-26 16:27] gvanrossum commented on #3863
I suggest filing a bpo issue for that.

[2021-03-26 17:27] jonathanslenders opened #10248 "Passing dataclass `default_factory` as positional argument causes internal error."
**Crash Report**

The detaclasses ``field`` is missing a ``default_factory`` keyword argument. I'm passing it as a positional argument.

**Traceback**

[code]

**To Reproduce**

[code]

**Your Environment**

- Mypy version used: mypy 0.820+dev.797544d8f97c478770eb178ba966cc7b1d0e6020.dirty
- Mypy command-line flags: none
- Mypy configuration options from `mypy.ini` (and other config files): /
- Py

[2021-03-26 17:40] JukkaL commented on #1969
@ClementWalter In your example there is no guarantee that the argument names and types match the called function. For example, you have `b=2` but it's declared as `b: str` in the function. I think that mypy is right in reporting an error here, though the error message is not super helpful. You can create a new issue about the confusing error message if you'd like.

[2021-03-26 17:42] JukkaL commented on #1184
@dixith  Since there hasn't been an update in several months, it's okay for you to work on this if there's no response.

[2021-03-26 17:48] ClementWalter commented on #1969
actually `Union[str, int]` is not a good typing but I was wondering how to handle this case (inheritance) with mypy and google the error I found this issue. I guess that ideally we could provide a `TypedDict` to `kwargs` typing, something like:

[code]

[2021-03-27 10:00] DevilXD commented on #4409
Not sure if this is the best place to suggest this, or should I make a new issue, but I've recently tried using MyPy with the `--disallow-incomplete-defs` flag on my codebase, and the results I got were quite off-putting, after a bunch of functions that **had** typed input paremeters, but no `-> None` return type defined, were returned as problems. While I get the meaning behind the flag (and the

[2021-03-27 10:21] ssbarnea opened #10249 "mypy --install-types reports unrecognized arguments"
Apparently current documentation is [mentioning a CLI argument](https://mypy.readthedocs.io/en/latest/running_mypy.html#library-stubs-not-installed) that is not supproted by the lastest version of mypy:

mypy: error: unrecognized arguments: --install-types

**Bug Report**

[code]

[2021-03-27 11:03] ethanhs commented on #10249
The docs you point to are the `/latest/` route so those are built from git HEAD. This flag isn't released yet. I recommend using `/stable/` instead. I certainly understand this might be confusing, I wonder if we could modify readthedocs just on the development docs...

[2021-03-27 12:38] cclauss opened #10250 "Exclude multiple directories on mypy commandline: improve documentation"
**Questions and Help**

_Please note that this issue tracker is not a help form and this issue will be closed._

Please check here instead:

- [Website](http://www.mypy-lang.org/)
- [Documentation](https://mypy.readthedocs.io/)
- [Gitter](https://gitter.im/python/typing)

This question is about the mypy commandline, _not about mypy configuration files_.

The [`--exclude` documentation](https://myp

[2021-03-27 14:09] nyuszika7h commented on #3933
I still have an issue here:
[code]

[code]

`VideoTrack`, `AudioTrack` and `SubtitleTrack` are all subclasses of `Track`.

[2021-03-27 14:34] dixith commented on #7445
@JelleZijlstra @JukkaL @hauntsaninja
Do you guys see any other error message thats needs change?

[2021-03-27 14:58] JelleZijlstra commented on #7445
Grepping for single quotes in test-data/unit/ still shows some instances in error messages. Some examples:
[code]

One even uses backticks:
[code]

[2021-03-27 14:59] JelleZijlstra commented on #7445
Another interesting one is `check-errorcodes.test:from m import think  # E: Module 'm' has no attribute 'think'; maybe "thing"?  [attr-defined]`, where we use both conventions in the same error. I got these with `git grep "E:.*'"`.

[2021-03-27 15:01] ssbarnea commented on #10249
I was afraid it may be something like this. I had the same problem on my own libraries. The only practical solution was to assure documented features are released soon after they are merged.  Switching between various versions is not practical, especially due to search engine indexing.

Some projects do also mention the version on which particular options were added, making easier to spot a featur

[2021-03-27 15:01] #10249 closed

[2021-03-27 15:20] dixith commented on #7445
Thank you @JelleZijlstra for the pointer. I'll get these corrected.

[2021-03-27 18:42] cclauss commented on #10250
This work... Closing.
[code]

[2021-03-27 18:43] JelleZijlstra commented on #10250
If the correct solution isn't obvious, the documentation should be improved. We could add an example excluding multiple directories.

[2021-03-27 21:14] Akuli opened #10253 "bad error message for wrong type of typeddict setitem"
**Bug Report**

confusing error message

**To Reproduce**

[code]

**Expected Behavior**

something like "value of 'a' should be `int`, not `str`"

**Actual Behavior**

[code]

**Your Environment**

- Mypy version used: 0.812
- Python version used: Python 3.8.0

[2021-03-28 00:45] hatal175 opened #10254 "overload hides 'is not a function' error in stubtest"
**Bug Report**

I've noticed that overloading a function can hide a mismatch between the runtime type and the stub type. I noticed this as I was going over typeshed stubtest exceptions, specifically for itertools.accumulate.
Tests for python 3.6 and 3.7 failed because the stubs declared accumulate as a function while it was actually a class. However for 3.8 it is defined as two functions with over

[2021-03-28 04:39] syheliel commented on #10242
Currently my progress on this problem is that `refers_to_class_or_function(base)` in `semanal.SemanticAnalyzer.visit_index_expr` return different results for `typing.Tuple` and `builtins.tuple`. And that causes the different reusult for the line `IntsA = Tuple[int, ...]` and `IntsB = tuple[int, ...]`

[2021-03-28 05:23] hauntsaninja commented on #10254
Thanks for reporting! This is easy to fix (just ensure `verify_overloadedfuncdef` makes the same check as `verify_funcitem`). That said, none of the dozen or so new errors on stdlib you get after fixing this are useful... arguably if you've gotten to the point of writing overloads, you're probably conscious of the fact that you're pretending the object is a function, so maybe this bug is a feature

[2021-03-28 06:43] Sangu80 commented on #10195
@JukkaL how can i get a chance to work on to your organization projects , like is there any tasks that i need to solve to get selected for gsoc under your organization

[2021-03-28 09:57] syheliel commented on #10242
the commit 46d6c6b8f1e52becab650407ad8dabdb41d0ec9b fix this issue, @JukkaL would you like to close the issue?

[2021-03-28 12:53] saru-d2 commented on #9185
Hi, just curious if the issue is being solved/ has been solved, if not I'd love to give it a shot!

[2021-03-28 14:35] JelleZijlstra commented on #10254
Even if the issues this currently finds are not too useful, it feels better for stubtest to consistently check everything it could check instead of just giving up. I can imagine some useful checks it could do with overloads, like checking that all overloads are at least a subset of possible useful calls.

[2021-03-28 19:04] hauntsaninja commented on #10254
Just to clarify, stubtest does check overloads (in fact, that's probably the most complicated part of stubtest). However, I will change the "is not a function" error to not early return if the object is still callable, so that if you have a signature you still get those errors in addition. Anyway, #10254 for you

[2021-03-28 21:26] ksamuel commented on #2410
datetime seems limited.

A slice is represent a boundary, but boundaries can be established with practically anything.

In fact, I quite like the idea of being able to pass a callable to \_\_getitem\_\_ mentioned by the OP: it lets you say "start to take elements when this condition arise, or stop taking elements when this one arises. You could even make a wrapper object like:
[code]
It's much mor

[2021-03-28 21:55] shaunc opened #10259 "crash on @overload together with @singledispatch"
**Crash Report**

(Tell us what happened.)

I'm trying to tell typing the relation between argument and return types on a singledispatch function:
[code]

**Traceback**

[code]

**To Reproduce**

The module above suffices

**Your Environment**

- Mypy version used: 0.820+dev.f00bb49066810589b5bb122425381ef833fe471b (initially encountered on 0.812)
- Mypy command-line flags: --follow-imports=silent

[2021-03-28 22:22] hauntsaninja commented on #10259
Dupe of https://github.com/python/mypy/issues/8356

[2021-03-28 22:22] #10259 closed

[2021-03-28 23:23] KapJI opened #10260 "Mypy doesn't see typing info when it checks the whole package"
**Bug Report**

Mypy returns errors when it's used to check the whole package but doesn't return any errors when it's run on individual files.

These errors are the same as when you don't have corresponding package (`zeroconf` in this case) installed. But `zeroconf==0.29.0` is installed and it exports typing information ([marked with `py.typed`](https://github.com/jstasiak/python-zeroconf/blob/mas

[2021-03-29 10:22] srbhss commented on #8934
Interested in working on this issue. @ethanhs can you please assign me to this issue.

[2021-03-29 10:28] srbhss commented on #8029
Hey @ilevkivskyi, I would like to work on this issue. Please assign me this one.

[2021-03-29 10:33] srbhss commented on #4445
Hey @JukkaL @msullivan, I would like to fix this. Please assign this issue to me.

[2021-03-29 12:31] ilevkivskyi commented on #8029
@srbhss OK, note however I may not have time to review your PR, but others might have.

[2021-03-29 17:16] turlando opened #10262 "Function returning int or float can't be typed as returning Number or Real"
**Bug Report**

I'm not sure about the scope of this issue, so I'm opening it here for the moment.

[This](https://mypy-play.net/?mypy=latest&python=3.8&gist=dbfd62544816baebec6d2bd19c2337c5) code:

[code]

produces the following errors:

[code]

Regarding the first two, according to the [Python's numeric tower](https://docs.python.org/3/library/numbers.html) and also according to my REPL:

[code]

[2021-03-29 17:19] chunji08 opened #10263 "mypy failure for "Need type annotation for 'options'"
Hi there,
I have such define in my python file:
[code]

And it fails during the mypy checking, for the message that : **Need type annotation for 'options'**,  Since I don't see anything wrong with this code, so is there any work around that I can have it passed the mypy checking for this ?

Thanks,

Chun

[2021-03-29 17:25] #10254 closed

[2021-03-29 17:41] JelleZijlstra commented on #10262
This is an instance of #3186.

[2021-03-29 17:41] #10262 closed

[2021-03-29 17:48] hauntsaninja commented on #10263
You can use `disable_error_codes` with error code `var-annotated`. Note that because mypy isn't able to infer types it will also likely not report errors in case you do make some.

[2021-03-29 17:48] #10263 closed

[2021-03-29 20:19] vanshhhhh commented on #10099
Thanks sir

[2021-03-29 21:47] chunji08 commented on #10263
I don't know if my code would be accepted if I add this ?  is there any alternatives ?  Thanks anyway for the help.

[2021-03-29 22:58] KapJI commented on #10260
I found this is caused by this file: https://github.com/home-assistant/core/blob/dev/homeassistant/generated/zeroconf.py

If I rename it, the errors go away.

It should be imported by `homeassistant.generated.zeroconf` but mypy sees it instead of actual `zeroconf` which supposed to be imported.

Looks like a bug.

[2021-03-29 23:18] KapJI commented on #10260
This issue still exists on the latest master.
[code]

[2021-03-30 04:02] paw-lu opened #10264 "Python version check is sensitive to comparison order"
**Bug Report**

Whether mypy successfully detects a Python version check is dependent on the order of the comparison.

**To Reproduce**

[code]

[code]

[code]

[code]

**Expected Behavior**

I expected mypy to correctly parse the Python version check regardless of the order of the comparison.

**Actual Behavior**

`(3, 8) <= sys.version_info` is not correctly detected by mypy, while the logically

[2021-03-30 10:22] Ajk4 commented on #9789
+1

I don't have control over 3rd party libraries. But I still want to use mypy to check code I have control over. Even if 3rd party library doesn't have type hints.

Use case -> I want to check code I have control over in CI.

[2021-03-30 11:38] levsa commented on #9440
This would be useful to turn off override errors when using fixtures in tests, like:

[code]

[2021-03-30 12:34] KapJI commented on #10260
It turns out `homeassistant/generated/` doesn't contain `__init__.py`.

Although import `from homeassistant.generated import zeroconf` works in other place and mypy didn't complain that `homeassistant.generated` is not a module.

I resolved this issue for my case but it still seems that something is weird with import resolution in mypy.

[2021-03-30 14:29] bartenra commented on #6992
Is there an issue that requests making the error message more explicit about why the function overload has incompatible return types?

[2021-03-30 15:38] andrewnaguib commented on #1362
I would, if there is a clear task description or expected behavior of what we hope to accomplish.

[2021-03-30 15:47] JelleZijlstra commented on #1362
@andrewnaguib we'd want code like that in the top post to not produce errors, and similar incorrect code (e.g., a decorator that produces a callable with too many arguments) should produce an error.

[2021-03-30 15:48] ssbarnea commented on #1362
I wondered the same few hours ago but I was lucky that I was able to just rewrite my code to avoid use of lru_cache in my case but I still have no idea how to fix it if I really need both.

[2021-03-30 15:55] andrewnaguib commented on #1362
@JelleZijlstra Would ensuring that the latest decorator (in case there are sevaral ones) returns the same type be enough?

[2021-03-30 16:00] JelleZijlstra commented on #1362
@andrewnaguib not necessarily the same type. Consider the following:

[code]
This code is correct, because the decorated `prop` method matches what `property` wants: the decorator removes the `int` argument.

[2021-03-30 17:19] paw-lu commented on #10264
Hi @Pank3 !

Yeah I haven't tested it on Windows, but it should be!

[2021-03-30 17:19] patrick-kidger opened #10266 "Crash with slices e.g. `Annotated[int, 3:4]`"
**Bug Report / To Reproduce / Actual Behavior**

This:
[code]
produces:
[code]

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: None
- Mypy configuration options from `mypy.ini` (and other config files): None
- Python version used: 3.9.2
- Operating system and version: Windows 10

**Further details**

Any use of slices seems to give the error, e.g. `Annotated[int, "a":

[2021-03-30 17:22] JelleZijlstra commented on #10266
That's a fun one! It's probably pretty easy to fix if you track down where the error comes from (probably somewhere in `fastparse.py`).

[2021-03-30 17:25] paw-lu commented on #10264
@Pank3 I beleive (but am not sure) the problem orginates somewhere around `consider_sys_version_info` in `mypy/reachability`. If not exactly in that function then maybe somewhere it is called.

https://github.com/python/mypy/blob/bab4e22f1d0207ebc17ee3388d2434484aa998f4/mypy/reachability.py#L112-L150

[2021-03-30 19:35] sam-hoffman commented on #10250
I also found that the correct syntax wasn't obvious :( would really appreciate an example excluding multiple directories and an example excluding from a config file

[2021-03-30 19:47] JelleZijlstra commented on #10250
Reopening as a docs issue

[2021-03-30 21:19] hauntsaninja commented on #10250
The docs (that you linked to) do technically have an example excluding multiple things: `--exclude '/(site-packages|node_modules|__pycache__|\..*)/$'`

[2021-03-31 10:51] Soumokanti123 commented on #10218
i think like this it will working

p = lambda x: print(x)

if __name__ == "__main__":
    print(p(2))

[2021-03-31 11:15] Soumokanti123 commented on #10218
https://mypy-play.net/?mypy=latest&python=3.9&flags=warn-unreachable&gist=9aaaf12bb2009bfe8bc04db0b6a9d57f

[2021-03-31 12:40] matthieudesprez opened #10270 "Can't make mypy work with a class inherited from django"
I have a function, that takes a type as parameter, but if I pass whatever is inheriting from a class from the django module, I got no error at all from mypy

[code]

The reveal_type correctly prints:
[code]

When I removed the inheritance from ABCD in Card I get the expected output from mypy:
[code]

I've put ABCD in django.shortcuts like this:

[code]

Initially in my real case scenario it concer

[2021-03-31 13:12] melassa commented on #10218
The problem is only with lambda + quit + if.

[2021-03-31 13:34] JelleZijlstra commented on #10270
The problem is that mypy doesn't know anything about django.shortcuts, so it interprets the class as Any, and classes that inherit from Any are compatible with anything. To fix it you need to somehow make mypy able to find your django.shortcuts module, perhaps with MYPYPATH or the `--include` flag.

[2021-03-31 14:34] h6197627 opened #10271 "File streams: "BufferedWriter" has incompatible type "BinaryIO"; expected "RawIOBase""
**Bug Report**
This code
[code]
throws:

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags:
- Mypy configuration options from `mypy.ini` (and other config files):
- Python version used: 3.6.9
- Operating system and version: Ubuntu 18.04

[2021-03-31 15:11] h6197627 commented on #10271
Just checked, I have
[code]
in /usr/local/lib/python3.6/dist-packages/mypy/typeshed/stdlib/3/builtins.pyi

[2021-04-01 02:31] syheliel commented on #10248
The definition of `field` disable the positional arguments, see [PEP-3102](https://www.python.org/dev/peps/pep-3102/):
[code]
If you want to use `default_factory`, you must specify it as the keyword.

[2021-04-01 05:13] srittau commented on #10271
I can confirm. With mypy 0.812 it doesn't pick up the correct overload, although it exists in the bundled typeshed and it looks like it should pick it.

[2021-04-01 05:33] hack3r-0m commented on #10264
@paw-lu do you think adding this case in that function will solve this issue or there are any other files that need to be changed too? are there any more such cases that need to be included?

[2021-04-01 07:37] jonathanslenders commented on #10248
@syheliel: Of course, but forgetting to do so should not crash Mypy. That's what this issue is about.

[2021-04-01 09:42] cclauss commented on #10250
That example has `\..*)/$` which makes it difficult to understand for people who are not regex gurus.

If I want to land `mypy` in the continuous integration of a project but there are ten files that are not yet compliant, how can I write and exclude that spreads out over multiple lines so it more readable than https://github.com/python/mypy/issues/10250#issuecomment-808784712 ?

[2021-04-01 09:54] matejcik commented on #9610
are type aliases _supposed to_ work? ISTM from reading PEP0604 that they are, but mypy is still failing on them

[2021-04-01 09:59] domdfcoding commented on #10266
I did some digging. The error is being raised from `visit_Subscript` in `mypy.fastparse.TypeConverter`. The code is different depending on the Python version but the error is the same.

**On Python 3.9 and later:**

https://github.com/python/mypy/blob/2787d49633e732aa34de61c9ff429416ea10c857/mypy/fastparse.py#L1546-L1551

It is expecting the slice to be either:

* an `ast.Slice`
* an `ast.Tuple` w

[2021-04-01 10:10] giladreti opened #10272 "ctypes.Structure and Iterable"
**Bug Report**

For some reason `ctypes.Structure` instances pass mypy's `isinstance` checks although mypy also claims that they are not iterable.
For example, consider the following code:

[code]

mypy gives the following error:
[code]
replacing it with `iter(s)` make mypy happy again.

**Your Environment**

- Mypy version used: mypy 0.790
- Mypy command-line flags: none
- Mypy configuration opti

[2021-04-01 10:30] akeeman commented on #7781
bug stil exists in

mypy 0.812
python 3.8.x

[2021-04-01 13:12] JelleZijlstra commented on #10271
It's actually because mypy still has a custom plugin for `open` that produces less precise types. #9275 removes it, but hasn't been merged yet.

[2021-04-01 13:13] JelleZijlstra commented on #9610
@matejcik yes, they should work (always in stubs and at runtime in Python >3.10). If they don't, that's a bug in mypy.

[2021-04-01 14:02] cdce8p commented on #9610
Runtime uses of the PEP 604 aren't supported by `mypy` yet, see: #9880

[2021-04-01 15:29] paw-lu commented on #10264
Honestly not sure! We'll have to play with it to find out. This was just an initial pointer to those interested in helping out.

For now, I think just taking into account the reverse order of the supported comparison operations is good. If people are interested in more complex operations support for that can be added later.

[2021-04-01 15:49] JelleZijlstra commented on #9950
@JukkaL is there anything still blocking this? It would be good to do this sooner rather than later so contributors can stop worrying about Python 3.5 support (e.g. in #10219).

[2021-04-01 15:50] JukkaL commented on #9950
I'd like to make at least one more public release with Python 3.5 support. We should be able to drop it (soon) afterwards. However, in the next release we can mark Python 3.5 as deprecated and any new features will no longer need to support 3.5.

[2021-04-01 16:55] Soumokanti123 commented on #10218
@melassa ok

[2021-04-01 18:06] jfhbrook opened #10273 ""Skipping analyzing <code in my app>: found module but no type hints or library stubs" even though the code is in my app and has type annotations"
When I try to use mypy, mypy tells me that it can't find type annotations in my project, even though I can open/import the files in my app and see the type annotations that I intentionally put there.

I don't know what kind of Hell situation I'm looking at in my app's state, but all I did was:

1. Take an existing app with Python library code in a "src" directory and add type annotations to it
2.

[2021-04-01 20:43] hauntsaninja commented on #10273
https://mypy.readthedocs.io/en/stable/running_mypy.html#mapping-file-paths-to-modules and use `mypy -v` to see what's going on. For more help ask in Gitter.

[2021-04-01 20:43] #10273 closed

[2021-04-01 23:57] ltworf opened #10274 "mypy reports functions with identical signatures as not having identical signatures"
**Bug Report**

Doing a conditional import confuses mypy.

Use mypy on this:

[code]

The result is

[code]

**Expected Behavior**

It should work (I copied the function signature from the module) or at the very least return a useful error message.

Complaining about non identical signatures while printing identical signatures doesn't seem the correct behaviour to me.

**Your Environment**

mypy 0

[2021-04-02 00:06] ltworf commented on #10274
Ok reveal type is not so smart, i have to do it in 2 different runs.

Still it'd be nice to show a diff so one can see what's wrong.

[2021-04-02 00:13] ltworf commented on #10274
It was all particularly difficult because the emoji module is actually not annotated, but mypy is picking a pyi file from

`python3-jedi: /usr/lib/python3/dist-packages/jedi/third_party/typeshed/third_party/2and3/emoji.pyi`

which annotated the module wrong, skipping some parameters (that maybe were added later on).

So to conclude, this is more of a feature request now.

[2021-04-02 10:59] AudriusButkevicius commented on #1456
What does "important anymore" mean?
Is this supported, will not be supported, is there a way around this?

[2021-04-02 12:09] AIGeneratedUsername commented on #6131
@oren0e Why not just use the `typing.NamedTuple` then? https://docs.python.org/3/library/typing.html#typing.NamedTuple

[code]

[2021-04-02 14:12] JosuaKrause commented on #6463
You can work around this issue with:
[code]

I.e., create a function to create an empty container with a defined type.
You can solve the original issue like this (note, it doesn't matter what the type of your constructor function is as long as it is one of the Union types):
[code]

[2021-04-02 15:23] Dreamsorcerer opened #10275 "Non-overlapping comparison with Dict and MutableMapping subclass"
Trivial reproducer (with `--strict-equality`):
[code]

Outputs:
[code]

It seems that it believes a dictionary cannot be equal to a class which inherits from `MutableMapping`.

[2021-04-02 16:02] JelleZijlstra commented on #1456
I'm guessing Jukka initially brought this up because some internal Dropbox code used the idiom, and that code was eventually cleaned up. Mypy is unlikely to add support for highly dynamic patterns like manual manipulation of the `__path__` property absent a very compelling use case.

[2021-04-03 02:57] syheliel commented on #10248
@jonathanslenders: I tried the following codes and doesn't cause the crash. It seems that when using decorator `@dataclass`,  `check_overload_call` are not called, which leads to wrong argument's underreporting and causes the crash.
[code]
result:
[code]

[2021-04-03 20:52] zero323 commented on #7191
@mr-bjerre I am afraid that, after some half-hearted attempts of implementing a plug-in, I decided I could live without it. Still, I think it would be a nice thing to have in general.

[2021-04-03 23:11] hatal175 opened #10276 "Incompatible default error on generic function"
**Bug Report**

Mypy gives an Incompatible default error. I'm having trouble finding if this issue has come up before, so please close if you're familiar.

The following code (Taken from difflib.SequenceMatcher) shows the error:

from typing import Optional, Callable, Sequence
_T = TypeVar("_T")

def ff(
        self, isjunk: Optional[Callable[[_T], bool]] = None, a: Sequence[_T] = '', b: Sequence

[2021-04-03 23:40] shaunc commented on #3345
Could a integer generic be considered a generic over literals? E.g.

[code]
It would seem that allowing a generic to be bound to a literal of a type almost avoids introducing new concepts. Everywhere it could be treated as a literal whose exact value wasn't available.

[2021-04-03 23:59] hauntsaninja commented on #10276
Yeah, this is a common issue https://github.com/python/mypy/issues/3737

[2021-04-03 23:59] #10276 closed

[2021-04-04 06:21] PrasanthChettri commented on #10264
I wrote a small sample for doing the same
[code]
I think it's adequate and correct, but it makes a bunch of test cases fail, mainly it gives out
[code]
before correct testcase outputs, I don't know what went wrong, can anyone help me with this?

[2021-04-04 08:16] pasunx opened #10277 "Support call expression in function argument"
[code]

[2021-04-04 08:52] panse98 commented on #10264
Is this a problem related to only mac OS or it will arise on windows also?

[2021-04-04 09:18] PrasanthChettri commented on #10264
I believe it's for all the platforms

[2021-04-04 15:04] DevilXD opened #10279 "Support for inline disable_error_code"
**Feature**

Unless I'm doing something wrong, this appears to be currently not supported (or broken):

[code]

**Pitch**

Most other flags, work with a comment like that. This one doesn't appear so, and I'm not sure if this should be a feature request or a bug report. Constructions I tried:

[code]

The first 4 do not produce an error, but also do not work: I'm still getting `error: Self argument

[2021-04-04 17:31] AWhetter commented on #9970
This was fixed in mypy v0.800 via https://github.com/python/mypy/pull/8939

[2021-04-04 18:01] huyz commented on #8727
Another package that `install()`s into `builtins` and for which a simple solution would be useful: https://github.com/gruns/icecream

[2021-04-04 18:33] sonthonaxrk commented on #10006
@uv0xab I think what you have to do, and what I did in the extension demo that I wrote is actually load the code to compute is properties.

The limitation of my extension (other than it only being a proof on concept) is that it can't be used for functions that generate dynamic types.  So you can't have a function that generates a class with a metaclass and have that typed.  The only solution to th

[2021-04-04 18:37] #10279 closed

[2021-04-04 18:38] hauntsaninja commented on #10279
https://mypy.readthedocs.io/en/stable/error_codes.html

[2021-04-04 18:42] #9970 closed

[2021-04-05 10:04] bijij opened #10280 "Outer type guards do not apply in nested functions"
**Bug Report**

Type guards evaluated before nested function calls are ignored by the type checker.

**To Reproduce**

Create a nested function with union argument, and type guard in the outer function.
E.g. File: `test.py`
[code]

**Expected Behavior**

Type checking would pass.

**Actual Behavior**

Mypy ignores the guard in the outer function and assumes variable `item`

[code]

**Your Environm

[2021-04-05 11:58] fylux commented on #3345
Regarding the concept of using generics over literal integers as integer generics it is something that we explored in Pyre, but we faced several problems when dealing with values that are unknown. You could always restrict yourself to values that are known at compile time, but the goal is that known and unknown values can interact in a sound way.

If for example, you use integer generics for deali

[2021-04-05 15:22] ZappD0S opened #10281 "False positive for function that takes a `Callable` as a parameter and returns a `Tuple` of `Union`"
**Bug Report**

The following  code
[code]
triggers  the mypy error

at the line that I marked with a comment. I believe this is a bug as this correction makes no sense to me (of couse, I could be wrong).
I'm aware that this code is meaningless, but it's the simplest sample I was able to produce that causes the error.
From the tests that I've done it seems to depend both on the type variable being

[2021-04-05 16:19] tueda commented on #500
I think in general (or at least some cases) it is better to explicitly specify the error code that one wants to ignore by `type: ignore[<code>]`, rather than just writing `type: ignore`. But the lack of the feature to [ignore multiline code blocks](https://github.com/python/mypy/issues/500#issuecomment-63928297), `type: ignore[<code>]` consumes much space in each line, some hacky tricks may be nee

[2021-04-05 16:38] hardikkat24 commented on #4675
Hello, I wanted to ask something. I am using MyPy on a large existing codebase. I am maintaining a list of files that do not have types. How can I run the tests for all files except these files? Thanks!

[2021-04-05 16:44] micahjsmith commented on #4675
@hardikkat24 the documentation on the implemented functionality is [here](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-exclude). You should provide the list of files to the `exclude` option  explicitly or using regex.

[2021-04-05 17:25] hauntsaninja commented on #10280
https://mypy.readthedocs.io/en/latest/common_issues.html#narrowing-and-inner-functions

[2021-04-05 17:25] #10280 closed

[2021-04-05 17:49] gvanrossum commented on #3345
To me this looks like the best solution:
[code]

[2021-04-05 18:56] shaunc commented on #3345
Generics bounded by literals of types also offers a way to introduce default values and the like:
[code]
WRT arithmetic: this issue (and others similar) seem to have languished, perhaps because they are heavy lifts. I was hoping "generics bounded by literals" would suggest a path forward that would allow functionality to be added incrementally, while still providing a basis for natural extension t

[2021-04-06 01:20] FuegoFro opened #10283 "--ignore-missing-imports not working for modularized typeshed types"
**Bug Report**

Mypy does not respect the `--ignore-missing-imports` flag/`ignore_missing_imports = True` config for types that are now modularized out of typeshed (eg the [`legacy_bundled_packages`](http://github.com/FuegoFro/mypy/blob/98edc4148ac9fb3bdb601419ab2bafbac848fc6c/mypy/stubinfo.py#L4-L86)).

I don't *think* this is a typeshed bug, but let me know if you disagree and I can make an issu

[2021-04-06 04:16] erictraut commented on #10277
Mypy and other type checkers do not allow call expressions within type annotations, so this construct is considered an error. The correct formulation is to assign the TypedDict to a type alias like this:

[code]

PEP 484 does not explicitly disallow call expressions in type annotations, but it does say:

The authors of PEP 484 were wise to say that annotations should be kept simple. It's important

[2021-04-06 07:26] hardikkat24 commented on #4675
Thanks a lot  @micahjsmith

[2021-04-06 09:31] wlf100220 opened #10285 ""--follow-imports=error" is confusing"
**Documentation**
Today, when I used `--follow-imports=error` with mypy, it prompted follow errors.
[code]
This description is not clear enough.

My first feeling was that there might be some errors in the package or mypy could not find the package, or it might need passing the module to mypy(in some way) because it told that the "module not passed on command line". In fact, mypy had found it, but

[2021-04-06 17:40] FuegoFro commented on #10283
Digging into it a bit more this seems to be intentional:
https://github.com/python/mypy/blob/e46aa6df6126cf47bea97bf9f94d7cba093d0103/mypy/build.py#L2446-L2452
However even putting the more specific, non-global ignore in config (eg `[mypy-redis.*] ignore_missing_imports = True`) fails to suppress the error as long as the global `--ignore-missing-imports`/`[mypy] ignore_missing_imports = True` is s

[2021-04-06 18:10] hauntsaninja commented on #10285
Why do people love misusing this option? The documentation already strongly recommends (in boldface) the default here: https://mypy.readthedocs.io/en/latest/running_mypy.html#following-imports

If you're going to go counter that recommendation without understanding what the option does, I don't think any further amount of documentation would save you that hour.

[2021-04-06 18:10] #10285 closed

[2021-04-06 19:41] ariebovenberg opened #10287 "Union of generics not fully narrowed with isinstance"
**Bug Report**

It appears that `isinstance` checks don't narrow down the type of a union of generics completely.

I found some related issues, but none that appeared to match my case exactly. Issue #7600 may be the closest.

**To Reproduce**

[code]

**Expected Behavior**

Expect to have 2 "Statement is unreachable" errors.

**Actual Behavior**

- The version without type parameter (`x: AorB`) wo

[2021-04-06 22:00] smoofra opened #10289 "Protocol member expected instance variable, got class variable"
**Bug Report**

This program ought to be valid, because all the protocol `Foo` is declaring is that the attribute `foo` is readable and returns an `int`.   This requirement is met by `Bar`'s class variable.

[code]

However, mypy says `Protocol member Foo.foo expected instance variable, got class variablemypy`.

if you just declare `foo : int  = 42`, mypy accepts it, so clearly it understands that

[2021-04-07 01:59] wlf100220 commented on #10285
Thank you for replying. But I still think that the doc could be more explicit. Because it does confuse me and the doc is too long to read, in terms of an option. A  friendly doc would make more users. So, be as friendly as possible. Just a little advice.

[2021-04-07 23:56] alvaroq10 commented on #10264
Hi, first timer here and I have been following this problem and working on it for class in which I need to submit a pull request for an open-source project issue and I'm at a point where I expected to submit my PR for this in the next week or so. However, I see that another PR has already been submitted. Would I still be able to submit my own attempt at a solution in that timeframe and possibly re

[2021-04-08 02:03] JelleZijlstra commented on #10264
@alvaroq10 we're having trouble keeping up with PRs as is, we're unlikely to look much at a PR for a problem that already has a solution.

[2021-04-08 02:44] belm0 opened #10294 "literal NamedTuple as a type"
**Pitch**

I have an API that accepts dynamically created NamedTuple types.  I'd at least like to specify `NamedTuple` as a type hint, and have mypy allow any attribute access on top of Tuple operations.  The infinitely wider scope of `Any` isn't too attractive.  (Is there something else suitable from `typing` that I'm missing?)

[code]

[2021-04-08 02:47] JelleZijlstra commented on #10294
You could create a Protocol that has the tuple operations that you need plus a `def __getattr__(self, attr: str) -> Any:`. NamedTuple by itself doesn't make sense as a type because it's not actually a type.

[2021-04-08 03:58] belm0 commented on #10294
Thank you

I found some related issues with info:
  * https://github.com/python/typing/issues/431
  * https://github.com/python/mypy/issues/3915

[2021-04-08 11:26] opk12 opened #10297 "No "Missing return statement" if the return type's library lacks stubs"
[code]

Quoting [mypy's CLI docs](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-no-warn-no-return):

So it seems that mypy treats the externally-defined return type as a potential alias for `None` or `Any`, but this is very rare. (Even when it happens, mypy can assume it is going to be called again with the library stubs installed and there is no harm in giving an addition

[2021-04-08 12:54] srittau commented on #10242
Related issue:

[code]

Checking this with mypy@master (0.820+dev.1e96f1df48a6e06ba598fa8230b96671b206cba0) and Python 3.9 works fine, checking it with Python 3.8 fails: "foo.pyi:1: error: Unexpected '...'".

Adding `from __future__ import annotations` fixes this, but in the case of type stubs it should work in any case.

python/typeshed#5192 fails because of this.

[2021-04-08 17:46] jbrockmendel commented on #1020
pandas.Timestamp, pandas.Timedelta, and pandas.Period can all return pd.NaT, which doesn't subclass any of the three.  xref https://github.com/pandas-dev/pandas/pull/40766

[2021-04-08 18:14] #10264 closed

[2021-04-08 18:39] gustavgransbo commented on #9968
I would really appreciate some feedback in regards to this issue and my PR! @hauntsaninja

[2021-04-08 19:42] PhilReinhold opened #10298 "Using builtin list as argument to map"
**Bug Report**

Mypy emits a spurious error when using the python builtin `list` as the first argument to the python builtin `map`

**To Reproduce**

[code]

**Expected Behavior**

I would expect no error. The builtin in `list` should satisfy the expected type `Callable[[str], List[_T]]`.

(Write what you thought would happen.)

**Actual Behavior**

running mypy on this yields `error: Argument 1 t

[2021-04-08 21:01] NeilGirdhar opened #10299 "functools.partial confuses mypy's type variable binding"
[code]
gives
[code]

[2021-04-08 21:36] belm0 opened #10301 "false "not async iterable" on use of overload with async iterable"
**Bug Report**

Using typing.overload on an async iterator doesn't behave as I expected:

[code]

if I remove `async` qualifier on the overloads, it appears to work.  But that doesn't seem right...

**Expected Behavior**

no errors on correct usage

**Actual Behavior**

error on usage:
[code]

**Your Environment**

- Mypy version used: .812
- Python version used: 3.7.7

[2021-04-08 21:48] hauntsaninja commented on #10301
That's kind of unfortunate. Removing the "async" from the overloads is probably your best solution, see https://github.com/python/mypy/issues/5385#issuecomment-407281656 for some more context

[2021-04-08 22:51] william-peale opened #10302 "Value-Constrained TypeVar incorrectly narrowed down by isinstance checks"
**Bug Report**

When using a TypeVar with a value restriction to multiple classes, isinstance checks seem to incorrectly narrow down the TypeVar. Possibly connected to #10287

**To Reproduce**

[code]

**Expected Behavior**

Mypy should be able to resolve the type of the OperableT TypeVar and correctly validate the return value in the process() method.

**Actual Behavior**

Mypy instead throws a r

[2021-04-08 23:46] belm0 commented on #10301
Removing the `async` qualifier from the overloads seems sure to catch some tools off guard (IDE, etc.).

The agreed-upon solution should be clearly documented in the `typing.overload` docs so that everyone has a standard reference.

[2021-04-09 03:54] erictraut commented on #10302
I think mypy's behavior is correct in this case, although the error message is a bit confusing.

The signature for `process` indicates that the return type of this function exactly matches the type of `obj`. The `isinstance` check guarantees that `obj` is a subtype of `A`, but it doesn't guarantee that it's of type `A`. It could be a subclass of `A`, for example, so a type checker must indicate a

[2021-04-09 10:44] srittau opened #10303 "type not generic when running with Python < 3.9"
**Bug Report**

Please consider the following stub file:

[code]

When checking it with mypy 0.820+dev.1e96f1df48a6e06ba598fa8230b96671b206cba0 and Python 3.9.4, it passes. Using Python 3.8.9 on the other hand, produces the following output:

[code]

It's weird that generic `dict` works, but generic `type` doesn't. (Although I'd expect both to work with any Python version.)

This came up during py

[2021-04-09 13:39] ysachinj99 commented on #10099
hello Sir,
I am new to Google Summer Of Code.  can I contribute to your Project? I have a knowledge of Python and I Read about Mypy and which is based on python. honestly speaking I haven't worked on any open-source projects but learned few things from my colleges and Searching Around but now, I want to start my journey as a software developer and an Open Source contributor from this project. help

[2021-04-09 17:50] noah-built commented on #10302
@erictraut Thank you for the help! That makes sense, and we can switch to using `@overload` if needed. But this further example seems to resolve the subclass issue, and we still get a seemingly incorrect mypy error?

[code]

Results:
[code]

[2021-04-09 18:17] hauntsaninja commented on #10302
Yeah, see https://github.com/python/mypy/issues/7260 and https://github.com/python/mypy/issues/4445 for that one

[2021-04-09 18:38] noah-built commented on #10302
Got it -- the fact that the errors appear does make sense then, it just seems like the error messages are pretty divorced from the underlying issues.

Thanks for the help!

[2021-04-09 22:48] koenlek opened #10304 "Allow error-code specific whole-file `# type: ignore`s"
This issue is half bug report, half feature request ;)

**The issue**

Whole-file `# type: ignore` was added in: https://github.com/python/mypy/pull/6830
To my surprise, adding `# type: ignore[valid-type]` as the first line of a file doesn't do what I expected.

It does the exact same as `# type: ignore` as the first line would do, i.e. the `[valid-type]` portion is totally ignored, without printi

[2021-04-10 05:19] Ashu-1309 commented on #10099
Hello Sir,
I am 2nd year student and I am also new to GSoC . I want to contribute in your project. I did paticipation in Hacktober fest 2020 and also have idea about Python. I want to be an open source contributor so that I can help our community to to grow. I want to get knowledge about these Open source so that I can help something good for our community.

[2021-04-10 06:43] Pranav957 commented on #10099
Hello sir!
I'm pranav kulkarni I'm new to Google summer of code & want to contribute in your project. I want to contribute to open source. & Please help me to do that
I read about mypy which is based on Python, I have completed coursera course of Python from Michigan University. & I have core Python skills

[2021-04-10 20:10] MaicoTimmerman opened #10306 "Expose the proper plugin in the published mypy version"
**Feature**
The misc/proper_plugin.py is currently not packaged with mypy. Can we expose it as part of mypy itself?

**Pitch**
I think it would be wise to have a single source of truth for the proper_plugin.py. As the mypy project already uses it to validate internal plugins like the dataclasses, it should stay up to date. Some projects copy the file to their project, but that can cause confusing

[2021-04-11 16:11] erictraut opened #10309 "Should dataclass field ordering be enforced when init=False?"
Dataclasses support fields that have default values. All fields with defaults must appear after all fields without default values. Mypy enforces this ordering requirement and emits an error ("Attributes without a default cannot follow attributes with one") if it is violated. Pyright does the same.

By default, dataclasses include a synthesized `__init__` method, but this behavior can be overridden

[2021-04-11 16:30] JelleZijlstra commented on #10309
Since this works at runtime, the type checker should accept it too. Presumably this wasn't considered before since it's fairly difficult to get a useful dataclass fulfilling these conditions.

[2021-04-11 17:01] erictraut commented on #10309
Thanks @JelleZijlstra. That makes sense.

I've updated pyright accordingly, and I'll change this issue from a question to a bug.

[2021-04-11 19:36] rgommers opened #10310 "exclude key in mypy.ini as a single regex doesn't scale for larger code bases"
**Feature**

I'd like the `exclude =` in `mypy.ini` to have a saner way to specify a lot of paths that one huge one-line regex.

This is a follow-up to https://github.com/python/mypy/pull/9992#issuecomment-816985175

When trying to use `exclude` (necessary because mypy 0.800 became much more aggressive in including paths by default) I ended up with something like:
[code]
Both the `files` and `excl

[2021-04-11 19:49] wiml opened #10311 "int and float aren't understood to be PEP3141 Reals"
**Bug Report**

The [PEP3141](https://www.python.org/dev/peps/pep-3141/) numeric tower defines [types like `Real` and `Integer`](https://docs.python.org/3/library/numbers.html), but mypy doesn't understand them. In particular, even though Python knows that `isinstance(some_float_var, numbers.Real)` is `True`, mypy thinks floats are incompatible with variables declared Real.

Note that `SupportsFlo

[2021-04-11 20:03] JelleZijlstra commented on #10311
Duplicate of #3186

[2021-04-11 20:03] #10311 closed

[2021-04-11 23:00] #4610 closed

[2021-04-12 01:30] chdsbd opened #10312 "Unexpected overload match for generic class"
**Bug Report**

For a generic class with `__init__` overloads and `__get__` overloads, mypy is matching overloads unexpectedly.

**To Reproduce**

1. Run the playground: https://mypy-play.net/?mypy=latest&python=3.9&gist=a0ad74a30c7089c1aa0d9446e635ce93
2. Observe the types of `audience.usernames` and `audience.ages` are both `list[int]`

Here's the example code from the playground:
[code]

**Expe

[2021-04-12 04:42] hatal175 opened #10313 "Incompatible return type for overlapping signatures with regards to __new__"
**Bug Report**

I came up with this when trying to fix itertools.combinations in typeshed to be a class instead of function.
It seems like mypy doesn't consider Tuple[T,T] to not overlap with Tuple[T, ...] with regards to return type.

I'm not sure if this is a bug or policy, but I would think that a variable length tuple is basically a union of all set length tuples and therefore should accept th

[2021-04-12 08:58] wrvsrx opened #10314 "Maybe __all__ should be added explicitly in stubgen"
**Feature**

(A clear and concise description of your feature proposal.)

Maybe `__all__` should be added explicitly in stubgen.

**Pitch**

(Please explain why this feature should be implemented and how it would be used. Add examples, if applicable.)

Adding `__all__` to type stubs explicitly can avoid some error. For example:

├── test
│   └── __init__.py

\_\_init\_\_.py:
[code]

The type stub

[2021-04-12 12:18] #4445 closed

[2021-04-12 13:25] #9928 closed

[2021-04-12 13:51] Bharadwajsai-121 commented on #10099
Hello sir !
I'm Bharadwajsai . I'm new to Open Source contribution . I have intermediate knowledge of Python . I'm fascinated to contribute to Open source . I have read about mypy . I want to start my journey with open source contribution from here . Please help me how to get started .

[2021-04-12 14:51] #8296 closed

[2021-04-12 14:53] quantumpacket commented on #2477
Hi @micahjsmith I ended up using DeclarativeMeta as well, but I then get the following mypy error:

    Base: DeclarativeMeta = declarative_base()

Did you come across this same issue?

[2021-04-12 15:32] JukkaL commented on #10099
The application deadline is tomorrow (April 13), and it's probably too late to apply if you haven't started working on some issues by now. I'll try to respond any PRs promptly today and tomorrow so that last-minute PRs can still get at least one review cycle.

[2021-04-12 15:34] nyuszika7h commented on #6523
This does not seem to be fixed in mypy 0.812 (Python 3.9.4). Am I missing something here?

[2021-04-12 19:43] hatal175 commented on #10313
OK, my bad, I haven't researched this enough.
The issue here is that  A[Tuple[int]] and A[Tuple[int,...]] are not subtypes, which they probably aren't. However, I do want to return a single tuple when a is specifically 1 - see https://github.com/python/typeshed/blob/2ae49e130751b9404e6703abe90fe869d63ef065/stdlib/itertools.pyi#L170

[2021-04-13 01:28] goodspark opened #10317 "False negative: Tuple index out of range"
**Bug Report**

Getting a false negative on tuple indices and lengths.

**To Reproduce**

[code]

[code]

**Expected Behavior**

Expected mypy to pass. As far as I can tell, the types are correct.

**Actual Behavior**

Mypy fails with:
[code]

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: None
- Mypy configuration options from `mypy.ini` (and other config files): None

[2021-04-13 01:33] hauntsaninja commented on #10317
Duplicate of #9171 , #1178 and others (also this is a false positive :-) )

[2021-04-13 01:33] #10317 closed

[2021-04-13 02:17] #9771 closed

[2021-04-13 04:33] hatal175 commented on #10313
I think I made a mistake here with return types and covariant TypeVars. My mistake!

[2021-04-13 04:33] #10313 closed

[2021-04-13 09:51] akeeman opened #10319 "({},) is incompatible with Iterable[Mapping[str, Any]]"
**Bug Report**

`({},)` is incompatible with `Iterable[Mapping[str, Any]]` / `Iterable[Dict[str, Any]]`

**To Reproduce**

Have a file like this (`test.py`):
[code]
then, run `mypy test.py`

**Expected Behavior**

Expected to succeed:
[code]

**Actual Behavior**

Got an error:
[code]

Using more specific `Iterable`s, like `List` or `Tuple`, does not result in an error (as expected).

**Your Enviro

[2021-04-13 10:05] neutrinoceros opened #10320 "lambda expression not recognised as FunctionType, reported as Callable[[Any], Any] instead"
**Bug Report**

Very likely related to #8869 and #9934

**To Reproduce**

(Write your steps here:)

run mypy against this file
[code]

**Expected Behavior**
no errors or warnings (since `is instance(lambda x: x**2, FunctionType)` evaluates to `True`).

**Actual Behavior**

[code]

**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: None
- Mypy configuration options from `my

[2021-04-13 15:47] JelleZijlstra commented on #10320
`FunctionType` should not be used in type annotations at the moment. See #5958 and #3171 for some context.

[2021-04-13 15:47] #10320 closed

[2021-04-13 16:16] neutrinoceros commented on #10320
fair enough. Thanks

[2021-04-13 16:22] #9968 closed

[2021-04-13 17:34] JukkaL commented on #10283
I think that if we have `ignore_missing_imports = True` under `[mypy-redis.*]`, mypy should honor it, even if `ignore_missing_imports` is set globally. So that seems like something we should fix by the next public release, assuming it's technically feasible. Otherwise, we should at least document this behavior clearly, as it's pretty unintuitive.

[2021-04-13 17:44] JukkaL commented on #10250
It could be good to have a few more examples in the docs, each of which only does a fairly specific thing, and clearly explain what each example does exactly. Regular expressions are not very familiar to everybody, and they can be used in subtly incorrect ways that result in false negatives or other unexpected results.

[2021-04-13 17:49] JukkaL commented on #10279
#9440 is related.

[2021-04-13 19:46] gustavgransbo commented on #9965
I could have a go at implementing this, unless someone opposes the feature.

[2021-04-13 20:53] terencehonles opened #10325 "coverage report produces too many Anys"
**Bug Report**

When generating a coverage report there are too many `Any`s reported for lines. I've figured out how it's counting `Any`s and I may be able to help with a patch.

**To Reproduce**

1. ```python
   def test() -> str:
     value: str = getattr(test, '__name__')
     return value
[code]

[2021-04-14 12:44] antoscha commented on #4177
Is there any news on that?

[2021-04-14 13:52] JelleZijlstra commented on #4177
Doesn't look like it! If you care about this issue, feel free to submit a PR; it's unlikely to be picked up by a core team member any time soon.

[2021-04-14 15:57] jamescooke commented on #9940
@electrofelix Thanks for writing this up - I've spent a chunk of time trying to understand why disabling import checking for third party libs wasn't working when configured in `setup.cfg` :hurtrealbad:  - lots of reading the docs (stable and latest) and searching Issues didn't help.

The way I spotted the solution was by copypasting the config into `mypy.ini`, seeing the warning about `"No [mypy]

[2021-04-14 16:03] jamescooke commented on #9940
Would it be a reasonable solution to remove the exception statement from the documentation for now? https://github.com/python/mypy/commit/22ac062601c1954793d51807e1a168f61f8be5c2

[2021-04-15 09:45] DevilXD opened #10327 "List is compatible with Sequence, but incompatible with MutableSequence"
**Bug Report**

`typing.List` appears to be compatible with `typing.Sequence`, but not `typing.MutableSequence`, making it impossible to annotate a function that would accept a list, and then mutate it (see repro below).

**To Reproduce**

[code]

**Expected Behavior**

The `func3(my_list)` call in the repro above, to type check correctly (no error).

**Actual Behavior**

An error - see repro abov

[2021-04-15 10:28] moi90 commented on #1020
@gvanrossum I have a use case for this: In my library [MorphoCut](https://github.com/morphocut/morphocut/), a computational graph is constructed of individual processing nodes. For the readability of the code, it would be really great to instantiate a node but getting something else instead of the instance object.

Here is a coarse sketch:

<details>
<summary>Expand</summary>

[code]

(In reality,

[2021-04-15 14:58] hynek opened #10328 "attrs plugin: support the auto_detect option"
**Feature**

attrs has had an option to automatically detect dunder methods that are directly on the current class. It's called `auto_detect` and is off by default in old-school APIs (attr.s/attrs) and on in NG (define).

mypy currently doesn't support that.

**Pitch**

This feature is really nice at preventing a common gotcha of writing an own method and forgetting to set `init=False` and attrs s

[2021-04-15 15:13] BoniLindsley opened #10329 "Handling module names ending with `__init__`"
**Bug Report**

Attempts to find type hints that import package submodules whose names end with `__init__` seem to prevented. An example being `test/test__init__.py`, with double underscores on both ends.

**To Reproduce**

I tried to create a script for this, but roughly, it does the following:

1. Create a package directory.
2. Create some `*__init__.py` and `__init__.py`. Some other combination

[2021-04-15 15:15] erictraut opened #10330 "Module-level `__annotations__` variable is flagged as undefined"
To repro, run mypy on the following:

[code]

[code]

A pyright user recently noted [the same issue in pyright](https://github.com/microsoft/pylance-release/issues/1161), which I have fixed.

[2021-04-15 15:30] DevilXD commented on #10304
Looks like a duplicate of #9440

[2021-04-15 15:48] KaleabTessera commented on #9852
I have a similar issue, any new info on this?

[2021-04-15 15:50] brandtbucher commented on #10327
I think you want `MutableSequence[X]` in the `foo3` annotation.

Note that `MutableSequence[Union[X, Y]]` is *not* the same thing as `Union[MutableSequence[X], MutableSequence[Y]]`. Similarly, `List[Union[X, Y]]` (a list that may contain both `X`s and `Y`s) is not the same as `Union[List[X], List[Y]]` (either a list containing only `X`s, or a list containing only `Y`s).

The reason for this is tha

[2021-04-15 16:02] JelleZijlstra commented on #10327
@brandtbucher is right; this is expected behavior due to variance.

[2021-04-15 16:02] #10327 closed

[2021-04-15 16:04] JelleZijlstra commented on #10329
There's probably an incorrect `endswith("__init__")` check somewhere. This should be easy to fix once you find it (I'd grep for `__init__` in the source code), so feel free to submit a PR!

[2021-04-15 19:20] hauntsaninja commented on #10330
Thanks, fixable along the lines of https://github.com/python/mypy/pull/9454/files

[2021-04-15 20:03] koenlek commented on #10304
Mostly duplicates. But this focusses on code comments (applying to the whole file), rather than achieving this through the mypy ini file (though both aren't possible at this time). Perhaps we can extend the discussion in #9440 to cover support on file-level too?

Perhaps once we support:
[code]

We could easily support something like this in files too? Though file-level != module-level so that cou

[2021-04-15 20:11] Axeinator commented on #10330
I can take a look at this.

[2021-04-15 21:19] Axeinator commented on #10330
I can take a look at this.

[2021-04-15 21:57] rodo-hf commented on #1178
If your list to unpack is never greater than your left side and you know how many variables are on the left side, then you can do this (assuming there are 5 variables on the left side):
[code]

[2021-04-16 00:45] BoniLindsley commented on #10329
Thank you for your advice. You are spot on in regards to the method used in the condtion check!

I found one relevant to my specific case. Using `os.path.basename(path) in ('__init__.py', '__init__.pyi')` instead in the following snippet allows my Bash script test to pass.
<https://github.com/python/mypy/blob/2ac722ac7d844f4c5ae2f3c36f3470543cf01b11/mypy/modulefinder.py#L494-L497>
A problem here i

[2021-04-16 06:23] KaleabTessera commented on #7203
I am having a similiar , any progress on this ?

[2021-04-16 07:16] ethanhs commented on #31
I think a potentially easy way to accomplish this would be to use something like https://github.com/agronholm/sphinx-autodoc-typehints but instead of pulling types from the stdlib sources, pull them from typeshed.

Though I also think being able to search a type from the mypy command line would be very handy, and not too difficult to accomplish (famous last words).

[2021-04-16 08:05] hauntsaninja commented on #31
IMHO, the best experience for this kind of thing is having it in IDE. Pyright/Pylance in VSCode is currently working really well for me (get types on hover / as suggestions as you type + go to definition). Unless it's something you want to work on, I vote we just close this issue.

[2021-04-16 08:55] ethanhs commented on #31
There are plenty of people who don't use IDEs that provide type information. And even though I use such a program I often wish I could look at the type signature when looking at the Python docs.

That being said I think a web based solution is best, so I don't think we need to make this a mypy issue.

[2021-04-16 08:55] #31 closed

[2021-04-16 09:21] ZeeD opened #10332 "loop over literal tuple of final lose type"
example file:

[code]

expected behavior:

[code]

actual behavior:

[code]

[2021-04-16 21:22] rben01 commented on #6244
If `@abc.abstract{class,static}method` is deprecated then I think Mypy should suggest the correct form, `@{class,static}method @abstractmethod`

[2021-04-17 18:34] antonagestam opened #10336 "Unstable error output for overload violation"
**Bug Report**

Using pytest-mypy-plugins to [add type checks for py-moneyed](https://github.com/py-moneyed/py-moneyed/pull/162/files#diff-8bc94a3006768345d17c827c0bb5840e6e4daee6de1c2b1ea672f53f162d171dR8-R9), I stumbled into an issue where mypy produces different output depending on whether or not the cache is populated. The tests check that trying to instantiate `Money` without providing a `cur

[2021-04-17 20:25] Lambda-Logan opened #10337 "inner class of NamedTuple triggers "Invalid statement""
This will show an error.
[code]

However, this works fine:

[code]

mypy 0.761
Python 3.8.5 (default, Jan 27 2021, 15:41:15)
[GCC 9.3.0] on linux

[2021-04-18 13:00] b0g3r commented on #7771
@yowsa in my case it fixed with explicit `TERM=xterm-color` as environment variable in pycharm run configuration

[2021-04-18 17:24] johanvergeer opened #10339 "str not recognized as Iterable[Literal[T]]"
**Bug Report**

I have a function taking in an `Iterable` of movements, which are defined as `Literal` strings.

[code]

But an error is thrown when I call this function with a `str` only containing the allowed characters.

[code]

[code]

Everything is fine when I call the same function with a list of `str`:

[code]

[code]

**To Reproduce**

1. Copy the function above
2. Copy the call to the fun

[2021-04-19 00:26] fpdotmonkey opened #10340 "Cannot assign an `Optional[float]` to a `float`"
I have the class below which can optionally take a tuple, which itself optionally has float members, so `(1.0, 2.0)`, `None`, `(1.0, None)`, etc are all valid inputs.

I do checking in the class to see if `None` has been input, and ignore the input in those cases, but mypy is saying `Optional[float]` and `float` are incompatible for these assignments.

How can I specify to mypy that I've done my d

[2021-04-19 02:19] JelleZijlstra commented on #10340
The problem here is that mypy doesn't do type narrowing on `bounds[0]`. Here's a shorter example to demonstrate that:
[code]

There are some similar existing issues like #7339, but Ivan's comments on that issue suggest that `tpl[0]` should work for type narrowing.

[2021-04-19 02:22] hauntsaninja commented on #10340
If you rephrase your check as `bounds[0] is not None`, it works

[2021-04-19 06:29] fpdotmonkey commented on #10340
Ok this works.  It does seem unpythonic to disallow truthiness, but whatever works.

[2021-04-19 06:41] hauntsaninja commented on #10340
Yeah, definitely a bug / am sort of surprised by this

[2021-04-19 07:20] hauntsaninja commented on #10116
List of potential issues to discuss pre-release:
- https://github.com/python/mypy/issues/10283
- https://github.com/python/typeshed/pull/5229#issuecomment-822234125

[2021-04-19 16:22] reinderien commented on #9168
Related: this code should pass -

[code]

since the key type is adequately constrained; but fails with

[code]

[2021-04-19 16:37] Akuli commented on #10337
Are you sure this is a bug? [The NamedTuple docs](https://docs.python.org/3/library/typing.html#typing.NamedTuple) say "docstrings and methods", without a mention of nested classes.

[2021-04-19 16:40] Akuli commented on #10332
Duplicate of #9230

[2021-04-19 16:47] JelleZijlstra commented on #10337
At runtime it does work in 3.9, but in 3.6 the inner class just disappears. I'm not sure that's on purpose. I added runtime support for NamedTuple methods in 3.6 I believe, but perhaps a change since then made nested classes also work.

[2021-04-19 19:25] #10332 closed

[2021-04-20 04:00] bzoracler opened #10342 "Allowing `typing.NoReturn` as a return hint for `__init__` methods"
**Feature**

Allow [`typing.NoReturn`](https://docs.python.org/3/library/typing.html#typing.NoReturn) as a return hint for `__init__` methods, instead of constraining it to just `None`.

**Pitch**

The following is valid Python code:

[code]
[code]

Many projects using [`Boost.Python`](https://github.com/boostorg/python) will employ its option to define classes exported to Python which *aren't mea

[2021-04-20 04:13] JelleZijlstra commented on #10342
This also recently came up in https://github.com/python/typeshed/pull/5137#discussion_r609791521. Annotating `__init__` as `NoReturn` seems like a reasonable way to indicate that a class cannot be instantiated.

[2021-04-20 10:46] anikolaienko opened #10343 "mypy error `Too many arguments for "object"` for creating instance of a Type with arguments"
Consider the code:
[code]

Why am I getting `Too many arguments for "object"` error when passing arguments to `target_class()` and how to avoid this error?

[2021-04-20 15:22] DevilXD commented on #10194
It looks like this is intended to work like that, based on the Python documentation (and PEP 484):

[2021-04-21 07:48] CmdQ opened #10348 "Unpacking int arguments to datetime.datetime gives a complaint about tzinfo"
**Bug Report**

mypy complains about this line of code. First I don't understand why and second I cannot bring it to accept it, even when including `tzinfo=None` in the parameter list.

[code]

Why does mypy think `tzinfo` would already be used, it cannot be from a `List[int]`. The behavior when running is as expected.

The helper function is annotated like this:

[code]

**To Reproduce**

(Write

[2021-04-21 21:02] #10253 closed

[2021-04-21 21:24] NeilGirdhar commented on #10194
@DevilXD How does that explain the revealed type being `Any` in the original example?

[2021-04-22 00:58] spaghEddieDoyle opened #10353 "Class with attribute function thinks first argument is self"
**Bug Report**

I find this very similar to issue #5485.

I found myself using this flavor of idiom so as to not repeat myself when implementing comparison operations, etc.

**To Reproduce**

[code]

**Expected Behavior**

No error

**Actual Behavior**

[code]

I tried to annotate `id_getter: ClassVar[Callable[[Dict], Tuple[int, int, str]]]` but just got back an additional error
[code]

**Your Env

[2021-04-22 08:46] DevilXD commented on #10194
This adds a lot of complexity. Right now, it's quite simple - look at all the overloads, and figure out the one matching, and use that. Once you get into "process all overloads to see if every possibility is covered", it gets unnecessarily complex.

Again, adding an overload like this, is the way to go, even if it feels like boilerplate code ¯\\\_(ツ)\_/¯

[2021-04-22 09:31] NeilGirdhar commented on #10194
@DevilXD Makes sense, I agree :smile:

[2021-04-22 09:47] vepain opened #10356 "abstractstaticmethod false positive"
**Bug Report**

False positive error `Method must have at least one argument` for `abc.abstractstaticmethod` decorator.

**To Reproduce**

- MWE:
[code]

**Expected Behavior**

No error

**Actual Behavior**

`mypy(error): Method must have at least one argument`

**Environment**

- Mypy version used:
[code]
- Mypy command-line flags:
[code]
- Mypy configuration options from `tox.ini` (and other con

[2021-04-22 09:51] MarcoGorelli commented on #10194
closing as it seems that `bool` isn't the union of `Literal[True]` and `Literal[False]` in any case, it's not an overload-specific thing:

[code]

[2021-04-22 09:51] #10194 closed

[2021-04-22 12:28] ahopkins commented on #4660
Same on **Python 3.9.3** and **mypy 0.812**

[2021-04-22 14:16] vikahl opened #10357 "Crash involving member type aliases"
Mypy crashes with INTERNAL ERROR when run on the file below.

**Traceback**

[code]

**To Reproduce**

Minimal working file

[code]

**Your Environment**

- Mypy version used: 0.820+dev, 0.820
- Mypy command-line flags: None
- Mypy configuration options from `mypy.ini` (and other config files): None
- Python version used: 3.6.13, 3.9.4
- Operating system and version: Linux Debian bullseye/sid

[2021-04-22 15:05] DevilXD commented on #10194
I think it is an overload-specific thing - actually a bug even. `Union[Literal[True], Literal[False]]` should be compatible with `bool`, in every case. This isn't the same issue you've originally reported though, as it's been established that having to add an explicit overload is by design - the type-checker won't "combine" overloads, to figure out the type, nor take the final definition typing in

[2021-04-22 17:00] MarcoGorelli commented on #10194
Not sure what you mean here - it does take unions:
[code]

[2021-04-22 17:11] DevilXD commented on #10357
Can you provide the exact version `mypy -V` returns? It should look something like:
`mypy 0.820+dev.2ac722ac7d844f4c5ae2f3c36f3470543cf01b11`

[2021-04-22 17:22] MarcoGorelli commented on #10194
It's behaving as documented here https://mypy.readthedocs.io/en/stable/more_types.html#type-checking-calls-to-overloads:

The reason this doesn't happen in the example I originally posted is that `bool` isn't the union of `Literal[True]` and `Literal[False]`.

I think they were referring to when the parameter you're overloading has parameters which comes before it which take defaults, see [here](h

[2021-04-22 18:49] bersbersbers opened #10358 "False-positive "Name '...' already defined"
**Bug Report**

[code]

**To Reproduce**
`mypy bug.py`

**Expected Behavior**

No error.

**Actual Behavior**

[code]
**Your Environment**

- Mypy version used: 0.812
- Mypy command-line flags: none
- Mypy configuration options from `mypy.ini` (and other config files): none
- Python version used: 3.8.9
- Operating system and version: Linux

[2021-04-22 22:18] hauntsaninja commented on #10357
Thanks for the report, can repro with 0.812 and master. Possibly related to https://github.com/python/mypy/issues/9908

[2021-04-22 22:23] hauntsaninja commented on #10357
Yeah, so I think the issue is with member type aliases that don't alias to a concrete type. I have a dumb fix, let's see if it causes any regressions...

[2021-04-22 22:30] hauntsaninja commented on #10357
Fwiw, I think your code meant to do `CUSTOM_ATTRIBUTE: Optional[str]`

Here's a smaller repro:
[code]

[2021-04-23 07:53] Murtagy commented on #5466
Might be relevant to someone https://stackoverflow.com/a/67225994/10187000

[2021-04-23 08:32] JukkaL commented on #3644
This seems like another example of this issue (reported by a coworker):

[code]

[2021-04-23 10:34] surkova commented on #10167
@JukkaL any news regarding this?

[2021-04-23 11:07] graingert opened #10360 "importing google.cloud.logging causes untyped modules in the namespace to be considdered missing"
**Bug Report**

**To Reproduce**

with the mypy config:
[code]

and the .py file:

[code]

**Actual Behavior**

I get

[code]

however if I comment out:

[code]
Success: no issues found in 1 source file
[code]

[2021-04-23 12:02] graingert commented on #10360
this is also annoying when `from google.cloud import logging` is imported in a different file, because the `has no attribute "bigquery"` error isn't present when using incremental

[2021-04-23 14:52] amrit110 commented on #10266
Hi, Can I take this on? It's my very first issue! From what @domdfcoding has investigated, it seems that for py3.9, we can remove the constraint that the slice which is an `ast.Tuple` node not contain `ast.Slice` nodes. Looking at https://docs.python.org/3/library/ast.html#subscripting, I was wondering why that check was there in the first place since it says "It can be a Tuple and contain a Slice

[2021-04-25 01:07] bwo opened #10366 "impossible to type `__prepare__` if metaclass inherits from `type`"
and the error messages are impenetrable.

Suppose you have this file:

[code]

mypy run:

[code]

But … the "revealed type" *is* the type I gave it? (The second reported parameter, `builtins.tuple[builtins.type]`, is reported incorrectly; if you try to give that parameter *that* type, you get this message:
[code]

, so the "revealed type" is clearly not *quite* right.)

Ok, let's look in typeshed:

[2021-04-25 05:17] AivanF commented on #5363
This is an old issue, but I consider it actual. I like the proposal of gwk, it looks pretty clear and straightforward. Here is another problem that can be solver the this feature.

Some libraries & frameworks provide many handy yet complex classes, but still don't support typing. A simple workaround is to override the required classes and specify the properties you need, then use your overridden c

[2021-04-25 06:08] hauntsaninja commented on #5363
A better approach for that kind of issue is writing your own type stubs for those classes.

[2021-04-25 14:31] Volker-Weissmann opened #10368 "--install-types flag does not exist"
**Documentation**

In the [documentation](https://mypy.readthedocs.io/en/latest/running_mypy.html#missing-imports) you say that mypy accepts a `--install-types` argument. Nope:

[code]

[2021-04-25 14:47] ethanhs commented on #10368
Duplicate of  #10249

This flag will be included in 0.900 #10116

[2021-04-25 14:47] #10368 closed

[2021-04-25 16:32] guruyaya opened #10369 "Report a missing function that is not missing in pandas"
Code In a file named testmypy.py goes like this:
`import pandas as pd
a = pd.DataFrame([ ['A', 1, 2], ['B', 2, 3] ], columns=['0', '1', '2'])
y = pd.Series([3,4])

y.groupby(a['0']).mean()

print (y)`
**Expected Behavior**
No error should be reported, as groupby is a valid method for pandas series

**Actual Behavior**
testmypy.py:5: error: "Series[int]" has no attribute "groupby"

**Your Environme

[2021-04-25 17:34] JelleZijlstra commented on #10369
Mypy itself doesn't know anything about pandas, and pandas itself apparently doesn't provide types. You may have installed some incomplete stubs package for pandas.

[2021-04-25 18:48] #10369 closed

[2021-04-25 20:18] MarcoGorelli opened #10371 "List comprehension with TypedDict fails type checking"
**Bug Report**

(A clear and concise description of what the bug is.)

**To Reproduce**

I've made a file `t.py`:

[code]

**Expected Behavior**

(Write what you thought would happen.)

Without the list comprehension, it works fine:
[code]

**Actual Behavior**

[code]

**Your Environment**

- Mypy version used: mypy 0.812
- Mypy command-line flags:
- Mypy configuration options from `mypy.ini` (and

[2021-04-26 06:23] Denis-Step opened #10372 "Cannot cast str to Literal["foo", "baz"]"
[code]

`error: Incompatible types in assignment (expression has type "str", variable has type "Union[Literal['MALE'], Literal['FEMALE'], Literal['ALL']]")`

This does not work with cast either... Shame.

mypy -V : 0.812
python -v: 3.9.1

[2021-04-26 07:20] hauntsaninja commented on #10372
Your snippet works fine. Ask on gitter for more help.

[2021-04-26 07:20] #10372 closed

[2021-04-26 11:22] embray commented on #8545
:+1: for this.  I am using some packages that are fully typed and are PEP-561 compatible in principle (they have a `py.typed`) but due to a packaging bug (third-party package, outside my control) were missing the `py.typed` file when installed.

I can of course work around it by creating the `py.typed` file in the `site-packages/<package_name>` but it would be more convenient if I could tell mypy

[2021-04-26 22:36] spaghEddieDoyle opened #10374 ""FileHandler" has no attribute "set_name""
**Bug Report**

I have looked in the `logging` standard library and to me it seems that `FileHandler` has a standard mro, inheriting `set_name` from `Handler`, yet `mypy` complains:

**To Reproduce**

[code]
[code]

**Expected Behavior**

No error

**Your Environment**

[code]

No configuration files, flags, etc.

[2021-04-27 06:50] abhiabhi94 opened #10375 "Types of inheritanced class attributes aren't detected"
**Bug Report**

`mypy` doesn't detect type of inherited class variables.

**To Reproduce**
[code]

**Expected Behavior**

The type of `B.a` should ideally be inferred from the parent class `A`.

**Actual Behavior**

I get an error on the line where I initialize the attribute inside the class `B` with the message `error: Need type annotation for 'a' (hint: "a: List[<type>] = ...").`

This works if

[2021-04-27 20:07] egh opened #10376 "Inconsistent results with from `google.cloud.secretmanager`"
**Bug Report**

mypy reports an error every other time when importing this library.

**To Reproduce**

(Write your steps here:)

1. `mkdir test_mypy && cd test_mypy`
2.
[code]
3.
[code]
4. `pipenv install --dev`
5. `pipenv run mypy .`

**Expected Behavior**

Consistent failure or success.

**Actual Behavior**

Every other time I get
[code]
And every other time I get:
[code]

**Your Environment**
-

[2021-04-27 20:09] hauntsaninja commented on #10376
Thanks for the report, I assume this is the same as https://github.com/python/mypy/issues/9852
Not at all ideal, but you can use `--no-incremental` to work around this

[2021-04-27 20:09] egh commented on #10376
Not sure if https://github.com/python/mypy/issues/10360 is related but I've seen that issue too

[2021-04-27 20:10] egh commented on #10376
Thank you! I searched but didn't see that. That does fix it. Closing.

[2021-04-27 20:10] #10376 closed