[2020-02-07 13:50] ilevkivskyi commented on #8128
Just to double-check, did you try it on master? There is a chance https://github.com/python/mypy/pull/8258 fixed this.

In any case, unfortunately I will not have time to work on this.

[2020-02-07 16:47] elprans commented on #8128
@ilevkivskyi #8258 does seem to solve the simple case in https://github.com/python/mypy/issues/8128#issuecomment-581675024, but not the original issue reported here.

[2020-02-07 17:40] kylebebak commented on #2400
@lilydjwg

Just ran into essentially this bug in my code. I'd say it's not just related, it's the same thing. The exception raised is an `UnboundLocalError`.

[2020-02-07 22:57] msullivan commented on #8378
This requires a much more elaborate system of predicate and control flow tracking than we are likely to support. Sorry!

[2020-02-07 22:57] #8378 closed

[2020-02-07 23:06] #5836 closed

[2020-02-07 23:09] msullivan commented on #8360
Could you try to produce a standalone test case for me to run somehow?

[2020-02-07 23:11] msullivan commented on #8359
I'd be happy to review a PR if you send one!

[2020-02-08 00:18] msullivan commented on #8367
To make it a property, you need to write
[code]

That should work.

[2020-02-08 00:18] #8367 closed

[2020-02-08 00:44] msullivan commented on #8362
The same thing happens even without async, and is for better or worse just how mypy is. I don't think we're going to track which methods change types and process that.

Is it particularly worse in the async case?

[2020-02-08 00:44] #8362 closed

[2020-02-09 02:23] jirassimok commented on #8320
The problem appears to be that whatever check is used to detect recursive types does not run when analyzing type variables.

This seems to happen when a type variable is bounded or constrained by a recursively-defined type.

[code]

This generates the error with every generic type constructor I tried, as well as  `class R(R): ...`. It also works using a type variable constrained (rather than bound

[2020-02-09 03:20] akdor1154 commented on #6701
Here is another vote for allowing a NewType from Any - with the reality of many libraries still lacking type stubs, allowing my to NewType their classes (which mypy thinks are Any) is a basic sort of safety feature that would really help me. Is there any chance of this happening? Or any workaround that anyone has discovered?

[2020-02-09 06:21] Macavitycode commented on #8372
May I take this up as my first contribution?

[2020-02-09 12:12] brianmaissy commented on #8309
@JukkaL did you get a chance to consider this use case?

[2020-02-09 17:20] ayushr2 opened #8383 "MyPy does not work well with Unions"
MyPy complains with the following code:
[code]

The error is:
[code]

So even though we convert the variables to a specific type, MyPy still thinks that it is of type Union.

[2020-02-09 22:26] w-p commented on #5382
Hit this today, inconsistently, in several places. I can confirm that adding an explicit `Dict[str, Any]` resolves the issue but it's still unclear why.

[2020-02-10 10:48] briggySmalls commented on #2929
If this is fixed, how do I use it? where is it documented @msullivan?

[2020-02-10 12:52] strokirk opened #8385 "Add ReturnType-like utility for getting function return types"
*This is a feature request, so if there is a way to achieve this already, please point me and future me in the right way.*

In TypeScript, if can use the [`ReturnType`](https://github.com/python/mypy/issues/4409) utility type to get the return type of a function to reuse in other places. This is very useful to make the code short, readable, and easy to change if necessary, especially in cases wher

[2020-02-10 13:26] ottmihkel opened #8386 "Overriding a property with method is not flagged"
I recently ran into an issue by accidentally omitting a @property decorator when overriding a property, like eg:

class A:
    @property
    def foo(self) -> bool:
        return True

class B(A):
    def foo(self) -> bool:
        return False

b = B()

bool(b.foo)
True

Wouldn't it make sense to have mypy emit a warning, at least optionally?

[2020-02-10 16:15] JelleZijlstra commented on #8385
PEP 612 (https://www.python.org/dev/peps/pep-0612/) may cover some of your use case.

[2020-02-10 17:15] Michael0x2a commented on #8383
This is because mypy does not support type narrowing based on expressions of the form `if type(var) == T`. You need to do `if isinstance(var, T)` instead.

https://github.com/python/mypy/issues/7260 has some more related discussion.

[2020-02-10 17:16] #8383 closed

[2020-02-10 17:20] Michael0x2a commented on #8264
It looks like this was fixed by https://github.com/python/mypy/pull/8368, which landed a few days ago.

[2020-02-10 17:20] #8264 closed

[2020-02-10 17:40] ayushr2 commented on #8383
Thank you so much, that fixed the issue.

[2020-02-10 22:32] dosisod commented on #8264
I have mypy installed from the master branch, yet these errors seem to still be present:

[code]

[2020-02-10 23:15] msullivan commented on #8376
Moving out below the namedtuple also makes it work. That is *deeply* weird.

Some semantic analyzer weirdness I think.

[2020-02-11 00:35] Michael0x2a commented on #8264
@dosisod -- I don't seem to be able to repro. Running the following example against the same mypy checkout you're using results in no errors and a revealed type of `pathlib.Path` for me:

[code]

Maybe try clearing your mypy cache?

[2020-02-11 00:51] dosisod commented on #8264
This fixed my problem, thanks.

[2020-02-11 12:02] MSK61 opened #8389 "How can I use tuple as a converter to attr.ib without upsetting mypy?"
I originally had this question on stack overflow almost a week ago https://stackoverflow.com/questions/60029635/how-can-i-use-tuple-as-a-converter-to-attr-ib-without-upsetting-mypy. As I haven't received any answers for it, I've decided to post it here in the hope that someone may know how it should be addressed.

When I try to run mypy against this code
[code]
I get the following error message:

[2020-02-11 13:45] hackaugusto opened #8390 "`isinstance` inference seems to only work if done in the `namedexpr_test`"
Note: if you are reporting a wrong signature of a function or a class in
the standard library, then the typeshed tracker is better suited
for this report: https://github.com/python/typeshed/issues

Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?

I believe this is a bug.

* Please insert below the code you are checking with

[2020-02-11 18:24] jbcpollak commented on #8367
@msullivan  - doesn't that make a property of TaskSpec called `factory` that returns an object of type `TaskFactory` when called?

ie, `mySpec.factory()(self, ['string1', 'string2'])`?

what I'm looking for is to be able to do:

`mySpec.factory(['string1', 'string2'])`

where I know `factory` will typecheck as a TaskFactory.

[2020-02-11 19:56] cbows opened #8391 "TypeVar bound to Protocol behaves wrong around decorators"
# Bug report

I am experiencing the following behaviour:

[code]

## Expected behaviour

If I am correct, both examples (`foo`, `bar`) should be fine.

## Version

[code]
Same behaviour on current master (1104a9f)

## Extra flags
I am using default mypy settings.

[2020-02-11 23:57] benknoble commented on #7360
A bit late, but can you explain the difference between these?

[code]

The first three seem to say "no type information"—the last says "no module" (to
my interpretation).

This is a run in a `python3 -m venv` setup, where I have definitely installed
all of these, including imblearn:

[code]

[2020-02-12 02:22] Zac-HD opened #8392 "Suggestion: more precise inference when all elements are of same generic type"
Consider the following cases:

[code]

Inferring the most precise type which is a parent of all the element types makes sense, but IMO the element type of `nested` should be inferred to be `List[object]` instead of `object`.

-------------

I'm using `List` here as a placeholder for any generic type - this is really more of an issue for things like Hypothesis strategies such as `fixed_dictionaries

[2020-02-12 07:53] hauntsaninja commented on #8373
I'd be interested in adding support for PEP 612. I'll take a look at the pyre implementation this weekend, re-read the PEP, and scope out a plan.

[2020-02-12 09:35] ggirelli commented on #2900
How about `Dict[str, Any]`?

[2020-02-12 10:20] bluetech commented on #8338
This is due to the `no_implicit_reexports = True` setting. According to its [rules](https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-no-implicit-reexport), `Depends` is not considered reexported.

To be compatible with the flag, `fastapi` should either use `__all__` or use `from .param_functions import Depends as Depends` etc.

[2020-02-12 11:02] jonasrauber opened #8393 "False positive when decorating (e.g. with @final) an overloaded method in a subclass"
## Example

[code]

* What is the actual behavior/output?

[code]

* What is the behavior/output you expect?

No error. (without the `@final` it works)

* What are the versions of mypy and Python you are using?

mypy 0.761, Python 3.6

## Second example (without `@final`)

[code]

Same error like the first example.

## Workaround

Only known workaround is adding `type: ignore`

[2020-02-12 11:02] JukkaL opened #8394 "Incorrect join of str and subclass of unicode"
Joins of `str` and a subclass of `unicode` (in Python 2) are calculated inconsistently:

[code]

This is probably caused by the promotion from `str` to `unicode` being handled differently depending on the order of the join operands.

[2020-02-12 11:03] JukkaL commented on #8373
@hauntsaninja Great! If you have any questions, I'm happy to help.

[2020-02-12 17:23] JarnoRFB opened #8395 "Treat methods on protocols with empty bodies as abstract"
When declaring a protocol it is suggested in the [documentation](https://mypy.readthedocs.io/en/stable/protocols.html#simple-user-defined-protocols) that method that have to be defined in implementations of that protocol can be marked with `...` and I find this syntax quite pretty. However, currently the `...` is treated as a default implementation. Which can lead to confusing behavior. An example

[2020-02-12 19:08] jbcpollak commented on #4351
ran into the same problem while using DataClasses and the Dataclasses_json library:

[code]

[2020-02-12 22:31] damianw opened #8397 "Internal error analyzing generic protocol with nested class"
Mypy crashes when analyzing a generic protocol with a nested class, up to and including the latest version from Git master (`770276d70c3892f4154be85b96ec028705941184`).

## `test.py`
[code]

## Command
`python3.8 -m mypy --show-traceback test.py`
(default configuration)

## Output
[code]

[2020-02-12 22:37] ilevkivskyi commented on #8397
This is essentially a duplicate of https://github.com/python/mypy/issues/6393

[2020-02-12 22:37] #8397 closed

[2020-02-12 22:38] ilevkivskyi commented on #6393
An even simpler repro of this problem is in https://github.com/python/mypy/issues/8397

[2020-02-12 22:41] terencehonles opened #8398 "[override] adding non optional keyword only argument to child class errors"
When subclassing and overriding a method, there is an "[override]" error when adding non optional keyword only argument. This can be reproduced with the following (`mypy==0.761` & `master` using defaults):

Broken example:

[code]

[code]

Note this **does** work with an optional keyword argument:

[code]

[code]

[2020-02-12 22:51] ilevkivskyi commented on #8398
Well, this is an obvious violation of LSP:
[code]
(also clearly making `extra` optional makes this safe again)

[2020-02-12 22:51] #8398 closed

[2020-02-12 22:53] ilevkivskyi commented on #8398
Btw the formatting in `reveal_type()` is weird, but this is unrelated, and IIRC we already have an issue about this somewhere.

[2020-02-12 22:55] ilevkivskyi commented on #8395
This is essentially a particular case of https://github.com/python/mypy/issues/2350

(Btw I wanted to fix this at some point but decided it is not worth it)

[2020-02-12 22:55] #8395 closed

[2020-02-12 22:59] ilevkivskyi commented on #8390
It is unlikely this will be supported in foreseeable future, sorry.

[2020-02-12 22:59] #8390 closed

[2020-02-12 23:09] ilevkivskyi commented on #8392
We can probably special case list and dict literals somehow. I don't think there exists a deterministic algorithm that would infer such types consistently.

[2020-02-12 23:11] ilevkivskyi commented on #8386
This is essentially a duplicate of https://github.com/python/mypy/issues/7565

[2020-02-12 23:11] #8386 closed

[2020-02-12 23:11] ilevkivskyi commented on #7565
Note that the "reverse" override causes a false negative as well, see the example in https://github.com/python/mypy/issues/8386

[2020-02-12 23:18] ilevkivskyi commented on #8391
FWIW this is actually a legitimate error because `Callable[[Iterable[str]], Any]` is _not_ a subtype of `Callable[[Iterable[Hashable]], Any]` because argument types in callables are contravariant, you can read some docs about this, see https://mypy.readthedocs.io/en/stable/generics.html#variance-of-generic-types

[2020-02-12 23:18] #8391 closed

[2020-02-12 23:20] ilevkivskyi commented on #8391
Oh, the second example is a bit different, it is still technically unsafe, but we might well allow such things see https://github.com/python/mypy/issues/5876

[2020-02-13 09:47] cbows commented on #8391
Ah, thank you. I understand now.

However, how do I behave correctly in this kind of situation? The decorator should only accept functions that have an iterable of hashable objects as first argument, so `Iterable[str]`, `Iterable[int]` and custom objects that implement `__hash__` should all be accepted.

[2020-02-13 11:54] ilevkivskyi commented on #8391
For this you would probably need type variables with lower bounds. I think this was proposed before but is unlikely to be implemented in foreseeable future. So you can only use `Iterable[Any]`.

[2020-02-13 15:57] MikiGrit opened #8399 "Running mypy for file in directory starting with "@" fails"
I have a problem with running mypy for a file inside directory starting with `@`.

E.g. running `mypy @somedir/script.py` fails with
[code]

while running `mypy script.py` is fine.

Thanks for help.

[2020-02-13 17:50] TH3CHARLie commented on #8321
No more failures in recent builds due to updates on readthedocs side. So I think it's reasonable to close this now. @gvanrossum

[2020-02-13 19:56] DevilXD commented on #6580
I don't get this whole issue, overload typings shouldn't include default arguments - what if someone specifies different defaults across multiple overloads?

The overload decorator specification itself says that an unannotated function declaration should immediately follow the overloaded variants, hence why this should be correct:

[code]

The only problem is that MyPy doesn't seem to look at the

[2020-02-13 21:35] llchan commented on #6580
@DevilXD yes, your last sentence is essentially the crux of this problem.  Without a mechanism to propagate defaults into the overloads, we need to include defaulted-ness in the overload signatures.  However, this leads to "incompatible return types" issues, and furthermore we can't specify literals without defaults after defaulted arguments.  The only way to solve this currently is to manually de

[2020-02-13 22:07] jcrben opened #8400 "<directory> is not a valid Python package name"
Note that this message appears for a couple other reported issues, but it's not clear that they are the same: https://github.com/python/mypy/issues/8229 and https://github.com/python/mypy/issues/6003

Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?

Bug

* Please insert below the code you are checking with mypy,
  or a mock

[2020-02-14 08:44] DevilXD commented on #6580
Eh, I'd say that's stupid then. You shouldn't need to define all possible variants in this case, those two should be enough. I commented on this because it seemed like everyone was trying to put the defaults into overloads themselves, which doesn't sound like a good idea to me.

I found this issue due to me having a similar problem, here's my example:

[code]

Without that `= False` in the first o

[2020-02-14 09:21] vegarsti commented on #8372
This has been bothering me from time to time. I'd be happy to give this a shot. Do you have any thoughts on what classes this should apply to? I don't immediately see a nice way to find a good criteria to separate here.

[2020-02-14 11:44] tomwatson1024 opened #8401 "Incorrect 'Implicit return in function which does not return' when using 'contextlib.contextmanager'"
Consider the following snippet.

[code]

Running mypy produces

[code]

Hand-writing the context manager (as follows) does not produce the same error.

[code]

I think the error in the contextlib case is a false positive.

mypy version `0.761` and `0.770+dev.a07dbd00638c35729e30dfc4ae441a8985183563` (current master)
Python version `3.6.9`
flags `--ignore-missing-imports --check-untyped-defs --disa

[2020-02-14 14:17] JukkaL commented on #2974
It looks like this has been fixed at some point, as I can't reproduce the crash on master (but can using mypy 0.600).

[2020-02-14 14:17] #2974 closed

[2020-02-14 14:52] #8394 closed

[2020-02-14 15:27] JukkaL commented on #6749
Closing since the issue might already be fixed and there's no simple repro. We'll reopen this if somebody has a way to reproduce this on a recent mypy.

[2020-02-14 15:27] #6749 closed

[2020-02-14 15:30] JukkaL commented on #5081
This seems to work now. It may have been fixed by the new semantic analyzer.

[2020-02-14 15:30] #5081 closed

[2020-02-14 15:57] JukkaL commented on #6493
This no longer crashes, so I'm closing this issue. Mypy still doesn't support dataclasses with properties, however -- feel free to create a separate issue about this feature.

[2020-02-14 15:57] #6493 closed

[2020-02-14 16:01] JukkaL commented on #8209
The crash was fixed by #8271.

[2020-02-14 16:01] #8209 closed

[2020-02-14 16:03] JukkaL commented on #6730
This is still crashing on master.

[2020-02-14 16:28] JelleZijlstra commented on #8372
Maybe everything in `typing` and `builtins`, or everything that appears more than once somewhere in the whole program.

[2020-02-14 16:37] vegarsti commented on #8372
I like the first one. Thanks!

[2020-02-14 20:02] TH3CHARLie commented on #6730
I remember I once tried to fix this but replacing `make_simpified_union` with `UnionType.make_union` breaks several places in mypy's own code, let alone tests.

[2020-02-15 01:13] llchan commented on #6580
I agree with you in principle.  The overloads shouldn't need to specify defaults (or more strongly put, maybe they _shouldnt_ specify defaults), since the defaults are mostly* just a fancy mechanism to automatically bind values to omitted parameters.  I'd maybe even take your idea a step further and say that a omitted parameter like this that defaults to True/False should map to the the correspond

[2020-02-15 03:06] Michael0x2a commented on #6580
The reason why the defaults need to be specified in the overload variant list is due to the intersection of the following factors:

1. Whether or not a param is optional is a crucial part of the function type signature.

    For example, `def (x: int, y: int = ...) -> str` is a subtype of `def (x: int) -> str`, but `def (x: int, y: int) -> str` is not.

2. To make overloads as maximally useful as

[2020-02-15 20:04] JukkaL opened #8409 "Catch invalid typing imports when targeting Python 3.5.1"
Python 3.5.1 doesn't have `typing.TYPE_CHECKING` and doesn't support overloading outside stubs. It would be nice if mypy could catch these issues when targeting Python 3.5(.1).

I was bitten by these twice only today.

Python 3.5 will reach end of life soon, however, so it's not clear whether this is worth it.

[2020-02-15 20:10] chris-cummings-eb commented on #7615
I was running into this issue running mypy with pre-commit as well.
It took me a bit to figure out how to work around this. So just in case anyone else is still running into this @jml was right in that the venv pre-commit was using had an out-of-date attrs version installed.

To fix it you can add:
[code]

[2020-02-15 21:38] jnsnow commented on #1539
Hi ... I realize this is necromancy, but I'm running into this trying to type some existing code:

[code]

The intent is that this function will translate anything it's capable of translating -- a string -- and return everything else untouched. Mypy doesn't like this very much:

export.py:60: error: Incompatible return value type (got "str", expected "T")

... But, of course, T *is* a str in this

[2020-02-16 03:51] kawing-chiu commented on #2566
I'm trying to define a simple descriptor base class, but after 3 hours of trying, still can't make all the annotations work .....It's just so hard for a normal user. This is the best I came up with:
[code]
Any help would be much appreciated. And I really think that descriptors deserve multiple paragraphs, if not a whole page, in the documentation.

[2020-02-16 06:55] JelleZijlstra commented on #1539
Or `v` could be a subtype of str, but your `loctable.localize` would presumably still return a `str`.

[2020-02-17 03:31] brendanxwhitaker opened #8414 "Is it possible to define a subscriptable class which can take type arguments and ellipses?"
* Are you reporting a bug, or opening a feature request?

More of a feature request/question.

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

The following is a mock up. I would like to define a class for which the defined functions and the statements written in `m

[2020-02-17 03:42] maxrothman opened #8415 "Singledispatch return type only tracks base function"
Python 3.8
Mypy: 7.6.0
issue type: bug

[code]

[Here's the code in the mypy playground](https://mypy-play.net/?mypy=latest&python=3.8&gist=b94ce983affb3f43db238de1afbf0939)

What is the actual behavior/output?
[code]

What is the behavior/output you expect?

[code]

[2020-02-17 09:47] ilevkivskyi commented on #8415
Duplicate of https://github.com/python/mypy/issues/2904

[2020-02-17 09:47] #8415 closed

[2020-02-17 10:11] ilevkivskyi commented on #8393
I confirm this still occurs on master. We recently fixed a similar issue, but it looks like only non-overloaded methods were fixed.

Btw, this is another manifestation of https://github.com/python/mypy/issues/7724

[2020-02-17 10:18] ilevkivskyi commented on #8400
`__init__.py` files exist in Python for a reason: this means the directory represents a package (so that one can import it). Since `import nested-2` is obviously a syntax error, package names must be valid Python identifiers.

TBH, I don't see what is not clear in this error message, but if you will make a PR with alternative wording we _might_ consider it.

[2020-02-17 10:18] #8400 closed

[2020-02-17 10:21] ilevkivskyi commented on #8399
Mypy treats `@` on command line in a special manner, this indicates that a file after `@` is not a file to be checked, but rather a file that contains a list of files to be checked, see https://mypy.readthedocs.io/en/stable/running_mypy.html#reading-a-list-of-files-from-a-file

[2020-02-17 10:21] #8399 closed

[2020-02-17 10:42] ilevkivskyi commented on #8401
Yes, moving the definition of `bar()` _before_ definition of `foo()` fixes the error, which means this is a duplicate of https://github.com/python/mypy/issues/8129

[2020-02-17 10:42] #8401 closed

[2020-02-17 10:50] ilevkivskyi commented on #8389
Initially I thought this is related to https://github.com/python/mypy/issues/5738, but actually converters are heavily special-cased in mypy attrs plugin, essentially this bug is a duplicate of https://github.com/python/mypy/issues/5313

[2020-02-17 10:50] #8389 closed

[2020-02-17 11:43] MikiGrit commented on #8399
Ok, I understand that. But what should I do in that case... it is a perfectly valid path. It is unexpected that mypy on some paths "just doesn't works".

[2020-02-17 12:00] ilevkivskyi commented on #8399
`--strict` is also a perfectly valid file path, yet mypy treats is special. As with most other Linux tools, prefixing paths with `./` should work.

[2020-02-18 01:59] gvanrossum commented on #8321
Indeed. Thanks!

[2020-02-18 01:59] #8321 closed

[2020-02-18 03:39] ir4y commented on #731
Are there any updates @ilevkivskyi ?
Is there any help needed?

[2020-02-18 09:14] Dakkaron commented on #1773
By the way, what about a related feature that might overlap in usage but could be easier to implement:

This feature would take, as an input, the code base and a reference to a function and would return all uncaught exceptions that would be raised along the way, together with all lines of code that raise that specific exception. So e.g. for this code:

    def f2(b):
        if b:
            rais

[2020-02-18 09:58] bluetech commented on #8409
FYI, there is https://github.com/asottile/flake8-typing-imports written by @asottile. We use it in pytest, at least until the blessed day when we can drop support for Python 3.5.

[2020-02-18 13:33] knatten opened #8416 "Failing to concatenate fix lengths tuples if the tuple depends on a variable"
I believe this is a bug. Reproduced with mypy 0.761 on Ubuntu 18.04.

In this code:
[code]

The `works` function works fine, but the `breaks` function breaks with the following error:

[code]

I would expect the behaviour to be the same in both functions.

[2020-02-18 14:46] rowillia opened #8417 "`attr.ib(converter=)` appears to cause mypy to lose generic types for `__init__` function."
[code]

`attr_test.py`:
[code]

Output:
[code]

I would  expect `attr_test.py` to typecheck  cleanly and  for the signature of  `Bar.__init__` to be `def (self: attr_test.Bar, things: typing.Iterable[str])` .  I'm  guessing  mypy created a  new  type `_T_co`1`  that's something  like  `TypeVar('T', bound=str,  covariant=True)` but  it doesn't seem  like that's being used later.

[2020-02-18 14:56] rowillia commented on #8417
Note that hand rolling the converter function seems to fix this:

[code]

[2020-02-18 19:51] victorusachev commented on #5205
For a number of tools, you have to specify the same parameters in several files, it would be convenient to see them side by side, as well as not have a bunch of files in the root of the project. So, So, I definitely need a configuration in one place.

[2020-02-18 19:52] bluetech commented on #2087
If you use @chris104957's nice hack and want the function to actually still be callable for mypy, the following works with mypy 0.761, although I don't know if it's perfectly legit:

[code]

Testing with `mypy --strict`:

[code]

[2020-02-18 20:30] ilevkivskyi commented on #731
@ir4y There are only sad updates: I am no longer working on this, and likely will not work on this in foreseeable future. You can try pushing it yourself, but it is not an easy task, and I can't guide you, sorry (others may still have time for this).

[2020-02-18 20:49] intgr commented on #8416
Hi! I think this is a duplicate of #4975 and is fixed by #8333 (already merged). It hasn't been released though, if you're feeling adventurous you could try reproducing this with the master branch.

[2020-02-19 15:48] OJFord commented on #5107
Or for the parameterised variant:
[code]

(And note also that `F` should be `bound=Callable`.)

[2020-02-19 18:10] DBCerigo commented on #6385
We are currently suffering from silently* not type-checking type project files when a dev forgets** to put in the required `__init__.py` file in a dir/module they have created.

A recursive option would solve this issue for us.

*"Almost silently" might be more exact; a very observed dev could see that the number of files checked hadn't increased since before they added new modules/files - or just

[2020-02-19 21:41] glyph commented on #6751
If this helps prioritize it at all, we've bumped into this a few times in quite rapid succession; inferring that the parent of `Union[X, Y, None]` and `Union[X, Y]` is `object` makes it difficult to write helpers like the aforementioned `not_none` without resorting to hacky workarounds and `cast`s.

[2020-02-20 03:10] ir4y commented on #731
@ilevkivskyi

Sure it is. Otherwise, it will be already done.

I will try to add support for recursive types.

It is sad.

Could you at least provide some details that may be helpful?
What is a good start point for this task?
Do you have any WIP pull-request?
What common issues I'll face?

[2020-02-20 08:46] abiro opened #8420 "Question: Why is TypedDict not compatible with matching Mapping?"
Consider the following code:

[code]

This gives the following error when checked with mypy==0.761 on Python 3.8:

`test.py:21: error: Argument 1 to "my_func_bool" has incompatible type "MyDict"; expected "Mapping[str, bool]"
`

I expected both `my_func_any(d)` and `my_func_bool(d)` to be ok, yet the latter is an error. Is this a bug or am I missing something?

(I posted this originally on [SO,](h

[2020-02-20 10:16] intgr commented on #6411
I think this issue is mistaken. The contract of A states "all A classes contain method x that accepts argument `Union[Dict, List]`".

The method B.x violates that contract because it does not accept `List`.

[2020-02-20 10:23] intgr commented on #6411
This is basically duplicate of #1237.

[2020-02-20 10:28] Dambre commented on #4179
@ilevkivskyi Year later lol. What if the exception is raised explicitly? In my opinion it would make sense to note that this is expected behaviour, isn't it?
`def somefunc(sth: int) -> Union[bool, NoReturn]:
    if sth:
        return True
    raise Exception
`

[2020-02-20 11:54] JukkaL commented on #6411
Yeah, the method in `B` violates Liskov substitution principle (https://en.wikipedia.org/wiki/Liskov_substitution_principle).

[2020-02-20 11:54] #6411 closed

[2020-02-20 11:55] #8416 closed

[2020-02-20 13:30] cbows commented on #8391
I tried with `Iterable[Any]` but even that throws an error. I've condensed the code to a minimal example:

[code]
Mypy output:
[code]

[2020-02-20 14:11] lion3ls commented on #2369
For the sake of info:

The PR making it possible: #2439
The Documentation about it: https://mypy.readthedocs.io/en/stable/extending_mypy.html#integrating-mypy-into-another-python-application

Hope this will help someone else coming on this issue and feeling sad as I was :wink:.

[2020-02-20 14:49] sebastian-philipp opened #8421 "Forcefully follow import to site-package, despite no py.typed file"
If I manually do a

`touch .tox/mypy/lib/python3.6/site-packages/kubernetes/py.typed`

 I can

1. increase my testing coverage and
2. remove mypy's
[code]

I'm missing a way to force following the import to `kubernetes`.

Right now, my super ugly workaround in tox is:

[code]

[2020-02-20 17:55] JukkaL commented on #8373
Another idea:

## Detecting potentially undefined or misspelled locals

Some uses of undefined variables are not caught by mypy:

[code]

It would be useful to catch these (#2400). A related issue is reporting locals that are never read, as this is often an error (#76).

[2020-02-20 21:02] jordan-schneider opened #8422 "Failure to understand optional is not none"
* Are you reporting a bug, or opening a feature request?
bug
* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.
[code]
* What is the actual behavior/output?
Error on given line due to failure to infer that x cannot be None
* What is the behavior/output you expect?
No er

[2020-02-20 21:56] TH3CHARLie commented on #8373
GSOC 2020 organizations are announced and mypy is one of them! see https://summerofcode.withgoogle.com/organizations/6527008550420480/

 I am interested in Generalize mypyc IR to allow non-C backends and I will manage to have a plan by the end of Feburary.

[2020-02-20 21:57] anentropic commented on #731
There are a couple of other type-checkers for Python out there...

Facebook released [`pyre-check`](https://pyre-check.org/). I don't know if it supports recursive types because I get cryptic parse errors when trying to run it on my project.

Google's [`pytype`](https://github.com/google/pytype) seems to handle recursive types ok, I can run it on my project with the `# type: ignore` comments remov

[2020-02-21 04:44] ir4y commented on #731
@anentropic
There is also [pyrigth](https://github.com/Microsoft/pyright) by Microsoft.

[2020-02-21 09:35] abiro commented on #8420
Got an [answer on SO](https://stackoverflow.com/a/60324417) from @hoefling that I copy here for posterity:

[code]

[2020-02-21 09:35] #8420 closed

[2020-02-21 09:36] libre-man commented on #2087
This hack doesn't seem to work for methods, as it complains about missing arguments when calling the method (it stops thinking that `self` was passed in implicitly I think). Is there any workaround for that?

[2020-02-21 11:56] ethanhs commented on #7907
FWIW, there is an implementation of PEP 585 for CPython https://github.com/python/cpython/pull/18239

I would like to implement it in mypy at some point. I think for now it would be best to just handle PEP 563, and soon I hope to implement PEP 585.

[2020-02-21 15:10] knatten commented on #8416
@JukkaL since you closed this issue, did you test whether this is fixed on master?

[2020-02-21 17:40] intgr commented on #8416
✅ I tested it now, result was: `Success: no issues found in 1 source file`

[2020-02-21 18:43] Muks14x commented on #8372
Since it's been a while, I hope it's okay if I work on this?

[2020-02-21 18:47] hauntsaninja opened #8423 "typeshed CI is broken"
It looks like #8405 breaks the mypy tests in typeshed CI

Details here:
https://travis-ci.org/python/typeshed/jobs/653578206
https://travis-ci.org/python/typeshed/builds/653578203

cc @JukkaL

[2020-02-21 18:52] hauntsaninja commented on #8423
Maybe use abspath instead of normpath in is_typeshed_file?

[2020-02-21 20:01] #8423 closed

[2020-02-21 20:19] JelleZijlstra commented on #8422
This is #2608.

[2020-02-21 20:19] #8422 closed

[2020-02-21 21:25] jordan-schneider commented on #8422
Why does this only happen if I type the inner function? If I don't type it, does mypy just give up entirely? The problem here isn't the output type, it's the function call.

[2020-02-21 21:27] JelleZijlstra commented on #8422
Mypy doesn't type-check untyped functions.

[2020-02-21 21:27] JelleZijlstra commented on #8422
(By default; you can use the `--check-untyped-defs` option to change this behavior.)

[2020-02-21 23:17] vegarsti commented on #8372
Appreciate you asking! I was hoping to get around to it this weekend, I was
on vacation the past week. But feel free to do it, I won't stop you!

On Fri, 21 Feb 2020 at 19:44, Mukuntha N S <notifications@github.com> wrote:

[2020-02-22 02:33] vpeiter commented on #8373
Hi!
I'd be interested in working in detecting potentially undefined or misspelled locals.
I will work out a plan and get in contact soon...

[2020-02-22 04:50] dubesar commented on #8373
Hi!!
I am Sarvesh, I am interested in Faster callables and nested functions in mypyc and Numpy support.
I am working on Faster Callables and will get back soon with some solutuon.

[2020-02-22 09:44] Shashankjain12 commented on #7405
hello @JukkaL  can you assign me the issue so that I can start working on this paricular issue?

[2020-02-22 11:13] Arshaan-256 commented on #8353
I am unable to reproduce the crash. I am running the program on VS code, Python 3.8.

[2020-02-22 11:14] Arshaan-256 commented on #8353
I am unable to reproduce the crash. I am running the program on VS code, Python 3.8.

[2020-02-22 16:57] edwinjon commented on #8373
Hello,
My name is Jonathan, I am actually focus on data science and I am really interested to work in Numpy Support. I once questioned regarding the unavailable of "shape types" . By working this project, will help my Data Science works too.

I am going to read the documentations and try to find out some insights which features can be improve for numpy. Thanks

Cheers,
Jonathan

[2020-02-22 17:01] TH3CHARLie commented on #8373
Hi, @edwinjon and @dubesar, glad to see someone interested in working on the mypy-Numpy topic!

As far as I know, there's a similar work that may help you develop your ideas and plans, check https://github.com/numpy/numpy-stubs.

[2020-02-22 18:00] JelleZijlstra commented on #7405
@Shashankjain12 feel free to just start working on this.

[2020-02-22 18:45] dubesar commented on #8373
@JukkaL  By numpy support I understand that the codes written in standard format needs to be changed to numpy format as for example changing arrays to numpy arrays.
Also by shapes you mean the  shapes of the arrays?

Please elaborate that part!!

Also the Faster Callables part I checked the running time of the code and have addressed it in the issue. Please guide me further what has to be done in

[2020-02-22 18:51] TH3CHARLie commented on #6740
Recently, there are more and more issues on recursive types like #8320 and #6730. Reporting errors instead of crashes is a reasonable solution for these issues, at least for now. However, adding more and more error handling code requires a detailed analysis of each bug and makes the codebase fragile.

As there are some discussions about recursive types, I'd like to know about the current status of

[2020-02-22 20:33] jnsnow commented on #1539
That's a good point -- but in this case, `localize` is typed to always return string because it's performing a lookup and constructing a new object and it doesn't take care to use the type constructor of the type it was given. The annotation here should be correct: localize inflexibly returns a string.

I think using `isinstance` checks, while unpythonic, is necessary on boundaries between Python

[2020-02-22 21:50] jnsnow opened #8433 ""BinaryIO" has no attribute "peek""
- I think this is a bug, but whether it's in mypy or typeshed I do not know.
- I am running with `mypy --strict`.

Mypy version: 0.670

I've got a snippet like this:
[code]

mypy guesses that this type is BinaryIO, but that it does not have the peek() method. That type is correct with regard to the abstract types of things open() can return, but in this case it's an `_io.BufferedReader`, which doe

[2020-02-22 21:56] jnsnow commented on #8433
I came across #2166, but this looks more like stub definition problems. This case appears to be that `peek` is really only applicable to a very specific subclass that open() can return to which BinaryIO is not meant to apply, necessarily.

For now, I suppose my workaround is this:
[code]

[2020-02-22 22:02] Dundee commented on #4233
I just created simple tool for this task: https://pypi.org/project/mypy2junit/
Feedback welcomed!

[2020-02-22 23:30] edwinjon commented on #8373
@TH3CHARLie Thank you for the information 😁

@JukkaL, I am wondering how many features that I should purpose for this program?
I am planning to focus handle on missing value, such as to check missing value, to fill out the missing value and to find the index of missing value. Do you  think is it possible?

I am actually purpose this because this features what I need in data science area 😅

Cheers,

[2020-02-23 00:48] ethanhs commented on #8353
@Arshaan-256 what version of mypy are you using, and how are you running it? I can repro it here: https://mypy-play.net/?mypy=0.761&python=3.8&gist=967f4c6130eef4725d313bffeba50430

[2020-02-23 13:35] Arshaan-256 commented on #8353
@ethanhs  I managed to reproduce the crash. I have been studying the visit_super_expr() function in checkexpr.py. Can you point me to some resource which could help me tackle the bug? I think the condition at line number 3456 at https://github.com/Arshaan-256/mypy/blob/master/mypy/checkexpr.py failed to evaluate to true.

[2020-02-23 13:57] mridullpandey commented on #8344
hi bro @rahulrj  are you working on it...

[2020-02-23 14:04] mridullpandey commented on #7968
hi @blueyed  i want work on it will  you please elaborate  it

[2020-02-23 14:13] mridullpandey commented on #8353
hi @JukkaL  can i work on it over

[2020-02-23 14:34] vegarsti commented on #8372
Nice, I'm glad you did it! I'm not able to do it this weekend anwyay!

[2020-02-23 16:12] bela127 commented on #1191
Same Problem in the flowing to implementations
Note that implementation 2 is the way of annotating for loops per pep

so it definitely should be supported to have for loops with different types for the running variable

[code]
[code]

[2020-02-23 16:13] dubesar commented on #76
@JukkaL Do you mean something like this:

[code]
,in this y maybe misspelled local variable which is assigned to but never read.

[2020-02-23 16:32] blueyed commented on #7968
@mridullpandey
What is unclear here?
It should set `MYPY_CONFIG_FILE_DIR` in `os.environ`, so that it can be expanded / is available while parsing the config.

[2020-02-23 18:34] ilevkivskyi commented on #6740
I don't think so.

[2020-02-24 11:59] TH3CHARLie commented on #6193
The code by @andy-hanson no longer generates errors in the latest mypy, therefore, this issue may be solved by some merged PRs and is now safe to close. @ilevkivskyi @ethanhs

[2020-02-24 13:52] MaxNoe opened #8434 "Type issue not found in function call"
Running mypy on this small code example:

[code]

results in it reporting "no issues". Although `greet` and thus `build_greeting` are called with an integer.

[2020-02-24 14:01] knatten commented on #8416
Nice, thanks for testing!

[2020-02-24 15:00] genedy377 commented on #8373
Hi @JukkaL  my name is Eslam Genedy , I am at third year in University ASU Computer Engineering Department , it is my pleasure to apply for mypy . I have a good knowledge in oop in python and numpy  . finally I hope to be contributed in this project thanks in advance

[2020-02-24 15:50] rubendibattista commented on #8009
What about having an `Enum` as class attribute? It looks like I'm getting the same error...

[2020-02-24 16:01] swetavooda commented on #8344
If nobody is assigned for this issue, I would like to work on it.

[2020-02-24 16:15] mridullpandey commented on #7128
hi @JukkaL i want to work on can you assign it to me
thanks :-)

[2020-02-24 16:19] mridullpandey commented on #7128
can you please let me know how to get started

[2020-02-24 18:23] rahulrj commented on #8344
I am not working on this @mridullpandey

[2020-02-24 18:52] osandov opened #8435 "mypy does not deduce more specific type of generic based on isinstance of attribute"
The following code:

[code]

Results in the following error from mypy:

[code]

If `foo.bar` is an `int`, it seems to me that it should imply that `foo` is a `Foo[int]`. Is there a way to get mypy to deduce that?

I tested this on 0.761 and 0.770+dev.7af3191246c17a8580acd3b6336f35b02de85e7e.

[2020-02-24 20:27] Arshaan-256 commented on #8376
The check is actually supposed to fail right? Can I work on this?

[2020-02-24 21:38] blueyed commented on #7968
btw: I think `$MYPY_CONFIG_FILE(_PATH)` might be more flexible: it would provide the actual file (which might be `mypy.ini`, `setup.cfg` etc), and could also be used as `$MYPY_CONFIG_FILE/../…` to have its directory then.
While `$MYPY_CONFIG_FILE_DIR` might be more explicit, we might end up with adding `$MYPY_CONFIG_FILE_PATH` additionally afterwards.

[2020-02-24 22:01] ethanhs commented on #8434
Hi, since greet isn't annotated it isn't checked, please see https://mypy.readthedocs.io/en/stable/common_issues.html#no-errors-reported-for-obviously-wrong-code

[2020-02-24 22:01] #8434 closed

[2020-02-25 00:06] msullivan opened #8437 "Release 0.770 planning"
I plan to release mypy 0.770 next Friday (March 6) and cut the release branch this Friday (February 28).

Please comment here if you have a PR or planned change you want to see in the release.

[2020-02-25 06:49] hauntsaninja commented on #5647
Here's an example (simplified from a post in the gitter today) where we get a terrible error message because IntEnum subclasses int.
[code]

Curious if you remember what the problematic typeshed `__new__`s are?

[2020-02-25 09:14] MaxNoe commented on #8434
This also shows no issue:
[code]

So transitive problems don't seem to be checked.

[2020-02-25 11:20] mridullpandey commented on #8344
hi @swetavooda i have did some sort of modifications on it,will you please take another one ..pls let me know asap thanks :-)

[2020-02-25 12:30] ethanhs commented on #8434
Mypy doesn't really do interprocedural analysis like that.

[2020-02-25 13:35] Shashankjain12 commented on #7405
hello @JelleZijlstra  i am new to open source can you suggest me which file to edit in order to prompt users that they are in wrong directory while executing the code?

[2020-02-25 13:49] mridullpandey commented on #8344
@Michael0x2a  will you please elaborate it  what to actually do

[2020-02-25 15:44] swetavooda commented on #8344
@mridullpandey If you are really willing to work on this, you may continue. I'll find another issue to work on.

[2020-02-25 17:05] gsakkis opened #8439 "Strange behavior with dataclass InitVar"
Wondering what is going on here for the cases 3-6. Running it with `--strict`, mypy version is 0.761.
[code]

[2020-02-25 19:38] ABitMoreDepth opened #8440 "Possible to define a generic property?"
Feature Request, or just a clarification of whats possible, using python 3.6.10, Mypy 0.761

Hi folks,

I have some code which uses a class decorator to mutate a collection of callables, into a collection of properties, which has recently lead me down a bit of a garden path with mypy.

I believe that I can refactor my work to make use of a generic property, and achieve a similar net goal.  What I

[2020-02-25 20:37] edward-io commented on #8376
@Arshaan-256 The check should succeed, I believe. All the code is valid Python and the types look correct.

[2020-02-25 21:16] llchan opened #8441 "Tuple-like Sequence"
There are situations where a variable can be either a list or a tuple (or more generally, a sequence), but it is used/unpacked in a tuple-like way.  That is, the length is fixed and types are possibly heterogeneous. A practical example of this is mpi4py's buffer specifications.

I don't believe it's possible to express a fixed-length heterogeneous sequence without using `Tuple` and forcing a speci

[2020-02-25 23:28] intgr commented on #8385
If both `foo.py` and `bar.py` live in the same project, you can create a type alias and use that multiple times. I find that it makes code clearer too.

[2020-02-25 23:33] intgr commented on #8355
Meanwhile you could solve this by creating a `Protocol` for the common methods shared between `A` and `B`, and taking that as argument.

[2020-02-26 05:12] Arshaan-256 commented on #8344
#8436

[2020-02-26 05:16] Arshaan-256 commented on #8344
Merge pull request #8436. Hopefully that would fix the issue.

[2020-02-26 05:21] Arshaan-256 commented on #8366
Should this issue be closed?

[2020-02-26 06:12] ethanhs commented on #8366
Yeah this is a bug in the runtime code.

[2020-02-26 06:12] #8366 closed

[2020-02-26 06:55] Arshaan-256 commented on #8298
@DenisOH Can I work on this?

[2020-02-26 07:14] manastole03 opened #8442 "Hi I am Manas here . This is my first time to take part Google Summer of Code also I don't have any experience in open source . At this time I am thinking to contribute for mypy but want a guidence for open source and project"
Note: if you are reporting a wrong signature of a function or a class in
the standard library, then the typeshed tracker is better suited
for this report: https://github.com/python/typeshed/issues

Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?
* Please insert below the code you are checking with mypy,
  or a mock-up repro

[2020-02-26 07:58] ethanhs commented on #8298
@Arshaan-256 it looks like Denis has already made a PR for this!

[2020-02-26 08:01] TH3CHARLie commented on #8442
For project ideas, check #8373. For general discussion and guidance, check gitter at https://gitter.im/python/typing

[2020-02-26 08:05] TH3CHARLie commented on #8442
Since gitter is used for general discussion, please close this issue since it's not related to mypy's bug reports or feature requests. Thanks!

[2020-02-26 08:19] Arshaan-256 commented on #8298
Oh! I am so sorry. I thought that the PR didn't work since the issue was still open. Sorry!

[2020-02-26 08:52] ethanhs commented on #8442
As @TH3CHARLie pointed out, #8373 has project ideas, in addition, please read the [README](https://github.com/python/mypy/blob/master/README.md) and [CONTRIBUTING](https://github.com/python/mypy/blob/master/CONTRIBUTING.md).

[2020-02-26 08:52] #8442 closed

[2020-02-26 09:49] DenisOH commented on #8298
@Arshaan-256 I'm still waiting on that PR to be reviewed. However, if it's not good or needs improvement, feel free to take over the issue.

[2020-02-26 13:39] mridullpandey commented on #8344
then why this is still alive
@Arshaan-256

[2020-02-26 17:06] Arshaan-256 commented on #8344
@mridullpandey Because it has been reviewed yet. Once the PR is reviewed by the collaborator, only then can the issue be closed. The PR has passed the tests as well.

[2020-02-26 17:33] habilain opened #8445 "Contains does not propagate type info"
This is probably an easy-ish enhancement. If you check the following code:

[code]

You get an `error: Argument 1 to "remove" of "set" has incompatible type "Union[int, str]"; expected "int"`. However, obviously this can never happen; inside the conditional, the type of y must be an int because we know that it's contained within a set of Ints. This issue comes up with all typed container types.

I

[2020-02-26 18:15] Holmes7 commented on #7779
I would like to work on this issue. Any pointers to keep in mind?

[2020-02-26 18:18] JukkaL commented on #731
Here's a very short summary of recursive types could be implemented (on top of the foundation that @ilevkivskyi has already implemented).

A simple self-recursive type would use `TypeAlias` that has a `TypeAliasType` that contains the recursive reference. `TypeAliasType` instances can be expanded an arbitrary number of times (the expansion for recursive types is infinite, so we'd only expand as mu

[2020-02-26 18:18] JukkaL commented on #6740
I started documenting the design in https://github.com/python/mypy/issues/731#issuecomment-591568187.

[2020-02-26 18:24] fcanobrash opened #8446 "Reports ignoring the --ignore-missing-imports flag"
Mypy report generation might be ignoring the flag `--ignore-missing-imports`.

Example:
Considering a file that imports a module without any typing information:
[code]
If mypy is executed as follows:
`mypy --ignore-missing-imports --html-report reports myfile.py`
No error is raised in the command line because the missing import is correctly ignored, but in the generated report, mypy still shows an

[2020-02-26 18:34] TH3CHARLie commented on #6740
Thanks! That's super useful! I'll see if there's anything I can to help push recursive types forward

[2020-02-26 18:48] JukkaL commented on #8373
To support NumPy, we'd need some form of "shape type" support. We want to specify the number of dimensions and the item type of an array, at least. Even better, it would often be useful to specify the exact size of an array, but this will be much harder to implement.

This example is from @ilevkivskyi's presentation from the Typing Summit at PyCon 2019:

[code]

This means that `diff` takes a one-

[2020-02-26 19:16] np-hg commented on #8231
I believe I'm having this issue with non typed dict too (if that's intended).  Some code to reproduce

[code]

[2020-02-26 19:35] JelleZijlstra commented on #8231
@np-hg that's a different issue, probably related to type narrowing.

[2020-02-26 19:36] np-hg commented on #8231
Should I move it to a new issue? I didn't want to open one without being sure its not a duplicate.

[2020-02-27 05:31] NickHackman opened #8447 "PEP 572 Walrus Operator Regex Assignment in Condition"
Mypy version: 0.761
Python version: 3.8.1

 #6899 implements `PEP 572`, or at least parts of it, as mentioned in the PR assignments can occur anywhere. Fails with an example similar to [here](https://www.python.org/dev/peps/pep-0572/#id9) with `regex`.

Minimal Example:
[code]
mypy message:
[code]
but the type of `a` is not `Optional[Match[str]]` it's `Match[str]` as a result of the if check.

[2020-02-27 07:02] TH3CHARLie commented on #7215
No longer reproducible in 0.761(confirmed that happened in 0.720), now the report shows 0.0% imprecise, looks like some PR has fixed this. @JukkaL

[2020-02-27 07:22] TH3CHARLie commented on #6163
No longer reproducible in 0.761. Now mypy corrrectly reports error on line 7. @JukkaL @ilevkivskyi

[2020-02-27 08:18] #6163 closed

[2020-02-27 12:57] mthuurne commented on #7215
Indeed this doesn't happen anymore on 0.761. I'll close the issue.

[2020-02-27 12:57] #7215 closed

[2020-02-27 13:53] joybhallaa commented on #8373
@JukkaL , I'd like to integrate PEP 612 and take the **better decorator support**

[2020-02-27 14:09] mattdornfeld opened #8449 "Feature Request: type safe function composition"
There are many third party libraries, which aim to provide functional programming tools. Examples of this are fn.py and and funcy. They both provide a `compose` function that allows you to chain together an arbitrary number of functions. However none of the implementations are compatible with MyPy. Has there been any thought on the MyPy team about supporting such a feature, possibly in the typing

[2020-02-27 17:20] rubendibattista commented on #2306
Is this related? https://github.com/python/mypy/issues/4865

Because I'm hitting the same problem...
[code]

From [here](https://docs.python.org/3/library/enum.html#functional-api)

[2020-02-27 18:09] fcanobrash commented on #8446
Sorry, this issue in not completely accurate. Closing, thanks.

[2020-02-27 21:02] quicknir opened #8451 "Branches"
I'm using mypy 0.740 and I'm finding the way it handles branches to be fairly annoying. If you assign a variable along every branch, mypy infers its type but simply looking at the first assignment. This leads to a lot of code that's obviously correct, but that mypy thinks is wrong (in my codebase):

[code]

I have code very similar to above in my codebase; mypy will infer the type of the local var

[2020-02-27 22:19] #8372 closed

[2020-02-28 01:51] joybhallaa commented on #8166
@ilevkivskyi , I was reading the function `consider_sys_platform`, and from what I could understand, we want to check Comaprision Expression, and call expressions using the `platform.system()` module.
In addition to the existing `sys.platform()`. Am I on the right track?

[2020-02-28 03:53] Zac-HD commented on #4117
Seems to be fixed as of 0.761 :smile:

[2020-02-28 08:10] #4117 closed

[2020-02-28 08:12] ilevkivskyi commented on #8166
Yes.

[2020-02-28 15:19] JukkaL commented on #8451
Closing as duplicate of #6233.

[2020-02-28 15:19] #8451 closed

[2020-02-28 15:22] JukkaL commented on #4865
This is too dynamic for mypy to figure out. Mypy needs to know the values inside the `members` list to do type checking. If you dynamically generate type objects, you won't generally get type checking there. You can use `Any` types and/or `# type: ignore` to silence mypy errors, though.

[2020-02-28 15:22] #4865 closed

[2020-02-28 15:23] JukkaL commented on #2306
@rubendibattista Your example is too dynamic for mypy to understand (see https://github.com/python/mypy/issues/4865#issuecomment-592560696).

[2020-02-28 15:29] JukkaL commented on #8449
I'm not quite sure about the exact thing you are trying to do. Would you like to a function `compose(f1, f2, ...)` that can compose an arbitrary number of functions? If yes, that is too complicated for mypy to understand. If you really care about this, you may be able to support this by writing a mypy plugin.

[2020-02-28 15:43] JukkaL commented on #8373
@joybhallaa That would be a really useful project! I'd suggest starting by closing a few smaller issues first to get familiar with working on mypy. (The same advice applies to anybody who's interested in diving into a major project. It's best to gradually learn the codebase. Otherwise these's a big risk that there's too much to learn at once, and you'll get discouraged.)

Since PEP 612 involves ty

[2020-02-28 15:50] JukkaL commented on #8447
Yeah, type inference doesn't seem to work correctly here.

As a workaround, you can remove the `is not None` check, and things should work as expected (when using GitHub master, at least):

[code]

[2020-02-28 15:52] JukkaL commented on #8231
@np-hg Your issue seems to be fixed on GitHub master.

[2020-02-28 15:57] JukkaL commented on #7779
`TempNode` may help in cases like this. It can be used to create a dummy AST node with some type.

[2020-02-28 16:01] JukkaL commented on #8445
This sounds like a reasonable improvement.

[2020-02-28 16:33] tallesl opened #8453 "Filenames with dots"
Calling `mypy .` finds and checks successfully the files `foobar.py`, `foo-bar.py` and `foo_bar.py`, but it doesn't look up `foo.bar.py`.

Is this a bug?

At first I thought that it could be interpreting `.bar.py` as its extension, but `os.path.splitext('foo.bar.py')` gives `.py`. Tested with bash, python 3.7.6 and mypy 0761.

[2020-02-28 16:54] JukkaL commented on #8385
I can see how this would be useful, at least occasionally. However, this is not easy to implement in full generality, primarily because of decorators that can change the signature of a function. One option would be to only support functions with simple decorators as targets.

We'd be more likely to prioritize this if there was at least a draft PEP about the feature.

[2020-02-28 16:59] JukkaL commented on #8441
I've encountered cases where something like this would have been useful.

A possible implementation would generalize the internal `TupleType` type to support other tuple-like types, with different fallback types. List expression type inference should also be modified to look for these new types in the type context.

The priority seems pretty low right now, however. If somebody writes a PEP draft a

[2020-02-28 17:01] fcanobrash commented on #8446
After some more testing, I think this issue is valid. Sorry for closing it too soon.

[2020-02-28 17:02] JukkaL commented on #8440
Maybe you can get something like this to work by using a protocol with `__get__` and `__set__` (the stub for `property` would also need to modified, I believe)? I haven't thought about this carefully though.

[2020-02-28 17:15] JukkaL commented on #8439
Something weird is going on. First, the alias doesn't seem to be recognized correctly, even though it *might* be easy enough to support. Second, the  type of the `InitVar` initializer doesn't seem to be checked: `None` is not a valid initializer for attribute with type `bool`.

Cases 4-6 likely won't be supported -- they are too dynamic for mypy. It would be nice to generate more informative error

[2020-02-28 17:18] JukkaL commented on #7405
@Shashankjain12 You'll probably need to edit `mypy/build.py` (and/or maybe some other module imported there). One way to move forward is to find the code that generates the error message about the import, and look around there.

[2020-02-28 17:25] JukkaL commented on #7968
@blueyed Do you have a use case for using the path to the config file, instead of the directory where it's located? Using `..` after a path to a file looks odd to me (though it's not hard to support), and I'd rather avoid it.

@mridullpandey Config file parsing is implemented in `mypy.config_parser`. In particular, `expand_path` seems relevant.

[2020-02-28 17:46] JukkaL commented on #8435
Currently you need to use a cast. Improving type inference in cases like would be reasonable, however, though it seems pretty low priority.

[2020-02-28 17:47] JukkaL commented on #8445
Actually this is a duplicate of #3229.

[2020-02-28 17:47] #8445 closed

[2020-02-28 17:48] JonathanShor opened #8454 "Failure to correctly infer tuple type through zip"
The following code runs correctly on Python 3.7.3:

`vals = (("zz", 1), ("yyy", 8))`
`EXAMPLE: Dict[str, List[Union[str, int]]] = {
    k: list(val) for k, val in zip(["A", "B"], zip(*vals))
}`

producing
`>>> EXAMPLE
{'A': ['zz', 'yyy'], 'B': [1, 8]}`

but raises the following error with mypy 0.761 (and on https://mypy-play.net/):

`error: Argument 1 to "list" has incompatible type "Tuple[object,

[2020-02-28 17:53] sinback opened #8455 "native python types are also creation methods, but mypy doesn't know"
Hi, I'm not sure if this is an issue or an implementation choice that I'm just interacting with incorrectly, but I am curious about this.

For native python datatypes, there are creation methods for instances of that type with the same name as a type. The type of those creation methods is actually type, but they are methods too. For example, `float` is a type, but `float(1)` returns a float of val

[2020-02-28 17:54] blueyed commented on #7968
@JukkaL
Not really, but thought about it when adding `PYTEST_CONFIG_{FILE,DIR}` to pytest, and figured it might be more flexible, since you cannot determine the ini file being used from the dir (due to different names).
As for pytest I've thought that processes/tests being run by pytest then might be able to get the used config file location, but have not thought much about a use case.

`$file/..`

[2020-02-28 17:57] JukkaL commented on #7128
@mridullpandey I've assigned this to you. Here are some hints:

* Figure out how to run mypy in compiled mode so that you can see whether you've improved performance. A good benchmark is type checking mypy. You need to figure out a way to measure the time consistently with accuracy of about 0.2% to validate whether you've made progress (or that at least you haven't regressed anything). Victor Stin

[2020-02-28 17:58] #6193 closed

[2020-02-28 18:01] JukkaL commented on #76
@dubesar Yeah! Or something like this:

[code]

[2020-02-28 18:03] JukkaL commented on #1191
You can try `--allow-redefinition` -- it will let you redefine some variables (though not always).

[2020-02-28 18:04] JukkaL commented on #8353
@mridullpandey Great! If you have questions, feel free to ask here.

[2020-02-28 18:06] JukkaL commented on #8433
`BinaryIO` and `open` are defined in typeshed. If you believe that this could be improved, you can file a typeshed issue.

[2020-02-28 18:06] #8433 closed

[2020-02-28 18:11] JukkaL commented on #8446
This is working as intended. `--ignore-missing-imports` causes `Any` types to be inferred, and the report will show them as such. If you want to get rid of them, you can try generating stubs using `stubgen`, for example. Another alternative is to define a fully annotated wrappers around libraries without stubs, so that the type checking imprecision is limited to the wrappers.

I might accept a PR

[2020-02-28 18:11] #8446 closed

[2020-02-28 18:12] JukkaL commented on #8409
@bluetech Nice, I'll need to give it a try.

[2020-02-28 18:22] ABitMoreDepth commented on #8440
Hi JukkaL, thanks for coming back to me,

I managed to create a `Prototype` Generic subclass of the builtin property, which appears to work nicely, though it is slightly slower than the builtin property, so wouldn't be useful in some areas.  For the area of my project where I'm using it that isn't an issue though:

[code]

Are there any improvements you might suggest to the above?  Otherwise I thi

[2020-02-28 18:31] asottile commented on #8409
and if ya'll know more version-specific rules to add I'm happy to add them.  I recently learned about 3.6.0 `NamedTuple` deficiencies for example (and now there's two new rules for it!)

[2020-02-28 18:33] pmantica1 opened #8457 "TypedDict bug"
* Are you reporting a bug, or opening a feature request?
Bug with the TypedDict class.
* Please insert below the code you are checking with mypy.
[code]
* What is the behavior/output you expect?
I expected no mypy errors. I get the following error instead:
```weird_linting_case.py:8: error: Incompatible types in assignment (expression has type "str", target has type "int")```

* What are the versi

[2020-02-28 19:52] obi1kenobi commented on #8457
`instance` is almost certainly inferred to be a `Dict[str, int]` when declared, `mypy` isn't able to guess that `instance` is meant to actually be a `TestDict`. You can use `reveal_type` to double-check: https://mypy.readthedocs.io/en/stable/common_issues.html#displaying-the-type-of-an-expression

If this is the case, this is not a bug in mypy — it is a bug in the code you are type-checking.

[2020-02-28 19:53] JelleZijlstra commented on #8455
Your `NumericTypes = Union[float, int]` means a `NumericTypes` is an *instance* of float or int, while what you seem to want is to pass the *types* float or int. For that you want `Union[Type[float], Type[int]]`.

[2020-02-28 19:58] pmantica1 commented on #8457
If I try to write:
[code]
I get the following error:
[code]
(Line 6 refers to the ```instance: TestDict = {}``` line)

Does this mean that when creating a TypedDict you have to initialize it will all the keys at once?

[2020-02-28 20:10] obi1kenobi commented on #8457
Yes, all the keys have to be present at creation time, unless `total=False`: https://www.python.org/dev/peps/pep-0589/#totality

While I understand this may be frustrating in your use case, the amount of work mypy would have to do to avoid this situation is probably quite extreme.

[2020-02-28 20:23] #8457 closed

[2020-02-28 20:37] sinback commented on #8455
Oh, awesome! Thank you so much for your help with what was probably a beginner issue :)

[2020-02-28 20:37] #8455 closed

[2020-02-28 20:53] JonathanShor commented on #8454
Might be relevant, but when `vals` is 6 or more entries long, the error is not produced. Mypy is fine with the following.

`vals = (("zz", 1), ("yyy", 2), ("xxx", 3), ("w", 4), ("v", 5), ("u", 6))`
`EXAMPLE: Dict[str, List[Union[str, int]]] = {
    k: list(val) for k, val in zip(["A", "B"], zip(*vals))
}
`
...
`>>> EXAMPLE`
`{'A': ['zz', 'yyy', 'xxx', 'w', 'v', 'u'], 'B': [1, 2, 3, 4, 5, 6]}`

[2020-02-28 22:33] ethanhs commented on #8453
Huh, I seem unable to reproduce this. What OS are you on?

[2020-02-28 22:37] hauntsaninja commented on #8447
Same issue as in #8236

[2020-02-28 22:40] msullivan commented on #8236
Closing in favor its duplicate #8447 which is about to be fixed anyway

[2020-02-28 22:40] #8236 closed

[2020-02-28 22:51] hauntsaninja commented on #8453
Repros on MacOS for me:
[code]

[2020-02-28 23:16] ethanhs commented on #8453
Hm, thinking about this more, I'm not actually sure that this should be supported? Names with `.` in their name aren't valid modules even to CPython (if you try running them with -m). And you can't import them without using `importlib`.

@tallesl, what is your usecase?

[2020-02-28 23:25] gvanrossum opened #8459 "New readthedocs issue (virtualenv doesn't have a '--no-site-packages' flag)"
See https://readthedocs.org/projects/mypy/builds/10523329/

Maybe we can reduce reliance on readthedocs defaults by adding a `.readthedocs.yml` file?

[2020-02-28 23:42] #8447 closed

[2020-02-29 00:14] msullivan commented on #8437
Cut the branch

[2020-02-29 00:42] gvanrossum commented on #8459
It's definitely a readthedocs issue, so closing it here.

[2020-02-29 00:42] #8459 closed

[2020-02-29 05:13] joybhallaa commented on #8373
@JukkaL  I've taken up an issue and after I'm finished with that I'll take up issues that you have mentioned. :+1:

[2020-02-29 06:22] pr4k commented on #8453
As far as i remember , its also mentioned in the official pep guidelines that using periods should be avoided in the names of module,but the question is if someone is just developing a standalone script or maybe something which is not developed as a module to be imported, should we allow it for that?
@ethanhs @tallesl @hauntsaninja

[2020-02-29 06:30] ethanhs commented on #8453
If they are developing a standalone script they should run `mypy script.dot.py`, which works in my testing.

[2020-02-29 06:35] pr4k commented on #8373
Hi @JukkaL  I am interested in contributing for adding better decorator support, RIght now I am working on the issues , is there anything which should be done parallely with this and are there any potential mentors for this project idea?

[2020-02-29 06:41] pr4k commented on #8453
Yeah valid point! So should we then raise a error if someone tries to use period in names for a project, because right now what i have observed is that mypy ignores the file with `dot` in names when we use `mypy .`, So a response stating the ignored file could be useful i think

[2020-03-01 00:50] mattdornfeld commented on #8449
Hi @JukkaL, yes that’s exactly what I’m trying to do. I tried writing an extension and I came to the same conclusion. It’s too complicated for mypy to understand. I was hoping the mypy devs maybe knew something I didn’t :)

[2020-03-01 00:51] tallesl commented on #8453
I have a repo with configuration files by environment, like "
configuration.production.py". My deployment script then picks the desired
one and yields "configuration.py". I know python has INI support, but
they're much more painful than using pure python (but that's off-topic
anyway).

Considering that is not a valid module name, that's fair that it doesn't
find the file.

On Fri, Feb 28, 2020 at

[2020-03-01 11:22] #8440 closed

[2020-03-01 17:28] pr4k commented on #8439
I want to work on this, So far what I have understood is I need to add a hook for checking the instance variable's datatype to default value's datatype, and if its okay then I need to modify the `mypy.plugins.dataclasses`file  for checking the datatype of value passed to the variable while initializing the class object. Is it Correct? @JukkaL

[2020-03-01 19:36] opk12 opened #8470 "(bug) A Mapping[Any, Any] is a Mapping[str, Any]"
[code]

[code]

[code]

Version:
- Fedora 31 + pip's mypy 0.761 + Python 3.7.6
- Fedora 31 + python3-mypy 0.740-2.fc31 from the repo + Python 3.7.6

[2020-03-01 21:35] hauntsaninja commented on #8470
This is how `Any` works: https://mypy.readthedocs.io/en/stable/dynamic_typing.html#operations-on-any-values (also read the next section on `object`, which might be something you're interested in for your use case). This behaviour of Any is what enables gradual typing and particularly dynamic dynamically-typed code.

[2020-03-01 22:15] hauntsaninja commented on #8454
This is basically because of how `zip` is typed in typeshed: https://github.com/python/typeshed/blob/master/stdlib/2and3/builtins.pyi#L1446

As you can see, it treats its input arguments as `Iterable[T]` (a homogenous iterable). When mypy tries to figure out what the most appropriate `T` for `Tuple[str, int]` is, it correctly infers `object` (the common baseclass of `str` and `int`). Hence:
[code]

[2020-03-01 22:28] hauntsaninja commented on #8454
So I guess assuming mypy doesn't want to special case zip, maybe we should move this issue to typeshed and see if people have objections to that lie^

[2020-03-01 22:34] opk12 commented on #8470
Thank you. For posterity: see also [PEP 483](https://www.python.org/dev/peps/pep-0483/#summary-of-gradual-typing), [PEP 484](https://www.python.org/dev/peps/pep-0484/#the-any-type), `mypy --warn-return-any`.

[2020-03-01 22:34] #8470 closed

[2020-03-02 00:52] Mattwmaster58 commented on #4233
@Dundee mypy can already generate JUnit XML, it's just that it isn't split up per file

[2020-03-02 02:14] joybhallaa commented on #8166
@ilevkivskyi  I was going through the code, and I think I should:
1. Change function name from `consider_sys_platform` to `consider_platform`
2. Change `platform` to `sys.platform` and add `platforms` in `options.py` (I've already done that in the PR, but I have to do a lot of work as it failed all the tests)
3. Update tests to accommodate reflecting changes

Please let me know if this approach is

[2020-03-02 08:48] Dundee commented on #4233
@Mattwmaster58 Yes, this is why I created this tool.

[2020-03-02 10:22] ilevkivskyi commented on #8166
No, you need to change the "parsing" logic to recognize the `platform.system()` as well.

Btw, no need to ask me about this. There are other team members who can review your PR.

[2020-03-02 10:25] gsakkis opened #8475 "Module 'dataclasses' has no attribute [...]"
Mypy complains about not finding `_repr_fn`, which I thought it is because it's a "private" attribute and not defined in `__all__`. However it does not complain about `_MISSING_TYPE`:
[code]
I even edited the actual `dataclasses` module by adding/removing global names and the changes weren't reflected. It's as if mypy either looks at a different module (unlikely, both dataclasses and mypy are inst

[2020-03-02 13:30] ilevkivskyi commented on #2410
This actually triggers on something like
[code]
which is clearly a bug.

[2020-03-02 18:38] hauntsaninja commented on #8475
This is because `_MISSING_TYPE` is in https://github.com/python/typeshed/tree/master/stdlib/3.7/dataclasses.pyi#L6 but `_repr_fn` isn't. You're welcome to open a PR against typeshed to add `_repr_fn`.

[2020-03-02 18:55] RobertoPrevato opened #8477 "Mapping with Union for keys"
Hi,
Considering the following example:

[code]
Results in error: `Argument 1 to "example" has incompatible type "Mapping[str, int]"; expected "Mapping[Union[str, int], Union[str, int]]"mypy(error)`.

Shouldn't MyPy accept the `Mapping[str, int]` to be a valid instance of `Mapping[Union[str, int], Union[str, int]]`?

This behavior looks surprising, because `Union` is supported for values, but not f

[2020-03-02 20:47] RobertoPrevato commented on #8477
Additionally:

[code]

[code]

[2020-03-02 22:26] grahamc opened #8478 "Collapsed Optionals in TypeVar cause weird error messages"
At a minimum, I'm reporting a bug in an error message.

I have a function, `run_tasks`, which takes a list of tasks and a worker function, and executes the worker function on almost all the tasks. For some of them, `run_tasks` will decide to not execute the task.

`run_tasks` returns `List[Optional[Result]]` where `Result` is a TypeVar.

This works until the worker function's returns `Optional[x]`

[2020-03-02 23:50] Mattwmaster58 commented on #6476
@ilevkivskyi

Any hint as to what flags those are?

[2020-03-03 05:36] JelleZijlstra commented on #8477
This is generally because of https://mypy.readthedocs.io/en/stable/common_issues.html#invariance-vs-covariance. The key argument to Mapping is invariant. I don't remember exactly why this is, but I think we tried making it covariant at some point and it caused problems, so we had to revert.

[2020-03-03 05:37] JelleZijlstra commented on #8475
@hauntsaninja is right. Closing this issue as any fix would be in typeshed, not this repo.

[2020-03-03 05:37] #8475 closed

[2020-03-03 07:05] hauntsaninja commented on #8477
It's because `__getitem__` and `get` could do unsound things.
https://github.com/python/typing/issues/445
https://github.com/python/mypy/issues/1114

[2020-03-03 07:18] a-recknagel opened #8480 "[feature request] Possible type constraints within if-blocks"
Given the following code

[code]
I get ` error: Invalid index type "Union[str, int]" for "Dict[str, str]"; expected type "str"` for the print statement (mypy 0.761, python 3.8.0), even though it seems safe to assert within the scope of the if-block that the type of `val` can only be the intersection of `val`'s type and `mapping`'s keys type.

Is this possible to implement? Are there pitfalls to th

[2020-03-03 07:38] Stonedestroyer opened #8481 "Assertion error, importing library with typehints"
Note: if you are reporting a wrong signature of a function or a class in
the standard library, then the typeshed tracker is better suited
for this report: https://github.com/python/typeshed/issues

Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?
Bug, assertionerror
* Please insert below the code you are checking with mypy,

[2020-03-03 08:28] JelleZijlstra commented on #8480
This is #3229.

[2020-03-03 08:28] #8480 closed

[2020-03-03 08:43] a-recknagel commented on #8480
thanks!

[2020-03-03 09:56] DevilXD commented on #3816
Is this ever gonna be a thing?

[2020-03-03 09:58] slavfox opened #8482 ""error: Name is not defined" and confusing behavior on instance-level classes"
Running mypy on the following example:
[code]
results in the following slightly confusing and seemingly contradictory output:
[code]

Ideally, I would have expected `reveal_type(bar)` to reveal `example.Bar@5`. I'm not sure if there is a way to correctly type this code without resorting to `# type: ignore` right now.

Tested on mypy 0.761, Python 3.8.1.

[2020-03-03 10:20] DevilXD commented on #1191
I'm having an issue where this redefinition check ignores pathways that will never happen at runtime, for example where the code takes a path after an `if` check, that ends with a `return`. Simplified example:

[code]

[2020-03-03 11:30] strokirk commented on #8385
I think if a PEP were to be written, it would be nice to consider more general type introspection, from which a ReturnType-like utility could be built, as well as other useful utilities.

Thanks for the response!

[2020-03-03 13:06] woolinsilver-kainos commented on #7604
I agree with @orenbenkiki .

The error message is not helpful, I had to Google for 15 mins to find this rationale.

[2020-03-03 16:20] ckarnell opened #8484 "Request: Optional config to warn when a parameter annotation could use `Mapping` instead of `Dict` or `Sequence` instead of `List`"
* Are you reporting a bug, or opening a feature request?
Feature request

Basically, I think it would be nice if mypy could warn when the user could be giving their function immutable versions of the argument types instead of mutable ones. For example:

[code]

Being prompted to use immutable types when you're not mutating the input could improve the usability of mypy quite a bit since it would re

[2020-03-03 18:19] stevenjackson121 opened #8485 "Type Check Function Invocations with **Kwargs"
This seems superficially related to other kwargs issues, but from what I've read those mostly related to annotating a function so that its signature matches another function. I want to annotate a dictionary so that it's type is whatever is allowed as `kwargs` to a particular function (or even better, if mypy can simply handle the case where a dictionary `d` is created and then immediately passed i

[2020-03-03 21:08] ethanhs commented on #7604
@woolinsilver-kainos agreed the error message could be improved. Would you like to submit a PR to improve it?

[2020-03-03 21:44] RobertoPrevato commented on #8477
@JelleZijlstra, @hauntsaninja thank you for your replies! :sun_with_face: I thought there was a good reason for this behavior.
I am closing this issue, since I see it was already discussed.

FWIW, I think I understood that `Union` is _not_ the right tool to do the think I had in mind, described in my example above. The right tool is to define generic types for keys and values!

[code]

And I under

[2020-03-03 21:44] #8477 closed

[2020-03-03 22:29] RobertoPrevato commented on #8477
PS. I see the same was discussed here https://github.com/python/mypy/issues/6001

[2020-03-03 23:21] glyph opened #8486 "self-referential type can't be represented by a Protocol"
Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?

Bug report, I think? Although the usage here is sufficiently sophisticated that it might qualify as a feature.

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to

[2020-03-04 00:12] lucatrv opened #8487 "Issue with function to customize argparse formatter class"
I'm using mypy 0.761 with Python 3.8.2 on Windows.

The suggested way to customize the argparse formatter class to control text width is to use a lambda function, as follows:

[code]

but with that code mypy emits the following error:

[code]

I could not find any workaround, the only solution is to avoid a function and redefine the formatter class.

See [example](https://stackoverflow.com/questio

[2020-03-04 01:28] hauntsaninja commented on #8486
You should be able to accomplish this by using a TypeVar, eg, the following appears to work for me:
[code]
See also: https://mypy.readthedocs.io/en/stable/more_types.html#precise-typing-of-alternative-constructors

[2020-03-04 01:37] hauntsaninja commented on #8487
This issue should be moved to typeshed (which defines the signature for `argparse.ArgumentParser` that mypy uses). Given the discussion on BPO, seems reasonable to change the type of `formatter_class` to `Callable[[str], HelpFormatter]`.

[2020-03-04 01:52] hauntsaninja commented on #8485
Yeah, it's possible mypy could infer the TypedDict type there, on the lines of  https://github.com/python/mypy/issues/5382#issuecomment-431701846

[2020-03-04 14:26] xylix commented on #2955
What's the progress with this? I'm still getting the original described error when using lambdas with singla handler registration.

[2020-03-04 15:41] stevenjackson121 commented on #8485
I realized `Final` is a useless annotation. It means variable will not be rebound, but doesn't indicate the dictionary won't be updated.

I tried using `frozendict` but that just complained about not finding stubs. I also tried annotating with `TypedDict` directly (hoping for some inference) but `mypy` claims that's not legal either.

[2020-03-04 17:53] stevenjackson121 commented on #5382
If the general problem is hard to solve. Would it be easier (and still valuable) to add support for something like:

[code]

`Final[frozendict]` removes the need to handle any changes to `kwargs` between definition and usage (or the need to infer changes arent made), and would cover all my use cases (described in more detail in https://github.com/python/mypy/issues/8485)

[2020-03-04 18:15] JukkaL opened #8489 "Mypy daemon dependency problem with __call__"
This fine-grained incremental mode test case fails, probably because of missing dependencies to `__call__`:

[code]

No error is currently reported when running the test case.

[2020-03-04 19:09] quicknir opened #8490 "Simple example of correct dataclass/attrs wrapping?"
I've read this page on the docs: https://mypy.readthedocs.io/en/stable/additional_features.html which says that you can't simply write a function like this:

[code]

And expect things to work properly (same goes for attrs). My question would be, how would one get this to work? Is there a hello world example? My use case is pretty straightforward; I want to simply change some defaults in attrs. For

[2020-03-04 20:52] VioletRainbows opened #8491 "Unable to infer tuple type from inline if"
Bug - The following code will generate:
 `error: Argument 1 to "bar" has incompatible type "object"; expected "Tuple[Any, ...]"`
[code]
https://mypy-play.net/?mypy=latest&python=3.8&gist=0adbffb4d8019987e13f42b149e5b39d

Changing `t` to this will still generate the same error:
`t: Tuple = (1, 2) if len(sys.argv) > 1 else (1,)`

Changing `t` like so will remove the error.
[code]
Thus, I believe tha

[2020-03-04 21:56] MaxHalford opened #8492 "Inheriting type hints from abstract parents"
I have a usecase where I have a few interfaces which are classes that each inherit from `abc.ABC`. Each interface defines a set of abstract methods to implement in order to satisfy said interface. I then have several hundred classes that inherit from one of these interfaces. I like this because the interfaces give a clear view of the API. I would really like it if the type hints that I define in m

[2020-03-05 00:11] msullivan commented on #8373
As a heads up, we will probably have the bandwidth to mentor one or two GSoC projects. We won't make any final decisions on proposals until officially reviewing the applications.

[2020-03-05 13:35] KaiqueBressi opened #8493 "Mypy cannot infer types of initialized variables"
I have the following code:

[code]

Mypy should gives an error of incompatible types because `another_method_call` is not returnig `None` but it is not type checking because it cannot identify what is the type of `another_service`.

The only way to makes it gives an error is initializing `another_service` using:

[code]

I think mypy has enough static information to guess what is the type of `anot

[2020-03-05 15:11] #8489 closed

[2020-03-05 16:02] bephinix opened #8495 "supertype incompatibility with subclass classmethod"
I am currently trying to apply type hints to a base class and its subclasses which override a classmethod:

[code]

Error:
[code]

This seems to be incorrect, as returing `MyBase` is in bounds of `_MyT`.

I have found #2511 and its fix #7474 which should be merged in `0.761` but I still get this error.

Python: 3.8.1
MyPy: 0.761 (no custom flags)

[2020-03-05 16:23] bephinix commented on #8495
Using `def foo(cls: Type[_MyT]) -> _MyT:` solved this issue.

[2020-03-05 16:23] #8495 closed

[2020-03-05 16:40] JukkaL commented on #4451
It doesn't seem worth keeping this open any more.

[2020-03-05 16:40] #4451 closed

[2020-03-05 19:51] pr4k commented on #8491
Weird, Also If you just replace `len(sys.argv)` with `True`, it works fine
[playground](https://mypy-play.net/?mypy=latest&python=3.8&gist=0adbffb4d8019987e13f42b149e5b39d)

but with any other conditional statement its giving error

[2020-03-05 20:13] ErwanDL opened #8497 "[Bug report] Name '...' is not defined when wildcard importing local module"
Mypy version : 0.761

Mypy outputs an error `Name 'MY_CONSTANT' is not defined` when `MY_CONSTANT` has been imported through a wildcard import of a local module. The error doesn't appear when I wildcard import a standard library module for instance (such as `from math import *`.

This is definitely a false positive, since I can run `main.py` without any error.

Example code :
[code]

The module in

[2020-03-05 21:05] lucatrv commented on #8487
One question: if the `formatter_class` type is changed, then I guess it would not accept actual formatter classes anymore, so for instance this would not be accepted anymore?
[code]

Se [`formatter_class` documentation](https://docs.python.org/3.8/library/argparse.html#formatter-class).

[2020-03-05 21:10] srittau commented on #8487
@lucatrv Actually, a class is a callable as well, with parameters equal to the parameters of it's `__init__` method and an instance if itself as return value. It would still be accepted.

[2020-03-06 04:04] msullivan commented on #8437
I've noticed a major (25-30%?) performance regression at Dropbox, so it is possible that the release is going to be delayed while I figure it out.

[2020-03-06 10:25] srittau commented on #8487
This has been fixed in python/typeshed#3821 by @hauntsaninja.

[2020-03-06 10:27] #8487 closed

[2020-03-06 11:06] ayroblu opened #8501 "[Feature Request / Question] Minimum length List / Sequence"
Hi I was wondering if it's possible to create a List/Sequence type with a minimum length
I work with TypeScript a lot too and here's an example TS example: https://stackoverflow.com/questions/49910889/typescript-array-with-minimum-length
(this uses some of the oddities of JavaScript to achieve this I guess)

So I'd like to have an `my_list = AtLeastOneList[str]` which will fail the type check on `

[2020-03-06 11:59] davidzwa commented on #8373
@JukkaL Im posting here to inform you that me and 3 other students from the TU Delft (Netherlands) are currently involved in analyzing MyPy from a Software Architecture perspective (university course).

We are currently writing multiple essays publicly visible on https://desosa2020.netlify.com/projects/mypy/
And our first essay (merely an introduction):
https://desosa2020.netlify.com/projects/mypy

[2020-03-06 12:30] JelleZijlstra commented on #8493
Does it work if you add a type annotation to `__init__`? Mypy generally doesn't typecheck unannotated methods.

[2020-03-06 12:35] JelleZijlstra commented on #8501
This isn't supported by the current type system, and I don't think there are any currently planned features that would allow it.

[2020-03-06 17:53] ilevkivskyi commented on #5382
Supporting frozen typed dicts is also a possible solution. We can even support both things (this and the older idea of inferring typed dict types for dict literals appearing directly in a call).

The core team has very limited resources, if you want to work on this, please go ahead.

[2020-03-06 17:53] ilevkivskyi commented on #8485
This is essentially a duplicate of https://github.com/python/mypy/issues/5382

[2020-03-06 17:53] #8485 closed

[2020-03-06 17:55] ilevkivskyi commented on #8486
The original error is totally valid since argument types are contravariant, see https://mypy.readthedocs.io/en/stable/generics.html#variance-of-generic-types

[2020-03-06 17:55] #8486 closed

[2020-03-06 17:58] ilevkivskyi commented on #8484
In principle think can be a useful feature. But I think it is relatively low priority.

[2020-03-06 18:48] msullivan commented on #8437
Release is going to be delayed until Monday, just because I haven't gotten the blog post written yet

[2020-03-06 19:39] ilevkivskyi commented on #8492
This is essentially a duplicate of https://github.com/python/mypy/issues/3903

Note there was an earlier attempt to fix it in https://github.com/python/mypy/pull/7548

[2020-03-06 19:39] #8492 closed

[2020-03-06 19:40] ilevkivskyi commented on #8491
Fixed on master.

[2020-03-06 19:40] #8491 closed

[2020-03-06 19:42] ilevkivskyi commented on #8501
I am keeping this open for now because theoretically we can think about overloading `__getitem__()` on literal values. But this is very low priority, so don't be surprised if it will be ultimately closed.

[2020-03-06 19:48] ayroblu commented on #8501
Yeah no worries, probably can pass around some opaque lists or just runtime
check it in the meantime

On Fri, 6 Mar 2020 at 19:42, Ivan Levkivskyi <notifications@github.com>
wrote:

[2020-03-06 22:10] ilevkivskyi commented on #8493
Adding a return annotation to `__init__()` indeed fixes the issue. I however still think it is a bug. We had a fix a while ago that introduced type inference for `self` attributes in non-annotated methods. It looks like it doesn't work with deferred methods.

cc @msullivan

[2020-03-06 22:22] ilevkivskyi commented on #8490
The only thing currently supported is aliased import plus `TYPE_CHECKING`. For example:
[code]

[2020-03-06 22:22] #8490 closed

[2020-03-06 22:27] quicknir commented on #8490
plugins are supported, are they not? And the dataclass and attrs functionality are implemented via plugins? So it would be possible to have a minimal plugin, that simply forwards all the "real work" from the dataclass/attrs plugins? Something like that would practically be enough on its own to handle the simplest cases (like changing defaults) and a great starting point for anything else.

[2020-03-06 22:31] ilevkivskyi commented on #8454
Yes, properly typing this would require heterogeneous iterables, it is unlikely it will be supported in foreseeable future. You can however propose the quick fix (adding few extra overloads) on typeshed tracker, as suggested.

[2020-03-06 22:31] #8454 closed

[2020-03-06 22:33] ilevkivskyi commented on #8490
Sure, you can try writing your own plugin that re-uses the default plugin. This will however requires some familiarity with mypy internals.

[2020-03-06 22:38] quicknir commented on #8490
I agree, it will be pretty tough, which is why I'm suggesting that a minimal example in the documentation would be incredibly helpful. My guess is that it's probably 100 lines of code but for somebody not involved with mypy, figuring out those 100 lines will take many hours. As opposed to tweaking an existing example which could take fifteen minutes. An example like that on the doc page that I lin

[2020-03-06 22:44] ethanhs commented on #8373
@davidzwa For a link of good first issues to fix, you may want to check out https://github.com/python/mypy/issues?q=is%3Aissue+is%3Aopen+label%3Agood-first-issue+-linked%3Apr+no%3Aassignee

Also mypy is usually lowercase, unless it starts a sentence, FWIW. I'll leave the other questions to Jukka though :)

[2020-03-06 23:28] ilevkivskyi commented on #8482
Although the error message is not perfect it is technically correct. Type named `foo.Bar` can't be statically resolved.

On one hand, this is a really bad pattern, since a _new_ nested class will be created on each instantiation: `Foo().Bar` and `Foo().Bar` are two different classes. On the other hand this (surprisingly to me) not the first time this issue appears. So it would make sense to improv

[2020-03-06 23:35] ilevkivskyi commented on #8497
Most likely you are using `--ignore-missing imports`, and since you don't have an `__init__.py` file there mypy doesn't find that file.

Also I have no idea how do you run Python, but without that `__init__.py` file I get
[code]

[2020-03-06 23:35] #8497 closed

[2020-03-06 23:39] mikolajz opened #8504 "Python executable inference not run when using --py2 of --python-version"
* Are you reporting a bug, or opening a feature request?
I would say a bug.

* What is the actual behavior/output?
When using the --py2 flag, one needs to additionally pass --python-executable=/usr/bin/python2 flag for mypy to find site packages.

* What is the behavior/output you expect?
mypy should find the Python 2 binary on its own. I think it's a bug since there is code in main.py to do it, b

[2020-03-06 23:50] ErwanDL commented on #8497
There is actually an `__init__.py` file, I tried to give a minimal reproducible example (the real life project on which this bug happens to me is much more complex) and didn't think it was necessary, my bad. I'll try to be more comprehensive.

Note : I do not run mypy with the `--ignore-missing imports` flag.

As you can see on the image below, I import a bunch of constants (one of them is called

[2020-03-06 23:55] ilevkivskyi commented on #8481
Unfortunately I can't reproduce this, mypy just doesn't find the stubs (even though I installed from the right branch). It however looks like something bad (and it seems to me we had seen another similar report recently), so worth more investigation.

[2020-03-06 23:57] slavfox commented on #8482
Yeah, I'm aware this is impossible to type, and for a good reason:
[code]

This is strictly about the seemingly contradictory `'foo.Bar' is not defined` when the type is, in fact, known to mypy, just incompatible with an attempt at static typing.

Apologies if I wasn't clear in the original report :sweat_smile:

[2020-03-07 00:02] MaxHalford commented on #3903
Any news on this? I get it that it's not desirable to enforce this globally. Maybe a compromise would be to only enforce this when inheriting from abstract classes that are likely to have type hinting.

[2020-03-07 00:06] ilevkivskyi commented on #8497
Yes, we can't really proceed without this.

[2020-03-07 00:18] ilevkivskyi commented on #8478
`Optional[Optional[int]]` is in all senses just `Optional[int]`. The issue here is mypy's limited type inference, even if you write:
[code]
mypy can't figure out that in this case `Result = Optional[int]` is a valid solution.

One one hand this is just another issue in an infinite series of inference bugs that could be fixed by "single bucket" type inference, on the other hand I would like to keep

[2020-03-07 00:39] msullivan commented on #8437
I've cherry-picked #8500 which fixes the performance issues

[2020-03-07 00:39] msullivan commented on #8437
I'm also going to cherry pick #8458, which I had thought I had gotten in before the branch but was confused, which supports walrus much better

[2020-03-07 01:21] llchan opened #8505 "`bytearray` treated as a subclass of `bytes`"
* Are you reporting a bug, or opening a feature request? bug
* Please insert below the code you are checking with mypy
[code]
* What is the actual behavior/output?
No mypy error (and the expected `AssertionError` at runtime)
* What is the behavior/output you expect?
Mypy error about assigning wrong type (and the expected `AssertionError` at runtime)
* What are the versions of mypy and Python you a

[2020-03-07 01:23] llchan commented on #8505
I see some PRs about `--strict-equality` and `bytes` and `bytearray`, maybe the scope of some changes there leaked outside the intended context?

[2020-03-07 07:35] ErwanDL commented on #8497
@ilevkivskyi I have created a [basic project to reproduce this error](https://github.com/ErwanDL/mypy_wildcard_import_issue). You can create a virtualenv and install the requirements from the `requirements.txt` file.

I have noticed the following behaviour :
- If you add an empty `__init__.py` file in _my_package_/ both wildcard and regular named imports seem to work normally.
- If you do not add

[2020-03-07 11:18] joybhallaa commented on #8166
@all please take a look at the PR and let me know what I am doing wrong, would really like your input.

[2020-03-07 11:22] joybhallaa commented on #7968
i'm taking this issue

[2020-03-07 12:59] davidzwa commented on #7768
@msullivan Me and a colleague are currently involved in finding out how to solve this small issue, as it is marked good-first-issue.  It is expected to submit a PR next week.

Currently we found that `options.py` as well as the `config_parser.py` have to be adjusted. Is there anything more? Secondly, would you recommend adding a test of some sorts to test our code changes?

[2020-03-07 15:33] nioncode opened #8510 "[Feature-Request] Allow mypy.ini to be a dot file"
Currently, the default configuration files that are picked up are `mypy.ini` and `setup.cfg` in the current directory.
To remove clutter in the project root directory (where mypy's configuration is usually located), it would be great if `.mypy.ini` (i.e. with a leading dot) would also be supported and make the lookup-order: `mypy.ini`, `.mypy.ini`, `setup.cfg`.

It seems like most linters and form

[2020-03-07 17:17] JelleZijlstra commented on #8505
Mypy internally promotes bytearray to bytes for convenience, similar to how int is promoted to float. I thought this was specified in PEP 484, but as it turns out, it isn't. The only mention of this behavior that I can find the mypy docs is in https://mypy.readthedocs.io/en/stable/python2.html?highlight=promotion#type-checking-python-2-code, which mentions the int-float promotion (but not the byte

[2020-03-07 21:09] mikolajz opened #8511 "Wrong file blamed for a mixture of NamedTuple and passing a function instead of type."
* Are you reporting a bug, or opening a feature request?
bug

* Please insert below the code you are checking with mypy,
  * Create an empty dir/__init__.py.
  * Create dir/file1.py with:
[code]
  * Create file2.py (in the root dir) with:
[code]
  * Run: mypy file2.py --follow-imports=silent

* What is the actual behavior/output?

The error message is:
file2.py:8: error: Name 'foo' is not defined

[2020-03-08 01:21] grahamc commented on #8478
Thank you for your thoughts. For this issue I don’t consider it a bug that mypy can’t do it, but I do think the error message is troublesome.

On Fri, Mar 6, 2020, at 7:18 PM, Ivan Levkivskyi wrote:

output: List[Optional[int]] = run_tasks([1, 2, 3], worker)

[2020-03-08 04:34] ErwanDL commented on #8497
@ilevkivskyi I have managed to create [a minimal project](https://github.com/ErwanDL/mypy_wildcard_issue) that reproduces the original error, and may have an idea for what causes it.
You can see that running `main.py` works fine, but mypy raises the error I described :
<img width="1127" alt="Screen Shot 2020-03-07 at 8 30 13 PM" src="https://user-images.githubusercontent.com/35762435/76156672-7913

[2020-03-08 08:34] davidszotten opened #8513 "list of types with multiple bases only uses first shared base?"
i may be misunderstanding something, but it seems that when making a list of types, each with multiple shared base classes, mypy mistakenly infers this to be a list of the first base only, missing others

[code]

[code]

[code]

[2020-03-08 12:21] schuderer commented on #5374
Interestingly, the given rationale of not allowing abstract classes ("mypy always allows instantiation of something typed as Type[...], in particular of function arguments"), does not seem to match its implementation, as classes based on `abc.ABC` cannot be instantiated, but code using only this actually pass the `mypy` check, whereas classes with `@abstractmethod`s *can* be instantiated, but clas

[2020-03-08 15:21] srittau commented on #8505
It is mentioned in the [typing documentation](https://docs.python.org/3/library/typing.html?highlight=bytestring#typing.ByteString). One of the problems is that the documentation is currently split between several PEPs, the typing, and the mypy documentation.

[2020-03-09 00:52] Jahnavi-Jonnalagadda commented on #8373
@JukkaL and @msullivan  , I'm having fair knowledge in Python and solved several problems using Data structures and Algorithms concepts. I'm new to GSoC, would need inputs to kick start contributing in this.

[2020-03-09 10:26] sjustas opened #8516 "Generic type is not inferred across descriptor class methods"
Tried to write type stubs for [lazy](https://pypi.org/project/lazy/) package.  `Lazy` provides a descriptor that invokes the underlying method only once and caches the result in the instance.

The inferred type is `<nothing>`, so mypy crashes when checking expressions.

[code]

[code]

If lazy was defined as a function, type gets inferred correctly.
[code]

[code]

[2020-03-09 10:28] sjustas commented on #8516
Issues that might be related: https://github.com/python/mypy/issues/5738, https://github.com/python/mypy/issues/1317

[2020-03-09 11:38] ninjaaron opened #8517 "Mypy appears to infer the correct type, but throws an error."
Thanks so much for Mypy! It's a very useful tool.

I was messing around to see if I could write a generic iterator type in Python that would be faster than a generator function. (needless to say, I did not succeed). However, I got a rather unusual message from mypy:

[code]
So, it expected the thing it got and then showed an error anyway.

Code is here:
[code]

When I add generic parameters to the

[2020-03-09 11:53] ninjaaron commented on #8517
I got it to check with this class definition:

[code]

This doesn't look entirely correct to me. Mypy is treating `f` like a bound method, rather than an instance variable i.e. wants `f` it to take two input parameters--the first presumably being `self`. It doesn't check if only one input parameter is given.

[2020-03-09 12:44] ghost opened #8518 "incorrectly infers variable type if __init__ is after methods that use it"
[code]

results in:

error: Incompatible types in assignment (expression has type "int", variable has type "None")

This is with version 0.761 of mypy

[2020-03-09 14:02] fgmehlin opened #8519 "Order of clause in one-line if/else statement yields different mypy behaviors"
I may have encountered a bug in Mypy's inference of types when using a one-line if/else statement:

The issue appears when returning a lambda function or a standard built-in (in that case `print`), depending on a `bool`.

[code]

^^^ The above raises the following Mypy error:
`Incompatible return value type (got "function", expected "Callable[..., None]")`

However, reversing the condition like be

[2020-03-09 15:21] janverb commented on #8516
This works as expected if you change `lazy` to inherit from `Generic[T]`. Crashing seems like the wrong response though.

[2020-03-09 16:21] SankarChinnaShanmugam commented on #8513
As per my understanding it follows as below:

Every class is also a valid type. Any instance of a subclass is also compatible with all superclasses – it follows that every value is compatible with the object type (and incidentally also the Any type, discussed below). Mypy analyzes the bodies of classes to determine which methods and attributes are available in instances. This example uses
subclass

[2020-03-09 17:08] KaiqueBressi commented on #8493
Yeah, I was a little frustrated because forgetting to add a type annotation to `__init__` would cause type annotated methods that depends on `__init__` to ignore any typing error, which is not good but using the command line ` --check-untyped-defs` is a good temporary solution for now.

Thanks for the responses.

[2020-03-09 17:27] llchan commented on #8505
Thanks for the explanations.

I'm not sure I agree with convenience over correctness in a type system, but I can put that aside for now and be pragmatic.  I wonder if we can tighten up the implementation so that `bytes` becomes `typing.ByteString` only when referring to function arguments?  If I understand correctly, the genesis of this promotion was the C API's arg unpacking, so it only makes sen

[2020-03-09 17:41] llchan commented on #8505
Just thinking out loud here, but could we introduce a new option + CLI flag to make this more strict?  I found the dict with the type promotions in `semanal_classprop.py`, so maybe it wouldn't actually be too hard to disable `bytearray` and `memoryview` promotion.  This would allow for a more gradual opt-in transition for existing code, and would give us time to update typeshed/etc.

[2020-03-09 23:10] ethanhs commented on #8516
We definitely should not crash. It might be nice if we have an unused type variable in a method that the class may need to be generic.

[2020-03-10 02:51] dosisod commented on #8437
Hi! I see that version `0.770` has been released on github, when will it be available for download on pypi.org?

[2020-03-10 03:38] msullivan commented on #8437
It'll go out tomorrow. Sorry for the delays.

On Mon, Mar 9, 2020 at 7:51 PM dosisod <notifications@github.com> wrote:

[2020-03-10 08:03] sjustas commented on #8516
Thanks for such a quick response.  You guys rock!
Yeah, a warning that class needs to be generic would've been useful.

[2020-03-10 15:10] arseniiv commented on #8266
If someone’s interested in the status, I’ve read in a lazy manner a couple of source files I thought may be related, but haven’t found the likely cause yet.

[2020-03-10 16:41] Arshaan-256 commented on #8373
@JukkaL I would like to pick up NumPy support as my project. I have already made myself familiar with mypy and have decent experience working with Numpy. Besides creating a way to define array dimensions, we could also add checks for matrix and vector operations. I worked on issue: #8344 , the pull request is yet to be reviewed though.

[2020-03-10 16:52] hackaugusto opened #8520 "Incompatible import of "Literal" (imported name has type "typing_extensions._SpecialForm", local name has type "typing._SpecialForm")"
Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?

Bug

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

[code]

* What is the actual behavior/output?

No conflicts among the types

* What is th

[2020-03-10 18:13] rmorshea commented on #2929
@briggySmalls looks like the PR for this was never merged.

[2020-03-10 21:26] nickroeker commented on #1645
It is the year 2020. Python 3 is the only supported major release of Python. Is using the non-default `--namespace-packages` flag still the recommended solution?

As a creator of various namespaced packages targeted for Python 3, this requires users of my packages to set this flag to get any type information out of my packages. Also as a developer of these packages, getting the `__init__.pyi` alte

[2020-03-11 01:43] #8510 closed

[2020-03-11 03:54] JelleZijlstra commented on #8520
That error seems OK to me (it's a bit unfortunate that the `_SpecialForm` name leaks to a user-visible error message).

Why do you want this code to work? Importing the same name from two different packages outside a conditional or try-except doesn't seem useful.

[2020-03-11 09:45] hackaugusto commented on #8520
It happened by accident. The project has its own typing module with reexports all symbols from `typing` with a [`from typing import *`](https://github.com/raiden-network/raiden/blob/e6e17beb3245ac4792a1bf03d2933311713149a2/raiden/utils/typing.py#L2-L6).

I opened the issues mostly because this does work with py3.7 and the error surprised me when I created a new fresh venv.

[2020-03-11 11:22] janverb commented on #2929
This was merged in #8192. You can just put `strict = True` in a config file now.

[2020-03-11 12:30] briggySmalls commented on #2929
Oh nice! Thanks people 👏

[2020-03-11 13:16] Renegatto opened #8521 "Callable type anntoation written apart of assignment causes false positive typecheck result."
_A bugreport, mypy version is 0.761, python version is 3.7.3_

### This is a case where expected incapatible types, because i declared that foo's input type is **float**, and attempting to call it with **str**, but typechecking passed successful.
[code]
`mypy this_file.py`
Mypy's output:

### A case with type annotation written with assignment wont give false positive result:
[code]
`mypy this_fil

[2020-03-11 15:06] Savlik opened #8522 "Per-module options patterns starting with *"
Hi,
I am experimenting with per-module options and came across weird behavior when module patterns start with star. [Documentation](https://mypy.readthedocs.io/en/stable/config_file.html#config-file-format) does not explicitly say if this is allowed or not, but I would assume it would work the same way as if it was "in the middle" of pattern. And IMHO there is no reason not to support it.

**First

[2020-03-11 15:07] rwarren opened #8523 "Error when preserving generic type behaviour in subclasses (when not supported at runtime)"
This is a bug report.
* mypy = 0.770
* python = 3.8.2
* I did not try running mypy from git master
----
The docs for "Using classes that are generic in stubs but not at runtime" ([here](https://mypy.readthedocs.io/en/stable/common_issues.html#using-classes-that-are-generic-in-stubs-but-not-at-runtime)) clearly indicate how to subclass classes that are defined to be generic in their stubs but don't

[2020-03-11 17:55] msullivan commented on #8437
Done!

[2020-03-11 17:55] #8437 closed

[2020-03-11 18:41] glyph commented on #8486
@ilevkivskyi I can't figure out how to formulate the issue that I still have, which is that I can't figure out how to make something that duck-types to a `date` but not a `datetime`; there is some level of self-referentiality where this technique breaks down, but I can't figure out exactly where without slogging through the whole `date` representation.

[2020-03-11 20:36] MrRaval17 commented on #8029
@ilevkivskyi I was able to reproduce the scenario mentioned by @efenka :
![image](https://user-images.githubusercontent.com/54957392/76460424-fbc6a300-6403-11ea-92f4-26e4edd5d41d.png)

I also saw #7773 issue. I guess the "unrecognized options" error is being produced because the options which cause those errors are not defined in mypy/options.py or are defined with different names ?

However I don

[2020-03-11 21:01] asottile opened #8525 "mock.patch.multiple(..., **patches) type checks against non-**kwargs arguments"
example:

[code]

output:

[code]

expected: no errors -- the stub for `multiple` takes `**kwargs: Any`: https://github.com/python/typeshed/blob/508fd844992f5ba8398fec5defa5bb7a44c71269/stdlib/3/unittest/mock.pyi#L91

[2020-03-11 22:23] 0az opened #8526 "Set[T] is incompatible with Set[Optional[T]] - Set[None]"
Tested with 0.761.

MWE:
[code]

[2020-03-11 23:16] dan-stromberg opened #8527 "Mypy (Official) PyCharm plugin tracebacks with mypy, and running mypy outside PyCharm gives an error"
Hi.

* Are you reporting a bug, or opening a feature request?
This seems to be a bug in mypy or PyCharm or a dependency.

* Please insert below the code you are checking with mypy,
#!/usr/bin/env python3

def fibonacci_sequence():
    """Generate the fibonacii sequence forever."""
    value1, value2 = 1, 1
    while True:
        yield value1
        value1, value2 = value2, value1 + value2

def m

[2020-03-11 23:17] dan-stromberg commented on #8527
Here's the traceback from running mypy master outside PyCharm:
$ mypy --show-traceback tst.py
below cmd output started 2020 Wed Mar 11 04:17:04 PM PDT
/home/dstromberg/.local/lib/python3.6/site-packages/mypy/typeshed/stdlib/2and3/builtins.pyi: error: INTERNAL ERROR -- Please try using mypy master on Github:
https://mypy.rtfd.io/en/latest/common_issues.html#using-a-development-mypy-build
Please rep

[2020-03-12 01:05] ethanhs commented on #8527
I am unable to reproduce with https://mypy-play.net/?mypy=latest&python=3.8&flags=check-untyped-defs&gist=147fc4c662aac502b64ae6fba17372c1

I think your installation may be broken? Can you uninstall mypy and install again?

[2020-03-12 02:15] TH3CHARLie commented on #8437
congrats!
Maybe I'm missing something, but it looks like http://mypy-lang.org/ and the twitter account has not been updated yet.

[2020-03-12 05:52] joybhallaa commented on #8276
I'm taking this issue

[2020-03-12 14:09] cwhy commented on #4128
@ilevkivskyi  I agree that we can only support final names for individual keys, as stated at the end of PEP-591:

It is sometimes useful to have different types on the same label as well:

[code]

[2020-03-12 15:11] cwhy commented on #4511
Agree. In a lot of cases, the type signature would be very long, especially with Callables.

[2020-03-12 15:33] dan-stromberg commented on #8527
I uninstalled and reinstalled, but still the same problem:

[code]

Any further suggestions?

BTW, I believe PyCharm is using a different CPython.  PyCharm has 3.7, but my /usr/bin/python3 is 3.6.

[2020-03-12 16:35] dan-stromberg commented on #8527
I'm using python3 -m pip install --user mypy
That's perhaps less common than installing into a virtual environment.

[2020-03-12 19:40] dan-stromberg commented on #8527
I just tried the following:
$ mv ~/.local{,.nopers}

$ python3.6 -m pip install --user mypy
Collecting mypy
  Using cached https://files.pythonhosted.org/packages/b0/f4/5a08a46e808d234e65e9f036451d124dd9053a6024c77479eb8d0d7a82e0/mypy-0.770-cp36-cp36m-manylinux1_x86_64.whl
Collecting typing-extensions>=3.7.4 (from mypy)
  Using cached https://files.pythonhosted.org/packages/03/92/705fe8aca27678e01

[2020-03-12 20:27] dan-stromberg commented on #8527
This helped at the command line:
sudo python3 -m pip uninstall mypy mypy-extensions typed-ast typing-extensions

I got the list of things to uninstall using pepdeptree.

[2020-03-12 20:31] dan-stromberg commented on #8527
And doing the same for /usr/bin/python3.7 fixed things inside of PyCharm.

Thanks.

[2020-03-12 20:31] #8527 closed

[2020-03-12 22:27] Arshaan-256 commented on #2400
@JukkaL I would like to work on this issue. Could you provide me with some pointers?

[2020-03-12 23:20] bryanforbes commented on #8481
@ilevkivskyi let me know if you need help reproducing this. I'm the maintainer of the stubs and I'm experiencing the same issue on 0.770.

[2020-03-13 08:48] julianoes opened #8531 "Simple type checks in ctor called inside function not errroring"
I'm new to using type hints in Python and stumbled upon a case where I expected mypy to error but it did not. I narrowed it down and it seems that a check in ctor is not checked when called inside a function.

#### Example not triggering type error:

[code]
It doesn't error as expected:
[code]
With `--script` it works
[code]

#### Example correctly triggering type error:

[code]
It triggers the er

[2020-03-13 08:51] julianoes commented on #8531
Ok, looks like that's expected https://mypy.readthedocs.io/en/stable/common_issues.html#no-errors-reported-for-obviously-wrong-code.

[2020-03-13 08:51] #8531 closed

[2020-03-13 11:02] ethanhs commented on #8481
I can repro this crash, I needed to install aiohttp and websockets from requirements.txt for it to happen. It seems that the assertion failure happens for `discord.channel.BaseUser`. My guess is there a large import cycle in the channel/user pairing that is causing the issue, but I am not sure.

[2020-03-13 12:34] lladhibhutall commented on #5705
Hey @ckarnell are you still working on it?

[2020-03-13 12:51] davidzwa commented on #8353
@mridullpandey please report back, if you are out of time I can be of help as well.

[2020-03-13 13:37] lladhibhutall commented on #6406
Hi @msullivan I would like to take a stab at it, I am new to mypy so if you could give a little guidance.

[2020-03-13 15:13] tlynn commented on #2400
I've looked into this a bit. It's more complicated than I expected, in part because mypy acts directly on the abstract syntax tree rather than representing the execution semantics explicitly.

Handling this perfectly involves lots of special cases, e.g. differences between assignment semantics in Python 2 and 3 (comprehensions), removal of "if 0" (as the Python compiler does), and following predic

[2020-03-13 15:48] olirice opened #8532 "Access abstract class property from class method"
When accessing a class property from a class method mypy does not respect the property decorator.

Steps to reproduce:
[code]

- Python Version: 3.7.2
- Mypy Version: 0.770
- The issue persisted when installed from master 20f7f2d

[2020-03-13 16:19] florimondmanca opened #8533 ""Type of TypedDict is ambiguous" despite tag fields being distinct Literal types"
Hi there,

Thanks for all the awesome work on mypy! It's brought incredible improvements to my workflow. :-)

I'm reporting what could be a bug with [tagged unions](https://mypy.readthedocs.io/en/stable/literal_types.html#tagged-unions), which were released in 0.770. As of today this is also reproducible against `master`.

Unfortunately this bug makes usage of tagged unions impractical. Last time

[2020-03-13 17:05] florimondmanca commented on #8533
Ah, so I realize this might actually be a feature request… It seems we can't use a tagged union to declare variable, but only a function parameter, and then pattern-match inside the function based on whichever exact type is passed as a parameter, eg:

[code]

I'm not sure if it even makes sense to allow using `C` to declare a variable here — but I _think_ (?) it does? Eg even though mypy loses inf

[2020-03-13 17:13] tlynn commented on #2400
Rather than wait until I have time to clean it up, I've just put it up as-is.

https://github.com/python/mypy/compare/master...tlynn:issue2400-wip?expand=1

This is full of print statements and other debug noise, and it's breaking (at least) these tests:
* testUnusedTargetForLoop
* testLambdaDefaultTypeErrors
* testRedefineLocalForLoopIndexVariable
* testCannotRedefineLocalWithinTry
* testRedefine

[2020-03-13 17:41] dcbaker opened #8535 "Mypy is confused about Type[TypeVar(..., bound=)]"
python 3.7.6
mypy 0.760

I also tried python 3.8.1 with mypy from git 20f7f2dd71c21bde4d3d99f9ab69bf6670c7fa03, with the same results.

Here is a super simplified version of my case, the real cases takes input to decide which potential to use, and the returns it. Mypy insists that both A and B do not fit the type in the list, and that the return type is wrong as well.

[code]

[code]

[2020-03-13 23:23] msullivan commented on #6406
I think you'll want to add some sort of special case to `check_multi_assignment` in `checker.py`

[2020-03-14 00:03] msullivan commented on #8535
This is correct, I think. The type variable BaseBound could be `any` subtype of `Base`, so there's no guarantee that `A` and `B` are subtypes of it.

In this particular example, though, there's no real need for a type variable at all. (In general, it doesn't usually make sense to have a type variable that appears only once.) It could just return `Base`. Is there a more fleshed out example where it

[2020-03-14 00:04] ErwanDL commented on #8532
I would like to try and tackle this issue since it is labelled as a good first issue. @msullivan do you have an idea of where I should start looking ?

[2020-03-14 02:22] msullivan commented on #8533
I think that I agree that this is a bug.

There is a pretty easy workaround, though:
[code]
works

[2020-03-14 02:24] msullivan commented on #8532
Probably in `checkmember.py`

[2020-03-14 02:29] msullivan commented on #8522
These seem like reasonable complaints. I'd be happy to review a patch if you want to send one.

[2020-03-14 02:29] #8520 closed

[2020-03-14 02:43] msullivan commented on #8519
The issue here is that typechecking of conditional expressions works by computing the type of the if branch, and then using that as "context" when computing the type of the else branch. When print's type is used as context, that causes the lambda to get inferred as that type, but if the lambda's type is the context, that doesn't change anything.

Then, the two types get joined, and the join ends u

[2020-03-14 03:32] ErwanDL commented on #1645
I hope that I am not unaware of some context around this issue, but I agree with @nickroeker that it would make sense for the `--namespace-packages` flag to be the default behaviour for mypy, especially as the current behaviour is really confusing for Py3-only users like myself.

I very recently stumbled into an issue (https://github.com/python/mypy/issues/1645) due to this (adding the `--namespac

[2020-03-14 03:40] jgossage commented on #1645
I think that the question of the --namespace-packages flag needs to be
raised with the Python people. I am just a user like you.

On Fri, Mar 13, 2020 at 11:32 PM Erwan de Lépinau <notifications@github.com>
wrote:

--
Jonathan Gossage

[2020-03-14 03:43] joybhallaa commented on #8276
@JukkaL where should I add `contextmanager` in `https://mypy.readthedocs.io/en/stable/kinds_of_types.html` ?

[2020-03-14 03:45] jraygauthier commented on #5701
Any progress here? This impact [nix](https://nixos.org/nix/) users which uses sitecustomize to create reproducible development environments. Mypy is actually barely usable in this context. We're plagged with these unexpected `error: Cannot find module named 'my_package'` for our PEP 561 libraries which do expose the `py.typed` file. Workaround is the add the library to `MYPYPATH`. However, this is

[2020-03-14 05:05] ethanhs commented on #8276
@joybhallaa I would create a new section called "Context Managers".

[2020-03-14 07:13] sudhirkumar43 commented on #76
Hi @JukkaL,
Its like point the error like  processsor is not defined earlier? Since we don't know whether the two words are pointing the same variable or different.

[2020-03-14 09:14] florimondmanca commented on #8533
Hi @msullivan, thanks :)

FWIW, my precise use case was yielding dicts that match a tagged union inside a generator function:

[code]

[code]

In that case your workaround works too, although pretty clunky:

[code]

I'm new to the mypy codebase, but if you've got any pointers on where this might come from I can try and investigate a bit more.

[2020-03-14 13:50] mthuurne opened #8539 "Only concrete class can be decorated with @total_ordering"
When I check this code with mypy:

[code]

It reports:

[code]

I'm using mypy 0.770 under Python 3.7.3 on openSUSE Linux.

I don't see a reason why an abstract class cannot be decorated with `@total_ordering`.

In [typeshed commit e404e15](https://github.com/python/typeshed/commit/e404e1592d8e1de9099c2dabc9fdb0e55c2d2070) the signature of `total_ordering` was changed to preserve the original type

[2020-03-14 18:38] Michael0x2a commented on #8533
The strategy I personally use is to grep for part of the error message. That usually points you to some location in messages.py, which is responsible for constructing and reporting error messages. Then, you can work backwards to figure out how exactly we ended up reaching that particular point in the code.

For example, grepping for "Type of TypedDict is ambiguous" should point you to [typed_dict_

[2020-03-15 07:01] lladhibhutall commented on #6406
@msullivan can you explain the example? I get it that mypy won't catch this exception but couldn't understand the tuple unpacking of string part.

[2020-03-15 08:22] dpinol opened #8540 "type is not recalculated when it was previously a List[Any]"
* Are you reporting a bug, or opening a feature request?
A bug
* Please insert below the code you are checking with mypy,
[code]
* What is the actual behavior/output?
[code]
* What is the behavior/output you expect?
I would expect one the following:
a) Either I get an error because "messages" is reassigned to Any afetr it was a list in the previous line
b) Or I don't get the "unreachable" error be

[2020-03-15 14:35] jszopi opened #8541 "Tuple's `super().__new__` signature doesn't match element type"
Hi, when I inherit from `Tuple[float, float, float]`, and pass a tuple of floats as an argument to `super().__new__`, I get an error saying that an `Iterable[_T_co]` was expected instead. As per [the `typeshed` stub](https://github.com/python/typeshed/blob/6b4fd79808fcce981f8d1eaa9690b6df3afc0fea/stdlib/2and3/builtins.pyi#L879), `_T_co` is supposed to be the type of the tuple elements, so I guess

[2020-03-15 22:35] asottile opened #8543 "Allow method assignment in body of type extending typing.NamedTuple"
this currently works for non-namedtuple classes (both runtime and mypy-time):

[code]

and it works for `typing.NamedTuple` at runtime:

[code]

[code]

but fails at type-checking time:

[code]

___

concrete usecase: `__hash__` is in the critical path (~13%) for some code I'm writing and the extra layer of function which calls into `object.__hash__`'s overhead is significant:

[code]

___

I'd be

[2020-03-15 22:46] ethanhs commented on #8543
I think we could take a PR to fix this, but I'm not entirely sure what the ground truth of allowable dunder overrides are for namedtuple. Perhaps we can allowlist those.

[2020-03-16 02:21] dcbaker commented on #8535
I guess you're right. I thought in the past when I'd tried that mypy had complained that "A isn't a Base" or something similar.

[2020-03-16 02:21] #8535 closed

[2020-03-16 06:22] ethanhs commented on #5701
Ok, it seems there is significant need for this, bumping to priority high.

[2020-03-16 07:57] emmatyping opened #8545 "Allow/disallow pep561 packages"
@alexander255 has requested a flag `--pep561-override` to allow listing packages as pep 561 compatible when they are not. This got me thinking and I think the best UX for this would be a pair of flags: `--allow-installed-package NAME` and `--disallow-installed-package NAME` (or something like that).

The idea is to solve two problems:

Some people publish PEP 561 packages that are either too unsta

[2020-03-16 14:46] gjcarneiro opened #8546 "mypy wants `Future[<nothing>]`, thinks it's incompatible with `Future[str]`"
Apologies if this is a typeshed issue.  It happened when I upgraded mypy, so filing with mypy first.

* Are you reporting a bug, or opening a feature request?

bug

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

[code]

* What is the actual behavior/output?

[code]

[2020-03-16 15:55] evandrocoan opened #8547 "How can I make this `# type: ignore` platform specific?"
The project I use, runs both on Windows and Linux. The code is all platform specific, but `mypy` keeps ignoring it:
[code]
1. If I add `# type: ignore` to lines `290` and `292` then, `mypy` works on Linux, but it fails on Windows with `error: unused 'type: ignore' comment`
1. If I remove the `# type: ignore` from the lines `290` and `292` then, `mypy` works on Windows, but it fails on Linux with `

[2020-03-16 20:45] davidzwa commented on #8522
I will look into this on Wednesday.

[2020-03-16 23:28] rvandegrift opened #8548 "mypy doesn't recurse through directories, but -h says it does"
According to `mypy -h`:
[code]

But it doesn't recurse, it only checks what's explicitly provided on the command line:
[code]

The fix might be to change the documentation.  This is easy to workaround with `find`.

[2020-03-16 23:59] msullivan commented on #8511
Oh this looks nasty. Anything that gives errors in the wrong file is really bad!

[2020-03-17 00:10] msullivan commented on #8505
This is a frustrating one. We could consider a flag, though I'd want to investigate the impact first.

One issue is that it would be hard to make it work in a per-module way with the existing implementation. If you want to submit a PR that adds a flag or changes the behavior, take a look at `semanal_classprop.py`. Then I'll try it out on our internal codebase and see what the damage is like there,

[2020-03-17 00:28] Michael0x2a commented on #8548
I believe this is because you're using namespace packages instead of regular packages. If you try running:

    mypy --namespace-packages -p test

...mypy should detect that you have two source files. The [command line docs](https://mypy.readthedocs.io/en/stable/command_line.html) should have more details about both flags.

Alternatively, you could do:

    touch test/__init__.py
    touch test/te

[2020-03-17 00:33] msullivan commented on #8521
If any part of this is wrong, it is that part 1 doesn't result in an error. The type of `foo` there gets refined to `def (x: Any) -> Any`, which seems wrong to me, since we mostly don't do that with other types?

Our exact behaviors regarding `Any` and type refinement are sort of unclear and pretty heuristic

[2020-03-17 00:34] msullivan commented on #8521
@JukkaL thoughts?

[2020-03-17 00:44] msullivan commented on #8523
The relevant error flag is `--disallow-any-generics`.

I am actually not totally sure what the best way to handle this is?

[2020-03-17 00:47] msullivan commented on #8523
How about this unfortunate hack (that creates another class in the hierarchy unfortunately)

[code]

[2020-03-17 01:00] rvandegrift commented on #8548
That might fix the above example.  But my actual use case is to check any python files regardless of where in the directory hierarchy they appear.  So I actually want the recursive behavior described in the help text.

[2020-03-17 07:00] mthuurne commented on #8267
#523 is related to this. It was closed by PR #6790, which adds code to avoid reporting false positives when the same private name is used in a subclass and superclass. However, it doesn't implement name mangling nor does it add any checks for private names being accessed from outside the class. As a result, false negatives can occur, as in the test case above.

Here is another false negative test

[2020-03-17 09:09] davidzwa commented on #8029
@ilevkivskyi I saw your comment on `no_*` settings. I'm involved in the --no-site-packages issue #7768 (PR: #8524) and to do that I've added `no_site_packages` to _options.py_. I suspect if your intuition comes out to be true, my contribution there might influence it.

I will look into this issue further Wednesday, so any other information might come in handy.

[2020-03-17 14:51] Sanchit-Trivedi commented on #8532
### Hi @msullivan @olirice . I am a newbie to open source. Please excuse if you perceive this as a dumb question. Saw this issue as it was marked as a good first issue. I ran the given code in python 3.6.9. It is not even working in normal python let alone mypy.  Can you please clarify whether this was supposed to be a mypy specific bug or could be in python3 itself?

[2020-03-17 15:26] olirice commented on #8532
@Sanchit-Trivedi thank you for catching that. I boiled the example down a little too far!

Here is an updated minimal reproducable example:

[code]

The valid usage of that abstract base class could be
[code]

[2020-03-17 16:07] msullivan commented on #8525
I think this is intended behavior but also it is unfortunate and frustrating in this case.

It is erroring because patches could contain values for the actual keyword arguments of `mock.patch.multiple` itself. Really it is kind of an API mistake for mock.patch.multiple to take a kwargs and *also* a bunch of keywords arguments...

[2020-03-17 16:07] #8525 closed

[2020-03-17 16:41] ErwanDL commented on #8532
@olirice are you sure about the usage of the abstract base class ? In the ABC you define `name` as a property + classmethod, but in your derived class you override it as a class attribute by doing `name = "some_name"` (so technically it runs, but I am not sure it really does what you intended it to).

After doing a bit of research, it actually seems that combining the `@property` and `@classmethod

[2020-03-17 16:41] mikolajz commented on #8511
Yes, it was quite tricky to find that the error was because in a completely different file someone used numpy.array instead of numpy.ndarray.

[2020-03-17 18:18] olirice commented on #8532
@ErwanDL you're right. There are a bunch of examples floating around that stack abstractmethod, classmethod, and property decorators, but it doesn't appear to be officially supported.

Thanks for your help and sorry this wasn't the good first issue you were looking for!

[2020-03-17 18:18] #8532 closed

[2020-03-17 18:20] ErwanDL commented on #8532
@olirice no problem, and don't worry there are plenty of issues on this repo for me to dive into :)

[2020-03-17 18:25] Sanchit-Trivedi commented on #8532
@olirice will have to look up other first issues to fix I guess. Can you suggest any?

[2020-03-17 18:59] olirice commented on #8532
@Sanchit-Trivedi thank you as well!
wrt suggesting an issue: sorry, I can't be much help there. I'm similarly new to this codebase

[2020-03-17 21:00] ErwanDL opened #8553 "[Bug] False negative : no type check for instance attribute declared in constructor"
I am unsure whether this behaviour is known or not, but mypy doesn't seem to correctly infer/check the types of instance attributes that are declared in the constructor and have an implicit typing.

Example :
[code]

Note that if I explicitly annotate the type of `self.title` in the constructor for Article by one of the following means, the error correctly appears :
[code]

I would be happy to try

[2020-03-17 21:07] #8511 closed

[2020-03-17 23:33] dfarley1 opened #8554 "Incompatible type with Dict[Union, Any]"
[code]

I get the following error from Mypy without any specific strictness flags enabled:
`Argument 1 to "foo" has incompatible type "Dict[str, int]"; expected "Dict[Union[str, int, float], Any]"`

Why is this an error? `"1"` is a str and should satisfy the Union key type, right?

* What are the versions of mypy and Python you are using?
Python v3.6, Mypy v0.760

[2020-03-18 05:21] elprans commented on #8128
This appears to have been fixed in https://github.com/python/mypy/pull/8458 (at least the original issue).

[2020-03-18 06:49] ErwanDL commented on #8553
This appears to be a duplicate of https://github.com/python/mypy/issues/8493. Closing this issue, as the bug is being discussed there.

[2020-03-18 06:49] #8553 closed

[2020-03-18 09:20] mr-c opened #8555 "StubtestMiscUnit.test_output fails during Debian package building"
mypy 0.770

[code]

[2020-03-18 14:22] antonagestam opened #8556 "Bug: `issubclass()` doesn't narrow TypeVar type with Protocol"
Using issubclass with a runtime checkable Protocol and a union-bound TypeVar fails to narrow the type. The below example is from invoking mypy with `mypy --python-version=3.8 reproduce-issubclass-bug.py`. The issue seems similar to https://github.com/python/mypy/issues/7920. Tested on both 0.770 and master (0.770+dev.afe0667bbe85e048b6bb4e3fc1b7d5a375b7d01f).

[code]

Output:

[code]

[2020-03-18 15:12] waketzheng opened #8557 "Incompatible types in assignment (expression has type "int", variable has type "Optional[str]")"
Code:
[code]
mypy result:
[code]

(wanghai) ➜  wanghai git:(master) ✗ mypy --version
mypy 0.761
(wanghai) ➜  wanghai git:(master) ✗ python -V
Python 3.8.1

[2020-03-18 15:57] rggjan opened #8558 "--check-untyped-defs-lite"
Trying to reopen or clone https://github.com/python/mypy/issues/7744 but didn't figure out how, so I created a new issue instead.

See https://github.com/python/mypy/issues/7744 for all the required information.

[2020-03-18 16:45] JukkaL commented on #8545
I can see how this could be useful., and this shouldn't be hard to implement

Random thoughts:

* What about `--use-installed-package X` as the option name? The inverse would be `--ignore-installed-package X`, perhaps. More ideas:
  * `--enable-installed-package X` and `--disable-installed-package X`
  * `--use-site-package X` and `--no-site-package X`
  * `--site-package X` and `--no-site-package

[2020-03-18 18:21] nittyswami commented on #8373
Hey guys i want to help in set up mypy for contributing

[2020-03-18 19:58] socketpair opened #8560 "Baseclasses"

[2020-03-18 19:59] #8560 closed

[2020-03-18 20:05] jceresini commented on #8554
I've noticed a similar issue, reported here: https://github.com/samuelcolvin/pydantic/issues/959#issuecomment-600829091

All of the detail is in that comment, but if you prefer I can include it inline here as well

[2020-03-18 22:57] tz-earl commented on #7864
First time contributor here. If no one else is expanding the docs, I'd like to take a stab at it.

[2020-03-18 23:05] ethanhs commented on #8557
What version of mypy are you using? I believe that 0.770 has better narrowing with the walrus assignment operator.

[2020-03-18 23:21] ethanhs commented on #7864
@tz-earl Welcome, please feel free to get started on it! Let me know if you have any questions.

[2020-03-18 23:23] brandtbucher commented on #8557
I'm not sure I understand the issue. `value` is typed as `Optional[str]`. The expression `value := int(value)` assigns an integer value to it, which is illegal.

[2020-03-18 23:48] ethanhs commented on #8555
Hm, @hauntsaninja I believe you wrote this code. It seems that the temp directory code is not doing what you expect.

[2020-03-19 00:20] ethanhs commented on #8128
Confirmed as fixed.

[2020-03-19 00:20] #8128 closed

[2020-03-19 00:23] JelleZijlstra commented on #8554
This is because `Dict` is invariant. See https://mypy.readthedocs.io/en/stable/common_issues.html#invariance-vs-covariance. You probably want to use `Mapping` for argument types.

[2020-03-19 00:23] #8554 closed

[2020-03-19 00:28] ethanhs commented on #8557
I think this would be legal with `--allow-redefinition`, but I don't think that works with the walrus operator AIUI.

[2020-03-19 00:28] hauntsaninja commented on #8555
I did write this code. The test passes for me locally as well as in CI:
[code]
StubtestMiscUnit.test_output is a basic test of the output of the stubtest script. It appears the issue is that it's printing the absolute path of the temporary python file in the error message, whereas StubtestMiscUnit.test_output expects it to print the file location relative to cwd (which we set in `use_tmp_dir`).

O

[2020-03-19 00:59] JelleZijlstra commented on #8547
If you use a mypy-recognized platform check like `if sys.platform == 'win32'`, mypy should behave as expected.

[2020-03-19 01:25] evandrocoan commented on #8547
The `isWin` Anki uses on the if is this:
[code]

The only way to `mypy` to work is replacing the `if isWin` by `if sys.platform == 'win32'`? This should be improved.

[2020-03-19 02:26] JelleZijlstra commented on #8543
I don't think dunders are the issue. At runtime, only objects with type annotations are interpreted as NamedTuple fields, so mypy should mirror that logic.

[2020-03-19 04:07] tz-earl commented on #7864
@ethanhs Thanks a lot for the go-ahead.

Just to be sure, it seems that there is an older package **overload** that has been superceded by the package **overloading**. Is that right?

[2020-03-19 04:48] JelleZijlstra commented on #7864
I don't think any packages named `overload` or `overloading` are relevant here. The relevant `overload` is the one defined in the `typing` module in the standard library.

[2020-03-19 05:02] tz-earl commented on #7864
@JelleZijlstra Thank you!

I'm not at all familiar with the @overload decorator, and I missed the reference to the typing package in other comments.

[2020-03-19 11:27] JukkaL commented on #8373
Many people have expressed interest in the GSoC projects. Since we can't accept many candidates, we are setting some minimum requirements for candidates to streamline the process, and to set realistic expectations. These are the requirements (no exceptions, sorry):

1. You have a) completed a university course "Introduction to Compilers" (or similar), or b) have made multiple contributions to a ty

[2020-03-19 21:33] msullivan commented on #8517
Hm. Mypy doesn't have a clear distinction internally between instance and class variables, and that is probably causing trouble here

[2020-03-19 21:37] msullivan commented on #8513
Yeah, that's definitely true. mypy will not be able to figure this one out. Unfortunately there isn't even really a type that we can write down in our type system --- we'd need intersection types so you could express that it is a `List[Intersect[B1, B2]]`.

We recently landed some changes to do ad-hoc intersections in certain cases but I don't know if that could be scaled up to help here. @Michael

[2020-03-20 00:36] nkakouros opened #8561 "Internal error with custom module"
* Are you reporting a bug, or opening a feature request?
BUG

In my project, I have `lib` folder where I have placed some custom modules. The directory looks like this:

[code]

I have set `PYTHONPATH` to:

[code]

Similarly, I have set `MYPYPATH` to:

[code]

Without setting `MYPYPATH`, I do not get proper warnings for type mismatches for my custom modules.

The file `cds/querier/query.py` contai

[2020-03-20 03:13] Mattwmaster58 commented on #4441
This would be _really_ useful to have in a project I'm working on ATM. Is there any chance someone authoritative could take a look at #4441? Or is there any other way I could help out?

[2020-03-20 03:19] tz-earl commented on #7864
With respect to `TypeVar`, there is a difference between **unconstrained** and **unbound**.

For this particular issue, is it more accurate to talk about **unconstrained** TypeVars rather than **unbound**? Or is it both?

[2020-03-20 12:15] JukkaL commented on #8437
The web site and the twitter account have now been updated.

[2020-03-20 12:31] JukkaL commented on #5705
Here's a proposal for the notes that could be added:

[code]

[2020-03-20 13:57] ayroblu opened #8564 "Type for dataclass"
Hi, sorry if this is answered somewhere already, there's a lot of questions on dataclasses and I didn't see this specific one, I was just wondering if there's a type for all dataclasses i.e. like:

[code]

[2020-03-20 14:18] JukkaL commented on #8353
Since there hasn't been any updates in a while, this issue is up for grabs.

[2020-03-20 14:21] JukkaL commented on #2400
@tlynn Thanks for making your code available! This will be useful for anybody who wants to work on this.

[2020-03-20 14:25] JukkaL commented on #1645
Enabling support for namespace packages by default in Python 3 mode sounds like a good thing. Would somebody create a new issue about it? I haven't looked into this in detail, but we might need to fix some issues with namespace package support first.

[2020-03-20 14:28] JukkaL commented on #76
@sudhirkumar43 Can you rephrase your question? I wasn't quite sure what you mean exactly.

[2020-03-20 14:30] JukkaL commented on #8539
Yeah, this looks like a bug. The best fix might be to generally relax the requirement to have a concrete class as a type object.

[2020-03-20 14:37] JukkaL commented on #6406
Here is a another example:

[code]

The tuple unpacking refers to the lvalue (`a, b` in the above example). If this is still unclear, it would probably be useful to study how assignment statements generally work in Python in some detail.

[2020-03-20 15:13] JukkaL commented on #8540
The issue here is that an assigning an `Any` values does not update the inferred type of `messages`. The current behavior is somewhat incorrect, but it increases type checking precision in the common case. We could try out the change on semantics and estimate whether the precision loss is small enough to make this worthwhile.

The second example not generating error seems to be a separate issue.

[2020-03-20 15:17] JukkaL commented on #8521
The way type refinement works is inconsistent. Deciding what's the best fix is non-trivial however, since we don't want generate too many new false positives or negatives.

#8540 is related (and there are probably other related issues).

[2020-03-20 15:22] JukkaL commented on #8505
The main issue I see with changing this (even with an opt-in flag) is that existing stubs assume that you don't need to write `Union[bytes, bytearray]` for function arguments that accept both types. The number of false positives could still be fairly low, but that would be because `bytearray` isn't used that much. In a multi-million-line codebase I found only around 150 references to `bytearray`.

[2020-03-20 16:05] JelleZijlstra commented on #8564
There isn't one. `asdict` is typed in typeshed as just `def asdict(obj: Any) -> Dict[str, Any]: ...`.

[2020-03-20 16:17] JukkaL commented on #8546
This doesn't generate an error on the latest GitHub master.

If you can reproduce the error on GitHub master, we can reopen this issue.

[2020-03-20 16:17] #8546 closed

[2020-03-20 16:33] JukkaL commented on #8548
@rvandegrift Can you give a more concrete example of a directory hierarchy where `-p FOO` doesn't work for you? You can give multiple `-p FOO` arguments.

[2020-03-20 16:34] ckarnell commented on #5705
Hi, just want to drop a note that I haven't gotten a chance to work on this.

[2020-03-20 16:36] JukkaL commented on #8267
Mypy should clearly follow runtime Python semantics and implement name mangling. If the error messages would become confusing, we may have to add some extra logic or notes to error messages.

We'd be happy to review a PR if anybody would like to contribute one!

[2020-03-20 16:54] JukkaL commented on #8556
The narrowing seems to work to a certain extent, but mypy loses the correspondence between the type of `response_type` and the type variable `R`. This may be too difficult to for mypy to handle, so a `# type: ignore` or a cast will likely be required in the first return statement.

After the `if` statement, mypy could figure out that the type should be narrowed. However, again mypy doesn't have th

[2020-03-20 16:57] sudhirkumar43 commented on #76
@JukkaL
like From the above Example:-
def thing() -> str:
    processor = 'default'
    if cond():
        processsor = 'extra'  # Note misspelling -- extra 's'
    return processor
here should it raise error like processsor is not defined earlier . Or we should print the error like the spelling error. Since we don't know whether the two words (processsor , processor ) are pointing the same variab

[2020-03-20 17:00] JukkaL commented on #8558
The issue is about cases like this, which currently generate an error:

[code]

I think that not generating an error here should just be the default behavior. This would be a logical continuation of changes introduced in #7530.

[2020-03-20 17:00] JukkaL commented on #8558
@msullivan @ilevkivskyi Do you agree with me?

[2020-03-20 17:03] JukkaL commented on #8557
`--allow-redefinition` doesn't cover cases like this. We've been thinking about making `--allow-redefinition` more general, but I'm not sure when (or if) the core team will work on it.

[2020-03-20 17:08] JukkaL commented on #8564
Maybe we could make it possible to use a protocol that contains `__dataclass_fields__` to distinguish dataclasses on a type level? Currently mypy doesn't recognize that this attribute exists (and I'm not sure if we can rely on it being always defined).

[2020-03-20 17:10] JukkaL commented on #8547
Mypy supports what specified in PEP 484 (https://www.python.org/dev/peps/pep-0484/#version-and-platform-checking). We could perhaps extend this to cover more cases, but it's hard to decide where we should draw the line, since the platform checks could be arbitrarily creative.

[2020-03-20 17:14] JukkaL commented on #8543
The relevant code is in `mypy.semanal_namedtuple`.

I agree that it would be better to match runtime semantics here, but it seems fairly low priority. A simple PR that fixes this would probably be fine.

[2020-03-20 17:22] JukkaL commented on #7864
I don't think type variable constraints or bounds make a difference here. The explanation would work for all type variables.

[2020-03-20 17:26] JukkaL commented on #76
It would be sufficient to give a message such as `Value assigned to "processsor" is never read`.

[2020-03-20 17:32] JukkaL commented on #4441
`**kwargs: **Options` is a syntax error, so it can't be supported unless Python syntax is changed. `Expand[...]` seems to be the preferred option that is technically feasible.

I don't think that any of the core team members has time to work on this now, but if somebody would like to create a PR, we could give you hints.

[2020-03-20 17:34] sudhirkumar43 commented on #76
@JukkaL
But here is a different case processsor is never initialized and then how can we use it?

[2020-03-20 18:04] antonagestam commented on #8556
@JukkaL Gotcha, thanks for elaborating!

I think I'll manage to work around this by splitting the TypeVar into two and using an overload.

[code]

[2020-03-20 18:20] rvandegrift commented on #8548
Well, there's no concrete directory hierarchy that lead me here.

I wanted to enable mypy on all of our repos via a single script in a shared CI pipeline.  The script won't know which repo it's running for ahead of time.  And since we're human and messy, we have  different layouts in different repos.  So I can't supply any `-p FOO` arguments, since I don't know what `FOO` is.

One of my team membe

[2020-03-20 18:24] Mattwmaster58 commented on #4441
@JukkaL  What needs to be added to [mypy_extensions #18](https://github.com/python/mypy_extensions/pull/18)? I assume the missing constraints mentioned in the PR need to be added?

[2020-03-20 18:56] ErwanDL commented on #1645
I can create an issue this afternoon 👍

[2020-03-20 19:24] ex-nerd opened #8565 "Type checking parent class + hasattr for child attr returns overzealous error"
mypy (default config settings) is returning a `has no attribute` error even after an explicit `hasattr()` check.  The following `test.py` reproduces the error:

[code]

Even more interesting, the scenario in my actual real-world code is more like the `e2` block, and still returns an error ... but doesn't in this example.

[2020-03-20 20:47] jwodder opened #8566 "Unsupported operand types for > ("int" and "Number")"
* Are you reporting a bug, or opening a feature request? **Bug**
* Please insert below the code you are checking with mypy.

Sample 1 (`mypy_error.py`):

[code]

Sample 2 (`mypy_error2.py`):

[code]

Note: Running `mypy` on Sample 2 succeeds if the `dict` annotation is removed from `data` or if the first two lines of the function are replaced with `def is_foo(x):`.

* What is the actual behavior/o

[2020-03-20 21:01] karlicoss commented on #2400
Also ran into this today, my minimal example (that I'd expect to fail mypy) is this:

[code]

Perhaps this (i.e. [pep 526](https://www.python.org/dev/peps/pep-0526/#global-and-local-variable-annotations) declarations) is easier to start with than more general cases? (haven't found existing issues for this, sorry if it's a duplicate)

[2020-03-20 22:01] tz-earl commented on #7864
@JukkaL Thanks so much for pointing out that the issue applies to all type variables, regardless of how they are defined.

[2020-03-20 22:20] hauntsaninja commented on #8566
This is false, int and Number are not fully comparable:
[code]
The issues disappear when removing annotations because of the first point in https://mypy.readthedocs.io/en/stable/common_issues.html#no-errors-reported-for-obviously-wrong-code

[2020-03-20 23:48] jwodder commented on #8566
My mistake.

[2020-03-20 23:48] #8566 closed

[2020-03-21 07:32] waketzheng commented on #8557
I changed code to be as follows, and it pass check:
[code]

[2020-03-21 07:33] #8557 closed

[2020-03-21 10:48] dsyzling opened #8567 "Navigating to file within site-packages and type checking with mypy causes site-packages is in the PYTHONPATH"
* Are you reporting a bug, or opening a feature request?

I'm seeking to establish the expected/defined behaviour for mypy given the context of the problem below when working with python lsp servers and editor environments - in particular with Emacs/flycheck and python-mypy. I have reported this issue to the flycheck authors and we are seeking further guidance from the mypy team.

* What is the ac

[2020-03-21 17:27] Levitanus commented on #6017
Append to the false-positive stack, please:
[code]

[2020-03-21 17:47] llchan commented on #8505
I don't expect this to be a trivial change that will happen overnight, but perhaps we can move in that direction.  If there are issues with stubs, they can be updated over time to accept to the union. Because these changes are backwards compatible for users running without the opt-in flag, we don't need to resolve everything all at once and can update them as we go.

The 8k references to `bytes` a

[2020-03-21 23:03] madhavkhosla commented on #8353
Hi, @JukkaL Picking up the bug.

[2020-03-22 01:32] ethanhs opened #8571 "Make testpep561.py data driven"
I've been meaning to do this for a while, but these tests should probably used a test harness similar to the one we use for our normal test suite.

[2020-03-22 01:38] ethanhs commented on #8567
Hm, so we add the directory that mypy is run from to the PYTHONPATH like Python would. Could that be the culprit? You can run mypy with -vv to get the python/package paths to debug this further.

And yeah ideally we should print to stderr here.

[2020-03-22 07:11] momohatt commented on #4001
Hi, I'd like to work on this as my first issue and I have a question.
Current implementation requires the type of `kwargs` in `**kwargs` to be a subtype of `dict[str, <any>]`.
https://github.com/python/mypy/blob/1677efdfd7c37ee91d64bc018b12d6bfda042655/mypy/checkexpr.py#L3790-L3795
However, an empty dictionary `{}` is currently typed as `dict[<nothing>, <nothing>]` and fails this check, presumably

[2020-03-22 11:31] rth opened #8575 "Error when importing Cython modules"
I'm trying to fix mypy issues in scikit-learn (https://github.com/scikit-learn/scikit-learn/pull/16726) and have a question/observation about C and Cython modules.

Say `package` has a `_lib.pyx` Cython extension, which defines a function `_lib_func`. The following passes mypy without errors,
[code]
however,
[code]
produces the following error,
[code]

Are there any workaround for importing the co

[2020-03-22 12:00] ethanhs commented on #8575
Hi! Mypy doesn't actually import or interact with C extension code. It can only parse and gain type information from `.py` and `.pyi` files. The error

[code]

is because mypy cannot find neither `_barnes_hut_tsne.py` nor a function or class etc. named that in the `sklearn.manifold` `__init__.py[i]`. I do think this could be reworded to mention a missing module as a possibility.

This should not p

[2020-03-22 12:52] dsyzling commented on #8567
Thanks for the quick response, if I run the flycheck mypy checker and add -vv switch, the log contains the following trace of various python_paths - let me know if you need to see the complete trace or if these are sufficient:

[code]

[2020-03-22 12:59] rth commented on #1422
If it helps a minimal reproducible example can be found below (I wrote one before discovering this issue),

A package with the following structure,
[code]
with
**setup.py**
[code]
and
**mypy_issue_example/__init__.py**
[code]

Running,
[code]

[2020-03-22 13:15] rth commented on #8575
Thanks for the explanations @ethanhs!

Yes, you are right. One important information that I forgot to mention is that I was running mypy with the `--ignore-missing-import` option. In which case one those produces and error but not the other,
[code]
without the flag, they both error indeed,
[code]

So it looks like it's expected behavior.  Closing. Thanks again!

[2020-03-22 13:15] #8575 closed

[2020-03-22 15:30] JelleZijlstra commented on #8565
Mypy doesn't currently support type inference using `hasattr`; see #1424. Your second example passes because the type of `e2` is still `Child`, while `e` is `Parent`. You can see this with the `reveal_type()` function.

[2020-03-22 15:30] #8565 closed

[2020-03-22 21:02] ethanhs commented on #8545
I think I like either `--enable-installed-packages X` or `--use-installed-packages X`, ideally I think this should be a list of packages, as people may want to allowlist/denylist groups of packages.

[2020-03-22 21:08] ethanhs commented on #8564
I think this is essentially a duplicate of https://github.com/python/mypy/issues/6568

[2020-03-22 21:08] #8564 closed

[2020-03-22 21:13] ethanhs commented on #8567
Thank you for that! It doesn't look like the trace you gave is in the site packages directory, this is still from an erroring run? It may be we are searching the directory above the file you pass perhaps? I am a bit rusty on our module searching code.

[2020-03-23 07:24] ilevkivskyi commented on #8558
If the function itself has no annotations then yes, it would make sense to not require annotations for locals.

[2020-03-23 09:33] dsyzling commented on #8567
Sorry I may have misunderstood what you were asking for.

So if I run mypy with the full path and -vv switch, no trace is written to the console and the error described above is generated:

[code]

If I then navigate to the package directory where frame.py resides and run again without the full path then we do see the current directory and full path of that current directory in the python_path. Eq

[2020-03-23 13:26] bogdandm opened #8576 "Bounded TypeVar with TypedDict doesn't work correctly"
TypedDict does not work correctly as `bound` argument for TypeVar:

[code]
I trying to use bound TypeVar as default value for Generic because I need to extend TypedDict with some fields for every subclass and use this fields at overridden methods.

[2020-03-23 13:55] kyprifog commented on #4245
I've been doing the same thing, this may be the best you can hope for in python.  mypy will still check the unwrapped type, but this depends on erasure.

[2020-03-23 14:07] ActionCactus opened #8577 "[Bug] MyPy falsely infers dictionary subtypes"
Given the following class hierarchy:
[code]

And the following code:
[code]

MyPy will produce this error when analyzing the project:

This is because MyPy appears to be looking at the contents of the `class_map` variable and inferring the type shared between each of the values.  It then correctly assumes the shared type but incorrectly performs type checks based off of that assumption.

To verify

[2020-03-23 18:34] #6619 closed

[2020-03-23 20:37] msullivan commented on #8453
An error might be a little too aggressive in some situations, though. I think maybe we say this isn't a bug?

[2020-03-23 22:23] asottile commented on #5107
no idea how correct this is, but I took a stab at improving typeshed to "fix" this https://github.com/python/typeshed/pull/3880

[2020-03-23 22:30] ethanhs commented on #8453
Yeah I think it's fine to close as won'tfix.

[2020-03-23 23:11] #8453 closed

[2020-03-24 03:04] asottile opened #8579 "lazilly instantiated lru_cache "object not callable""
small sample:

[code]

(actual usecase, I'm storing an lru_cache per-instance instead of globally to better control hit rate, I don't know the proper sizing of this cache at class instantiation time so it is late-init'd)

output:

[code]

[2020-03-24 05:24] asottile commented on #8579
I believe this to be a dupe of #708

[2020-03-24 05:24] #8579 closed

[2020-03-24 05:44] tz-earl commented on #7252
Beginner contributor here. I'd like to add the above explanation by JukkaL to the docs.

Would **Common Issues and Solutions** be an appropriate place?

[2020-03-24 11:50] Tayum opened #8580 "Automatic conversion from ReturnType to Coroutine[Any, Any, ReturnType] for functions with "pass""
I guess there is a bug when checking `async def` functions with "empty" body, which are typed to return `AsyncIterable`.

Please see the snippet:
[code]

`mypy` produces errors, but it shouldn't because function decorated with `@abstractmethod` commonly has only `pass`, `...`, `raise NotImplementedError` statements or docstrings in it.

## Actual behavior
`mypy` gives errors:
[code]

## Expected b

[2020-03-24 14:23] JukkaL opened #8581 "Release process: moving to a release every two months"
The mypy core team members responsible for making mypy releases (I, @ilevkivskyi and @msullivan) have been experimenting with less frequent mypy releases (approximately once per two months). Previously our goal was to make a release approx. every 3 weeks, and in practice releases were about monthly.

Another related change is that we will lower the threshold for releasing bug fix releases, in case

[2020-03-24 15:04] jakob-keller commented on #8539
I am experiencing the same issue with mypy 0.770, whereas this appears to pass in 0.761. Maybe the root cause may be narrowed down to a regression introduced in 0.770.

[2020-03-24 15:12] mthuurne commented on #8539
That's because of the new typeshed that's included with mypy 0.770. The change in typeshed is not the root cause though, it only exposed the existing limitation in mypy.

[2020-03-24 16:51] ilevkivskyi commented on #8581
FWIW I think a release every two months would be more reasonable at this stage (and the modular typeshed would make it even more so).

[2020-03-24 16:58] JukkaL commented on #8373
Clarification: The **Faster callables and nested functions in mypyc** GSoC project includes implementing both of the linked issues.

[2020-03-24 17:02] JukkaL commented on #8373
Note that **Detecting potentially undefined or misspelled locals** feels too small for a full GSoC project. If somebody wants to work on this topic in the context of GSoC, we can expand the scope by also detecting (some) uninitialized attributes, and preventing unsafe attribute deletions. I can provide more context if there is interest.

[2020-03-24 22:10] om26er opened #8582 "Need type with metadata"
I am writing a tool to remove duplicate parameter validation. Today with mypy, I can write a decorator that ensures that the underlying function is called with parameters that match the types defined in function signature. I want to extend that thing further; I want to be able to implement type validation that would also validate the length of a parameter. For that we'd need a custom type that wou

[2020-03-24 23:29] ethanhs commented on #8582
You can use https://www.python.org/dev/peps/pep-0593/ to do this, with your own tool.

[2020-03-24 23:29] #8582 closed

[2020-03-24 23:55] Michael0x2a commented on #8581
Personally, I'm fine with switching to an 8 week release cadence. But we decide that 6 weeks would be more optimal, lmk -- I'd be happy to volunteer as a release manager :)

[2020-03-25 00:12] ethanhs commented on #8581
I also would be happy to volunteer as a release manager. I think regardless it would be very good to get typeshed in a place to release to PyPi.

[2020-03-25 11:39] tqa236 commented on #7217
Hello there, any update on this issue? Thank you very much.

[2020-03-25 14:09] JukkaL opened #8584 "Redesign import handling"
The way mypy deals with imports is quite confusing. I'm proposing that we reconsider how various import-related features work. There are existing issues that cover some of these, but I want to discuss the changes in a central location here, since many of these are related.

I'd love to hear what everybody thinks about this proposal! My idea is that all (or most) of the changes below would be imple

[2020-03-25 15:29] davideicardi opened #8585 "How can I define a typed decorators that call an existing untyped decorators"
In my code I use AWS xray decorator (https://github.com/aws/aws-xray-sdk-python#capture).
The problem is that all functions decorated with xray are not considered "typed", and mypy ignore all these function. It is like the function is declared with Any parameters.
I think the reason is because xray decorator doesn't maintain the function signature. Correct?

What do you suggest to use both xray de

[2020-03-25 15:47] jbwdevries opened #8586 "enumerate(Union)"
* Are you reporting a bug, or opening a feature request?
  Bug
* Please insert below the code you are checking with mypy.
[code]
* What is the actual behavior/output?
[code]
* What is the behavior/output you expect?
[code]
* What are the versions of mypy and Python you are using?
  Do you see the same issue after installing mypy from Git master?
  0.761, 0.770 and master all have the same result.

[2020-03-25 17:45] dfarley1 opened #8587 "AssertionError in untyped function definition"
Offending code:
[code]

Calling code:
[code]

Stacktrace:
[code]

* What are the versions of mypy and Python you are using?
Python 3.6, Mypy 0.760
* Do you see the same issue after installing mypy from Git master?
Haven't tested yet
* What are the mypy flags you are using? (For example --strict-optional)
`--strict` and a `mypy.ini` with a bunch of `ignore_missing_imports` for 3rd party libraries.

[2020-03-25 18:30] kchaplick opened #8588 "Namedtuple typed as Tuple when called immediately after creation"
* Are you reporting a bug, or opening a feature request?
Bug
* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate if you try to simplify your case to a minimal repro.

[code]
* What is the actual behavior/output?

[code]

* What is the behavior/output you expect?
mypy should see this as a NamedTuple

* What are the versions o

[2020-03-25 21:10] kprzybyla opened #8592 "Covariance error inferred for lambda has invalid line number associated with it"
#### Versions

`mypy 0.770`
`python 3.8.2`

#### Description

This is probably related to the https://github.com/python/mypy/issues/4270

Problem is triggered when using recipe `everything_except` from hypothesis documentation:

https://hypothesis.readthedocs.io/en/latest/data.html#hypothesis.strategies.from_type

I have a file with following content (this is the whole file):

[code]

Running mypy

[2020-03-25 21:31] kprzybyla commented on #8592
Also, for anyone that faces similar issue when using this recipe from `hypothesis` documentation, here's a working solution that avoids any `mypy` errors and do not require `# type: ignore`

[code]

[2020-03-25 21:40] mintchkin commented on #8588
Minimal examples:

[code]

Playground: https://mypy-play.net/?mypy=latest&python=3.8&gist=3d1658c6c867859e935fde58bec7f179

[2020-03-26 14:34] DevilXD commented on #8219
Pretty sure this is due to enums already being special-treated by MyPy, as they're classes that are generated dynamically, so static analysis for those is pretty much already impossible. The reason a literal (not variable) is expected there, is because with a literal, the "special treatment" of enums can somewhat check what members you have defined, and type check based on that. When you put in a

[2020-03-26 15:50] grahamc opened #8594 "Multilne tuple type definition is red with Any's"
mypy 0.761; python 3.7.6

Defining a Tuple type on multiple lines causes a few lines to render Red:

[code]

whereas this is all green:

[code]

[2020-03-26 18:45] DevilXD opened #8595 "Metaclass __call__ ignores return type"
* Are you reporting a bug, or opening a feature request?
Bug/Feature request ?

* Minimal repro:
[code]

* What is the actual behavior/output?
As explained by the comments in the example above

* What is the behavior/output you expect?
Revealed type would be `str`, as the `__call__` return type specifies.

* What are the versions of mypy and Python you are using?
* Do you see the same issue after

[2020-03-26 22:22] cppljevans commented on #8219
On 3/26/20 9:34 AM, DevilXD wrote:

IIUC, c++ can tell if a variable is a constexpr:

  https://en.cppreference.com/w/cpp/language/constexpr

and propagate that conexpr value to all the places that variable
is used. Now, I realize python is an interpreted language,
but surely something like mypy can analyze the code to
determine that a value of a variable has not changed since
it was initially ass

[2020-03-27 07:38] DevilXD commented on #8219
This is Python, not C++. Constants in C++ get evaluated and processed at compile time, and there's no such step for Python (the code is "sudo-compiled" right before running). There is no concept of constants in Python, and the only thing you really could do, is to mark a variable as [`typing.final`](https://docs.python.org/3/library/typing.html#typing.final) - but this only says the variable canno

[2020-03-27 11:54] ethanhs commented on #8219
Mypy only does static analysis, so we definitely could do a Literal/Final value as the second argument to Enum. It should not be too hard to implement either.

[2020-03-27 17:25] nkakouros opened #8596 "List comprehension with conditional still triggers error for Optional"
* Are you reporting a bug, or opening a feature request?
Bug

* Please insert below the code you are checking with mypy
[code]

* What is the actual behavior/output?

The list comprehension complains that `Item "None" of "Optional[Sequence[Any]]" has no attribute "__iter__" (not iterable)`. The loop that follows however does not trigger the error.

* What is the behavior/output you expect?
I would

[2020-03-27 23:26] ilevkivskyi commented on #8588
Named tuple is a special form and should be used according to the docs.

[2020-03-27 23:26] #8588 closed

[2020-03-27 23:31] ilevkivskyi commented on #8596
Hm, interesting, this is indeed a bug. Looks like a missing corner case for binder.

[2020-03-27 23:32] ilevkivskyi commented on #8595
It is unlikely this will be ever supported, so doesn't really make sense to keep this open.

[2020-03-27 23:32] #8595 closed

[2020-03-27 23:34] ilevkivskyi commented on #8594
Yeah, report generation code is a bit sketchy around type aliases. Not a high priority, but a PR is welcome!

[2020-03-27 23:38] ilevkivskyi commented on #8592
Wrong line number for error is a pretty serious issue, hard to say what is a possible root cause however.

[2020-03-27 23:41] ilevkivskyi commented on #8587
I don't think this is caused by the actual code, but most likely is a duplicate of either https://github.com/python/mypy/issues/7510 or https://github.com/python/mypy/issues/4881

[2020-03-27 23:41] #8587 closed

[2020-03-27 23:44] ilevkivskyi commented on #8586
This is actually an expected behavior, but maybe it may sense to special case constraint solver for type variables to use a union instead of join if multiple constraints come from union items.

[2020-03-27 23:48] ilevkivskyi commented on #8580
This is a duplicate of https://github.com/python/mypy/issues/5070

[2020-03-27 23:48] #8580 closed

[2020-03-27 23:49] ilevkivskyi commented on #8577
This is an expected behavior, type inference always uses common base class for homogeneous collections. If you want to override it, just use an explicit annotation for `class_map`.

[2020-03-27 23:49] #8577 closed

[2020-03-27 23:52] ilevkivskyi commented on #8576
IIUC the actual issue is the false positive `# error: Unsupported target for indexed assignment`.

I think this should be not hard to fix. Looks like a missing corner case in type checking indexed assignments.

[2020-03-28 11:51] DevilXD commented on #8595
Why is that so? Can I get a better explanation? Inspecting the metaclass for the `__call__` return type should be easy to do, I'd think =/

[2020-03-28 14:26] socketpair commented on #1484
[code]

It also does not generate any warnings.

[2020-03-28 14:27] socketpair commented on #2967
[code]

It also does not generate any warnings.

[2020-03-28 16:04] berdario commented on #1484
To clarify, after 2019 June 20th, the change that JukkaL talked about has been rolled back: https://github.com/python/typeshed/issues/3077

This means that

Should now be supported again, but simple examples like the one that socketpair added are not caught anymore. This still needs a typechecker plugin.

[2020-03-28 17:16] rwarren commented on #708
It seems like a clean workaround is to just not bother setting the instance variable type at the class level (which seems incongruous to me, anyway).

For example, if I take the original code posted in this issue and comment out the class-level type hint, mypy has no problems with the code.  See below, where I've also assigned the callable and used it, just for good measure:

[code]

As commented,

[2020-03-28 17:35] rwarren commented on #708
I'm not sure if this comparison will be helpful, but I just checked pyright to see what it does in this situation (since I've noticed that it handles class-level vs instance level type hinting for instance properties in a different way).  It turns out that pyright is 100% ok with class-level hints of callable instance-level properties.

To demonstrate that, here is the same code as above, tuned up

[2020-03-28 23:39] ethanhs commented on #8567
Sorry, I probably wasn't clear :)

Thank you for running those, it seems we exit before the debug information can be printed, which is unfortunate. We probably should print the paths and give more information here. I will try to reproduce this myself.

[2020-03-29 02:13] JelleZijlstra commented on #8596
This is not a bug in mypy, because the list comprehension would always try to iterate over `a.a`. The listcomp code is equivalent to:
[code]
Mypy correctly identified an error in the code.

[2020-03-29 10:03] bluetech commented on #6730
This also crashes with a stack overflow segmentation fault:

[code]

[2020-03-29 10:40] dsyzling commented on #8567
I'm happy to try and help if I can - I was going to pull the code down over the weekend and have a poke around. If you have higher priority tasks you're working on, point me in the right direction and I can report the more detailed information and work towards a fix.

[2020-03-29 10:57] ethanhs commented on #8567
That would be great! If you want more information, you can set a breakpoint for pdb around here (this is where the error comes from): https://github.com/python/mypy/blob/master/mypy/modulefinder.py#L545

Let me know if you have more questions related to that code (I am also on the gitter chat a few times a day)

[2020-03-29 11:12] ilevkivskyi commented on #8596
Yeah, this is why I shouldn't triage issues so late.

[2020-03-29 11:12] #8596 closed

[2020-03-29 11:35] dvarrazzo opened #8599 "Error reported on an Union into a NamedTuple"
Running mypy on the following snippet:

[code]

returns the following error:

[code]

Tested with python 3.6 and 3.7, mypy 0.770 and master

[2020-03-29 11:51] nkakouros commented on #8596
Thanks for the explanation.

[2020-03-29 13:35] jakevdp commented on #708
I managed to find a pretty clean workaround for this: declare the attribute optional, and wrap it in a normal method. This satisfies mypy without any more egregious hacks:
[code]

[2020-03-29 14:17] JelleZijlstra commented on #8599
The problem isn't the `Union`, it's that `index` already exists as a method on tuples, so you're creating an incompatible override. You should either rename your attribute or `# type: ignore` it if you don't want to, at some cost to type safety.

[2020-03-29 14:43] bsolomon1124 opened #8600 "Different behavior between seemingly equivalent Py 2/3 files"
Version info:

[code]

Original file, `anystr.py`:

[code]

The last line, [directly per the example in the typing docs](https://docs.python.org/3/library/typing.html#typing.AnyStr), should make mypy raise, but it does not with the `-2` flag:

[code]

Yet, the Python3 version will:

[code]

[code]

Am I type-hinting or calling `mypy` incorrectly in the Python2 version?

[2020-03-29 15:45] dvarrazzo commented on #8599
D'oh, you are right :) Sorry for the noise.

[2020-03-29 15:45] #8599 closed

[2020-03-29 19:25] brettcs opened #8601 "abs(Union[int, Decimal]) is inferred as object"
I'm afraid I'm not sure whether I'm reporting a bug or requesting a feature. I'm happy to leave that up for you all to triage. I'll start with what I'm seeing and what I'd like to see, and then get a little bit into the why.

Here's a minimal reproduction:

[code]

With Python 3.7.3 (from Debian buster) and mypy 0.770 (from PyPI), checking this code returns an error:

[code]

The return type of `a

[2020-03-30 04:02] JelleZijlstra commented on #8601
For context, the definition of `abs` in typeshed is
[code]
Considering the definition of `SupportsAbs`, this means that `abs` returns whatever the `__abs__` method on its argument type returns. `int.__abs__` is declared as returning `int` in typeshed, and `Decimal.__abs__` returns `Decimal`.

I feel like mypy should be able to use these stubs to infer that `abs(Union[int, Decimal])` returns `Union

[2020-03-30 04:03] JelleZijlstra commented on #8600
This is probably because mypy implicitly promotes str to unicode in Python 2.

[2020-03-30 10:03] knbk opened #8602 "Conditional expression complains about no return value"
I'm writing some code to merge query string parameters, the value can be either a string or a list of strings. There seems to be a bug in the type checking for the following snippet:

[code]

This results in the following errors:

[code]

I would expect this to work without errors if the value of the conditional expression is never used.

I can reproduce this on the current master with Python 3.7.

[2020-03-30 10:43] DevilXD commented on #8595
@ilevkivskyi Can you please respond to this?

[2020-03-30 13:36] sandrinr opened #8603 "Mypy reports 'Name is not defined' when using an object member as super class of another class"
Consider the following valid Python 3 code:

[code]
Actual behavior:
Mypy will report `Name 'b.a' is not defined` on the line `class C(b.a):`.

Expected behavior:
No error reported by Mypy.

Python version: 3.8.2
Mypy version: 0.770 (master not checked)
Flags: no flags

[2020-03-30 14:16] rwarren commented on #708
@jakevdp - your example can be trimmed to below, retaining both functionality and mypy happiness:

[code]

Significantly less lines. No need for the wrapper layer. No need to define the type hint for `f` twice.

The only "penalty" is that the `f` instance property isn't defined at the class level (which seems better to me, anyway).

[2020-03-30 14:22] jakevdp commented on #708
Is it no longer recommended to forward-declare attribute types in classes?

[2020-03-30 14:23] rwarren commented on #708
I've just had a re-read of the [relevant PEP526 section](https://www.python.org/dev/peps/pep-0526/#class-and-instance-variable-annotations), and see that it says this at the bottom:

With this example included:

[code]

Unfortunately, that example has a mypy error due to the missing type annotation on the `content` arg, but if the annotation is moved from the assignment (`self.content: T = content

[2020-03-30 17:47] shadaabghani1 commented on #8373
Hello ,

Can you give a bit of details for numpy support ?

[2020-03-30 18:24] JukkaL commented on #8373
@shadaabghani1 It would be much easier me to help you, if you can ask more specific questions, as the topic is pretty wide ranging. I already gave an overview in this comment: https://github.com/python/mypy/issues/8373#issuecomment-591581607

[2020-03-30 19:23] chadrik opened #8604 "confusing behavior with TypeVars and multiple inheritance checks in 0.770"
Hi, I was just testing out 0.770 and I'm getting a surprising result:

[code]

[code]

Based on the latest blog post about 0.770 I suspect this is by design, but what can I do to work around it (short of adding some artificial method to make `Foo` incompatible with `str`)?  It would be good to add something to the docs about this, because I think it could be a fairly common trap.  Also, I think ad

[2020-03-30 19:24] tim-fi opened #8605 "Use of literal values in generic types"
Hi, I was toying around with some typing in a small but "hacky" vector-maths module and found myself wondering if it was possible to make a generic type along the lines of `Vector[3]` where the `3` holds actual meaning/can be used in some fashion. I am unsure if this is possible with mypy as it stands now, and if not if this is something that is ever going to be possible (be it because it is "ugly

[2020-03-30 20:48] mwchase commented on #6689
The behavior seems to have changed in the last year. From mypy-play, Python 3.8, mypy latest, I get
[code]

[2020-03-30 22:06] russelldavis commented on #1645
Here's the issue that proposes supporting this by default: https://github.com/python/mypy/issues/8584

(Thanks @JukkaL -- I am very much in favor of the proposal.)

[2020-03-30 22:08] russelldavis commented on #6161
For posterity, here's the proposal for enabling this by default: https://github.com/python/mypy/issues/8584

[2020-03-30 22:31] warsaw commented on #8584
This may have gotten buried in the original thread, but see [this comment](https://github.com/python/mypy/issues/1645#issuecomment-522782310) about my PEP 420 change not working for nested namespace packages, which needs to be fixed.

[2020-03-30 23:09] ethanhs commented on #7907
PEP 585 has been accepted! https://mail.python.org/archives/list/python-dev@python.org/message/HW2NFOEMCVCTAFLBLC3V7MLM6ZNMKP42/

I will start working on the implementation.

[2020-03-31 11:05] bsolomon1124 commented on #8600
Thanks @JelleZijlstra , I missed that note in the [mypy docs](https://mypy.readthedocs.io/en/stable/python2.html#type-checking-python-2-code) and seeing it now clears a lot up.

[2020-03-31 11:05] #8600 closed

[2020-03-31 12:07] JukkaL opened #8608 "Improve error message for bad indexed assignment"
The error message generated for this fragment is not very informative:

[code]

It would be better to include the type in the message, such as like this:

[code]

#2900 is related, but this issue is more general.

[2020-03-31 12:57] ulidtko opened #8609 "ForwardRef's and recursive type aliases are still broken"
The minimal Hutton razor doesn't typecheck.

[code]

I've tested on these git tags with Python 3.8.2:
 * v0.761
 * v0.760
 * v0.750
 * v0.740
 * v0.730
 * v0.720
 * v0.710
 * v0.701
 * v0.700

None of them work; all emit an **error** of *possible cyclic definition*:

Which is bitterly upsetting, after having read:
 * [the `typing.ForwardRef` docs][1],
 * [StackOverflow hits][2] for the error messa

[2020-03-31 12:58] ulidtko commented on #7069
Known to whom?

Can the mypy FAQ document this?

[2020-03-31 13:06] ulidtko commented on #6740
Recursive types are must-have.

IMO, you can't stamp "production ready" on a type-checker which cannot do even basic recursive types, and fails PEP 484 `ForwardRef` provisions. And it's not a regression: that support has just never been implemented.

Although... publishing "mypy is production ready" would be a really good joke for tomorrow.

[2020-03-31 14:29] srittau opened #8610 "bytes/ByteString incompatibility"
This came up in python/typeshed#3890. According to the typing documentation, [`bytes` can be used instead of `ByteString` in argument types](https://docs.python.org/3/library/typing.html#typing.ByteString). Nevertheless, mypy 0.770 (Python 3.8.2) does not accept the following:

[code]

This was previously discussed in #4871 and #7714, but it still seems like an open issue.

[2020-03-31 18:02] mbenbernard opened #8611 "Behavior of mypy not matching example in PEP 483"
It appears that there's a discrepancy between one of the examples given in [PEP 483](https://www.python.org/dev/peps/pep-0483/#covariance-and-contravariance) and the actual behavior of mypy (0.750).

So I ran mypy on the following code snippet:

[code]

As you can see, mypy complains about the call to func1(), but not for the one to func2().

These results seem to contradict what is stated in PEP

[2020-03-31 19:08] bitbier opened #8612 "Cannot ignore untyped exception with `as e` syntax"
We are trying to utilize mypy in order to introduce strict type checking in our code. However, there are some libraries that we need to add `# type: ignore` that don't have any type stubs on. This works most of the time, but I believe we ran into some edge cases where this doesn't work.

Consider the following code (`test.py`):

[code]

Running mypy on above code:

[code]

Results in the entire fi

[2020-03-31 20:31] olirice opened #8613 "Literals Union Shortcut Syntax Incompatible with Explicit Unions"
### Summary

A Union containing a Union of Literals (using abbreviated or explicit syntax i.e. Union[Literal["a"], Literal["b"]]` and `Literal["a", "b"]) incorrectly raises an error. See `Pattern3` in the code snippet below for an example.

- Reporting a Bug

[code]
* What is the actual behavior/output?
mypy raises error on line 32 (case3) with message
[code]

* What is the behavior/output you exp

[2020-03-31 20:42] olirice commented on #8613
Thought of another test case:

[code]
so there must be some interaction with the Dict generic?

[2020-04-01 00:07] #8571 closed

[2020-04-01 00:10] ethanhs commented on #8609
There is no need to be rude. Consider this a warning to not be rude further.

Just because mypy doesn't support what you want doesn't mean it isn't ready to be used in production. Regardless this is a duplicate so I am closing.

[2020-04-01 00:10] #8609 closed

[2020-04-01 00:13] Mattwmaster58 commented on #731
This is the most thumbed-up open issue by a large margin

[2020-04-01 00:26] ethanhs commented on #731
@Mattwmaster58 unfortunately it is also rather complicated, as it requires a lot of changes to mypy. Ivan has done a lot of work on this, but there is still more to do, and he isn't working on it anymore.

We understand there is great interest and need for recursive types, but open source works at the speed of people's spare time and interest.

[2020-04-01 02:22] dimaqq opened #8614 "Somehow fails when run on Python-3.9.0a5"
`mypy` somehow fails when run on Python-3.9.0a5
[code]

I'm pretty sure it worked with Python-3.9.0a4 and it works with Python-3.8.2:
[code]

[2020-04-01 02:27] dimaqq commented on #8614
Simplified reproducer:

[code]

vs. working 3.8

[code]

[2020-04-01 06:50] 625781186 commented on #4791
![image](https://user-images.githubusercontent.com/30521429/78107417-fe774f80-7427-11ea-959a-bf0466661d55.png)

You can't express the meaning that `return a list just only have 2 element` ,

[2020-04-01 06:57] 625781186 opened #8615 "How to express the meaning that `return a list just only have 2 element` ,"
![image](https://user-images.githubusercontent.com/30521429/78107417-fe774f80-7427-11ea-959a-bf0466661d55.png)

You can't express the meaning that `return a list just only have 2 element` ,

So , I think need
1.
`List[Union[str, int ], ... ]` express the meaning that `return a list have Uncertain number element`

and
2.
`List[str, int]` express the meaning that `return a list just only have 2 elem

[2020-04-01 06:59] 625781186 commented on #8615
https://github.com/python/mypy/issues/4791

[2020-04-01 08:35] MrGreenTea commented on #8615
`List` might not be the type you want here then? `Tuple` is for fixed-size, `List` is mutable and should be used for things where the length is expected to be variable.

[2020-04-01 08:55] 625781186 commented on #8615
That's a shame.

[2020-04-01 08:57] 625781186 commented on #8615
That's a shame.

[2020-04-01 08:57] #8615 closed

[2020-04-01 13:43] llchan commented on #6689
@mwchase I agree.  With mypy v0.761 + CPython v3.7.4 I also get what you pasted above.

[2020-04-01 17:09] JelleZijlstra commented on #8613
It's because the dict key type is invariant.

[2020-04-01 20:55] olirice commented on #8613
@JelleZijlstra could you please expand a little on how `Pattern2`  of `Dict[Literal["foo", "bar"], int]` is able to pass if the issue is related to `Dict`'s key type being invariant?

I reread the [documentation on variance of generic types](https://mypy.readthedocs.io/en/stable/generics.html#variance-of-generic-types) and don't follow how it would apply to unions of literals.

I'd really apprecia

[2020-04-01 20:58] JelleZijlstra commented on #8613
Because the key type (the first type argument) is invariant, a value of type `Dict[B, Any]` cannot be assigned to a variable of type `Dict[A, Any]` where `B` is a subtype of `A`. In this case, `B` is `Literal["foo", "bar"]` and `A` is `Literal["foo"]`.

As for how to type your example correctly, I don't really understand the use case, but perhaps `TypedDict` would be a better fit for what you're t

[2020-04-01 22:59] vikigenius opened #8618 "Wrong number of arguments for callable"
I posted a stackoverflow question about this, and then came to realize that this is a bug on mypy: https://stackoverflow.com/questions/60981471/python-function-object-as-a-class-attribute

Reproducing here for completeness

Consider two alternative definitions of the class Replace

[code]

Both Replace1 and Replace2 seem to work the exact same way

[code]

However mypy seems to complain about `sel

[2020-04-02 03:21] Mattwmaster58 commented on #7866
@ilevkivskyi Is there any issues tracking/plans for a resolution instead of a workaround?

[2020-04-02 08:19] ndjman7 commented on #8608
May I try this? I want to this issue. @JukkaL

[2020-04-02 08:24] kahee commented on #4445
May I try this?

[2020-04-02 11:11] DevilXD opened #8619 "functools.partialmethod not supported properly?"
* Are you reporting a bug, or opening a feature request?

Bug

* Please insert below the code you are checking with mypy.

[code]

* What is the actual behavior/output?

MyPy reports an error on the comparison, saying `Cannot determine type of '__eq__'`, as well as incompatible types on assignment as shown.
The code correctly passes at runtime.

* What is the behavior/output you expect?

`__eq__`

[2020-04-02 11:13] JukkaL commented on #8608
@ndjman7 Sure, go ahead!

[2020-04-02 12:02] dsyzling commented on #8567
The issue relates to modulefinder's check to see if the site packages retrieved from get_site_packages lies in python_path.

python_path is constructed from from the sources passed, in the case where a fully qualified path that lies within the site-packages area is passed it checks to see if the source has a base_dir and then adds that base_dir to the python_path:
[code]
In my example the source w

[2020-04-02 12:21] SaschaSchlemmer commented on #4536
I currently use the following decorator to mark classes that should implement a given `Protocol` to protect myself from not implementing my own interfaces correctly

[code]
given a `Protocol`, for instance:

[code]
it is used like this:

[code]

When a class is not compatible with the given Protocol, as is the case for `Foo`, mypy issues an error on `check_class_implements`:

[code]

[2020-04-02 13:04] SaschaSchlemmer commented on #4426
Could mypy also detect errors in the implementation of protocols before even trying to instanciate the class. For this I currently use the following decorator to mark classes that should implement a given `Protocol` to protect myself from not implementing my own interfaces correctly

[code]
given a `Protocol`, for instance:

[code]
it is used like this:

[code]

When a class is not compatible with

[2020-04-02 13:23] ilevkivskyi opened #8620 "Get rid of fake TypeInfo's for TypedDicts"
We currently create fake `TypeInfo`s to store `TypedDict`s. This used to cause various issues, in particular, currently the type of a TypedDict "class object" in runtime context is `() -> SomeTypedDict`, where the return type is an instance of the fake `TypeInfo`.

We can probably fix latter by just constructing a reasonable type, but a more global solution would be to get rid of the fake `TypeInf

[2020-04-02 14:50] bhack commented on #8373
@JukkaL I don't know if for the numpy support point you could be interested in this thread: https://llvm.discourse.group/t/numpy-scipy-op-set/768/33

[2020-04-02 18:01] #8613 closed

[2020-04-02 18:21] kventinel opened #8622 "Can't convert from Tuple of optional to Tuple of non-optional"
Code:
[code]
After that has error:
[code]

Expected no error.
I have: `mypy-0.770` and `Python 3.7.7`

[2020-04-02 18:23] JelleZijlstra commented on #8622
Did you mean to use `and` instead of `or`? (I haven't checked whether mypy handles that case correctly.)

[2020-04-02 18:26] kventinel commented on #8622
Ohhh. Sorry for wrong example. Yes, I mean `and` instead of `or`. Currently fix it and got same error.

[2020-04-02 18:28] JelleZijlstra commented on #8618
This sounds like a variant of #5485.

[2020-04-02 19:12] #8602 closed

[2020-04-03 01:22] ethanhs commented on #3975
I don't think this is relevant anymore. We haven't had issues with this in a long time.

[2020-04-03 01:22] #3975 closed

[2020-04-03 02:45] ethanhs commented on #4365
I believe this was basically done in https://github.com/python/mypy/pull/5686.

[2020-04-03 02:45] #4365 closed

[2020-04-03 14:23] benclifford opened #8623 "reachable code reported as unreachable using __init__ vs Protocol vs decorators"
Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?

bug

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

This code decorates __init__ with typeguard, which gives the decorated __init__ a __wrapp

[2020-04-03 14:44] ilevkivskyi opened #8624 "Get rid of make_simplified_union() except in error messages"
It used to cause various issues and is still causing known bugs (like false negatives in per-file strict optional when `map_instance_to_supertype()` is involved). Ideally we should replace all calls to it (except in error message formatting code) with `UnionType.make_union()`. Union constructor already flattens nested unions, we can also make it remove exact duplicates minimize perf impact.

[2020-04-03 17:01] brettcannon commented on #5205
FYI I wrote a [blog post recently explaining `pyproject.toml`](https://snarky.ca/what-the-heck-is-pyproject-toml/). I thought it might be useful to share here as at least early on in the discussion here there were some misunderstandings over the purpose of the file.

And selfishly, mypy is the one tool I used on all of my projects, app and package alike, which does **not** support `pyproject.toml`

[2020-04-03 17:17] nedrebo commented on #626
How can I apply this to line 3 in the following code? Comments are not allowed here. I tried to add it after `"""` on line 7, but that didn't work.

[code]

[2020-04-03 18:01] tsx opened #8625 "False positive with attrs converter"
Looks like mypy can't infer generic parameter properly when used in attrs converter.

[code]

**Actual**: reporting error
[code]

**Expected**: no errors.

mypy version 0.770, python 3.5.2, no flags are used.
Latest master has basically the same error message except generic param has a different name:
[code]

Possibly related: https://github.com/python/mypy/issues/5313

[2020-04-03 19:22] ckarnell opened #8626 "Mypy doesn't throw when returning a variable that is only defined conditionally"
This looks like a bug to me:

[code]

When a variable is defined behind a conditional with type `bool`, then mypy doesn't flag that the variable might not exist outside of the condition. I noticed that mypy can tell that the variable is `False`, then it will at least say "cannot determine type of x", but not when the variable is just a bool.

This will very often be a runtime error, so I would exp

[2020-04-03 21:17] msullivan commented on #8626
Yeah, this is https://github.com/python/mypy/issues/2400. It's a feature request, technically, but seems important. We'd like to get it done.

[2020-04-03 21:17] #8626 closed

[2020-04-03 21:18] msullivan commented on #8622
It works to write `b = a[0], a[1]`. I think propagating that fact up to the type of `a` itself is probably not something we're going to support.

[2020-04-03 21:19] msullivan commented on #8618
I think I agree that this is #5485.

[2020-04-03 21:19] #8618 closed

[2020-04-03 21:27] msullivan commented on #8614
I was able to reproduce this. Originally I installed mypy on 3.9 in a *virtualenv* and it passed, but when I did it in a *venv* it failed.

I suspect this one is going to cause me some heartburn.

[2020-04-03 21:33] msullivan commented on #8614
OK, I retract that claim. I can just reproduce it with no trouble.

[2020-04-03 21:44] msullivan opened #8627 "Update fastparse for 3.9 AST changes"
In 3.9.0a5, some changes landed to the AST for subscripting (https://github.com/python/cpython/pull/9605). We need to support them.

This first got reported in #8614 as "syntax error in type comment", which is pretty bad, also! We should clean up that error message when we fix this.

[2020-04-03 21:45] msullivan commented on #8614
OK the issue is that a bunch of stuff in the AST changed. I filed #8627 to be a more specific bug for that and will close this one. Thank you!

[2020-04-03 21:45] #8614 closed

[2020-04-03 21:57] msullivan commented on #8612
This one wound up being pretty simple, so I'm gonna land a fix in a minute.

I will say, though, that --disallow-any-expr is generally too strict to be useful.

[2020-04-03 22:07] msullivan commented on #8611
Derived[Employee] < Base[Manager] is correct, per the PEP.

This does seem to be a bug in mypy, which does seem to understand all of the steps in the relationship `Derived[Manager] < Derived[Employee] < Base[Employee]` but fails to properly connect them together transitively.

The following passes:
[code]
but this fails
`z2: Base[Employee] = x`.

So this does seem like a bug. I will also say that

[2020-04-03 22:09] msullivan commented on #8605
Yeah, this has been discussed. We'd like to probably support something along this lines to enable better numpy support, but though a lot of things have been discussed it isn't on the roadmap right now to get core dev work done on it.

https://github.com/python/mypy/issues/3345 is one issue about it; there might be others.

Thanks!

[2020-04-03 22:09] #8605 closed

[2020-04-03 22:11] msullivan commented on #8603
This is an incorrect error message, certainly. We're not going to support this code, though.

[2020-04-03 22:17] wyfo commented on #4441
@JukkaL Indeed `**kwargs: **Options` is a syntax error, but `**kwargs: '**Options'` isn't. As a workaround to a possible future Python syntax enhancement in a few versions, it could work. Actually, we did the same way for recursive references before 3.7 and `from __future__ import annotations`; maybe a `__future__` could be added for this syntax too.
By the way, I agree with @untitaker that using

[2020-04-03 23:20] ckarnell commented on #8626
Awesome, thanks for the quick response @msullivan

[2020-04-03 23:32] msullivan commented on #8601
Yeah, I agree that would probably be a better type in this case. But whether to infer a union type or a join is tricky and changing behavior will break code in places; not sure if this one has a fix that would be better.

Fix for your particular issue might be to write a wrapper with a better type.