[2017-04-22 16:00] pkch commented on #3215
Windows race conditions only affect file deletion / renaming, not file writing.
Can we just get rid of `os.replace` (see the PR)? That is, instead of writing to temp file first and then renaming it, can we write directly to the original file?

Separately, I noticed that `os.remove` is [wrapped in `except`](https://github.com/python/mypy/blob/0a9f88dd7651ff430b7f631a19d9c08722fb5040/mypy/build.py#L

[2017-04-22 16:13] pkch opened #3222 "Tests fail locally on Windows"
Locally, I am getting:

The entire contents of each of those files is just `posixpath.pyi`.

But somehow everything passes on CI.

[2017-04-22 18:34] gvanrossum commented on #3222
Check the recent PR that fixes symlinks. There is a git setting.

[2017-04-22 19:32] pkch commented on #3215
My understanding so far:

- The reasons the blocking delete may fail is that:
  - some processes open the file without a special sharing mode (`FILE_SHARE_DELETE`, which allows others to delete it), arguably it's a bug in them
  - Windows doesn't make the deleted filename available to others for a [short but unspecified](https://boostgsoc13.github.io/boost.afio/doc/html/afio/FAQ/deleting_open_file

[2017-04-22 20:14] elazarg commented on #3210
I think `list` tries to infer_type_arguments_using_context, and the context is Iterable[E].

There was a brief discussion about this in some other issue/PR; part of the the problem is the absence of syntax for declaring the actual intention; so protocols may help, but I did not yet experiment with the combination of protocols, self types and metaclasses though.

[2017-04-22 20:21] gvanrossum commented on #3222
In particular https://github.com/python/mypy/pull/3213.

We need to add instructions for developers on Windows to README.md. Once those are there (and you've got it working for yourself) we can close this.

[2017-04-22 20:27] gvanrossum commented on #3215
I think that looks reasonable. Steps 1-2 are exactly as we do them today. Steps 3-5 are the Windows version of `os.replace(random_filename1, original_filename)`.

Are you proposing to do this just on Windows or also on Unix? At least on Unix I'd worry that tmpdir is on a different fs than original_filename -- that's why the current code doesn't use the tmpdir module but instead uses its own random

[2017-04-22 20:46] gvanrossum commented on #3210
Why would the context for `list(C)` be `Iterable[E]`? (The comments in my example indicate the output, they are not intended as type comments.)

I don't think there's special-casing for `list()` in mypy, it just sees the class definition for `list` and picks the `__init__` overload that matches the argument count. So then `C` is evaluated in the context `Iterable[X]` for type variable X. Then some

[2017-04-22 20:55] elazarg commented on #3210
Something is picking the metaclass, looking at the declaration: `class EMeta(type, Iterable['E'])` and filling it with the declared type `E`.

The way I understand it, the absence of special casing is the source of the issue here. The type `C` is not a valid solution unless you treat `Iterable` structurally (which what comprehensions do).

[2017-04-22 21:14] gvanrossum commented on #3210
Ah, I think you're right and now I understand the issue.

I have no solution alas.

[2017-04-22 21:24] elazarg commented on #3210
It also has nothing to do with metaclasses:
[code]

[2017-04-22 23:40] JelleZijlstra opened #3223 "self type on property creates a spurious error"
Running mypy master on this file:
[code]
gives
[code]
The revealed type is correct but the "Invalid method type" doesn't make sense.

[2017-04-22 23:49] gvanrossum commented on #3223
Is it the same if you rename `__members__` to `foo`?

[2017-04-22 23:51] JelleZijlstra commented on #3223
Yes, doesn't make a difference.

[2017-04-23 00:17] JelleZijlstra opened #3224 "Passing a list as an argument with * leads to confusing error"
(Originally reported at https://github.com/python/typeshed/issues/814, which gives an example from real code.)
[code]
Ideally this shouldn't be an error at all (this works fine at runtime), but I imagine it's hard for mypy to accept this code since it doesn't know how long the list is. However, we could at least fix the error message, which talks about "argument 1" needing to be a str when really

[2017-04-23 00:24] pkch commented on #3215
Yup, just on Windows. On Unix, `os.replace` is already perfect (it's atomic and there's never problems with deletions).

[2017-04-23 01:01] pkch opened #3226 "Docs: confirm that use of None-typed function return value is disallowed"
Regarding an example provided by @jdban:

[code]

There are a few issues:

1. Mypy rejects safe (albeit slightly unconventional) code
2. This behavior is not documented (either in PEP 484 or mypy docs)
3. The error message is confusing

@elazarg

I understand, but I think 2) and 3) are worth fixing. I don't have an opinion on whether special-casing 1) for this particular use case is worth it.

[2017-04-23 03:36] pkch commented on #3222
So far my experience is that it works as long as the user has permissions for creating symlinks.

Theoretically, the permissions should be already enabled for anyone with the current version of Windows 10 running in developer mode. In practice, it only worked for me when I ran `git clone` from the Administrator command prompt. (I followed instructions from [here](https://github.com/git-for-windows

[2017-04-23 04:13] gvanrossum commented on #3222
Heh. I had no idea that Windows even supported symlinks at all. I have no idea what I was thinking the fix did (I think I believed it made git interpret the symlinks itself. :-) Neat.

I have no way to test this myself so I'll keep it open.

[2017-04-23 04:15] gvanrossum commented on #3224
IIRC the argument numbers are for the call site, not the definition site. But regardless the error is horrible. (And indeed, mypy probably will never support this. It's also kind of silly. :-)

[2017-04-23 04:24] gvanrossum commented on #3226
The example is a horrible hack and I'm glad mypy rejects it. Agreed that (2) and (3) are worth fixing.

[2017-04-23 09:21] pkch commented on #3222
To whoever plans to test it more:

It seems there's a [glitch](https://superuser.com/a/428453/131703) with Microsoft implementation of permissions which means that if you are a member of an Administrator group, you will not be able to use symlinks from a regular command prompt, even if you've followed all the instructions (such as setting the right group policy or enabling Developer mode in Window

[2017-04-23 10:39] ilevkivskyi commented on #3210
Protocols solve this problem if I remove the explicit ``Iterable`` bases in all examples (they are not precise enough and my PR picks up _nominal first_).

In principle my PR plays nicely with self types and metaclasses, mainly I just reuse ``checkmember.bind_self`` and callable fallbacks. Sometimes I find bugs/corner cases that could be fixed also in nominal code but I don't touch that code (for

[2017-04-23 11:06] JelleZijlstra commented on #3222
Thanks for looking into this. Since the symlinks are only in the typeshed submodule, do you really have to fully delete your old repo? I think you should be able to just `rm -rf typeshed/` and then again `git submodule init`/`git submodule update`.

[2017-04-23 13:34] elazarg commented on #3223
I should look into it.

Note that adding a bound, i.e. `_T = TypeVar('_T', bound='X')` seems to fix this.

[2017-04-23 13:37] elazarg commented on #3210
Well, I think this kind of things worth separate issues and PRs.

Maybe you can whitelist `Iterable` and some other "built in" protocols, so they won't be nominal-first?

[2017-04-23 13:38] elazarg commented on #3210
Or maybe an "infer" parameter will do this whitelisting.

[2017-04-23 13:43] JelleZijlstra commented on #3223
Thanks! FYI, the code where I found this had a `Type` over a bound typevar (python/typeshed#1195). It has `_T = TypeVar('_T', bound=Enum)` and the property is `def __members__(self: Type[_T]) -> Mapping[str, _T]: ...`.

[2017-04-23 13:48] elazarg commented on #3224
There is a confusion inside mypy about the terms `Argument` vs `Parameter`, but this case specifically gets it right.

[2017-04-23 14:47] ilevkivskyi commented on #3210
@elazarg Yes, we could play with this. The general plan is to make a "smooth" transition. Initially, only mypy protocols PR will be (hopefully) merged, but typeshed classes will stay nominal, then we could gradually replace nominal classes with corresponding protocols, then we could maybe even switch to _structural first_ for some classes.

[2017-04-23 17:02] pkch commented on #3222
I thought we also have one in mypy:

`./test-data/.flake8@ -> ../typeshed/.flake8`

It's less important than the others. If we remove it, and make sure to never add symlinks to mypy itself, what you said should work.

It's only worth it if we think future contributors will first clone the repo without RTFM, and only then start looking things up when they notice tests don't work :)

[2017-04-23 17:05] gvanrossum commented on #3222
Yeah, let's remove the one symbolic link in the mypy repo itself.

[2017-04-23 17:36] gvanrossum commented on #3224
(That confusion does not just exist inside mypy -- the whole world is inconsistent in its use of these terms. When the distinction is really important the only solution is to say "actual" vs. "formal" parameter, or if you want to be even clumsier but rely less on convention, you could say "call-site" vs. "definition-time" or something.)

[2017-04-23 17:39] gvanrossum commented on #3210
@elazarg please go ahead and create the separate issues you see necessary.

[2017-04-23 18:50] pkch commented on #3215
It turns out that in order to rename a Windows file that's open in another process, one has to use a 3-argument version of [`ReplaceFile`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365512(v=vs.85).aspx); see [this](http://stackoverflow.com/questions/43574311/renaming-a-file-open-in-another-process-without-file-share-delete/43574369#comment74199921_43574369) and [this](http://stack

[2017-04-23 19:25] kirbyfan64 commented on #3215
Uhh...can't you use `ctypes.windll.kernel32.ReplaceFileA`?

[2017-04-23 20:36] pkch commented on #3215
Ah I didn't know you can call Windows API from pure python  😲  Yes, I managed to call it, so I'm testing out whether I can achieve the desired behavior.

[2017-04-24 01:07] JelleZijlstra commented on #3215
I recently learned about https://github.com/untitaker/python-atomicwrites (because it has a stub in typeshed :) ). Is their approach useful?

[2017-04-24 01:32] pkch commented on #3215
@JelleZijlstra  I think not. Their support for Windows is based on the function (`MoveFileEx`) that works if and only if `os.replace` works because both require the same `DELETE` access to source and destination files.

[2017-04-24 06:07] pkch commented on #2008
I now suspect my idea is too complex to be feasible. I was thinking to keep,
for each variable, the range of types: the lower bound is the type from the
binder, and the upper bound is the type declared in the annotation. I wanted
mypy to use this range (rather than just the precise type from the binder) to
see if the variable can be used in any given context.

However, I found that the types becom

[2017-04-24 09:28] frexvahi opened #3229 "Type not narrowed correctly for `if X in collection`"
[code]

The revealed type is `Union[builtins.str, builtins.float]` but should be `builtins.str`

[2017-04-24 09:34] ilevkivskyi commented on #3229
Than you for reporting this! I have also encountered situations where this could be useful. It is not super easy to implement, but I think this is a reasonable feature to support (especially for invariant collections, where the type is known precisely).

As a workaround, you could add ``assert isinstance(foo, str)`` in the if-branch, mypy will recognize this.

[2017-04-24 15:32] gvanrossum commented on #3215
But why couldn't we assume the same access?

[2017-04-24 15:56] ttsiodras opened #3230 "Mypy 0.4.2 fails on a single line script importing module "pkg_resources""
Mypy version 0.4.2 generates this error in my machine...

    $ pip3 freeze | grep mypy-lang
    mypy-lang==0.4.2

    $ cat bug.py
    import pkg_resources

    $ mypy bug.py
    /home/assert/.local/lib/mypy/typeshed/third_party/3/pkg_resources/__init__.pyi:10: note: In module imported here,
    bug.py:1: note: ... from here:
    /home/assert/.local/lib/mypy/typeshed/stdlib/3/zipfile.pyi: note: I

[2017-04-24 15:58] gvanrossum commented on #3230
Does it also fail with the latest release? On master? 0.42 is really old. Also note it's now pip install mypy, no longer mypy-lang.

[2017-04-24 16:04] ttsiodras commented on #3230
Indeed, it doesn't - sorry about the noise, didn't realize the name had changed.
Closing.

[2017-04-24 16:04] #3230 closed

[2017-04-24 16:50] bisho commented on #3173
Perhaps an easy mitigation would be renaming mypy's types.py to _types.py.

I have found in python3 with typing becomes natural defining the types of your service in a single types.py, so I think this could be a common issue.

[2017-04-24 16:53] bisho commented on #3173
Oh, I miss your point, types is in stdlib...

[2017-04-24 16:54] gvanrossum commented on #3173
OK, let's close this issue as "won't fix".

[2017-04-24 16:54] #3173 closed

[2017-04-24 17:25] pkch commented on #3215
Well supposedly [there was a function](http://stackoverflow.com/questions/8958094/reliable-file-saving-file-replace-in-a-busy-environment/8964246#8964246) that allows to rename even if delete isn't allowed. I thought maybe they figured out how to use it properly.

But actually they are doing precisely what we are already doing - and since they don't do the wait/retry loop, the behavior of their ap

[2017-04-24 18:19] ambv commented on #3217
Could we make this work with a C-based Enum implementation? The thing is, our optimized version is Cython, we wrote it for perf reasons.

[2017-04-24 18:39] gvanrossum opened #3231 "Drop all Python 3.2 support"
We already don't support running mypy itself on Python 3.2. We've now decided that even supporting 3.2 as a target platform is too much work to maintain, so we're going to drop it completely.

See also https://github.com/python/typeshed/issues/1145.

[2017-04-24 19:09] gvanrossum opened #3232 "New incremental mode (-i) crasher"
I've seen this a few times myself and now it's being reported. The traceback ends with
[code]

[2017-04-24 19:14] gvanrossum commented on #3215
Thanks for the thorough research!

[2017-04-24 19:16] gvanrossum commented on #3217
I don't understand enough about your problem to propose a solution. Can't you create a stub for it that pretends it derives from enum.Enum?

Alternatively, if we changed mypy so that instead of checking "is the type exactly enum.Enum (or a few others)" it checked "is this type's metaclass derived from enum.EnumMeta", *then* could you write a stub?

[2017-04-24 19:17] ilevkivskyi commented on #3232
Probably this is a "leftover" that is still not fixed by https://github.com/python/mypy/pull/3203
@pkch Could you please take a look?

[2017-04-24 19:20] ambv commented on #3231
The latest release of typing already dropped 3.2 support. Good to see this happening here as well! :)

[2017-04-24 19:22] gvanrossum commented on #3232
Oh, I'll also check if the user who reported this had a sufficiently recent mypy version.

[2017-04-24 19:37] gvanrossum commented on #3232
The user who reported this was running an older version of mypy, so there's nothing to see and nothing to do here.

[2017-04-24 19:50] #3214 closed

[2017-04-24 19:55] pkch commented on #3232
Unfortunately, this is the recent version (after my fix). I can see from the line numbers. Is there any information about the crash (command line, whether it's intermittent, warm/cold cache, etc)?

[2017-04-24 19:56] gvanrossum commented on #3232
Well, actually the user reported they got the crash after upgrading to mypy 1d1c62dc9885fedb60efb737c007aca4d93c1f37 (and they have the Terminal window logs to prove it to me :-) so I'm afraid I need to reopen this. Sorry for the quick cycling.

[2017-04-24 19:59] gvanrossum commented on #3232
The user also reported: It [mypy -i] worked the first two times, then he added `# type: ignore` to the (previously empty) `__init__.py` of a very commonly used toplevel package, then it crashed.

[2017-04-24 20:12] gvanrossum commented on #3232
Maybe also important, we have a script that computes the list of files to pass to mypy, and the offending `__init__.py` file (let's call it `dropbox/__init__.py`) was previously empty, so the result of adding `# type: ignore` to it was to include it in the command line. Many submodules of `dropbox` do have type annotations and are included in both runs.

Also, we run with `--follow-imports=skip --

[2017-04-24 20:31] gvanrossum commented on #3232
Also important: Python 2 mode!

[2017-04-24 20:33] ilevkivskyi commented on #3232
This is the key I think.

[2017-04-24 20:34] ilevkivskyi commented on #3232
@pkch maybe the solution is just to skip the reverse renaming in the PY2 mode?

[2017-04-24 20:36] pkch commented on #3232
Yup, python doesn't use `_importlib_modulespec` at all.

[2017-04-24 20:36] gvanrossum commented on #3232
Do you have time to make a fix?

[2017-04-24 20:38] pkch commented on #3232
Yes. I can't reproduce the crash, but I'm pretty sure what @ilevkivskyi  said is sufficient. If it still crashes, we'll just have to look further.

[2017-04-24 20:39] gvanrossum commented on #3232
Please send a PR -- I have a repro but I can't publish it, so I'll test your PR against it once I have it.

[2017-04-24 20:55] pkch commented on #3232
I used the simplest fix I could (just check that `_importlib_modulespec` exists before redirecting). But I guess it's fine, since this is a very low-level implementation detail.

[2017-04-24 22:34] #3232 closed

[2017-04-24 22:34] gvanrossum opened #3236 "Clean up code related to [rev_]module_rename_map"
The current solution does not feel very future-proof. See #3235 (fix) and #3232 (crash report).

(@pkch please note.)

[2017-04-24 22:44] gvanrossum opened #3238 "Let's just do one AppVeyor run instead of four"
I don't think the cost of waiting for all four runs is worth the benefits. There is no different mypy functionality being tested -- at best we'll catch 32/64 bugs in CPython or typed_ast.

@ddfisher Do you have any objections? Do the four AppVeyor runs contribute to the Windows wheel building?

[2017-04-24 23:48] pkch commented on #3215
For the wait/retry loop, I'll borrow the solution from [CPython test support module](https://github.com/python/cpython/blob/a36e939aeb3b5a2c56561eb24f0e339eee9f3f9d/Lib/test/support/__init__.py#L313L412); see discussion about it [here](http://bugs.python.org/issue15496).

Unfortunately, I can't just `from test.support import unlink` because this was never intended as public API, so it's not very f

[2017-04-25 07:32] tjltjl opened #3240 "calling items() on Union of Dicts variable claims the return value is not iterable"
The code

        x : Union[Dict[int, int], Dict[str, str]] = dict(a='b')
        for a, b in x.items():
            print(a, b)

yields

error: 'Union[Tuple[builtins.int*, builtins.int*], Tuple[builtins.str*, builtins.str*]]' object is not iterable

Using just Dict[str, str] instead of the Union passes.

The code (naturally) runs in python, and both elements in the union are iterable...

[2017-04-25 08:13] ilevkivskyi commented on #3240
I just checked, it looks like this is another multi-assign from Union problem.
@elazarg I think this is an important feature, and it would be great if you will continue working on your PR.

[2017-04-25 10:43] Sterbic opened #3241 "Keyword arguments of __call__ are not interpreted correctly"
I looks like mypy drops all keyword arguments of the `__call__` function of a class and recognises only positional arguments.

Code example:

[code]

Mypy error:
`test.py:13: error: Unexpected keyword argument "bold" for "__call__" of "Formatter"`

[2017-04-25 13:54] JukkaL commented on #3238
If they are needed only for wheel building, can we move them to a separate job that gets run on demand somehow? At least we should be able to do something like this:

* Set up another repo that just contains stuff needed for AppVeyor and a mypy commit pin.
* The AppVeyor build for that new repo just clones the mypy repo and runs mypy tests (and builds the wheels that we may need).
* To manually tr

[2017-04-25 14:12] JukkaL commented on #3215
If something fails to get deleted, we can just fail the entire build and not try anything else? If the write succeeds but the replace fails, the user has a configuration problem -- we have partial write access to the cache directory. We can detect this and just fail immediately instead of trying to write additional cache files. There will be at most a one-second delay, which is reasonable.

Here a

[2017-04-25 14:36] gvanrossum commented on #3241
Yes, confirmed and seems specific to `__call__`.

[2017-04-25 14:52] jpochyla opened #3243 "Crash on yield inside lambda"
I've encountered a crash on the following input:

[code]

With this output:

[code]

[2017-04-25 15:03] ilevkivskyi commented on #3243
Confirmed, I also see the same crash.

[2017-04-25 15:20] ilevkivskyi commented on #3241
Adding ``__call__`` to ``MAGIC_METHODS_ALLOWING_KWARGS`` in ``sharedparse.py`` fixes the issue. I wonder why it is not there now, do older versions of Python not allow kwargs in ``__call__``?

[2017-04-25 15:25] gvanrossum commented on #3241
I assume it was just an oversight. Do the tests pass with that one change? Then it's worth adding a test specifically for `__call__` with kwargs and push a PR.

[2017-04-25 16:00] JukkaL commented on #3098
I'm spelling out explicitly what should change:

For a value `x` of type `Type[Any]`, mypy should allow arbitrary attribute access like `x.foobar`, and the result type should be `Any`.

[2017-04-25 16:12] ilevkivskyi commented on #3241
OK, here is the PR https://github.com/python/mypy/pull/3245

[2017-04-25 18:04] pkch commented on #3215
@JukkaL

I'm not 100% sure I understood you, so I'll summarize what we know and then respond to your bullet points.

The original problem is the intermittent `PermissionError` raised by our implementation of atomic writes on Windows. Currently there are only two atomic writes in the codebase, both in `build.write_cache`. They are implemented like this:

    with open(tmpfile, 'w') as f:
        f.

[2017-04-25 18:57] gvanrossum commented on #1927
Raising priority based on internal needs.

[2017-04-25 19:24] gvanrossum commented on #3215
OK, so the solution really is just to retry with exponential backoff and a 1 sec timeout, but it's unlikely to happen, so we won't have to worry about all writes taking an extra 1 sec per file.

Then all I recommend is simplifying the wait function to the bare minimal, per my previous comment.

[2017-04-25 20:24] elazarg commented on #3229
Related #2357 #1203

[2017-04-25 21:50] cyang1 opened #3247 "% formatting with a bytestring template given as a variable fails"
Running mypy on the following code gives: `error: Unsupported left operand type for % ("bytes")`.
[code]
Note that `print(b'foo%s' % b'bar')` passes without error.

[2017-04-25 21:53] gvanrossum commented on #3247
Reproduced.

[2017-04-25 22:17] #3241 closed

[2017-04-25 22:24] JelleZijlstra commented on #3247
I think this is a typeshed issue, there's no `__mod__` on bytes in builtins.pyi.

[2017-04-25 22:27] gvanrossum commented on #3247
Good call. Given that this is in part a mypy feature, let's use this issue to track it.

[2017-04-25 23:00] ddfisher commented on #3238
We *do* use the Appveyor builds for Windows wheels, but we only need two of them for that -- a 32 bit and a 64 bit build.  The Python version doesn't matter.  I think we can make one of the builds only run on tagged commits if we want.

Can we try switching to 2 Appveryor builds first and see if that helps much?  That'd be a very easy change to start with.

[2017-04-25 23:04] gvanrossum commented on #3238
Well, it'll be twice as slow (as with only one build) but still twice as fast (compared to the current situation with 4 boulds).

[2017-04-25 23:45] pkch commented on #3238
Also, currently every push to a branch *on the main repo* (not a fork) causes AppVeyor to build both the branch commit, and the hypothetical merge-with-master commit. I'm not saying it's useless, but maybe we can live with just "merge-with-master"? If a branch that can't be merged cleanly with tests passing, it probably results in the same effort to fix it as if the branch itself failed a test.

A

[2017-04-25 23:57] pkch commented on #3238
The last point (disabling master tests) is safe only if we use github setting `Require branches to be up to date before merging`. If not, we should keep building on each master commit, since the PR build may be obsolete by the time the merge happens.

[2017-04-26 00:10] #3238 closed

[2017-04-26 00:19] gvanrossum commented on #3238
I thought the duplicate test runs were only an issue for core devs?

[2017-04-26 00:42] pkch commented on #3238
They use AppVeyor capacity allocated to [`python/mypy` repo](https://ci.appveyor.com/project/gvanrossum/mypy/history). Below I copied the screenshot of the build history from AppVeyor for mypy project from a minute ago. I highlighted in yellow the pairs of builds where one would kinda suffice. Most of them completed in full; a couple of them were cancelled, but only due to another push to the same

[2017-04-26 00:44] pkch commented on #3238
To clarify: in this picture, there can be only 1 build running at any given moment, since we only have 1 VM. Anything else (that's not cancelled) will be queued up.

[2017-04-26 00:48] gvanrossum commented on #3238
Hm, I recall researching a similar think for Travis CI and ending up thinking it was too complicated.

If you want to change something please open a new issue and state clearly what the instructions are and what the risks are. (And the benefits for good measure, though I think we all understand those. :-)

[2017-04-26 02:33] pkch opened #3249 "Prevent duplicate CI builds"
Current settings on both Travis and AppVeyor result in 2 builds whenever a push is made to a branch on the main repo (not a fork) that is part of a PR:

- One build for the branch itself. E.g., for commit 0efc26d: [AppVeyor 1.0.1302](https://ci.appveyor.com/project/gvanrossum/mypy/build/1.0.1302); [Travis 5197](https://travis-ci.org/python/mypy/builds/225804703)
- One build for the temporary commi

[2017-04-26 02:34] gvanrossum commented on #3249
IIRC there's extensive literature on this in the GitHub docs. Can you try to find that and reference it?

[2017-04-26 02:56] pkch commented on #3249
Github does not have any docs on the main topic. The reason is that this is really the domain of CI service providers. Travis, AppVeyor and CircleCI all behave differently and are all evolving; Github won't be able to update their docs as things change externally.

The references on CI vendors websites, their issue trackers, and SO are below:

- AppVeyor
  - [docs](https://www.appveyor.com/docs/ap

[2017-04-26 06:12] daviskirk opened #3250 "3.6 stubs used even though interpreter is 3.5"
The 3rd party click package defines its stubs as lib/mypy/typeshed/third_party/3.6/click/core.pyi .  However, when using python 3.5 it still tries to read the stubs resulting in a ``error: Parse error before :`` because of the 3.6 syntax used.

Is there a way to exclude the inclusion of 3.6 stubs?

[2017-04-26 06:48] timabbott opened #3251 "`type: ignore` needs to be placed partway through a multi-line variable assigment in some cases"
Usually, mypy does this correctly, but today I had to merge https://github.com/zulip/zulip/commit/c4716aefc72e7a2b5496ffcf6bc159fe0c032617 because mypy was ~throwing~reporting an error (caused by an unrelated typeshed bug) that had been suppressed by that `type: ignore`, but stopped being when we line-wrapped the assignment.

We're using mypy 0.501.

[2017-04-26 07:26] JelleZijlstra commented on #3250
I can't reproduce this with mypy master. What mypy version are you using?

[2017-04-26 07:28] daviskirk commented on #3250
mypy --version
mypy 0.501

[2017-04-26 10:28] ilevkivskyi commented on #3250
Just tried this on master with Python 3.4 and I cannot reproduce. This code
[code]
passes mypy without errors.

@daviskirk Could you please try to reproduce your error on current GitHub master?

[2017-04-26 10:42] ilevkivskyi commented on #3251
This looks quite similar to https://github.com/python/mypy/issues/3177, but probably _not_ an exact duplicate. Here it is less clear what is the most obvious line for mypy to report an error. I think the current behaviour is OK. Maybe we should just document some rules for line numbers in errors in multi-line statements/expressions?

[2017-04-26 12:13] frexvahi opened #3252 "Support ModuleNotFoundError (in Python 3.6)"
[code]
mypy 0.501 on python 3.6 says `error: Name 'ModuleNotFoundError' is not defined`

I also had problems with this (valid for Python>=3.3 according to https://docs.python.org/3/library/exceptions.html)
[code]
mypy says `error: "ImportError" has no attribute "name"`

[2017-04-26 13:11] JukkaL commented on #3251
Yeah, this is a known issue, and doesn't just affect assignments. Do you have a specific improvement in mind? It's not obvious to me what would a generally better way to do this.

[2017-04-26 13:18] JukkaL commented on #3249
I guess the duplicate builds (for branch and master merged into branch) are sometimes useful, but not very often. What if we limit them to Travis only? The duplicate Windows build very rarely catches any additional Windows-specific issues, so the extra AppVeyor build is only marginally useful, but since AppVeyor has less capacity the duplicate builds cause significant delays.

[2017-04-26 14:39] JelleZijlstra commented on #3252
Both of these sound like issues with http://github.com/python/typeshed.

I can't reproduce your problem with ModuleNotFoundError: it's there in https://github.com/python/typeshed/blob/master/stdlib/3/builtins.pyi#L915 and on mypy master using ModuleNotFoundError in 3.6 mode works fine.

The `name` and `path` attributes are indeed missing from ImportError in typeshed. This should be easy to fix; fe

[2017-04-26 15:09] davidroeca commented on #1020
One thought: the return type of __new__, if explicitly defined and different from the class name name itself, could implicitly be the class's supertype.

[code]

This would also be a general alternative to https://github.com/python/typing/issues/415 and could likely handle https://github.com/python/mypy/issues/3062

[2017-04-26 15:30] gvanrossum commented on #3251
I think it's different from #3177. That issue is specifically about everything related to a function heading being attributed to the line where the first decorator starts.

This issue is about whether the scope of a type-ignore on a statement that's split across multiple lines should be the entire statement rather than the specific line number on which the type-ignore occurs. I think it's an imple

[2017-04-26 15:38] JukkaL opened #3253 "Performance regression in pytest tests due to always writing cache"
Commit 264715e1fdcc9e8df2bbdff1168b68725864c01b slowed down pytest tests by about 50% when I run them locally. I'd rather not write cache files by default when running locally -- maybe we can only do it on CI builds. Alternatively, I'd like a documented option to skip writing cache to speed up tests.

[2017-04-26 15:47] JelleZijlstra opened #3254 "Warn about unconstrained typevars"
I think code like this should produce an error:
[code]
because there's nothing to constrain the type variable. There is a good amount of code like this in typeshed.

I'm not sure how easy this would be to implement. Maybe it should be behind a flag at first; I imagine this proposed change may lead to a lot of new errors, but it's a good way to educate people about what typevars are for.

[2017-04-26 15:55] JukkaL commented on #1399
This seems to be fixed now (there is no error).

[2017-04-26 15:55] #1399 closed

[2017-04-26 16:02] JukkaL opened #3256 "Any inferred when overloaded function called with None argument"
Mypy infers `Any` when calling a precisely typed overloaded function with a `None` argument (without strict optional checking). This is undesirable, since an `Any` is silently generated:

[code]

Not sure what's the right thing to do here -- we can either generate a message that says that the overload target is ambiguous, or infer `Union[int, str]` as the return type.

Note that explicitly includi

[2017-04-26 16:42] JukkaL opened #3257 "Make joins symmetric and transitive?"
Joins don't have lattice properties with multiple inheritance. Here is an example of where things currently aren't right because joins aren't symmetric:

[code]

Similar examples can we found for transitivity, I believe -- changing the order of things in a list causes a different type to be inferred, which is at least somewhat bad, as it makes mypy feel unpredictable in some cases.

One option wou

[2017-04-26 17:32] kirbyfan64 opened #3258 "Unions with invalid arguments are still allowed"
[code]

Doesn't give any errors, but fails at runtime:

[code]

[2017-04-26 17:35] #3253 closed

[2017-04-26 17:43] #3098 closed

[2017-04-26 17:50] JukkaL commented on #3254
The example is actually okay -- the type of an argument at a call site will be used to infer a value for the type variable. It's not recommended since `Union[str, bytes]` or similar is more general, as it also accepts unions, and it allows mypy to generate better error messages. Arguably mypy could be improved to make the `AnyStr` version as good as the union version, but there are a few open issu

[2017-04-26 17:51] gvanrossum opened #3259 "assert failing in lookup_qualified_node with -i/--incremental"
I've got some proprietary code where mypy reliably crashes on the second `-i` run, as follows:
[code]

[2017-04-26 17:54] JelleZijlstra commented on #3254
I guess that depends on what you consider OK; the example doesn't compromise type safety or create false positive errors, but it's using a harder-to-understand part of the type system (type variables) when a simpler solution (unions) is available and should have the same results.

That line of argument applies even more strongly if you use a typevar without bounds, like this:
[code]

[2017-04-26 18:05] ilevkivskyi commented on #3257
Just an idea concerning unions and multiple inheritance. If I have two nominal types, then there are three options:
* The two MROs are non-overlapping, then the join is ``object``.
* We find a class ``X`` that appears in both MROs, and it appears _before_ any other class that also appear in both MROs - in this case ``X`` is the join.
* We find some entangled MRO situation, like on the silly drawin

[2017-04-26 18:48] fniessink opened #3260 "Mypy incorrectly says signature is incompatible with supertype when using decorator"
When checking the code below with mypy v0.501, mypy complains that

According to @ilevkivskyi this may be related to python/mypy#1441.

[code]

[2017-04-26 19:20] ilevkivskyi commented on #3260
I played with this a bit and it looks like this is specific to ``functools.lru_cache()``, most probably since it is a class that defines a ``__call__`` method with decorator-like signature. So this is different from #1441.

[2017-04-26 19:49] kirbyfan64 opened #3262 "Signatures of overloaded methods are incompatible with supertypes, even if they really are"
e.g.

[code]

IMO in this case, it should still be compatible, since `B` supports `A`'s full API, just with another extra function.

[2017-04-26 20:04] sixolet commented on #3262
This looks like me, if somebody else doesn't get it first.

[2017-04-26 20:04] kirbyfan64 commented on #3262
@sixolet I think you might be around 10 seconds too late... ;)

[2017-04-26 20:27] gvanrossum commented on #3262
@sixolet Can you review @kirbyfan64's review?

[2017-04-26 20:33] sixolet commented on #3262
Yep, though probably tomorrow.

[2017-04-26 21:21] gvanrossum commented on #3259
And guess what the value of `cross_ref` is when the lookup fails? `_importlib_modulespec.Loader.module_repr`.

@pkch or @ilevkivskyi -- any idea?

[2017-04-26 21:22] gvanrossum commented on #3259
(And the source file is `typeshed/stdlib/3/importlib/abc.pyi`.)

[2017-04-26 21:40] pkch commented on #3259
python 2 or 3?

[2017-04-26 21:45] gvanrossum commented on #3259
Python 3.

[2017-04-26 22:04] rkr-at-dbx opened #3264 "Inheriting from `Generic[_V]` breaks type inference in `__init__` when `_V` has constraints"
[code]

yields:
[code]

Removing the constraints from `_A` allows mypy to deduce `builtins.int`.

[2017-04-26 22:17] gvanrossum commented on #3259
I haven't pinpointed it yet but I fear it's another import cycle, probably involving `_importlib_modulespec` and `importlib.abc`.

[2017-04-26 22:33] gvanrossum commented on #3259
(Sorry for the many messages.)

This is in fixup_module_pass_one() for importlib/abc.pyi. This module is fake-defining Loader, which it actually imports from `_importlib_modulespec`:
[code]
However (presumably due to the magic renaming going on here) the cache file importlib/abc.data.json contains the full definition for the Loader class, while the cache file for `_importlib_modulespec` contains a

[2017-04-26 23:01] ilevkivskyi commented on #3264
I think this is an exact duplicate of #2697 (see especially https://github.com/python/mypy/issues/2697#issuecomment-272962354, it is identical to your example).

[2017-04-26 23:01] #3264 closed

[2017-04-26 23:02] pkch commented on #3259
Maybe my entire solution in #3203 and #3235 should be replaced with something more fundamental. I'm thinking maybe we should not create a symbol table for `_importlib_modulespec` at all, and when we parse it, we just add those 3 names to the corresponding symbol tables for `types`, `importlib.abc` and `importlib.machinery`?

Alternatively, we can make mypy handle arbitrarily re-exported of names b

[2017-04-26 23:04] ilevkivskyi commented on #2697
Raising priority since this appeared again and it looks "fundamental".

[2017-04-26 23:21] ilevkivskyi commented on #3259
Maybe the problem is simpler, there is code:
[code]
But IIUC the name is actually ``'_importlib_modulespec.Loader.module_repr'``, so it is simply not renamed? What happens if renaming a sub-string with ``str.replace`` or similar instead?

[2017-04-26 23:25] ddfisher commented on #3251
Yeah, that's the current behavior.  That's because type ignores don't really fit into the parse tree in a particularly sensible way -- they're valid anywhere.  If this is something we want to fix, changing that is probably not the way forward -- I think it'd be easier to understand the start and end points of statements, and filter errors that way.

[2017-04-26 23:44] pkch commented on #3259
Yes, that name would not be renamed. But if that name appears, it's a problem with the original renaming. By the time we're in this code, we should not be seeing `_importlib_modulespec` at all.

So maybe my original renaming isn't comprehensive enough. I rename `_importlib_modulespec.Loader` --> `importlib.abc.Loader` in the first pass of sem. analyzer in `visit_file`. Perhaps it's not enough.

[2017-04-26 23:56] pkch commented on #3259
I reproduced the error, looking into it now.

[2017-04-27 01:10] pkch commented on #3259
Actually the rennaming inside `fixup.lookup_qualified_stnode` (in which the assert is raised) is happening in the *opposite* direction: `importlib.abc.Loader` -> `_importlib_modulespec.Loader`. The name is already '_importlib_modulespec.Loader.module_repr', so as far as `rev_module_rename_map` intent is concerned, there's nothing to be done.

My original idea in #3203 was that these names will con

[2017-04-27 01:43] pkch commented on #3249
Sure, let's try with Travis first.  If we reduce AppVeyor from 2 (already down from 4) to 1 builds, the two will be much closer (3.5 min / commit for AppVeyor, 2.5 min / commit for Travis).

Talking of which, do you want me to add a setting to skip one of the 2 builds on AppVeyor on non-tagged commits? The only reason we have 2 builds now is for wheels (see #2934 and
https://github.com/python/mypy

[2017-04-27 03:31] gvanrossum commented on #3249
@ddfisher ^^

[2017-04-27 03:45] gvanrossum commented on #3259
This is a bit disturbing. There don't seem to be any typeshed log entries for *importlib*, so I'm not sure what to think of that theory. But I do think that maybe https://github.com/python/mypy/issues/3202 did not require urgent fixing, and the current crashes do, so maybe rolling back both #3203 and #3235 is best. (And please do at least verify that you no longer have *this* crash -- I'm not sure

[2017-04-27 04:18] pkch commented on #3259
The repro for both crashes is here:

[code]

I am going to roll back #3203 and #3235. I suspect the problem they were trying to solve was due to the fact that `_importlib_modulespec.pyi` contained symbols such as `Loader` before `Loader` is defined. (Both `Loader` and `ModuleType` refer to each otehr, so there's going to be a cylce). I can't really say for sure whether that problem disappeared for

[2017-04-27 04:56] pkch commented on #3259
Well, to be more precise... Reverting the #3203, #3235 *and* some of the changes in my older PR #3107 removes both crashes. The only feature we lose is that `reveal_type` says `''_importlib_modulespec.ModuleType'`, etc. instead of `'types.ModuleType'`. Since we didn't have any tests that rely on that particular output, no tests break.

Let's deal with the `reveal_type()` issue later.

[2017-04-27 06:30] frexvahi commented on #3252
I tried with mypy installed from github master, the first issue has indeed been fixed since the 0.501 release.

Since the ImportError problem comes from typeshed, I am closing this issue.

[2017-04-27 06:30] #3252 closed

[2017-04-27 09:52] #3259 closed

[2017-04-27 09:53] ilevkivskyi commented on #3236
Fixed by #3267

[2017-04-27 09:53] #3236 closed

[2017-04-27 10:13] ilevkivskyi commented on #3259
@pkch
OK, I applied your revert, it fixes both crashes (see my comment on PR). Concerning ``reveal_type`` and error messages, the right way to do this is to add a renaming rule to either ``messages.format_simple`` or ``messages.reveal_type`` or ``types.TypeStrVisitor.visit_instance``. These will _not_ affect any mypy symbol table logic, only pretty-printing of types.

[2017-04-27 11:25] #3231 closed

[2017-04-27 16:59] JukkaL opened #3269 "Can't create a type alias targeting None"
An alias that refers to `None` doesn't work:

[code]

[2017-04-27 18:46] davidroeca opened #3270 "Bounding allowable type values could leverage immutable reference type checks"
Likely out of scope, but worth considering as a simplifying assumption. Languages in the haskell family have immutable references built into their type systems, and this could enforce safer code. For example, fail the typecheck if reassignment of an immutable variable occurs, or classify the reference as mutable implicitly unless explicitly immutable.

[code]

Optionally, this could also extend to

[2017-04-28 00:10] ilevkivskyi commented on #3270
This is mostly a duplicate of #1214

IIUC what you also want to note is that constant types can be useful in conjunction with dependent types, namely we could not only support types that depend on literals but also on constants. Maybe you can add a comment in #1214 or/and in #3062? I am not sure we need to keep this open.

[2017-04-28 00:14] ilevkivskyi commented on #3269
I think we could support one of these forms. The second one ``N = None`` looks much more like a variable assignment. The first one ``N = type(None)`` looks easy to support by a simple special casing, although this is not specified by PEP 484 and a bit arbitrary.

[2017-04-28 00:15] davidroeca commented on #3270
Yep, makes sense. Will add a comment

[2017-04-28 00:15] #3270 closed

[2017-04-28 00:32] pkch commented on #3259
Should we add the repro from my [comment above](https://github.com/python/mypy/issues/3259#issuecomment-297607460) as a new regression test? Or it's pretty safe with the offending code removed?

[2017-04-28 00:53] gvanrossum commented on #3259
Yes, please add such a test. Maybe it can go in check-incremental.test? (Or is the need to run with `-i` twice a problem?)

[2017-04-28 02:10] davidroeca commented on #3062
Constant/immutable types as mentioned in https://github.com/python/mypy/issues/1214 could be treated like literals in the typecheck flow, as long as they were assigned to a literal or another constant.

Cases where reassignment occurs seem to be most challenging:

[code]

Also, the flow of a bounded integer type is complex but potentially doable with well-documented functions and immutable variabl

[2017-04-28 03:49] pkch commented on #3259
Hmm so far I've been able to repro it only with a command-line test which unfortunately is too slow (10 sec). I'll try again later.

[2017-04-28 04:57] gvanrossum commented on #3259
Oh, this may be because the check*test files use fake stubs.

There are some other tests that use real stubs.

But 10 seconds? That seems excessive.

[2017-04-28 10:05] Socialery commented on #3211
I'm having a similar issue I believe, with a user install of mypy.

https://gist.githubusercontent.com/Socialery/d94693f1db33467bd2ab5ec7d6f3a569/raw/5a3800d3d8341245631d96806842332a91246427/gistfile1.txt

[2017-04-28 11:32] JukkaL opened #3272 "Incremental crash caused by TypedDict deserialization"
When type checking `t.py` twice using `-i`, the second run crashes:

[code]

[code]

I already have a fix in a local branch and I will send a PR soon.

[2017-04-28 12:03] JukkaL opened #3273 "Release mypy 0.510"
I'm planning the next mypy release (0.510) to happen around Thu/Fri of the week of May 1. [I.e. May 4-5.]

If you have any open PRs that you'd like to see included, leave a comment here and we'll see if it's possible. New features probably have to be merged on Tuesday at the latest. Documentation updates and high-priority, low-risk bug fixes can also land on Wednesday. Merging any PRs from Thursda

[2017-04-28 12:21] JukkaL opened #3274 "Can't access qualified import in incremental mode"
Serialization/deserialization of qualified imports like `import c.d` seems to broken. Mypy gives a different error when using `-i` for this program:

[code]

`b.py`:

[code]

`c/__init__.py` is empty.

`c/d.py`:
[code]

[2017-04-28 15:31] JukkaL opened #3277 "Any type inferred for circular reference due to import cycle"
The inferred `Any` type is unexpected:

`t.py`:

[code]

`t2.py`:

[code]

A better option would be to reveal the correct type or generate an error if it's not possible.

[2017-04-28 15:35] JelleZijlstra commented on #3273
I'd like to see #3081 merged if possible.

[2017-04-28 15:38] JukkaL opened #3278 "Quick mode crash when class is deleted"
On first run, type check `a.py`:
[code]

`b.py`:

[code]

Updated contents of `b.py` on the second run (note `C` was deleted, but there still is a reference to it in `a`):

[code]

Now mypy crashes:

[code]

[2017-04-28 16:06] JukkaL opened #3279 "Fine grained crash when class is turned into a generic class"
`a.py`:

[code]

Original `b.py`:

[code]

Updated `b.py`:

[code]

Now if I run `mypy --quick a.py` first with the original files, then with the updated `b.py`, I get a crash:

[code]

[2017-04-28 16:07] JukkaL commented on #3279
I can also cause a crash if I switch a generic class into a non-generic one. However, I need to switch the order of assignments in the second version:

[code]

[2017-04-28 17:53] #3272 closed

[2017-04-28 18:38] gvanrossum commented on #3250
My suspicion is that the OP somehow manually added lib/mypy/typeshed/third_party/3.6 to their MYPYPATH. That's not supported and I'm just going to close this.

Also, IIRC @ambv owns the click stubs.

[2017-04-28 18:38] #3250 closed

[2017-04-28 18:39] ambv commented on #3250
Cannot reproduce either. The point of putting Click in 3.6 was that those were our first stubs that used variable annotations and at that point Mypy only enabled parsing this syntax if the corresponding Python version matched. It's since fixed so I think we could move Click stubs to `3/`.

[2017-04-28 18:42] gvanrossum commented on #3250
If you want that to happen either submit a PR or an issue to typeshed.

[2017-04-28 18:49] gvanrossum commented on #3247
Confirmed this is fixed by https://github.com/python/typeshed/issues/1212.

[2017-04-28 18:49] #3247 closed

[2017-04-28 19:18] gvanrossum commented on #3273
I vote to include per-file strict-optional: https://github.com/python/mypy/pull/3206 -- @ddfisher we should get agreement on the way forward (see my code review remarks).

[2017-04-28 21:08] gvanrossum opened #3281 "Quick mode crash when run twice in strict-optional mode"
In our codebase we have a case where running quick mode twice crashes.

@euresti reported this.

**UPDATE:**, it's something like
[code]

[2017-04-28 21:09] gvanrossum commented on #3281
There are lots of errors too. Traceback:
[code]

[2017-04-28 21:48] ilevkivskyi commented on #3279
I think this could be also a symptom of another problem: there are many places where e.g. ``named_type('builtins.tuple')`` is used instead of ``named_generic_type('builtins.tuple', [AnyType()])``. So that many types with wrong type argument count are created. This leads to crashes like #3117. I think that ideally we could "fix" all such code, this process is started in #3129 (also in protocols PR

[2017-04-28 23:00] jambonrose opened #3282 "Writing Stub File for Dynamic Namespace"
Hi,
I'm new to mypy and giving it a whirl for the first time.

I'm trying to lint a python file that is run as a test file by pytest.

[code]

When I run mypy, I am greeted with the error below.

[code]

No problem! I can create a set of local stubs. I create the following directory structure and specify the directory in `mypy.ini`.

[code]

However, when I run mypy, I now get the error below, reg

[2017-04-29 08:10] jcrmatos opened #3283 "List[<uninhabited>] error"
Hello,

Already showed this in Gitter and was told to open the issue here.
My env is Win7P+SP1 x64, Py 3.5.2 32b and mypy 0.501.

I have the following situation:

With the following code mypy doesn't return an error (which is correct):

[code]

But with the following code mypy returns a strange error

[code]

Best regards,

JM

[2017-04-29 08:57] JukkaL commented on #3279
These are all wrong. We should only create `Instance` types with the correct number of type arguments, and crash hard if we try to create an bad type.

[2017-04-29 10:43] jcrmatos opened #3284 "Suggestion: Creation of a dummy placeholder so that mypy doesn't return a "already defined" error when the re-definition is required."
Hello,

I would like to suggest the creation of a dummy placeholder (eg. AlreadyDefined or some symbol like ! or ...) so that mypy doesn't return a "already defined" error when the re-definition is required.

Here are 2 examples:

[code]

[code]

With the examples code above, mypy tells me that
`data_processing.py:144: error: Name 'row' already defined`
which is correct, but annoying, because to i

[2017-04-29 11:12] pkch commented on #3222
In addition, I found that to switch between commits (using `git checkout`) that have any difference in symlinks (e.g., one is added or deleted), one needs to be using Administrator command prompt on Windows (or else Git gets confused and `git checkout` deletes the file instead of updating the symlink -- at least on my version of Windows 10).

Not a problem, as long as it's documented.

[2017-04-29 13:58] ilevkivskyi commented on #3284
Thanks for reporting!

For your case you can write
[code]
For "throw away variables" there are already issues #465 and #1649

[2017-04-29 14:05] ilevkivskyi commented on #3279
OK, then a possible "robust" solution would be to remove ``named_type`` and only use ``named_generic_type`` that will check argument count on ``Instance`` creation. (We cannot make this check in ``Instance.__init__``, since type argument counts are not known until third pass.)

[2017-04-29 15:18] jcrmatos commented on #3284
Hello,

Thanks for the solution.

I'll keep the suggestion open.

Best regards,

JM

[2017-04-29 16:57] jcrmatos commented on #3284
Hello,

Tried your solution, but mypy returns this error
[code]
had to change it to
`event = []  # type: List[str]`

Thanks,

JM

[2017-04-29 17:06] jcrmatos opened #3286 "Mypy assumes and only accepts type IO[Any] when it is _io.TextIOWrapper"
Hello,

My env is Win7P+SP1 x64, Py 3.5.2 32b, Mypy 0.501.

The var used in the with context is of type <class '_io.TextIOWrapper'>.

[code]

But when I try to set it's type, mypy returns the following error

[code]

If I try to use module typing's own TextIO type it returns

[code]

It only works if I do

[code]

Best regards,

JM

[2017-04-29 18:09] davidroeca commented on #1214
Const in Python could have similar guarantees to something like JavaScript ES6's const, to prevent reassignment https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/const

A clever programmer would be able to get around this through methods that mutate, or by a shared reference, but the guard rails are still nice.

Alternatively, it could only be allowed for immutable non-c

[2017-04-29 19:30] gvanrossum commented on #3286
This looks like a (complex) typeshed issue.

[2017-04-29 19:37] gvanrossum commented on #3283
Maybe @ddfisher understands this? IMO it's always an error when `<uninhabited>` shows up in error messages?

[2017-04-29 22:54] jcrmatos commented on #3286
Should I open the issue in typeshed?

[2017-04-30 03:59] gvanrossum commented on #3286
Yes, since I think the solution will be changes there.

[2017-04-30 03:59] #3286 closed

[2017-04-30 04:03] gvanrossum commented on #3222
This worries me a bit.

I wonder if a solution that requires one to do many crucial Git manipulations as Administrator isn't too brittle. Maybe we need to reopen https://github.com/python/typeshed/issues/1175 ?

[2017-04-30 17:30] #3249 closed

[2017-05-01 05:22] sixolet commented on #3273
@JukkaL I have a sneaking suspicion your employer's interests would be served well by including https://github.com/python/mypy/pull/3291 which I just posted.

[2017-05-01 09:13] JukkaL commented on #3222
I'm also worried about this. Let's reconsider the use of symlinks on
Windows?
On Sun, Apr 30, 2017 at 05:03 Guido van Rossum <notifications@github.com>
wrote:

[2017-05-01 10:54] daviskirk commented on #3250
In case anyone ends up here with the same problem.
``MYPYPATH`` wasn't set manually.  But I did figure out that the problem was that I had ``fast_parser`` option set to ``False``.  As this is deprecated as far as I know, I don't think this should be a problem for anyone else.  Setting it back to ``True`` fixes the problem.
I can't figure out exactly why this would be an issue or how  it relates to

[2017-05-01 13:44] JelleZijlstra commented on #3250
That explains the syntax error; the old parser wasn't updated to support PEP 526 syntax. Do you specify in your configuration to use `--python-version 3.5`? Otherwise mypy will by default run in Python 3.6 mode (#2915), regardless of the Python version used to run mypy itself.

[2017-05-01 13:46] daviskirk commented on #3250
No I don't ... ok so that should explain everything, thanks for the explanation!

[2017-05-01 15:49] JelleZijlstra commented on #3222
Agree that this seems like it is going to be too brittle.

Is it correct that these issues will only affect people developing on mypy, not people just using it? If the latter, we should definitely get this fixed before the next mypy release.

I can try implementing one of the other solutions, but maybe it's better if somebody who actually develops on Windows does it. @pkch are you interested in wo

[2017-05-01 16:26] gvanrossum commented on #3222
People using mypy typically install the wheel. I just downloaded the 0.501 win32 wheel and it contains no symlinks (even though there were some in typeshed at the time of release) so I think these should be safe.

However we frequently recommend people who report a bug to try out master. So if they're on Windows they may be hurt by this.

[2017-05-01 18:38] gvanrossum commented on #3281
Hm, I can repro this with an earlier mypy commit (a27963bf14d3c6d7535a6356912d8661f4918371, from last Thu) but not with master. The repro is kind of expensive so I won't bisect further (though I suspect it's Ivan's 8ecccda69ec8860647931d3f9299020376e95e66 "Use dummy TypeInfo ..."), but I'm just going to close this as fixed.

[2017-05-01 18:38] #3281 closed

[2017-05-01 19:14] pkch commented on #3222
@JelleZijlstra Yes, I can - as long as it's the [solution 4](https://github.com/python/typeshed/issues/1175#issuecomment-296185110) (which everyone seems to prefer). Solution 2 has too many caveats both in implementation and in use, I'll never be sure I got it right as either the implementor or the user.

That said, should we perhaps confirm that I'm not the only one experiencing the need for Admi

[2017-05-01 19:17] euresti opened #3295 "Should have a way to annotate an Optional carryover method."
**Edited with a better example.**

Let's suppose you have a function that can take an Optional and returns something based on that or None if it's None.

[code]

There's one problem with this being annotated this way.  If you pass a Non-Optional you get returned an Optional[str] even though it's not possible.  So I thought the new `@overload` stuff might help here but it doesn't:

[code]

Sadly th

[2017-05-01 19:19] gvanrossum commented on #3222
Hm, Administrator rights feature prominently in the StackOverflow "solutions" as well. It seems that on recent versions of Windows the filesystem supports symlinks, but the kernel (or some other layer between the filesystem and the user-mode code) forbids them unless you're Administrator, presumably because they're such a novelty that they would confuse most Windows users. :-)

[2017-05-01 19:23] gvanrossum commented on #3295
And for anyone thinking that maybe type variables provide the solution, the 'str' type in the input is unrelated to the 'str' type in the output -- the real-world code from which this was derived has bytes -> str.

Also this reminds me of https://github.com/python/mypy/issues/1436.

[2017-05-01 19:27] kirbyfan64 commented on #3295
IIRC you can do:

[code]

That's actually how `AnyStr` is defined in the stubs.

[2017-05-01 19:35] gvanrossum commented on #3295
Our messages crossed, there is no type correspondence between arg and return except when arg is None.

[2017-05-01 19:45] euresti commented on #3295
Oops. Looks like I simplified my example too much.  I edited the original so that future readers don't have to read all the comments about how my example was wrong.  Sorry!

[2017-05-01 19:49] sixolet commented on #3295
I don't see any reason not to relax the overloading rules here; it feels like they're overly restrictive in this case. Specifically, since `str` is a subtype of `Optional[str]` *and* the valid calls with a `str` argument are a proper subset of the valid calls with an `Optional[str]` argument, then we should allow this particular type of overlapping signature.

[2017-05-01 21:36] ilevkivskyi commented on #3295
I think this should be done like this:
[code]
However, it does not work. I get this:
[code]
It looks like we have two independent bugs here. The spurious error ``"bar" does not return a value`` seems to be specific for ``None``, so let us consider arbitrary types:
[code]
Here ``A`` plays the role of ``NoneType``. With this code I get the following:
[code]
The fact that ``Any`` is _silently_ inferr

[2017-05-01 21:53] ilevkivskyi commented on #3283
@gvanrossum

Unfortunately, currently it is quite easy to get ``<uninhabited>`` in an error (TBH I don't like this). For example:
[code]
I think such errors are quite cryptic, so I set priority to high here.

[2017-05-01 21:55] gvanrossum commented on #3295
Yes, you called it. Thanks @ilevkivskyi .

[2017-05-01 22:19] ilevkivskyi opened #3297 "is_subtype vs is_proper_subtype"
Currently, we have two functions ``is_subtype`` and ``is_proper_subtype``. There are two corresponding visitors: ``SubtypeVisitor`` and ``ProperSubtypeVisitor``, both of them implement some complex logic.
I think that _ideally_ there should be only one visitor, ``ProperSubtypeVisitor``, and ``is_subtype`` should be simply:
[code]
Are there any reasons why it is not possible now? Maybe this questio

[2017-05-01 22:43] sixolet commented on #3295
I don't know if we should infer the `Union[A, C]` return type for `foo(z)`, and we should error in this case -- it seems like the implementation type should not factor in to the typechecking of an overload, otherwise you wouldn't be able to use the overloads to narrow specifically the types your function accepted. (You should remain able to make an implementation that takes `(*args: Any, **kwargs:

[2017-05-01 23:12] ddfisher commented on #3283
My understanding is that this is a failure of type variable inference -- the context mechanism isn't working fully here.  Prior to #3024, I think these error messages would reference `List[None]` instead of `List[<uninhabited>]`, but would be similarly cryptic otherwise.  The fact that uninhabited type is inferred here is a bug IMO and is tracked in #3032.

The fact that there's an error here at a

[2017-05-01 23:12] ilevkivskyi commented on #3295
@sixolet

Inferred ``Union[A, C]`` in my example has nothing to do with the implementation type, I just added some type in implementation to typecheck the body.

There is a general "policy" now to not infer union types, but this is moving now towards inferring unions in _simple_ cases, this was discussed with @JukkaL recently in the context of ``Instance`` joins. TypeScript for example always infe

[2017-05-02 07:51] ilevkivskyi commented on #2199
There is a lot of code like this in mypy itself: ``if x[i] is not None: ...``, ``if x.attr is not None: ...``, and ``None not in x`` (for collections). I think it makes sense to raise priority to normal here.

[2017-05-02 14:00] JukkaL commented on #3295
Yes, this is a known bug. It looks like it's basically the same as #3256.

[2017-05-02 14:59] JukkaL commented on #3297
It's more complex than that, since `List[str]` is considered a subtype of `List[Any]`, etc. Maybe we could have a flag for `SubtypeVisitor` that indicates whether we should be taking a proper or normal subtype. I thought about merging the two when writing the proper subtype visitor, but it didn't seem obvious at that time that combining would make the code easier to read or maintain. However, it m

[2017-05-02 15:03] JukkaL commented on #2031
This seems to be fixed now that union simplification uses proper subtype checks (https://github.com/python/mypy/pull/3086).

[2017-05-02 15:03] #2031 closed

[2017-05-02 15:04] JukkaL commented on #2038
`is_proper_subtype` is now a separate thing and used in various places, including in union simplification checks, so I'm closing this issue. If there are remaining issues we can create separate issues and refer to this as needed.

[2017-05-02 15:04] #2038 closed

[2017-05-02 15:39] JelleZijlstra opened #3301 "mypy master fails in typeshed CI"
[code]
From https://travis-ci.org/python/typeshed/jobs/227972982

Presumably we need to use `'Optional[mypy.types.Type]'` instead? Not sure how this wasn't caught by any of mypy's own tests.

[2017-05-02 15:59] gvanrossum commented on #3301
Just traded this back to Ivan's recent Optional cleanup. More to follow.

[2017-05-02 16:12] ilevkivskyi commented on #3301
This is definitely due to ``Optional['mypy.types.Type']``. But this (eager union simplification using forward reference evaluation) was fixed several month ago in ``typing``. Do we need to support also older versions of ``typing``? If yes, then I can make a small PR replacing this with ``'Optional[mypy.types.Type]'``.

[2017-05-02 16:34] JukkaL commented on #3283
In the original example, it looks like we don't infer a type because it's ambiguous due to the union type context. This is a known issue, though it might only be mentioned in a comment in the code. Here's a simpler repro:

[code]

Here I can see a few plausible options:
* Just arbitrarily infer `List[int]` or `List[str]` as the type of `[]`. However, this might not work in general and brings non-d

[2017-05-02 16:34] gvanrossum commented on #3301
Yes, we need to support whatever typing.py is shipped with Python 3.5.1. #ilevkivskyi how soon can you have this fixed? Otherwise I'll just revert #3292 (the culprit).

[2017-05-02 16:37] ilevkivskyi commented on #3301
I can do this within 30 minutes.

[2017-05-02 16:54] ilevkivskyi commented on #3301
@JelleZijlstra @gvanrossum Here is PR https://github.com/python/mypy/pull/3303 that should fix this. Could you please verify that the crash is fixed?

Btw, maybe we need to add tests with different versions of ``typing`` to mypy CI? It is quite easy to miss something like this in future.

[2017-05-02 17:06] #3301 closed

[2017-05-02 17:36] JelleZijlstra commented on #3301
Thanks Ivan!

As for preventing this in the future, the bug apparently doesn't appear with mypy 3.5.1, because that's what mypy's CI uses. Typeshed's CI uses the default Travis version of 3.5, which is 3.5.2.

[2017-05-02 18:15] gvanrossum commented on #3301
Incorrect. The repro I have also uses 3.5.1. As I said above, I suspect that the bug depends on import order *within mypy itself* and our Travis runs use runtests.py which imports some other modules so the import order problem is avoided.

[2017-05-02 18:28] #3196 closed

[2017-05-02 20:26] ilevkivskyi commented on #3301
I just checked when exactly ``Union`` was fixed in ``typing``: the problem exists in both 3.5.1 and 3.5.2, but is fixed in 3.5.3 and in 3.6.1.

[2017-05-02 22:41] zeckalpha opened #3306 "Unexpected behavior with io.TextIO"
Dropped my notes / examples / Dockerfile into https://gist.github.com/zeckalpha/c0bed39b7de8dee64e0c895b852a850d

I've been having trouble adding types to:

[code]

Depending on which class is used for the typing we get different results:

# io.TextIO

    from io import TextIO as TIO

Type checks but fails at runtime with:

    ImportError: cannot import name 'TextIO'

I'd expect this one to fail

[2017-05-03 01:15] bertrand-caron commented on #224
Hi @JukkaL, any update on this feature ? Currently, concatenating two fixed-lengths tuples results in a `Unsupported operand types for +` error and a messed up type as demonstrated by the example below:

[code]

[code]

[2017-05-03 03:16] gvanrossum commented on #3306
Good notes. These issues could all be fixed by changes to typeshed -- can you file an issue (or issues) there?

[2017-05-03 03:20] gvanrossum commented on #3284
@ilevkivskyi @ddfisher The failure from the last comment (presumably with strict optional) seems to be in violation of what PEP 484 says about this...

[2017-05-03 03:22] gvanrossum commented on #3243
This is weird code, removing the priority.

[2017-05-03 03:23] gvanrossum commented on #521
This is now the oldest high priority issue...

[2017-05-03 04:26] ddfisher commented on #3284
Yeah, we decided to punt on the implementation of that until mypy had undefined checking.  (We discussed this at the time, but that was a while ago now.)

[2017-05-03 08:27] JukkaL commented on #224
Unfortunately nobody is working on this and this is not in our near-term roadmap. Adding a priority label so that contributors may be more likely to pick this up.

[2017-05-03 08:34] jpochyla commented on #3243
We use it in micropython to get the type of a generator function, as it's the most efficient way:

[code]

[2017-05-03 08:52] ilevkivskyi commented on #3243
Another possible use case is something like generator-based promises(?):
[code]
But in fact I had put the label since I think being able to unconditionally crash mypy with something as simple as ``lambda: (yield)`` is bad.

[2017-05-03 11:00] pkch commented on #3283
Why would you consider inferring `Union[List[int], List[str]]` to be "multiple possible answers"? Isn't `Union` a first-class type? If it is, then we should be able to infer it and not view it as anything unusua.

If `Union` is not a first-class type in some sense, then what are the obstacles to making it such?

[2017-05-03 11:39] Rouslan opened #3307 "overloading __new__"
I propose allowing the use of ``@overload`` on ``__new__`` to specify the return type. E.g.:
[code]
Then, if ``@overload`` is allowed to have return types that only differ by the generic type argument (e.g. ``MyClass[int]`` vs ``MyClass[str]``), this would allow specifying default type arguments (which is already requested in https://github.com/python/typing/issues/307) as well as more complicated

[2017-05-03 13:48] tomchristie commented on #3307
Just to confirm that this is something I'm using too, and finding it awkward to keep mypy from raising incorrect errors in those cases.

[2017-05-03 14:21] zeckalpha commented on #3306
Filed as https://github.com/python/typeshed/issues/1240.

[2017-05-03 14:28] gvanrossum commented on #3283
That's what I thought too -- after all if you use PEP 526 and write
[code]
then a's type is indeed `Union[List[int], List[str]]`.

However the point here is more subtle -- with the union-of-lists type, *any* append to the variable later will then flagged as an error. But perhaps we can adapt the machinery for partial types to our needs here? If a later line appends an int, change a to List[int], i

[2017-05-03 14:31] gvanrossum commented on #3243
You can still fix it if you want. :-)

[2017-05-03 14:36] #3306 closed

[2017-05-03 14:58] JukkaL commented on #3283
Mypy internally infers `T` in `List[T]`. To move from `List[T]` to `Union[List[int], List[float]]` mypy would need to understand that `T` can be `int` or `float`. Inferring a union would only result in `List[Union[int, float]]` which would be incorrect.

[2017-05-03 14:59] ilevkivskyi opened #3308 "Synthetic types are not processed in third pass"
While working on #3305 I discovered that "synthetic" types are not always properly processed in third pass (also there can be additional problems with them in ``fixup.py``). This leads to crashes like these:
[code]

[2017-05-03 15:04] JukkaL commented on #3283
Something like this might be kind of reasonable:

[code]

I think that we could just as well fail to infer a type for the expression and require a cast. This should be fine:

[code]

This would also be fine, without a cast:

[code]

We already require casts semi-frequently so requiring it for an unusual edge case doesn't sound too bad. However, it would be better to generate an error message that

[2017-05-03 15:11] JukkaL opened #3309 "Don't use non-generic tuple etc. in stubs"
Many test fixtures use `class tuple: pass` or similar for `list`/`dict` (there may be others) even though these classes should be generic.  If the corresponding `Instance` isn't generic, mypy may crash in some cases. We'd like to be able to assert that these are always generic without breaking tests. We should update the fixtures to make these always generic.

More discussion at https://github.com

[2017-05-03 15:20] jcrmatos commented on #3283
My use case is a sort of pandas dataframe.
The dict will have 1 list (column) of datetime data and several lists (columns) of float data (these are readings from sensors).
So the correct typing should be
`# type: Dict[int, Union[List[datetime], List[float]]]`
but that returns the error on the first email.

Because each list (column) only has one type (datetime or float, never both in the same list

[2017-05-03 15:32] ilevkivskyi commented on #3283
The idea that we could allow union types appeared in three separate contexts recently:

* bind types on initial assignments for unions, compromise option (4) in https://github.com/python/mypy/issues/2008
* support overloads with unions (maybe only in simple cases, like single argument functions and/or optional types) see https://github.com/python/mypy/issues/3295
* instance joins: see https://gith

[2017-05-03 15:39] gvanrossum commented on #3283
The Pandas dataframe example might be better served with TypedDict. ( @jcrmatos beware that TypedDict still has some unfinished features. They're on the road map.)

[2017-05-03 15:46] JukkaL commented on #3283
I agree that we'll probably need to have more support for union use cases, at least because strict optional checking makes unions a very common thing. Every user who uses strict optional checking needs to be understand unions anyway so there's now less need to avoid them.

[2017-05-03 18:27] pkch commented on #2008
Could we consider this behavior? It seems it can get rid of several downsides of proposal 3:

[code]

These are the problems that it solves:

`Foo` will always show up in revealed type as the original type, so no more user confusion.

This would work fine now:

[code]

Now something like this would probably be acceptable:

[code]

This is no longer the case because type annotation is always respec

[2017-05-03 18:41] pkch commented on #3283
@gvanrossum

And it would be correct to do so, in general. For example:

[code]

Even this is ok; what does the user expect when they declare a union and try to use it as if it's not:

[code]

Of course, in some cases mypy may be able to bind it more narrowly:

[code]

@JukkaL

Ah I see, we just use different wording. I completely agree with you, it's just that when I say `Union` I think of it as

[2017-05-03 19:01] gvanrossum commented on #3273
Sadly we're so close to the release, and none of these PRs is quite ready to be merged, so they will all be postponed until after the release.

We have other things to do for the release (e.g. a typeshed sync) but we won't have time to rush in major features. Sorry!

[2017-05-03 19:18] pkch commented on #3257
Perhaps we could store the join as a `Union` until the last moment, and convert it to the common ancestor just before doing something that the user will see?

So for example, in @ilevkivskyi  case, the join of `B3`, `B`, `A` is just a triple `(B3, B, A)` (basically a `Union[B3, B, A]` that only survives internally). Symmetry and associativity is preserved of course. But when doing any operations t

[2017-05-03 19:20] JelleZijlstra commented on #3273
No problem! I'm excited for the new release.

[2017-05-03 20:18] gvanrossum opened #3311 "mypy_extensions is listed as owned by David Foster"
See https://github.com/python/mypy/blob/master/extensions/setup.py#L37

David Foster did indeed create the first version but I presume he doesn't want to be bothered about the subsequent additions?

We should probably change this to "The mypy developers" -- but where to point the email? Maybe it can be omitted. The url might also better point to GitHub.

Attn: @davidfstr

[2017-05-03 22:01] sixolet opened #3312 "Crash when a function with anonymous args is missing an argument"
In https://github.com/python/mypy/pull/2607#issuecomment-299019741 Guido points out that code like this crashes:

[code]

This is because I forgot to make sure error messages could handle anonymous arguments.  I'll have a fix for this in soon, and scan the rest of the error messages for similar bugs.

[2017-05-03 23:42] #3312 closed

[2017-05-04 02:01] gvanrossum commented on #3273
FWIW the plan is to release on Friday. There is now a code freeze where all mypy commits have to be approved by Jukka before merging. If we can't make it Friday we'll shoot for Monday.

[2017-05-04 04:00] JelleZijlstra opened #3315 "Crash with forward reference in NamedTuple"
Found this testing my production codebase against mypy master:
[code]

Haven't tried yet to minimize this further. Hopefully we can get this fixed before the release.

Edit: this also repros with TypedDict:
[code]

[2017-05-04 04:05] JelleZijlstra commented on #3315
Reverting #3305 fixes it (cc @ilevkivskyi).

[2017-05-04 05:02] gvanrossum commented on #3315
Thanks for testing! We should get to this one way or another before the release. @JukkaL.

[2017-05-04 08:11] ilevkivskyi commented on #3315
My PR surfaced the bug already present in ``TypedDict``, we need to postpone the join in fallback instance argument until third pass, since MROs are not yet calculated. I will take a look at this now.

[2017-05-04 10:57] pkch commented on #3215
I think this can be closed. No more crashes on AppVeyor as far as I can tell.

[2017-05-04 11:00] #3215 closed

[2017-05-04 11:04] ilevkivskyi commented on #3315
OK, I have fixed these two crashes and also three crashes from #3308 (for both class and functional syntax, total nine crash scenarios). I will now add tests and make a PR.

[2017-05-04 11:17] pkch commented on #3149
Are #235, #259, and this issue all essentially the same?

[2017-05-04 11:19] ilevkivskyi commented on #3149
Yes this looks like a duplicate.

[2017-05-04 11:19] #3149 closed

[2017-05-04 11:20] ilevkivskyi commented on #259
Another example of this bug:
[code]

[2017-05-04 11:22] ilevkivskyi commented on #235
Actually this is probably a duplicate of #259

[2017-05-04 11:22] #235 closed

[2017-05-04 11:33] JukkaL opened #3316 "Avoid calling join during semantic analysis"
We shouldn't call join during semantic analysis, since the MROs of classes may be incomplete and other things may be inconsistent, potentially resulting in crashes.

This comment has additional context: https://github.com/python/mypy/pull/3305/files#r114751204

Quote:

[2017-05-04 12:04] Daenyth opened #3317 "Internal error with namedtuple+classmethod"
Running off the latest master.

[code]

[code]

[code]

This might be fixed by #3081? I'm not sure how to install that to test

<details><summary>Stack trace is here</summary>

[code]

</details>

[2017-05-04 12:12] Daenyth commented on #3317
I figured out how to install it (deps line in tox needs `git+git://github.com/JelleZijlstra/mypy.git@ntmethods`)

#3081 does fix the crash

[2017-05-04 12:33] JukkaL commented on #3317
Keeping this open until until #3081 has been merged.

[2017-05-04 13:37] JukkaL commented on #3157
Here are some thoughts about decorators that tweak arguments/return types. This proposal combines features from @sixolet's proposal and other sources, such as #1927 and https://github.com/python/typing/issues/193.

### Argspec type variables

We'd add a new kinds of type variable: argspec. An argspec type variable represents an arbitrary sequence of callable argument types/kinds, such as `DefaultA

[2017-05-04 13:47] JukkaL commented on #3157
Oh and the updated `TypeVar` and `declared_type` would initially live in `mypy_extensions`.

[2017-05-04 15:00] JukkaL commented on #3315
I'm working on a quick fix that just uses `Any` in the fallback for named tuples. The TypedDict issue is also present in the previous release, I think, so it's less urgent. (Also TypedDict is not even documented yet.)

[2017-05-04 15:07] JukkaL opened #3319 "Crash with forward reference in TypedDict"
This causes a crash because we take a join during the second pass of semantic analysis when MROs aren't populated yet:

[code]

Originally reported by @JelleZijlstra as #3315, but separated the crash with TypedDict into this new issue.

[2017-05-04 15:08] JukkaL commented on #3315
Created a separate issue for the TypedDict crash so that these can be tracked independently (#3319).

[2017-05-04 15:16] ilevkivskyi commented on #3317
@Daenyth By the way, do you still see the crash on master without ``incremental``?

[2017-05-04 15:33] #3315 closed

[2017-05-04 16:04] JukkaL commented on #3317
I can repro without a config file and without incremental on master. Also verified that this doesn't happen on 0.501 so this is a regression and I'd like to get this fixed before release. Since we are in feature freeze, I'd rather have a specific fix for this issue instead of landing #3081. Anybody want to look at extracting the fix for this from #3081 (or implementing an independent fix)?

^^ @Je

[2017-05-04 16:40] JelleZijlstra commented on #3317
I have a (very hacky) quick fix; will send a pr shortly.

El El jue, may. 4, 2017 a las 9:04 AM, Jukka Lehtosalo <
notifications@github.com> escribió:

[2017-05-04 19:53] #3317 closed

[2017-05-04 19:53] davidfstr commented on #3311
+1 to set the contact name & email more appropriately. I wasn't sure what to set it to when I created the package originally.

[2017-05-04 20:20] ilevkivskyi commented on #3257
This idea was discussed in #3132 but it looks like this could get complicated pretty quickly.

[2017-05-04 20:31] rkr-at-dbx opened #3325 "Runtime check against underlying type of NewType"
Motivation: given output from (e.g.) `json` or `sqlite3`, check that some part of it is properly typed, and wrap it in an appropriate NewType wrapper for use elsewhere.

[code]

At present there seems to be no documented way to do the `isinstance` check, save to substitute `int` directly. This will be incorrect if `Timestamp`'s underlying implementation type changes; should it change to `float`, m

[2017-05-04 20:49] ilevkivskyi commented on #3157
I have two clarifying questions/proposals:
* Maybe we can allow a simpler version of ``Expand`` for Python 3.5 and later:
[code]
* How should be defined decorators that _reduce_ number of variables? Just in an opposite way?
[code]

[2017-05-04 20:53] rkr-at-dbx commented on #3157
How so? I'm aware that it's difficult for general variadic functions (as mentioned in typing/#193), but I'd expect that most decorators will just treat values of `Args` type as opaque objects to be passed on to their wrapped function.

[2017-05-05 01:53] sixolet commented on #3157
@JukkaL I have been pondering this problem for the last two weeks, and haven't started an implementation of any solution because I hadn't solved it yet in my head.  I like a whole lot about your suggestions, and I think they get us a lot further.

Some wiggly bits I have:

* I don't think argspec is a kind of type variable.  I think it's different enough it should be its own thing.

* When you hav

[2017-05-05 10:11] JukkaL commented on #3157
@sixolet

That's fair. Anyway, we don't need to decide this very early, since this is only a matter of syntax.

I have no strong opinion either way right now, but I have a feeling that the flexible callable syntax can make more complex signatures hard to read. Again, this is mostly a matter of syntax and we can bikeshed it later after we've agreed on basic principles. And I agree that making this

[2017-05-05 13:32] JukkaL opened #3326 "Type[X] not compatible with metaclass of X"
The second-to-last line should probably be accepted by mypy, but it currently generates an error because `Type[A]` isn't compatible with the metaclass of `M`:

[code]

[2017-05-05 13:41] JukkaL opened #3327 "Metaclass doesn't work across import cycle"
I have a program with the following files:

`a.py`:

[code]

`b.py`:

[code]

`c.py`:

[code]

If I run `mypy a.py`, I get the following output, which isn't what I'd expect:

[code]

(The program also doesn't run as such, but by reversing the order of imports in `a.py` it runs, so the cycle is not inherently badly formed.)

Here's also a test case that I wrote (goes to `check-incremental.test` or

[2017-05-05 16:38] gvanrossum opened #3329 "Document and improve stubtest"
See https://github.com/python/typeshed/issues/1243#issuecomment-299497346

@JukkaL seems to be volunteering. Also calling out to @jgarst who seems to have worked on this with Jukka during the hack week.

[2017-05-05 17:25] #3311 closed

[2017-05-05 18:34] gvanrossum commented on #1484
Maybe this could be supported by #3299

[2017-05-05 18:35] gvanrossum commented on #797
@ilevkivskyi Are you still working on this? If not it's better to un-assign.

[2017-05-05 18:38] ilevkivskyi commented on #797
Protocols #3132 will fix this, no additional work here will be needed when they are merged.

[2017-05-05 18:49] gvanrossum commented on #3325
Maybe some undocumented internals of the typing module should be documented. Then this would be an issue for https://github.com/python/typing (or perhaps PEP 484 and https://github.com/python/cpython).

But maybe there's a quick solution: use a type alias instead of `int` in the `NewType()` call. E.g.

[code]

[2017-05-05 19:07] JukkaL commented on #3273
The release went out! Blog post: http://mypy-lang.blogspot.co.uk/2017/05/mypy-0510-released.html

Thanks to all contributors!

We may have a bugfix release on Monday (`-c` is a little broken).

[2017-05-05 19:07] #3273 closed

[2017-05-05 19:28] Daenyth opened #3331 "Generic NewType?"
I'd like to be able to write code like;

[code]

Currently I get `error: "SortedList" expects no type arguments, but 1 given`

[2017-05-05 22:05] ddfisher opened #3332 "mypy crashes when run from a directory without write access"
Mypy shouldn't write cache files for code supplied on the command line.  Additionally, if you don't have write access to the directory, mypy will crash.

[2017-05-05 22:07] gvanrossum commented on #3331
Hm, that may actually be reasonable. After all NewType is an optimized version of subclassing that erases the distinction at runtime -- and generics are also erased at runtime, so that may be a reasonable match.

[2017-05-05 22:14] gvanrossum commented on #3332
The command line is treated as a module named `__main__` and I don't see any evidence that cache files are written for that name.

However the crash is real: in a directory with no write permission:
[code]

[2017-05-05 22:14] gvanrossum commented on #3332
(To be clear, I think it's a feature that it tries to write cache files for modules *imported* from the command line.)

[2017-05-05 22:15] ilevkivskyi commented on #3331
Because of this, at runtime ``SortedList`` is a function that returns its argument. Practically any way of making ``NewType`` subscriptable will make it much slower.

[2017-05-05 22:17] ddfisher commented on #3332
That makes sense.  I assume that includes the default imports, because something like `mypy -c "1"` will still crash.

[2017-05-05 22:19] Daenyth commented on #3331
Ahh, I see. Could it not be done like:

[code]

Would that be such a large overhead?

It seems like potentially it could be made somewhat opt-in. By that I mean that if you do `NewType('a', t)` for a `t` that is not `Generic`, return the identity function as it already does, but in the case that `t` is generic, return the subscriptable object?

[2017-05-05 22:21] Daenyth commented on #3331
That would parallel fairly reasonably with expectations people may have from similar behavior in other languages. Value types in scala are *usually* erased, for example, except in some cases. Similarly for newtypes in haskell, as I understand it. And with traits in rust.

I don't think it's that bad of a drawback, considering that the drawback only occurs when supporting something that currently c

[2017-05-05 22:24] ilevkivskyi commented on #3331
@Daenyth

Approximately 30x slower:
[code]

[2017-05-05 22:27] ilevkivskyi commented on #3331
@Daenyth

What about normal subclassing? Your example can be just this
[code]

[2017-05-05 22:33] Daenyth commented on #3331
Well, "not at all" is definitely an exaggeration. The drawback to the wrapper class is that I either have to implement proxy methods for every single list interface or expose a `.value` accessor.

[2017-05-05 22:39] JelleZijlstra commented on #3332
I don't think this is related to `-c` at all; the crash happens also if I run `mypy some/file.py` in a directory I don't have write access to.

[2017-05-05 22:46] gvanrossum commented on #3332
Yeah, we really should just catch exceptions from makedirs in write_cache.

Is it worth a 0.511 release? I dunno.

[2017-05-05 22:47] ddfisher commented on #3332
I think we should also never write cache files when running with `-c`.

[2017-05-05 22:56] ddfisher commented on #3332
After talking f2f, I don't have any strong objections about writing the cache with `-c` in the absence of user complaints.  Let's limit this issue to the problem of mypy crashing when it doesn't have write access to the current directory.

[2017-05-05 23:01] ilevkivskyi commented on #949
On current master it behaves like this:
[code]
It looks like the issue is fixed only partially. I think the revealed type should be ``B[int]`` (even if it is not 100% safe).

[2017-05-06 11:31] DragonSA opened #3333 "[crash][regression] mypy fails if a custom property is used like an overload"
The following example will cause mypy to fail, even though it is valid python code.
[code]

The traceback:
[code]

[2017-05-06 14:51] JelleZijlstra commented on #3333
Simpler repro:
[code]

[2017-05-06 16:22] sixolet commented on #3333
Looks like my feature, I'll take a look.

[2017-05-06 17:13] gvanrossum opened #3335 "Code freeze pending review of bugfix release"
It's possible we need to issue a bugfix release (0.511) on Monday or Tuesday, because there are at least two regressions that *may* be serious enough.

- #3333
- #3332

Until we've decided how to do this we should not commit anything to master. (I don't recall we have written down a process for bugfix releases yet.)

[2017-05-06 20:33] brettcannon opened #3336 "Add .mypy_cache to GitHub's default .gitignore file for Python projects"
https://github.com/github/gitignore/pull/2371 is the fix I have submitted for this.

[2017-05-07 03:40] brettcannon commented on #3336
This was accepted!

[2017-05-07 03:40] #3336 closed

[2017-05-07 13:06] lincolnq opened #3338 "Strict optional: Any narrowing to None in a conditional gets "stuck" at None"
I think a code sample will explain:

[code]

In v0.510 and on the latest master, `mypy --strict-optional` on the above code produces the above errors. I expected the 2nd reveal_type to reveal 'builtins.int' and for the v + 3 line to pass type checking. (Without strict optional, everything works as expected.)

[2017-05-07 16:37] gvanrossum commented on #3338
@ddfisher Looks like a binder bug?

[2017-05-07 17:12] ilevkivskyi commented on #1510
Now both the original example and Jukka's example work as expected.

[2017-05-07 17:12] #1510 closed

[2017-05-07 17:20] ilevkivskyi opened #3339 "join is not associative in strict optional mode"
While working on #3322 I have found this problem:
[code]
This turns out to be the cause of spurious ``--strict-optional`` errors I mentioned there.

[2017-05-07 17:24] ilevkivskyi commented on #3316
It turns out there is a twin issue #2489. Should we keep open all the three issues: this one, #2489, and #3319?

[2017-05-07 22:33] jgarst commented on #3329
I'm so sorry for letting this so long. I'll document and apply the suggested edits to the script and try to submit a pull request by tomorrow or the day after.

If you are still open to external contribution, I'd like to contribute here. It is possible I'll just run out of time again, so I'll also try to keep future contributions atomic.

[2017-05-08 08:38] JukkaL commented on #3339
It looks like joins should only produce unions if one of the operands is a union with more than one non-`None` item. Examples:

* `join(Union[int, None], str)` would be `Union[object, None]` which would get simplified into `object`.
* `join(Union[int, bytes, None], str)` would be `Union[int, bytes, str, None]`.

[2017-05-08 12:33] ilevkivskyi opened #3340 "Two crashes on recursive named tuples"
While working on #3322 I have found two more crashes:
[code]
crashes with ``RecursionError`` and
[code]
crashes with ``AssertionError`` in ``join_instances_via_supertype``. I didn't try ``TypedDict`` but most probably it will have similar problems.

There is actually a fundamental question here: what _should_ be the ``join(N, M)``? @JukkaL do you have any ideas? One possible option would be to det

[2017-05-08 12:41] ilevkivskyi commented on #3278
#3304 also fixes this crash. I get:
[code]

[2017-05-08 13:19] JukkaL commented on #3340
`object` would be consistent as the result of `join(N, M)`. A recursive type like `T` where `T = Tuple[T]` would perhaps also be a reasonable result, assuming we were able to represent them. (The only reasonable common use case where recursive types could be useful that I've seen is JSON, so this is not a valid motivating example for recursive types.)

[2017-05-09 07:01] elazarg commented on #3326
This was introduced by me in #2837: the metaclass lookup is performed on the wrong side.

[2017-05-09 09:13] elazarg commented on #3326
What's more, in the same PR I've made M compatible with Type[A], even though it is demonstrably unsafe... I would like to fix this too, but EnumMeta is relying on it.

[2017-05-09 14:04] KitB opened #3341 "Suggested improvement for wording of an error"
I recently had trouble understanding an error output along the lines of:

[code]

Would it be possible to output something more along the lines of:

[code]

[2017-05-09 18:18] #3333 closed

[2017-05-09 18:24] JukkaL opened #3343 "Release mypy 0.511"
This will only include fixes to crash bugs #3333 and #3332 that are regressions from 0.501. This is going to be an almost silent release. I may add a small update to the blog post.

[2017-05-09 18:37] #3332 closed

[2017-05-09 19:41] msegado opened #3345 "Integer generics"
Dependent types have been brought up before in a few places: #366, [this python-ideas thread](https://mail.python.org/pipermail/python-ideas/2014-August/028853.html), and most recently, #3062. The latter limits itself to one specific feature of a dependent type system, namely, support for simple literal types.

Another limited feature which could prove helpful is support for _integer generics_ —th

[2017-05-09 20:25] JukkaL commented on #3343
I uploaded the 0.511 release. Can somebody test installation and running it on Windows? Once it's confirmed to work on Windows, the release is finished and we can continue to merge PRs normally.

[2017-05-09 20:55] ethanhs commented on #3343
I can confirm the release works on Windows. 🎉

[2017-05-09 22:24] ErikBjare commented on #3343
I've been getting weird errors in one of my [AppVeyor builds](https://ci.appveyor.com/project/ErikBjare/activitywatch/build/1.0.142/job/14m2ir2ppm07jc5x#L2541).

Will check and see if using 0.510 instead resolves it. [Build is running here](https://ci.appveyor.com/project/ErikBjare/activitywatch/build/1.0.144/job/5c46bk2929htjn2r).

[2017-05-09 23:51] gvanrossum commented on #3343
@ErikBjare If that persists please open a separate issue.

[2017-05-10 06:47] MeGotsThis opened #3349 "reversed(Enum)"
As a semi-continuation of #2891, using mypy 0.510.

[code]

Running mypy gives this error
[code]

Line 11 is the 2nd for loop.

[2017-05-10 08:37] elazarg commented on #3349
Is it not precisely #3210 ?

[2017-05-10 08:52] eddie-dunn opened #3350 "How to typecheck "2nd" party packages?"
Let's say we have two separate packages, `a` and `b`. `b` depends on stuff in `a`, so `a` is installed when `b` is installed. E.g., there's a module in `b` that does the following:

[code]
[code]

If I run `mypy` on `b/module.py` I will get the following error: `error: Cannot find module named 'a'`, even though `a` is installed in my virtualenv.

As I understand it, this is the intended behavior,

[2017-05-10 09:34] Igonato commented on #548
Had problem with mypy under Cygwin as well. Found out that using `mypy.bat` as a command instead of `mypy` helps tremendously.

[2017-05-10 09:49] ilevkivskyi commented on #3349
It looks very similar, but I propose to keep this open, so that we will not forget to add this example to tests when fixing #3210.

[2017-05-10 09:58] ilevkivskyi commented on #3345
Thank you for interesting proposal and for research! I really like the idea of supporting fixed size arrays/tuples/matrices. I have seen many people already playing with combining mypy and numpy, but in my experience many errors in numpy are array shape mismatches, something like:
[code]
or
[code]
The point is that in most cases the array shapes/sizes are known _statically_, so that all these erro

[2017-05-10 10:00] elazarg commented on #3327
As a quick and dirty fix, we can default for assuming that a class is a valid metaclass if its `mro` is `None`. After all, it is true.

[2017-05-10 10:43] tomchristie opened #3351 "`List[Union[...]]` is not always satisfied by valid inputs."
When a list of unions is used, mypy will incorrectly error when a subset of the possible union types is used...

**example.py**:

[code]

**console**:

[code]

Presumably the inferred `List[int]` ought to be able to satisfy `List[Union[int, float]]`, right?

[2017-05-10 10:58] ilevkivskyi commented on #3351
No, ``List`` is invariant, and therefore ``List[int]`` is not a subtype (not compatible with) ``List[Union[int, float]]``. (the latter actually is just ``List[float]``, see [PEP 484](https://www.python.org/dev/peps/pep-0484/#the-numeric-tower)). The reason is that lists are mutable and therefore it is _not safe_ to pass something of type ``List[int]``, where ``List[float]`` (or ``List[Union[int, f

[2017-05-10 10:58] #3351 closed

[2017-05-10 11:19] tomchristie commented on #3351
Thanks for the clarification. 😄
(& apologies for the noise!)

[2017-05-10 12:45] JukkaL opened #3352 "Better messages when type is incompatible due to invariance"
Users are often confused by compatibility of invariant collection types. Here is an example from #3351:

[code]

It might be helpful to add a note with more details, since the message doesn't really provide enough context to start googling for help. Here is one idea:

[code]

[2017-05-10 12:50] #3343 closed

[2017-05-10 12:53] JukkaL commented on #3343
Feature freeze is now over.

[2017-05-10 12:59] JukkaL commented on #3345
Tuples could easily be special cased in mypy so they aren't enough justification by themselves for this feature. I agree with @ilevkivskyi that numpy could be an interesting use case. The mypy core team currently is not planning to work on numpy support, however -- though I understand that many potential users could find it useful.

[2017-05-10 14:26] JelleZijlstra commented on #548
Maybe we need a documentation change explaining how to use mypy under cygwin?

[2017-05-10 15:04] Igonato commented on #548
I don't know, maybe, it's a fairly uncommon setup (Cygwin + win python) but I guess it wouldn't hurt to mention it in the readme.

Also, it can be fixed with a proper mypy file, It looks like this on my machine:

[code]

First, there is no `C:\Python36-x64\python.exe` , the path is `C:\Python36\python.exe` and even if I change it, it doesn't work, since cygwin sends it path in its internal format

[2017-05-10 15:53] Igonato commented on #548
^ here is the PR, It should make the scripts more robust. Please check it out when you get the time. Cheers!

[2017-05-10 16:33] gvanrossum commented on #3350
You can write or generate your own stubs for `a` and update `MYPYPATH` to include the directory containing those stubs (the parent of the directory `a` containing `a/module.pyi` etc., presumably).

Or, assuming the source for `a` type-checks without errors, you can point mypy at package `a` directly, again by setting `MYPYPATH` -- the trick is that you shouldn't use the *installed* version of `a`,

[2017-05-10 16:39] gvanrossum commented on #3351
This should also be called out much earlier in the mypy docs. It's a very common "bug" report.

[2017-05-10 20:31] ilevkivskyi commented on #3351
I think what Jukka proposed in #3352 (including link to docs in error messages) will solve the problem.

[2017-05-10 21:18] ilevkivskyi commented on #3345
A possible strategy would be so start from a relatively small project (if/when someone will have time for this). For example have some special support for ``numpy.ndarray`` (or maybe have a special ``mypy_extensions.ndarray`` type). We don't need to support _user defined_ integer dependent types. (Similar to how we have variadic types ``Calable`` and ``Tuple``, but we still don't allow user define

[2017-05-10 21:26] gvanrossum commented on #3262
Did this get fixed or not?

[2017-05-10 21:40] Igonato commented on #548
Changed my mind:

[2017-05-10 21:59] sixolet commented on #3262
PR still out last I checked.

[2017-05-11 01:16] gvanrossum commented on #1764
More issues:
- six.add_metaclass causes a runtime error
[code]
This passes with `mypy -2` but running with python2.7 gives
[code]

- six.with_metaclass causes a mypy error (it gives both Invalid base class and also no longer recognizes the Generic base class). (Exact repro TBD, these are errors from our production code.)
[code]

[2017-05-11 02:32] jkleint opened #3354 "Cannot infer type argument 1 of "min" with differing default type"
(Apologies if this is a typeshed issue.)  When calling ``min`` with different types for the iterable and the default, like ``min(Iterable[T], default=S)``, ``min`` often does not infer the correct type for the result, and gives a confusing error message `"Cannot infer type argument 1 of "min"`.  I assumed that meant it couldn't infer the type of argument 1, but I think it actually means it can't i

[2017-05-11 03:35] gvanrossum commented on #3354
I think this may be similar to https://github.com/python/mypy/issues/1732.

[2017-05-11 05:27] jkleint commented on #3354
Ah, I should have noted it only fails to typecheck with `--strict-optional`.

[2017-05-11 09:25] binkley commented on #548
Will try it.  I'm away from home for a couple of weeks, and home is where my Windows box is, so I may appear slow.  :)

[2017-05-11 21:32] #3278 closed

[2017-05-11 21:43] JukkaL commented on #1764
Maybe this should be filed in the typing issue tracker?

[2017-05-12 04:12] gvanrossum opened #3355 "New --quick crash: "assert override is not None""
I'm seeing new crashes in quick mode in production. Note that these start with two legitimate mypy errors. On stderr:
[code]
On stdout:
[code]

[2017-05-12 12:29] ilevkivskyi commented on #3355
This one seems easy, could you please check whether #3356 fixes this?

[2017-05-12 13:35] ilevkivskyi commented on #1764
I think it is not something we can fix. ``six.add_metaclass`` applies to already created class. But the class can't actually be created because of an obvious metaclass conflict (this also fails the same way in 3.6).

[2017-05-12 14:17] ilevkivskyi commented on #1732
It looks like this is fixed on master, I get:
[code]

[2017-05-12 14:17] #1732 closed

[2017-05-12 14:21] ilevkivskyi commented on #3354
Yes, this is similar. And I think the solution should be probably the same: add an overload with a ``Union``.

[2017-05-12 14:29] Daenyth opened #3357 "Tuple syntax shortcut"
Would it be possible for `(int, str)` to be handled as `Tuple[int, str]`? This would help code be less verbose

[2017-05-12 15:21] gvanrossum commented on #3357
Has been proposed before, there are some problems with it (some folks want to use the same notation for unions). In any case this would be a discussion for the https://github.com/python/typing repo.

[2017-05-12 15:21] #3357 closed

[2017-05-12 15:25] gvanrossum commented on #1732
(Also, if you pass an explicit default of a different type, it becomes a union of int and that type, regardless of the `--strict-optional` setting. IIRC that was a problem in the past too.)

[2017-05-12 18:32] Daenyth opened #3358 "Don't require `-> None` on `__init__`"
There's no code where `__init__` should return anything except `None`, so requiring `-> None` on it is just useless boilerplate.

I think it should be permitted to omit it, and that it should be inferred, as with `self` parameters not requiring annotation.

[2017-05-12 19:04] ilevkivskyi commented on #3358
This was already considered, see [this section](https://www.python.org/dev/peps/pep-0484/#the-meaning-of-annotations) of PEP 484:

[2017-05-12 19:04] #3358 closed

[2017-05-12 19:06] Daenyth commented on #3358
That's reasonable. I guess I can adjust my IDE snippet to just include it

[2017-05-12 22:12] tyehle opened #3360 "Overloaded functions fail when checked with --disallow-untyped-defs"
For this minimal example
[code]
with --disallow-untyped-defs mypy fails with `error: Function is missing a type annotation`
but without it it succeeds.

[2017-05-12 22:33] ilevkivskyi commented on #3360
This is actually expected, although somewhat unintuitive. The reason is following: currently mypy does not check the body of the function against all overloads (this is very difficult in a general case involving ``*args, **kwargs``), overloads only provide the type/API for "external users" of a function. At the same time, mypy checks the body of a function against an (optional) type signature give

[2017-05-12 22:41] tyehle commented on #3360
Yeah, that was just the smallest example I could get to fail.
I'll work on a PR.

[2017-05-13 13:50] lincolnq commented on #3338
I just submitted PR #3361, which I think fixes this. However, attributing the problem to strict-optional was actually a red herring. So I created a new test case for which strict-optional isn't needed. Someone might want to remove the strict-optional tag.

[2017-05-13 21:46] gvanrossum commented on #1764
Thinking about this more, Ivan is of course right that `six.add_metaclass` doesn't work for multiple inheritance. There are really several separate mypy bugs here:

- It completely ignores the `@six.add_metaclass(mcls)` decorator; it should interpret this as equivalent to `__metaclass__ = mcls` in the body for PY2, or the `metaclass=mcls` keyword argument to the class statement in PY3. (It's still

[2017-05-13 21:49] JelleZijlstra commented on #1764
Related: mypy basically ignores class decorators (#3135). I agree that the six functions merit special treatment. (Or maybe Jukka's proposed plugin architecture from #3299 could be sufficient?)

[2017-05-13 22:17] gvanrossum commented on #1764
I suspect the plugin architecture won't work here because metaclasses are computed before type checking begins.

[2017-05-14 00:43] adamtheturtle opened #3362 ""INTERNAL ERROR" when an unexpected keyword argument is given to subprocess.Popen"
The file `example.py` includes the following:

[code]

There is no `mypy` config file.

The following error is given:

[code]

Further system info:

[code]

[2017-05-14 05:08] gvanrossum commented on #3362
Confirmed. There seems to be some confusing in the code there about how to determine the module name from the full function name. This is probably best fixed by trying different prefixes until one is found.

[2017-05-15 10:04] playpauseandstop commented on #2949
My issue fixed after update `mypy` to `0.511`. Seems like `typeshed` has proper SQLAlchemy stubs now.

Closing this as `fixed`

[2017-05-15 10:04] #2949 closed

[2017-05-15 18:53] cyang1 opened #3363 "Using generic self in a generic class"
The recommended method for writing a factory method is to type the `cls` argument as `Type[T]` (http://mypy.readthedocs.io/en/latest/generics.html#generic-methods-and-generic-self). However, this doesn't seem to be able to handle the case where the factory class itself is generic.

In the example below, if we just specify `bound=FactoryBase` on the `_FactoryBase` typevar, mypy gives `error: Argume

[2017-05-15 20:03] gvanrossum opened #3365 "Support six.add_metaclass"
Forked from #1764. I propose to give this less priority than `six.with_metaclass`, since the latter is more fundamental in some sense (it works for multiple bases with conflicting metaclasses where `add_metaclass` can't, see https://github.com/python/mypy/issues/1764#issuecomment-301077905).

[2017-05-15 20:04] gvanrossum commented on #1764
FWIW I forked issue https://github.com/python/mypy/issues/3365 so we can focus here on adding support for `six.with_metaclass`. The ancillary issue can be deferred as well.

[2017-05-15 20:06] gvanrossum commented on #3365
There's also the issue that mypy accepted this, which doesn't work at runtime:
[code]
To address this we ought to duplicate Python's metaclass compatibility check.

[2017-05-15 20:47] gvanrossum opened #3366 "Support GenericMeta"
This forked off #1764. Example:
[code]
Even with #3364 this still gives an error on the occurrence of Generic in the base classes:
[code]

[2017-05-16 00:21] tyehle opened #3368 "Generic type aliases cause errors in Python 3.5"
The example in the docs for generic type aliases type checks just fine, but crashes with `TypeError` when loaded in Python 3.5

[code]
I haven't seen anything like this in my googling, so I suspect I'm missing something obvious.

[2017-05-16 00:52] JelleZijlstra commented on #3368
You're probably using an old version of `typing`. This feature only works with recent versions of the typing standard library module.

As a workaround, writing `'UInt[str]'` (as a string) will likely work.

[2017-05-16 01:15] #3075 closed

[2017-05-16 02:15] tyehle commented on #3368
That workaround does the trick, thanks!

Is there a version of `typing` newer than 3.6.1? When I upgraded to that I still get these errors (if I don't string the types).

[code]

[2017-05-16 02:37] JelleZijlstra commented on #3368
typing is part of the standard library in 3.5, and I think the one in the standard library gets precedence over whatever you install with pip.

[2017-05-16 07:24] ilevkivskyi commented on #3368
I have faced this problem several times. Is there a way to "override" a stdlib module with something installed by pip?

(As a dirty workaround, I just copy the ``typing`` module in my working directory, then it gets precedence over the stdlib one.)

[2017-05-16 08:01] ilevkivskyi opened #3370 "zip silently returns Any"
[code]
I think this is a bug since we should never _silently_ infer ``Any`` from a precisely typed call.

[2017-05-16 08:09] ilevkivskyi commented on #3370
Related observations: this passes
[code]
but fails at runtime with:
[code]
and similar for set etc. It looks like this is a general bug with star types.

[2017-05-16 08:41] ilevkivskyi commented on #3363
It looks like this is a duplicate of #2354 (although I am not 100% sure).

[2017-05-16 08:43] ilevkivskyi commented on #3363
Maybe it makes to copy this example (i.e. with ``@classmethod``) to the original issue an close this one?

[2017-05-16 09:23] usercz opened #3371 "Incorrect type signature for check_call"
[code]

This works but fails type checking.

Due to the different size of the tuples.

[2017-05-16 13:27] ilevkivskyi commented on #3371
Mypy needs an explicit annotation in this situation, it just can't guess what is the type of ``commands`` (although maybe in future type inference can be improved for the case of nested tuples). Currently you can use something like:
[code]
Or another precise type depending on your actual needs.

[2017-05-16 14:20] gvanrossum commented on #3370
There may be a few edge cases left here, but in general mypy doesn't know enough about star types to tell its length (`Tuple[]` excepted), and it will let it through if there is a possible length for which the call would succeed. So for your second example, the type of `y` is `List` of some unspecified length, so `list(*y)` passes because if y were to have length 1 the call would succeed. (BTW you

[2017-05-16 14:44] ilevkivskyi commented on #3370
I think ``join`` should never return plain ``Any`` (unless maybe in situation where one of joining types is ``Any``, but this is a separate discussion https://github.com/python/mypy/issues/3194), so that I would just "tighten" the ``join``.

[2017-05-16 15:08] gvanrossum commented on #3370
Is this the rigvt tissue for that?

[2017-05-16 15:13] gvanrossum commented on #3368
Another workaround is to point PYTHON PATH to the source directory. It is
an intentional feature but on this case definitely annoying...

On May 16, 2017 12:24 AM, "Ivan Levkivskyi" <notifications@github.com>
wrote:

[2017-05-16 19:21] tyehle commented on #3368
Thanks for all the help. Seems like there isn't anything to be done here, and there are three good workarounds. This issue can probably be closed.

[2017-05-16 19:21] #3368 closed

[2017-05-16 21:15] elazarg opened #3372 "Same name for instance and type object may be confusing"
A type object and an instance of that type are often printed in the same way:
[code]
Most of the time this is OK, although when metaclasses are involved it becomes confusing. But even without metaclasses, simply forgetting to instantiate a class results in an error that does not make sense:
[code]
But of course "B" is compatible with "A". It's the type object "B" that is incompatible with "A".

In

[2017-05-16 21:28] kirbyfan64 commented on #3372
I think this is a dup? I recall a very similar issue coming up before...

[2017-05-16 21:36] elazarg commented on #3372
I can't find it :\

[2017-05-16 21:39] ilevkivskyi commented on #3372
@elazarg
Here is the issue https://github.com/python/mypy/issues/3050 could you please copy your example there? (I am closing this as a duplicate)

[2017-05-16 21:39] #3372 closed

[2017-05-16 21:39] elazarg commented on #3372
Yes I just found it... I will. Thanks

[2017-05-16 21:40] elazarg commented on #3050
Example from #3372:
[code]

[2017-05-16 21:44] elazarg commented on #3050
I will submit a PR is there is agreement on the correct error message is.

I am +1 on `Type[A]` as @ambv suggested.

[2017-05-16 21:46] elazarg commented on #3050
I think the issue becomes even more confusing when dealing with metaclasses.

[2017-05-16 21:53] ilevkivskyi commented on #3050
I am also +1 on ``Type[A]``.

[2017-05-16 22:04] jhrmnn opened #3373 "Support forward references in aliases"
The following code does not run in python 3.6, but passes mypy 0.511, which I believe is intended:
[code]
It can be solved by replacing `Queue[int]` with `'Queue[int]'`. (Is this documented somewhere? I saw it on stackoverflow, but nowhere else.) But Is there a way how to alias `Queue[int]`? Obviously neither `Alias = Queue[int]` nor `Alias = 'Queue[int]'` works.

[2017-05-16 22:12] ilevkivskyi commented on #3373
I think you may workaround this by writing (requires recent version of ``typing``, see [docs](https://docs.python.org/3/library/typing.html#typing.TYPE_CHECKING)):
[code]
But I also think that we should support type aliases for "forward references".

[2017-05-16 22:27] azag0 commented on #3373
Ah, cool. Should work for now. But yes, forward aliases would be nice.

(Also, it *is* documented as forward references, I missed that. Perhaps the docs could mention it also in the section about generics or stubs, or both.

[2017-05-16 23:33] gvanrossum commented on #3050
Yup

[2017-05-16 23:54] miedzinski commented on #3042
Sorry for not updating this. I did `git bisect` and found that issue was fixed in 00359ade2447c77407f82761449d86bb0e2100f3 (#2833).

[2017-05-17 01:53] gvanrossum commented on #3042
Thanks, closing.

[2017-05-17 01:53] #3042 closed

[2017-05-17 02:09] gvanrossum commented on #3373
OK, if you want to use this issue for "forward aliases" please change the subject and provide a few examples of what you'd like them to look like (either Ivan or OP).

[2017-05-17 06:48] azag0 commented on #3373
I think if the following snippet passed mypy, it would be already very useful:
[code]

As a next step (beyond this issue), one could consider making the following work:
[code]

[2017-05-17 07:18] usercz commented on #3371
It's basically what I did to make it validate :) thanks.

[2017-05-17 11:22] azag0 opened #3376 "Unions do not understand inheritance"
I would expect that Unions understand inheritance, but they don't seem to (mypy 0.511):
[code]
This is responsible for python/typeshed#1202 and mandates [this workaround](https://github.com/python/typeshed/blob/master/stdlib/3.4/asyncio/tasks.pyi#L11) in asyncio.tasks.

[2017-05-17 13:29] ilevkivskyi commented on #3376
Either I am missing something or there is a mistake in your example, but mypy is right here -``int`` is a _supertype_ of ``MyInt`` so that the assignment is not safe (for nominal types).

[2017-05-17 13:32] kirbyfan64 commented on #3376
e.g. this would fail:

[code]

[2017-05-17 13:59] ilevkivskyi commented on #3373
These are straightforward to implement, but there is something where we need to be careful: generic aliases. This should be prohibited:
[code]

[2017-05-17 15:54] azag0 commented on #3376
Erm, yes, of course, apologies. I thought I had it the other way round. To my defense, the same logical mistake was done in python/typeshed#1202, and I just bought it. I'll follow there.

[2017-05-17 15:54] #3376 closed

[2017-05-17 16:53] ilevkivskyi commented on #3370
I didn't find any other issue for this, so I propose to track this here.

[2017-05-17 20:30] co-dh opened #3377 "Reading mypy.ini or setup.cfg in parent directories."
I have a folder structure like this:
[code]

I'm also using flycheck/mypy to check my files in emacs, however, it only read mypy.ini from current folder,
which is the file that I'm visiting.

I'm wondering if we can let mypy read config file from current folder, parent folder, grandparent folder etc until it find one. This is the same way of git looking for .gitignore, and nodejs looking for node_

[2017-05-17 21:41] miedzinski commented on #3377
I'm not sure whether mypy would work from those subdirectories because of how imports are resolved. Based on my experience it's better to typecheck the project as a whole, with current directory set to top project directory.

[2017-05-17 21:55] miedzinski opened #3378 "Crash when running from subdirectory"
While looking at #3377 I found that mypy crashes when run from inside package's source code directory (`mypy`).

[code]

Not sure whether that should work, but at least it shouldn't crash.

[2017-05-17 21:59] #1764 closed

[2017-05-17 22:06] ilevkivskyi commented on #3366
Should anything be done here after #3364 is merged?
(It looks like we already have #3365 to track possible metaclass conflicts.)

[2017-05-17 22:08] gvanrossum commented on #3378
This is a common pilot error. You shouldn't have a module named types.py. You shouldn't run mypy from inside the mypy package. In general, your current directory shouldn't be inside a package.

[2017-05-17 22:08] #3378 closed

[2017-05-17 22:10] gvanrossum commented on #3366
Yeah, this example now works.

[2017-05-17 22:10] #3366 closed

[2017-05-18 05:54] gvanrossum commented on #3377
I considered this when I first implemented the config file, but I don't think that is a good idea. Most projects don't have a mypy.ini or setup.cfg file and I don't want some file by that name in e.g. my home directory to affect mypy's behavior in all subdirectories. It's easy to forget that that file exists and easy to be confused by some of the many flags that could be present in such a file.

[2017-05-18 05:54] #3377 closed

[2017-05-18 06:04] gvanrossum commented on #3371
Or you could use lists instead of tuples. For variable-sized values lists are more idiomatic in Python than tuples anyways.

[2017-05-18 06:04] #3371 closed

[2017-05-18 07:42] usercz commented on #3371
Well I know I can use lists, but when I don't need stuff to mutate I tend to use tuples.

[2017-05-18 09:21] ilevkivskyi commented on #3371
I think that we can improve the join of tuples, currently ``join(Tuple[C, C], Tuple[C, C, C])`` is ``object``. I think we can make it at least ``Tuple[Any, ...]`` or even better ``Tuple[C, ...]``. (You can reopen if you think this is reasonable.)

[2017-05-18 15:38] viktor25 commented on #3195
I use `--strict-boolean`, but I did not see this thread until I read the 0.510 release notes.  Is the decision to remove it set in stone?  Is there any possibility to leave it, possibly under a less pretentious name (e.g. `--insane-boolean`), and not as part of `--strict`?

Alternatively, is there an easy way to create a mypy wrapper that adds back the functionality?

[2017-05-18 17:06] JukkaL commented on #3195
@viktor25 The feature as it was implemented was problematic, since it actually doesn't do the right thing in all cases (as discussed in #3185 and elsewhere). We could perhaps add a fixed version of the feature at some point (but not enable it through `--strict`), but as it's at least somewhat complicated, the core team won't have bandwidth to discuss and review the feature at least in the near ter

[2017-05-18 17:11] gvanrossum commented on #3195
Honestly I strongly believe it's an anti-pattern to do this in Python and I don't want to support a feature (even if contributed). Sorry.

[2017-05-18 18:34] JukkaL opened #3379 "Better message if method incompatible with base class"
Currently if a method is incompatible with a base class, mypy just tells the name of the base class but doesn't actually give more details about the expected signature. This is a problem especially if the base class is defined in typeshed, since users may not know how to find the signature. There are a few things we could do about this:

1. Display the base class method signature as a note after t

[2017-05-18 18:36] JukkaL opened #3380 "Add github issue topic label for usability issues"
Maybe we should have a specific topic label for usability issues such as poor error messages. They are important but currently it's a little hard to prioritize them since they are spread out among hundreds of open issues.

[2017-05-18 18:47] JukkaL commented on #3371
It's a little unclear whether the join should be `Tuple[C, ...]`. `Tuple[Any, ...]` would be quite unsafe. Example illustrating why this is tricky:

[code]

The best option may be to generate an error and require an explicit annotation in cases like the original example.

[2017-05-18 19:34] JukkaL commented on #3370
This seems pretty similar to #1322. Also, #3256 is related.

[2017-05-18 20:04] benselme opened #3381 "Error on NamedTuple with methods (3.6.1)"
In Python 3.6.1, methods can be added to `NamedTuple`s:

[code]

Mypy doesn't recognize this new syntax and fails with:

`error: Invalid statement in NamedTuple definition; expected "field_name: field_type"`

[2017-05-18 20:07] ilevkivskyi commented on #3379
Protocols already do (1) for incompatible types (but not for incompatible override in an explicit subclass). I think this is the most important one, (2) and (3) are also good to have, but are probably less important.

[2017-05-18 20:09] ilevkivskyi commented on #3381
Thanks! This is a known issue, it was fixed two days ago. Please try this on github master and reopen this issue if it still does not work.

[2017-05-18 20:09] #3381 closed

[2017-05-18 20:17] ilevkivskyi commented on #3371
Agreed. This idea already appeared few times in other contexts, so that probably this should be done "globally", not only for this particular case.

[2017-05-18 20:20] ilevkivskyi commented on #3380
Big +1 from me. I have my own mypy "roadmap" (in addition to still unpublished roadmap mentioned by @ddfisher) and improving error messages is among top items there.

[2017-05-18 20:48] rcarrington opened #3382 "Better message for incompatible type error"
Consider the following snippet:
[code]
The result of running mypy is this:
`foo.py:11: error: Dict entry 0 has incompatible type "Foo":`
This message is a bit misleading (possibly truncated?); the issue here is with the mismatch in return type between lines 7 and 11 (Bar vs. Baz), not with the type of the key in the dictionary.

[2017-05-18 21:16] #3050 closed

[2017-05-18 23:33] ddfisher commented on #3205
(assigning to myself to hold for @ilinum)

[2017-05-18 23:55] ddfisher commented on #3205
As some additional background, this happens when the `--follow-imports=skip` and `--ignore-missing-imports` flags are set.

To implement this, I'd start by adding an additional member to [the `AnyType` class](https://github.com/python/mypy/blob/3cd62e1795f4aa5c5d2b5de125d3244e74feb3c3/mypy/types.py#L272) which tracks whether or not it's from a silent import.  I'd then grep for `ignore_missing_impo

[2017-05-19 14:39] Daenyth opened #3383 "Allow disabling mypy completely per module/package"
I'd like to exclude a package from mypy entirely. Due to some constraints right now, I need to commit some generated code to my repo, and it's breaking my mypy setup because it's untyped.

I can't just tune down the parameters because mypy treats certain ones as global - I tried flipping all the flags off that I could, but even setting `follow_imports = silent` in my mypy.ini under `[mypy-pkg/foo]

[2017-05-19 14:42] JelleZijlstra opened #3384 "classmethod defined before `__init__` sees incorrect signature"
[code]
Apparently, we eagerly bind the cls parameter of a classmethod to the type as it exists when semanal.py visits the classmethod. If that is before `__init__` has been defined, then we incorrectly infer that `cls` takes no arguments. It works as expected (no errors; reveal_type says cls takes two parameters) if I put `classm` after `__init__`.

[2017-05-19 15:55] JukkaL commented on #3378
Mypy still shouldn't crash on user error -- it should report what is wrong. I couldn't find an existing issue for generating a useful error message in cases like this.

[2017-05-19 16:09] ns-cweber opened #3385 "Incorrect errors for fstrings + generators"
mypy version: 0.511
python version: 3.6.1

Given this valid program:

[code]

I get errors for the first two variations:

[code]

It seems that mypy doesn't recognize that fstrings are produce a `str`. Interestingly, the yield error didn't show up in my old mypy version 0.501.

[2017-05-19 16:25] ns-cweber commented on #3385
Strangely, this is fine:

[code]

[2017-05-19 17:29] ns-cweber commented on #3385
It looks like it doesn't have anything to do with the unpacking; it seems to pertain to the handling of `ast.FormattedValue`. Mypy handles this correctly:

[code]

According to [GreenTreeSnakes' FormattedValue docs][0]:

In this most recent example, using an fstring with tokens besides the formatted value produces a JoinedStr token. Maybe mypy handles JoinedStr correctly but not FormattedValue?

[2017-05-19 17:30] JelleZijlstra commented on #3385
Yes, it looks like the bug is that mypy interprets `f"{x}"` as having the type of `x`.

[2017-05-19 18:20] gvanrossum commented on #3383
In mypy.ini you can include a section like this:
[code]
(assuming the name of your generated module is `foo.bar.baz`, e.g. living in a file `foo/bar/baz.py`.)

See http://mypy.readthedocs.io/en/latest/config_file.html

[2017-05-19 18:57] gvanrossum commented on #3380
+1; I've added the label "topic-usability". Go crazy adding it to relevant topics!

[2017-05-19 18:57] #3380 closed

[2017-05-19 19:07] Daenyth commented on #3383
Ah, that was the config flag I was missing.

Can I do that at package scope or only module?

On Fri, May 19, 2017, 2:20 PM Guido van Rossum <notifications@github.com>
wrote:

[2017-05-19 21:24] ilevkivskyi commented on #3380
OK, I did a quick pass, found 26 relevant issues.

[2017-05-19 21:37] ilevkivskyi commented on #3335
As I understand this can be closed, since the feature freeze is over.

[2017-05-19 21:37] #3335 closed

[2017-05-19 21:39] ilevkivskyi commented on #3352
Isn't this a duplicate of https://github.com/python/mypy/issues/1115?

[2017-05-20 01:49] miedzinski commented on #3383
You can use `*` wildcard. See https://mypy.readthedocs.io/en/latest/config_file.html.

[2017-05-20 02:05] jkleint opened #3386 "Unbound parameters of type aliases silently default to Any"
This may just be my misunderstanding, but it seems potentially undesirable, so I am reporting it as a bug.  As of mypy 0.511, this typechecks just fine:

[code]

It looks like declaring a variable of type `E` ought to be the same as declaring it of type `Tuple[V, V]`, but in fact it becomes `Tuple[Any, Any]`.  The issue is that the alias itself requires a type parameter (`E[V]`).  This is a mistak

[2017-05-20 04:15] #3383 closed

[2017-05-20 04:19] gvanrossum commented on #3386
Could you tone down your language? I understand this bit you and maybe it's not explained well enough but you sound really hostile which doesn't help anything.

[2017-05-20 23:03] aisipos opened #3387 "Add a reveal_locals() function."
reveal_locals() would work similar to reveal_type() but give information for all local variables at the given context.

This could perhaps be useful for editor plugins to show the types for all local variables, rather than just one at a time.

As an example with this function:

[code]

Perhaps we could see this output:

[code]

[2017-05-21 09:19] unhammer opened #3389 "no error on import html; re.sub(r"x", "y", html)"
The following gives no errors when run through mypy 0.470 (package from Ubuntu 17.04):
[code]
but of course crashes when run through python 3.5.

It seems like mypy ought to catch it, unless modules are considered AnyStr, which sounds odd:
[code]

[2017-05-21 11:08] lincolnq commented on #3389
If I correct your example to

[code]

then mypy 0.510 catches the example. If I run mypy with --check-untyped-defs, it catches the example. I don't have the older version lying around, but are you sure you intended to not annotate the fix function (which causes mypy with default arguments to ignore it)?

[2017-05-21 16:44] iScrE4m commented on #1645
I'd like to bump this. In future, there will be python programmers who never heard of pre PEP420 era of `__init__.py` and that's good. What's not good is mypy forcing them to create dummy files.

[2017-05-21 16:55] agronholm commented on #1645
It might get the ball rolling if somebody explained why this is such a big problem for mypy.

[2017-05-21 18:22] cpennington commented on #1235
I think the mypy.ini file (and its globbing) is useful, but I think it's a complement to per-file options, in part because it's too far away from the source in question (and would need to be updated if a file moved, for example, which would be easy to forget).

[2017-05-21 19:04] agronholm commented on #1645
I just bumped into Jukka Lehtosalo and he said there shouldn't be any major issue blocking this. But given the easy workaround that exists for this, it'll likely require an outsider to write a PR.

[2017-05-21 20:30] ilevkivskyi commented on #3389
Not checking non-annotated functions by default is PEP 484 specified semantics (to allow gradual annotation of existing code). You should use either ``--disallow-untyped-defs`` or ``--check-untyped-defs`` options.

[2017-05-21 20:30] #3389 closed

[2017-05-21 20:36] gvanrossum commented on #1645
This issue is more complex than you think.

[2017-05-21 21:02] iScrE4m commented on #1645
I don't think it's trivial, I've read your previous comment - so I don't even think I'd be able to write a PR. I just think it's an issue worth looking into eventually

[2017-05-21 21:14] jkleint commented on #3386
Yeah, I realized I was a bit harsh.  My apologies.

[2017-05-21 21:16] gvanrossum commented on #1235
Yeah, there are definitely use cases that are better dealt with through the config file and other use cases that are better off using in-file options. So it's good we are pursuing both.

[2017-05-22 06:24] #3362 closed

[2017-05-22 09:20] unhammer commented on #3389
Doh, PEBKAC. Sorry for the noise, and thanks for the solutions :)

[2017-05-22 16:55] patrickw276 commented on #3177
I'm going to take a stab at this issue.

[2017-05-22 16:55] Nurdok commented on #2561
I'm looking at working on this.

[2017-05-22 17:18] markkohdev commented on #3379
I'm looking into this one

[2017-05-22 17:39] gnprice opened #3393 "runtests.py looks like it's hanging at first (though it's not)"
Starting our test suite, it looks like this and stays this way for many seconds:
[code]

When @nurdok saw this on first trying to run tests on his Windows laptop, he figured the tests were hanging -- and when I first looked at it with him, I thought the same thing too.

There are probably two confusing things here:
* The display doesn't change for a long time, with no progress indication.
* The ou

[2017-05-22 17:41] quartox commented on #3352
I will start looking at this.

[2017-05-22 17:42] quartox commented on #1115
I will start looking at this.

[2017-05-22 18:20] JukkaL commented on #3393
A simple fix might be to count the pytest run as 4 tasks (or whatever level of parallelism we are using).

[2017-05-22 18:42] OrenLeaffer commented on #2900
For posterity, here's the error that I get running the latest (38453c0):
[code]

I agree that this is a confusing error.

[2017-05-22 18:45] gnprice commented on #3393
Yeah -- though that wouldn't help with the "nothing changes for a long time" problem, which I think is probably the bigger one.

A simple fix that would also address that part would be to revert the bits of #3019 that added a `sequential` parameter and started using that -- so that we run pytest alongside three other tests. Not optimal for performance, but I'm not sure the difference will be a big

[2017-05-22 18:50] gvanrossum commented on #3393
I wonder if the README should focus more on running pytest and less on runtests.py. That's the advice I give beginners. pytest is something they already know, and it's easy to select tests and to run pdb on tests (once you have discovered `pytest -n0`).

[2017-05-22 18:55] JukkaL commented on #3393
We should probably also mention `pytest -n0` in the docs.

[2017-05-22 19:17] gnprice commented on #3393
Agreed on all counts re the README. I'll open an issue or two for those.

[2017-05-22 19:20] jambonrose commented on #3282
Hi,
My problem was terribly simple: I'd forgotten to import `mark` in the init file. :: facepalm ::

The answer to question 2 is therefore yes.

My final stub set up:

    $ tree stubs/
    stubs/
    └── pytest
        ├── __init__.pyi
        └── mark.pyi

    1 directory, 2 files

[code]

[code]

[2017-05-22 19:20] #3282 closed

[2017-05-22 19:33] #3177 closed

[2017-05-22 19:40] gnprice opened #3399 "Developer docs on running tests should focus on pytest"
Our type-checking unit tests all run under pytest, and some others run under myunit.

For doing development, one generally pretty quickly wants to start running individual tests, or passing flags like `py.test --verbose`, `-s`, or `-x/--exitfirst`. That means running `py.test` directly, or running `myunit` directly for those tests that are under myunit. (There is a way to wrap them to send through

[2017-05-22 20:13] nathanielksmith commented on #2989
I'm not able to reproduce this as of 38453c0ddfaa6660309f782b227bd40b8c4634ba in python 3.5.

[2017-05-22 20:16] ilevkivskyi commented on #2989
I still see the same error on the current master.

[2017-05-22 20:22] nathanielksmith commented on #2989
hm, here's what I'm doing:

[code]

I'm happy to investigate more if you have suggestions on other ways to reproduce.

[2017-05-22 20:26] ilevkivskyi commented on #2989
You should save the above code in a file and check the file with mypy (runtime context here means that ``Tuple[int]`` is not an annotation here).

I can even say why this happens: ``Tuple`` is defined just as ``object()`` in ``typing.pyi`` (to prevent many possible illegal uses of ``Tuple``). I am not sure however what is the right way to fix this.

[2017-05-22 20:28] JukkaL commented on #3399
Other things that would be worth mentioning prominently:

* `pytest -k SUBSTRING` to narrow down which tests to run
* `pytest -n0 -k ...` to run sequentially (can be much faster when running only a few tests)

Also, `pytest` seems to be preferred over `py.test` these days (https://stackoverflow.com/questions/39495429/py-test-vs-pytest-command) and it's a little faster to type as a bonus.

[2017-05-22 20:30] nathanielksmith commented on #2989
shit sorry, i misunderstood the original issue - i thought runtime context meant "when running the code." apologies!

[2017-05-22 20:33] nathanielksmith commented on #2393
I think this is something I can take on. I'll run through the examples and add actual error messages where appropriate.

[2017-05-22 20:38] gvanrossum commented on #2490
@JukkaL Can you confirm that this is done?

[2017-05-22 20:40] gvanrossum commented on #2612
Jukka wants to redo this using a plugin.

[2017-05-22 21:29] gvanrossum opened #3403 "Rework cache to key on hash of file contents instead of mtime"
The key of the cache is currently the mtime (and size) of the source file. A problem here is that it's impossible to share a "pre-warmed" cache between users because the mtimes of files are different for each users. I propose to change the cache to be keyed on a hash instead. It should probably be sha1, or perhaps md5 if it's significantly faster.

Hashing all files in a large tree is pretty effic

[2017-05-22 21:40] pkch commented on #3403
I'll work on it.

[2017-05-22 21:50] gnprice commented on #3399
TIL! I didn't even know you could say `pytest` as a command line.

For me it's actually a little slower / more annoying to test -- `pyte<TAB>` vs `py.<TAB>`. But I definitely appreciate having just one name to say rather than two slightly different names that apply in different contexts.

[2017-05-22 22:09] #2098 closed

[2017-05-22 22:49] gnprice opened #3406 "Expand documentation of test-case format"
We have a pretty great format for writing our unit tests in the form of data, which helps us manage writing a lot of test cases and making them each quite readable. Because it's our own custom-made format, it's not already familiar to anyone, and there's no outside documentation -- so we're dependent on the docs we write ourselves.

We have a good quick-start introduction to the format in `test-da

[2017-05-22 22:54] gvanrossum commented on #2393
There's more than that particular chapter of the docs right?

[2017-05-22 22:56] nathanielksmith commented on #2393
Yup, and I'm reading the docs through now to look for more stuff. I figured I'd eagerly PR though to make sure my approach is ok.

I'll update my PR description though to be more clear that it's incremental.

[2017-05-22 22:56] pkch commented on #3403
It seems we may also need to calculate the hash of the cache (.json) file because there's a risk that the meta file is no longer in sync with the cache file. Currently, this is ensured by checking the modified time of the data file; this won't work when files are moved between users.

Our options are:

1. verify that the modified date of the cache file matches the corresponding field of the meta f

[2017-05-22 23:09] gnprice opened #3407 "Make developer documentation more discoverable and organized"
We have something over 3000 words of developer documentation, spread across several files:
[code]

The top-level README has gotten long enough that it's easy to miss things there, which motivated us to split out the discussion of how tests work into a separate tests README. That discussion has grown with a lot of useful content and is also getting long -- and at the same time, because it was split

[2017-05-22 23:09] pkch commented on #3403
Option (1) is ok, but in some cases may double the amount of hasing being done.

Option (2) is unacceptable because *multiple file* atomic write is unavailable without file locking, and even if it wasn't a problem, other problems might cause meta and cache files to go out of sync.

Option (3) seems the most attractive. We can separate the meta into the header section of the file in order to avoid

[2017-05-22 23:12] JukkaL opened #3408 "Try compiling parts of mypy with cython and see if it's faster"
Maybe we could us Cython to run mypy faster. We probably don't want to use any Cython type annotations, but Cython can speed up straight Python code as well by removing interpretation overhead.

Note that using Cython may make it significantly harder to generate mypy wheels, and cause other potential issues, so we'd likely only want to use Cython if there is a significant performance improvement,

[2017-05-22 23:13] Nurdok opened #3409 "MessageBuilder.format inconsistently surrounds types with quotes"
When working on #3402, using `msg.format` for types usually surrounded them with quotes, e.g., in test `testUnionAttributeAccess`, calling `msg.format` while printing generates the following:
[code]
However, in one test case, ``, the type is not surrounded by quotes (see last line, I attached the entire test case for context):

[code]
Notice how `Node[int]` is not surrounded by quotes. The relevan

[2017-05-22 23:20] carljm commented on #3408
I will work on this.

[2017-05-22 23:41] ilinum commented on #3386
I believe @pkch tried to address this issue in #3141. Perhaps, we can finish up that PR and merge it.

[2017-05-22 23:55] gvanrossum commented on #3407
Actually the mypy docs are using ReST (Sphinx), not md.

[2017-05-22 23:58] gvanrossum commented on #3386
@ilinum Would you want to review this PR? I'm not sure otherwise how to proceed (I don't know the area of the code it touches very well).

[2017-05-23 00:04] ilinum commented on #3386
@gvanrossum Yes, I will! :)

[2017-05-23 00:05] quartox opened #3412 "Error in test framework outside of repo root directory"
If you run `py.test` outside of the root directory of the repo you get a temporary file not found error with a long stacktrace.

The key part of the message message:

[code]

[2017-05-23 00:06] JukkaL opened #3413 "Make deque subscriptable?"
Mypy doesn't let you write `deque[int]` etc., but the recommended replacement (`typing.Deque`) is not present in Python 3.6.0 typing:

[code]

Maybe we should allow the above example since `typing.Deque` may be unavailable at runtime. Alternatively, we could modify the message to recommend using something like this:

[code]

However, the above is pretty unintuitive. `TYPE_CHECKING` is not present

[2017-05-23 00:11] gvanrossum commented on #3413
Ironically, we used to have deque[int] until @ilevkivskyi disallowed that in https://github.com/python/mypy/pull/2869...

[2017-05-23 00:13] gvanrossum commented on #3412
Honestly that falls in the category "don't do that"...

[2017-05-23 01:10] carljm opened #3414 "false positive if module object is assigned to variable: `error: Module has no attribute`"
Simple example:

[code]

This runs fine, but mypy gives `error: Module has no attribute "Popen"`

(The real-world use case in which we encountered this involves a conditional import for cross-version compatibility.)

[2017-05-23 01:11] sharmaeklavya2 opened #3415 "Internal error"
I ran the latest mypy from master (commit 13b7573) and I got an internal error. I didn't get this error with mypy version 0.511.

File which caused the traceback: https://github.com/zulip/zulip/blob/master/api/integrations/perforce/git_p4.py
This was the only file I ran mypy on.

I didn't use any extra flags with mypy (except `--tb` to generate the traceback once I got the internal error).

Here's

[2017-05-23 01:14] pkch commented on #3403
Summarizing the discussion at the sprint:

Currently we use `mtime_data` (the time the cache file was last modified) to do two things:

- validate that the cache file is in sync with the source file
- validate that the cache file is in sync with the dependencies

The first bullet point is solved by using file content hashes. The second bullet point can be solved by using the same approach as git:

[2017-05-23 01:36] sharmaeklavya2 commented on #3415
I found a smaller reproducer:
[code]

[2017-05-23 02:18] gvanrossum commented on #3415
Could you bisect it?

[2017-05-23 03:13] kirbyfan64 commented on #3408
I wonder how [Nuitka](http://nuitka.net) would do...

[2017-05-23 03:46] carljm commented on #3408
Results from the first quick and dirty test with Cython:

[code]

I profiled a mypy self-check and found that `mypy/subtypes.py` and `mypy/types.py` were the modules within mypy containing the top CPU-using functions:

[code]

I compiled those two modules using Cython (with the `allow_keyword_args=True` and `language_level=3` options), and then wrote a benchmark script using the `perf` module:

[c

[2017-05-23 06:14] gvanrossum commented on #3408
I would much prefer mypy to stay pure Python. Maybe we can use some of the profile data to optimize some of mypy's Python code?

[2017-05-23 06:14] gvanrossum commented on #3408
(Also, I once ran mypy with Nuitka and there wasn't much improvement there either.)

[2017-05-23 06:56] JelleZijlstra opened #3418 "False positive on mutual recursion involving a type alias"
This produces an error but (I think) shouldn't:
[code]
It works fine if I make `B` a class, even a class inheriting from `A`. I encountered this in https://github.com/JelleZijlstra/typeshed_client/blob/master/typeshed_client/parser.py#L30 (A is NameInfo and B is NameDict).

[2017-05-23 07:15] JelleZijlstra opened #3419 "Crashes related to calling isinstance() on a NamedTuple"
I found two separate tracebacks playing with variations on the code from #3418:
[code]
produces
[code]

The other stack trace I haven't been able to minimize yet, but the traceback is
[code]
The crashing line is `if not isinstance(info.ast, parser.ImportedName):`, where `info` is a `NameInfo` from the above example. I think it's likely the same underlying bug.

[2017-05-23 07:57] ilevkivskyi commented on #3419
I think this is related to https://github.com/python/mypy/issues/3308. In particular, MRO is not recalculated in third pass for synthetic types like named tuples. I think the solution should be similar to https://github.com/python/mypy/pull/3322 - add corresponding recalculation in the third pass. After #3322 is merged this should be quite easy.

[2017-05-23 08:02] ilevkivskyi commented on #3418
I think this is essentially a duplicate of https://github.com/python/mypy/issues/2241. It is actually more difficult than it may look. It is "entangled" with several other issues with forward references and might need another pass in ``semanal.py`` (I am going to work on this after the protocol PR is merged).

I propose to close this issue and track this in #2241 (after copying this example there)

[2017-05-23 08:07] ilevkivskyi commented on #3408
I already do this. The point is that the protocols PR #3132 touches the hottest function ``SubtypeVisitor.visit_instance``, so that I implement a subtype cache and it looks like it gives 5-10% speed-up.

[2017-05-23 08:11] ilevkivskyi commented on #3415
I think https://github.com/python/mypy/pull/3396 is to blame. @pkch could you please take a look?

[2017-05-23 08:27] pkch commented on #3415
Yeah, it's my mistake. Please check the PR.

[2017-05-23 08:33] ilevkivskyi commented on #3409
I think this is on purpose. See this comment in ``format_simple``:
[code]
The idea is that type with arguments (i.e. with ``[...]``) is already visible enough. If you think it is not, then you could just remove this check https://github.com/python/mypy/blob/master/mypy/messages.py#L255

[2017-05-23 08:39] ilevkivskyi commented on #3413
The simplest solution is to just allow ``deque[int]`` (I prohibited a bunch of similar things like ``list[int]`` in the same PR, but those are probably OK). Alternatively, we can show this error depending on the Python version that is being used (``sys.version_info``) or the Python version from mypy options.

[2017-05-23 08:53] ilevkivskyi commented on #3414
Thanks for reporting! It looks like this is a duplicate of https://github.com/python/mypy/issues/1778
(feel free to reopen if you think this is a different issue).

[2017-05-23 08:53] #3414 closed

[2017-05-23 14:19] JelleZijlstra commented on #3418
Thanks, you're right. Sorry for missing the duplicate.

[2017-05-23 14:19] #3418 closed

[2017-05-23 14:19] JelleZijlstra commented on #2241
Here's another example I ran into:
[code]

[2017-05-23 15:21] nickpresta commented on #1855
We're seeing this problem manifest itself with our code like this (no OSS code to link):

[code]

The error I get is:

[code]

The `Tuple[uuid.UUID, datetime.datetime, ...]` bit is our User `namedtuple`.

As soon as I do something like:

[code]

The error then goes away.

Right now we're working around it with the explicit index but any other insight would be much appreciated.

Thanks

[2017-05-23 16:44] quartox commented on #2529
I will take a look at this.

[2017-05-23 16:47] #2561 closed

[2017-05-23 16:51] carljm commented on #3414
Thanks! Searched but didn't find that. Looks the same.

[2017-05-23 16:55] gvanrossum commented on #1855
Does it repro with the latest master?

[2017-05-23 16:59] quartox commented on #2529
Should this note only cover the case when the object type conflicts with the return type or should it also cover the following:

[code]

which currently only outputs

[code]

I am planning on proceeding with only enhancing the message when it conflicts with the return and not cover the above case.

[2017-05-23 17:02] gvanrossum commented on #3413
OK, let's allow that. Are there any others?

[2017-05-23 17:03] gvanrossum commented on #3415
So since you withdrew the fix we need to merge the revert, right?

[2017-05-23 17:05] carljm commented on #3408
If there isn't interest in the Cython direction, I won't experiment further. I think that the gains here will be only incremental and probably not worth the release hassles unless we were willing to add Cython-specific annotations.

It would be great if mypy and its dependencies (*cough* typed-ast) were all pure Python, so that we could explore speed improvements from running under pypy. But it lo

[2017-05-23 17:12] ilevkivskyi commented on #3413
Here is the full list of things prohibited by #2869 for which replacements are proposed:
[code]
All corresponding typing types are in 3.6.0.

[2017-05-23 17:15] #3415 closed

[2017-05-23 17:16] pkch commented on #3415
Yup, resubmitting the fix now.

[2017-05-23 17:20] JukkaL commented on #3408
I experimented with pypy before switching to typed-ast and it was actually slower than CPython when type checking mypy at least. When I self-checked mypy in a loop, I think that the first iteration was about half as fast as CPython, and then maybe iteration 5 or so was up to around 2 times faster. This was a while back, though, and I haven't tried with a recent PyPy release. It would easy enough t

[2017-05-23 17:26] JukkaL commented on #3413
What about 3.5.0? Maybe we should allow indexing all types that don't have corresponding `typing` aliases in 3.5.0 or 3.6.0 (or 3.5.x, x>0). We should continue rejecting `list[x]` and such because the corresponding aliases have been around from the early days.

[2017-05-23 17:32] nickpresta commented on #1855
@gvanrossum I checked out master and tried to reproduce with `mypy 0.520-dev` and I don't get the error anymore.

Thanks.

We will wait for `0.520` to be published to PyPI.

[2017-05-23 17:56] gnprice commented on #3407
Oh huh -- I thought I was looking at them when I wrote that, not sure how I confused myself. Thanks for the correction!

Happily, Sphinx supports Markdown source files too, and even a mix of Markdown and ReST sources in the same collection of docs. So I guess this adds a piece to the first step:
* After moving the test README to a file in `docs/`, tweak the Sphinx config to include it successfully

[2017-05-23 18:02] JukkaL commented on #672
Also, if we can't give a specific message, we could print out the full signature of the target overloaded function as a note after the message. This would make it easier to see why the call is rejected by mypy.

[2017-05-23 18:09] gvanrossum commented on #1855
OK, then per our policy I will close this issue. (We close issues when they are fixed in master.)

[2017-05-23 18:13] gvanrossum commented on #3407
How do you propose to publish the developer docs? A separate readthedocs domain, or a chapter in the end user docs, or...?

[2017-05-23 18:16] gnprice commented on #3412
I'd be totally happy with this not working, but it's not good for it to produce a huge error trace like it does. Especially for someone who's just getting started with the project, it's hard to tell whether it's caused by a change they've just made in the code, or their environment isn't set up properly to run our tests at all, or they're doing something wrong in running them and if so what.

Fort

[2017-05-23 18:23] ilevkivskyi commented on #1855
But the original issue is not fixed, I just checked and I still see the same error:
``'Union[Any, Tuple[Any, Any]]' object is not iterable``

[2017-05-23 18:28] gvanrossum commented on #1855
Whoops, sorry.

[2017-05-23 18:40] gnprice commented on #3407
The easiest thing would be a chapter in the docs on the same domain. For tools used by developers it's pretty common for the docs for users to be right next to the docs for people contributing to the tool itself -- so I think that'd be OK even if at first it isn't super well organized.

As the developer docs grow, I'd want them to be grouped together well so that e.g. they're just one item in the

[2017-05-23 18:48] gvanrossum commented on #3407
Sounds Good!

[2017-05-23 19:05] ilinum opened #3427 "Flags for disabling Any types"
In general, we want to let user limit Any types used in their code.
What we have currently is a `--warn-return-any` flag. Moreover, there are two open PRs:

* #3405 (Flag to Disallow implicit Any types from Silent Imports)
* #3141 (This PR covers Any types from not specifying generic type arguments)

Both of these PRs need better names for their flags. I was thinking something like `--disable-any-

[2017-05-23 19:35] gnprice commented on #3409
The reasoning in that comment could be a good idea, but I think it'd be hard to do consistently -- and certainly we don't do it consistently today. For example this error message in the quoted test:

I took a quick look at how C compilers format types in error messages. Both Clang and GCC seem to consistently quote all types, with single quotes, both simple and complicated: https://gcc.gnu.org/wik

[2017-05-23 21:01] quartox commented on #963
I will look into this.

[2017-05-23 21:26] JukkaL commented on #3407
SGTM

[2017-05-23 21:32] ilevkivskyi commented on #3409
I agree. @Nurdok woul you like to make a PR removing the check (and comment) I mentioned above?

[2017-05-23 22:04] mistermocha commented on #3409
@ilevkivskyi I tidied up the messages lib to put double quotes everywhere.

[2017-05-23 22:15] carljm commented on #3217
A stub with `from enum import Enum` works just fine for us. Thanks for the suggestion! Slightly embarrassed that none of us thought of that; guess I need to get used to thinking of stubs as a way to lie to mypy ;-)

[2017-05-23 22:59] JukkaL commented on #3217
@carljm Can we close this issue now that you have a workaround?

[2017-05-23 23:58] nathanielksmith commented on #1627
I propose merging the python 2 and 3 cheat sheets into a single document. Each topic header would have 2 and 3 examples, with additional examples added for further type syntax changes in python 3 point releases.

Having just audited a lot of the docs, I think it would be easier moving forward if there weren't copy and pasted swaths of examples across those two docs.

If others think this is wise,

[2017-05-24 00:05] chrish42 opened #3431 "Assert at end of if statement does not help mypy value inference"
While working on making zulip pass with `mypy --strict-optional`, I ran into the following piece of code. Mypy was essentially saying that message.get_realm() was not guaranteed to work ("Not all parts of the union have get_realm() method", or somesuch.)

[code]
Let's assume, at least for here, that the get() call will never return None. I tried the following change, but mypy was still giving the

[2017-05-24 00:11] JelleZijlstra commented on #1627
There is a tradeoff there between ease of maintenance (for people writing the docs, who'd rather not maintain two copies of almost the same docs) and ease of understanding (for people using the docs to learn mypy, who don't want to be distracted by irrelevant material). My assumption is that most people who are learning to use mypy are using either Python 2 or 3, not both at the same time, so they

[2017-05-24 00:23] JukkaL commented on #1627
I agree with @JelleZijlstra.

[2017-05-24 00:26] ethanhs commented on #3431
I discussed this with @pkch and we believe it is related to #2008.

[2017-05-24 00:46] gnprice commented on #3412
Fixed in 45a5cf32e.

[2017-05-24 00:46] #3412 closed

[2017-05-24 00:58] pkch commented on #3403
@JukkaL  suggested to not merge meta and data files yet, and do everything else as the first PR. Whether or not merging the files is worthwhile can be discussed later.

Also, we need to make sure the optimizations that involve `interface_hash` aren't lost; therefore, `interface_hash` should not be changed to depend on any additional information (that's why `mtime` and `interface_hash` are separate

[2017-05-24 00:59] cpennington opened #3432 "What format should per-file options take?"
In #3388, I'm implementing in-file overrides for mypy options. Thus far, two different formats have come up, and I was asked to open this to come to an agreement on the preferred format.

Option 1: CLI-style

    # mypy-options: --disallow-untyped-defs --allow-untyped-calls

Option 2: Config-style

    # [mypy]
    #     disallow_untyped_defs = True
    #     disallow_untyped_calls = False

In bot

[2017-05-24 01:25] miedzinski commented on #3432
I'd want something more like

`# mypy: disallow-untyped-defs allow-untyped-calls`

with an option to split options into multiple lines

[code]

can't go simpler than that.

[2017-05-24 01:29] nathanielksmith commented on #1627
Totally reasonable. Nevermind :)

[2017-05-24 02:43] gvanrossum commented on #1627
So do you want to do the items that were mentioned earlier in this issue? I'd like to be able to actually close this (omnibus issues like this are a bit annoying because they're so open-ended :-).

[2017-05-24 07:14] lambdalisue opened #3434 "Unsupported left operand type for | ("auto")"
Using `enum.auto` in `enum.Flag` which has introduced from Python 3.6 cause the following exception

[code]

with the following code

[code]

The `|` operand is supported in `enum.Flag` so it seems the definition of `auto()` should be modified for Python 3.6 and over

Ref:
https://docs.python.org/3.6/library/enum.html#flag

[2017-05-24 07:15] lambdalisue commented on #3434
Confirmed in mypy 0.511 with Python 3.6

[2017-05-24 08:43] carljm commented on #3217
@JukkaL Yes, fine to close as far as I'm concerned.

[2017-05-24 09:41] pkch commented on #3393
I thought @JukkaL  didn't want to run pytest concurrently with other tests because of the very large peak memory usage.

Other than that, the performance impact is not necessarily on the total time, but on the responsiveness of the system while the tests are running: with too many CPU-intensive tasks running concurrently, Windows lags on any user operations. I'm guessing Linux handles it better?

[2017-05-24 11:32] orenbenkiki opened #3438 "Type variable return value from class methods"
`mypy` gets confused about the type of a type variable return value from a class method:

[code]

This is causing a huge PITA in my code...

Actually, in my code I would *really* want to make `c` a `@classproperty`, that is, be able to write `GC.c` instead of `GC.c()`. I can implement a `@classproperty` decorator by myself, of course, but that would mean giving up on any hope whatsoever of `mypy`

[2017-05-24 12:48] miedzinski opened #3439 "Nicer output"
I have mentioned this on gitter, but I think it might be a good idea to open an issue to track this. Current mypy output is a bit harsh. Compare (I know these are different kind of errors, but still)

[code]

to

[code]

Rustc output is specified [here](https://github.com/rust-lang/rfcs/blob/master/text/1644-default-and-expanded-rustc-errors.md).

I don't have any ideas other than that we could st

[2017-05-24 13:20] ilevkivskyi commented on #3438
It is not so clear this is actually a bug. Normally, type arguments are only applied on instances, _not_ on classes (we have even special errors for things like ``C[int].x``). It is less clear in this case, but why can't you use ``c = GC().c()`` (it is allowed to call classmethods on instances)?

(Also you don't need quotes around ``P`` in return annotations of ``s`` and ``c``.)

[2017-05-24 13:37] cpennington commented on #3432
Personally, I think I'd lean towards Option 1. It keeps a consistent format with another way in which you configure mypy (namely, the commandline), and it's more concise than Option 2. I do see the benefit of @miedzinski's suggestion, but think that losing the `--` makes the format a bit less obviously an analog to the commandline.

[2017-05-24 13:50] orenbenkiki commented on #3438
Using ``GC().c()``:

* This requires creating an actual instance of ``GC``, which I then just throw away, which is inefficient.

* This implies that ``c`` belongs to the instance, when it actually does belong to the class as a whole. This would be confusing to the reader and seems un-Pythonic.

In my specific case, ``c`` is actually called ``special_instance``, that is, there is some special insta

[2017-05-24 13:50] ilevkivskyi commented on #3431
I think this is something specific to ``None`` checks. The same snippet works perfectly with ``isinstance``:
[code]

[2017-05-24 14:11] JelleZijlstra commented on #3393
For what it's worth, I've also noticed Mac OS becoming unresponsive while I run the mypy test suite.

[2017-05-24 15:01] gvanrossum commented on #3432
We should definitely not invent a new format, but follow either the command line or the config file.

I personally prefer using the config file format here, because in a sense it is the "canonical" format. The rule could be: when you put options in a file, you use the canonical format.

The config file format also makes it clear(er) that you can only specify "per-file" flags here, e.g. the various

[2017-05-24 15:48] mistermocha commented on #3434
Re-running with 3.6.1 and current git-checked version reproduces the same:

`8: error: Unsupported left operand type for | ("auto")`

[2017-05-24 15:53] JelleZijlstra commented on #3434
Enum is doing some pretty magical things here: the metaclass uses a custom mapping as its class dictionary, and that mapping's `__setitem__` special-cases `enum.auto` objects. You can't really expect a static type checker to understand that without some help.

It's possible that these errors will go away if we make `auto` inherit from `Any` in https://github.com/python/typeshed/blob/master/stdlib/

[2017-05-24 15:54] miedzinski commented on #3432
If you really want to go for configparser's syntax in source code (which seems really weird), we should invent an end-of-mypy-config marker so it won't mix with possibly unrelated comments (e.g. flake8).

[2017-05-24 17:50] gvanrossum commented on #3432
Why do you find weird? Do you have examples of other tools that have in-file configuration?

A blank (non-comment) line should suffice.

What is the format of flake8 comments? (I only know of `# noqa` per-line comments.)

[2017-05-24 18:24] miedzinski commented on #3432
I simply don't like it and prefer my suggestion or opt 1.

You can put `# noqa: E001` etc at the top to apply it to whole file. Another example is `# vim: noai:ts=4:sw=4`.

[2017-05-24 18:32] carljm opened #3440 "SymbolTableNode.kind conflates orthogonal characteristics"
I encountered this issue in working on #3435 -- it is the reason that PR stops short of implementing support for module aliasing assignment outside of module global scope. When I remove the `not self.is_module_scope()` guard in that PR, [this line](https://github.com/python/mypy/compare/master...carljm:module-alias-not-module-scope?expand=1#diff-4489f8217a37fa27005419113dfac3bfR1470) in the added

[2017-05-24 18:58] pkch opened #3442 "Slice index false positive"
[code]

Reported by @chrish42.

[2017-05-24 19:07] nathanielksmith commented on #1627
I am happy to work on the other items. I checked the things mentioned in this against the current cheat sheet and can do these things for both 2 and 3:

- Explain "Need type annotation for variable" when initializing with None or an empty container
- Add TypeVar and a simple generic function
- A function that returns a tuple
- How to annotate a decorator
- How to track down the type of an argument

[2017-05-24 19:29] gvanrossum commented on #1627
Go for it!

[2017-05-24 19:32] gvanrossum commented on #3442
Probably a typeshed issue.

[2017-05-24 19:38] JelleZijlstra commented on #3442
I don't think so, this is mypy's general slicing check, not a specific `__getitem__` override. Looks like the bug is in `visit_slice_expr` in checkexpr.py. The error message says that int or None is accepted, but the code only accepts int.

[2017-05-24 19:44] chrish42 commented on #3442
Furthermore, None as a slice index works in at least some cases:

[code]

[2017-05-24 19:49] gnprice commented on #3438
If I understand you right, `Type[C]` will give you what you want:
https://www.python.org/dev/peps/pep-0484/#the-type-of-class-objects

Your example would look like
[code]
where `C` is a type variable.

[2017-05-24 20:04] netanelravid opened #3444 "Bug: incorrect stub in the default mypy typeshed"
Hi,
I'm trying to use the *realpath* function from the **os** module and I get an *unrecognized argument* error.
The code:
[code]
The error:
[code]

The **path.pyi** definition for *realpath* is incorrect:
[code]
Python interpreter:
[code]

Please check it.

[2017-05-24 20:09] ilevkivskyi commented on #3444
Thank you for reporting! Since this is a typeshed issue, could you please report this on typeshed tracker https://github.com/python/typeshed/issues?

(You can close this issue after reporting it there.)

[2017-05-24 20:13] netanelravid commented on #3444
Sure, right away.

[2017-05-24 20:13] #3444 closed

[2017-05-24 20:34] gvanrossum commented on #3438
@orenbenkiki You might want to tone down your language a bit.

[2017-05-24 20:49] gvanrossum commented on #3442
OK, I thought mypy usually eventually defer to a dunder method, but if it doesn't in this case it's a mypy bug, perhaps related to strict optional.

[2017-05-24 21:22] gnprice commented on #3434
Thanks for reporting this!

@JelleZijlstra (and someone else but I forget who >_> ) and I chatted about this a bit this morning here at the PyCon sprints.

I think this issue can be handled by making `auto` in typeshed inherit from `enum.Flag` -- perhaps better from its subclass `enum.IntFlag`. That should make all the int-related operators behave correctly on `auto`-initialized flags. In general,

[2017-05-24 21:24] JukkaL commented on #3393
@pkch Earlier we had multiple pytest runs running in parallel (each with multiple processes) and that caused Travis build failures due to very high memory use. Just running a single parallel pytest run together with other, single-process tasks might work, though I share the concern that running many processes will likely cause system unresponsiveness.

[2017-05-24 21:39] JukkaL commented on #3432
I'd prefer using the config file option syntax but without a section header. For example:

[code]

Alternatively, we could use something like `# mypy-option: ...`.

Rationale:
* Each line defines a single option and doesn't depend on other lines. Therefore copying options to another file is not error-prone (no need to remember to copy the section header).
* Specifying a single option is compact (o

[2017-05-24 21:53] JukkaL commented on #3438
Mypy should perhaps reject using a class type variable in a class method (or a static method). Type variables are basically meant to be used in an instance context. If you'd need to use a type variable in a class method, you'd have to define another type variable. However, this wouldn't help with the original example.

To support the original example properly, it seems to me that we'd need somethi

[2017-05-24 21:53] #3308 closed

[2017-05-24 21:58] chernrick commented on #2775
Trying this one for PyCon 2017

[2017-05-24 21:59] gvanrossum commented on #3438
Yeah, we should start by rejecting such class/static methods, since the type variable is only specified by instantiation. Agree it's too early to consider a new feature (IMO this has come up before but usually due to some confusion on the user's part -- better error messages could help them without new type system features).

[2017-05-24 22:17] #3217 closed

[2017-05-24 22:19] gvanrossum commented on #3439
Even though I agree that some of mypy's errors confuse users, I'm not a big fan of that kind of ultra-verbose output. It's better to make some specific errors better while keeping the general style. I'm also not a big fan of colors (but I know I am in the minority there).

[2017-05-24 22:33] JukkaL commented on #3439
It would be useful to have better error messages, but I agree with @gvanrossum that just fixing specific errors that aren't very good should be enough. We might make certain error messages much longer but I'm not a fan of making every message verbose, as it arguably makes it slower for a human to scan the output from mypy.

[2017-05-24 22:47] miedzinski commented on #3439
I'm not saying we should have output as verbose as rustc. Rust needs it primarily because of steep learning curve associated with borrow checker - typing Python code is way easier.

I think we should go more into gcc direction:

[code]

[image](http://i.imgur.com/qVWCXTF.png)

and we're actually close to that. Two things:

- better messages itself
- COLORS!
- optionally print offending statement/e

[2017-05-24 23:07] mistermocha commented on #2989
Implementing a common base class with a `__getitem__` across `Tuple` and others in typeshed appears to correct this issue. Suggesting changes in https://github.com/python/typeshed/pull/1340 to address.

[2017-05-25 02:06] chernrick commented on #2775
Pull request https://github.com/python/mypy/pull/3447

[2017-05-25 02:41] sharmaeklavya2 opened #3448 "type: ignore doesn't work with multi-line statements"
`file.py`:
[code]

gives output
[code]
which is wrong IMO.

[2017-05-25 02:47] ddfisher commented on #3448
`#type: ignore` must be placed on the same line as the error. You won't be able to do that with backslash multi line statements, but those aren't considered good style anyway. If you need a type ignore on a multi line statement, use parens and place the type ignore on the line with the error.

[2017-05-25 02:47] #3448 closed

[2017-05-25 03:54] carljm commented on #3440
Closing this issue, it was bogus. The symptom is real (and fixed in #3450), but the speculation about the root cause was unfounded. These enum values are still pretty confusing, though.

[2017-05-25 03:54] #3440 closed

[2017-05-25 04:32] orenbenkiki commented on #3438
@gnprice : Somehow I missed ``Type[...]`` - my bad. I'll try it out. Thanks!

[2017-05-25 04:41] orenbenkiki commented on #3438
@gvanrossum : I can see why associating types with classes, as opposed to instances, would be a significant feature. Allowing meta-classes to be generic might side step this (as classes are instances of their meta-class), but I'm not familiar enough with the code to tell - perhaps both features are basically the same, implementation-wise.

The justification is that a natural and correct programmin

[2017-05-25 07:04] #2529 closed

[2017-05-25 13:28] homeworkprod commented on #2306
Just a quick feedback: Works for me now (tested with Mypy 0.511). Thanks!

[2017-05-25 22:30] carljm commented on #3331
We have a slightly different use case for this. We want to be able to do:

[code]

Subclassing is not an option here due to the runtime overhead; these need to stay real ints at runtime.

Without the generic, we either lose the ability to distinguish different types of IGIDs in the type system, or we have to create a separate type (e.g. `UserID = NewType(...)`) for every object type with an IGID (

[2017-05-26 01:48] gvanrossum commented on #3028
Also relevant: https://github.com/python/mypy/issues/3157#issuecomment-299187257 (esp. "Argspec type variables")

[2017-05-26 05:35] LiraNuna opened #3452 "Overload resolution fails for Type[T] and metaclass"
Given this code:

[code]

mypy fails type checking for the `fails_typecheck` call with the following error:

[code]

Given that metaclasses are sometimes an implementation detail, I think this should be supported, however this could just be ignorance on my part.

[2017-05-26 12:08] JukkaL commented on #3452
This looks like a bug.

#3326 is related but probably a separate issue.

[2017-05-26 12:30] JukkaL commented on #872
Closing the issue as stubs are now maintained in typeshed.

[2017-05-26 12:30] #872 closed

[2017-05-26 12:30] JukkaL commented on #592
Closing in favor of #953.

[2017-05-26 12:30] #592 closed

[2017-05-26 12:32] JukkaL commented on #372
This has been obsolete since we started using Travis CI to test using multiple versions of Python.

[2017-05-26 12:32] #372 closed

[2017-05-26 12:51] JukkaL commented on #3431
This works as expected:

[code]

However, this fails:

[code]

Assignment of `Any` doesn't narrow down the type:

[code]

A potential fix would be to make an assignment of `Any` to a variable with an optional type strip away optionality. It would be kind of ad hoc, but I'm not sure if we want to infer `Any` as the variable type, since that could result in false negatives. Example of how this could

[2017-05-26 15:42] JukkaL opened #3453 "Document TypedDict"
This will also make TypedDict a officially supported feature (even if it's still experimental).

I'd like to have remaining high-priority TypedDict issues resolved before this happens.

[2017-05-26 15:47] JukkaL opened #3454 "Document properties of internal type operations"
Document basic properties of all type operations used within mypy, including compatibility, proper subtyping, joins and meets. The properties include things like associativity, symmetry, how they work with `Any` -- and there are many other properties potentially worth documenting. The documentation would be  in the form of comments or docstrings within the source code.

[2017-05-26 15:50] gvanrossum commented on #3355
This crash is still occurring, so #3356 did *not* fix it.

[2017-05-26 15:52] JukkaL opened #3455 "Write more tests for incremental and quick modes"
We've had many incremental mode crashes, and some users no longer want to the incremental mode because it's historically been unreliable. Let's write more tests to help prevent some future regressions, and they might also expose new bugs.

The quick mode could also benefit from additional test cases.

[2017-05-26 16:22] JukkaL opened #3456 "Faster cache deserialization"
Deserialization of cache files is a major bottleneck in incremental mode, so any performance improvements there would be valuable.

At least @pkch has previously worked on this, and it's unclear if any significant wins are achievable without a lot of work. However, there seem to be some redundant information in the cache files that we haven't looked at eliminating yet.

Here are some random ideas:

[2017-05-26 16:36] JukkaL opened #3457 "Refactor and document conditional type binder"
The current implementation of the conditional type binder is pretty hard to understand. It would be nice to refactor it.

[2017-05-26 16:37] JukkaL opened #3458 "Refactor symbol table implementation"
The current implementation of symbol tables is hard to understand and probably needlessly complex. Refactoring it could be helpful.

[2017-05-26 16:43] JukkaL opened #3459 "Refactor and document semantic analysis passes"
The semantic analyzer is kind of confusing. Refactoring and documenting it better could be pretty helpful. A few ideas:
* Document the relationships between the passes better and which things aren't valid during which passes (e.g. subtype checks or joins).
* Rename the passes to more reasonable names. Maybe just use `SemanticAnalyzerPassN` as the names.
* Consider moving the semantic analyzer pass

[2017-05-26 17:04] JelleZijlstra commented on #3456
Random idea: Could we use a different format than JSON, perhaps marshal?

[2017-05-26 17:16] gvanrossum commented on #3456
JSON serialization itself is not the bottleneck. The json stdlib module uses highly optimized C code when (de)serializing using default options, which we are careful to use unless you pass `--debug-cache`. The cost is all in constructing dicts that the json module can serialize, and (after deserialization) constructing objects from those same dicts. This is what the `serialize()` and `deserialize(

[2017-05-26 17:31] JukkaL opened #3462 "Add link to new roadmap to the mypy-lang website"

[2017-05-26 18:01] gvanrossum opened #3464 "Allow class-based NamedTuple syntax in semantic analyzer for stubs in pre-3.6 mode"
See https://github.com/python/typeshed/pull/1336#discussion_r118749396

Not very important, but would be nice if stubs could use
[code]
instead if
[code]

[2017-05-26 18:29] #3393 closed

[2017-05-26 20:33] gvanrossum commented on #3438
Seriously? You "thumbs up" your own comment?

[2017-05-26 20:35] #2775 closed

[2017-05-26 20:49] orenbenkiki commented on #3438
AFAIK github doesn't allow reactions to an issue, just to a specific comment. Placing the 1st one makes it easier for people to add their own up-vote if they so choose (a button appears right next to it). At least that's the way I saw this being done in other projects. If a different system is used in mypy, I'll be happy to follow it.

[2017-05-26 21:31] zero323 opened #3468 "AttributeError: 'UnionType' object has no attribute 'type'"
This looks like a regression (?) between Mypy 0.501 and 0.510.

Failure is reported at this line: https://github.com/zero323/pyspark-stubs/blob/d25da4d051f878d358bdef6a0e08a6597afbee4f/third_party/3/pyspark/sql/functions.pyi#L24 but it can be reproduced with simplified input:

[code]

Python version:
[code]

Mypy version: 0.510, 0.511

Traceback:
[code]

[2017-05-26 22:33] gvanrossum commented on #3468
Can you come up with a repro that doesn't still depend on the pyspark stubs? I get an error on the import line.

[2017-05-26 23:30] zero323 commented on #3468
Let me try to dig deeper into this over the weekend. It doesn't appear in isolation, so it guess the problem can be somewhere completely else, and just manifests in awkward way.

[2017-05-27 00:09] ilinum opened #3469 "Omitted Generics Should Be Disallowed"
Currently, if a generic type parameter is not specified, it is assumed to be Any (`List` becomes `List[Any]`).

Forgetting to provide a generic type is an easy mistake to make, which makes mypy less effective at typechecking as the generic type will be inferred as `Any`. We should make sure e.g. `List[Any]` is actually what user wants by making the user explicitly state `List[Any]` as the type.
If

[2017-05-27 00:13] ilinum opened #3470 "Flag for disallowing Any"
In general, we want to provide the user with a flag to disallow the use of implicit and explicit Any types as well as expressions with type Any, so that they can make sure all of their code is typechecked.

@ddfisher and I did some brainstorming yesterday and this proposal is what we came to.
Here are all the places that `Any` can appear in, followed by discussion of the current state of the flags

[2017-05-27 00:56] gvanrossum commented on #3469
Well, to make this the default/only way, you would have to propose a change to PEP 484 and get pytype and PyCharm to agree. And there may be a lot of code to update.

[2017-05-27 06:19] ethanhs commented on #3408
I just checked mypy v471, which I believe was the last version supporting the old parser, and compared it to CPython. I also tried Nuitka. Here is what I got:

[code]
I can provide any further timing upon request.

Based on this, I can surmise that PyPy is not a good path to go down, as it performs much worse than even the non-fast-parse implementation. I presume that one could extend their ast to

[2017-05-27 22:06] JelleZijlstra commented on #3434
This should be fixed with python/typeshed#1331 but I can't close issues on this repo.

[2017-05-27 23:26] gvanrossum commented on #3434
Presumably if you had included "fixes python/typeshed#1331" in the commit message it would have worked? Anyway, closing manually now.

[2017-05-27 23:26] #3434 closed

[2017-05-28 05:20] ethanhs commented on #954
So I tested the nested virtualenvs, and at least in my experience, they don't really work that well. I am currently thinking uninstalling the installed version (after Travis executes setup.py) then installing from the wheel is the best test. If you want to test `setup.py` installs, I can set it up so that it runs the same check before uninstalling. That way we are testing: install via `setup.py`,

[2017-05-28 07:38] ilevkivskyi commented on #3469
I am against making this the default. FWIW I have seen lots of code on GitHub that just uses plain ``list``, ``dict`` etc. in annotations. I could agree with emitting a note by default (like ``note: bare "MyGeneric" is interpreted as "MyGeneric[Any, Any]".``) but keeping the exit code 0 in this case, with an option to make this note an error. This would be similar to how many compilers work.

[2017-05-28 09:52] ilevkivskyi commented on #3468
Here is a simple repro for the crash:
[code]
I think the problem is because of an unsafe cast here https://github.com/python/mypy/blob/master/mypy/checker.py#L805

[2017-05-28 11:53] ilevkivskyi commented on #3456
Another random idea (probably I have mention it before): use ``pickle``. It supports custom stateful objects via ``__getstate__`` and ``__setstate__``. The downside is that cache will be human-unreadable (unlike JSON). But if this will give a significant speed-up, maybe we can still consider this?

(Also I think stdlib ``__getstate__``/``__setstate__`` will be more familiar to new contributors tha

[2017-05-28 18:46] gvanrossum commented on #3456
Hm, but the `__getstate__`/`__setstate__` methods have to do about the same amount of work as `serialize`/`deserialize` so I don't expect a big benefit from this. Also people have generally soured on pickle due to various vulnerabilities and incompatibilities.

[2017-05-28 18:57] gvanrossum commented on #3468
Ah, casts! They cause so much trouble and are so misunderstood. That one should have been an assert, but how to prevent crashing?

(PS Crash >= Bug so I removed the bug label.)

[2017-05-28 19:02] gvanrossum commented on #954
I'd love it of you came up with a specific PR for your version of the plan!

[2017-05-29 02:59] #3442 closed

[2017-05-29 04:40] gvanrossum commented on #3470
I've fixed a few markup mistakes, hope you don't mind (I didn't catch them all). There are some other issues with the text of your description, e.g.

- The "explicit" section doesn't make it clear that you could also have `Any` as part of a type, e.g. `List[Any]`.
- "An expression of type `Any` can come from any `Any` types described above" -- this could be clearer, I suppose you are referring to

[2017-05-29 05:15] JelleZijlstra commented on #3470
Regarding typeshed, there is already custom logic in `generate_unused_ignore_notes` in errors.py that excludes typeshed code from `--warn-unused-ignore` errors. Maybe that logic should be extended to exclude all errors in typeshed code, because for normal users (as opposed to mypy/typeshed developers), it's probably almost never useful to see errors from typeshed. One downside would be that it may

[2017-05-29 14:02] ilevkivskyi commented on #3456
Yes, but on the other hand, some of the methods could be simpler, since intermediate ``dict``s are not created (everything is put in objects ``__dict__`` directly), plus some work is done already in ``__init__``, plus some method calls are C-level. I agree it is not obvious, and benchmarking is needed to prove any win with this approach.

[2017-05-29 15:30] ErikBjare opened #3471 "mypy fails on Windows (Name '__builtins__' is not defined)"
**Version:** 0.511

I get this everytime I try to run mypy on my aw-core project on Windows (Appveyor to be exact, haven't had the chance to try and replicate on a different Windows machine).

<details>
<summary>Traceback</summary>

[code]
</details>

[Link to CI full log](https://ci.appveyor.com/project/ErikBjare/aw-core/build/1.0.216/job/0fw984u6ps3gec45)

After doing a quick issue search I foun

[2017-05-29 16:25] OddBloke opened #3472 "`Any` apparently not considered part of `Union[Any, builtins.None]`"
When running `mypy --strict` against the following code:

[code]

I see the following warning:

[code]

This seems obviously incorrect. At the very least, it's a confusing error message.

Bisecting suggests that this behaviour was introduced in 4141d2039c709f3a8e591fa35a560e54c4e203d2.

[2017-05-29 22:58] ethanhs commented on #3471
Im looking into this. The bug happens when typeshed is not found, but there is no reason it shouldn't be.

[2017-05-29 23:40] ErikBjare commented on #3471
@ethanhs Oh, that gives me some ideas that might be related to my CI config. I think I might be on to something so give me a day or two and I'll look into it.

[2017-05-30 02:13] gvanrossum commented on #3470
While it seems attractive to just suppress all errors from typeshed, I'd like to be cautious here.

On the one hand, we should ideally fix strictness errors in typeshed rather than ignore them (unless there are conflicting strictness flags, which so far we have managed to avoid). But while we should never have a typeshed that causes errors with mypy's default flags, there are now so many optional

[2017-05-30 03:21] gvanrossum commented on #3472
That's @JukkaL's PR #3086.

[2017-05-30 08:09] ilevkivskyi commented on #3472
I think the problem is not with Jukka's PR but in the logic of ``--warn-return-any``. It should not emit warning if ``Any`` is a proper subtype of the declared return type. I have an idea for a very simple fix, if it will work, then I will make a PR shortly.

[2017-05-30 08:41] ilevkivskyi commented on #3472
OK, here is the PR https://github.com/python/mypy/pull/3473

[2017-05-30 08:48] ilevkivskyi commented on #3468
TBH I am not sure what to do here. It looks like this crash happens only if ``Any`` appears in the special method signature (like in ``str.__mod__``). @JukkaL do you have any ideas?

[2017-05-30 11:02] JukkaL commented on #3468
I can have a look at this. The relevant code is really old and seems to have bit rotted (assuming that it ever worked).

[2017-05-30 11:20] #3472 closed

[2017-05-30 12:32] JukkaL opened #3474 "If isinstance target type is Any, narrow down to Any"
Currently if the second argument to `isinstance` has type `Any`, we don't narrow the type down. This doesn't work as expected with ignored imports. Example (assume that `foo` has a missing stub):

[code]

I'd expect the type of `x` to be 'narrowed' (actually widened) to `Any`, and mypy should probably not generate an error.

[2017-05-30 12:46] JukkaL opened #3475 "Tool that generates stubs from annotated modules"
If a user maintains a 3rd party library module that is type checked using mypy, there is no easy to way to automatically generate annotated typeshed stubs for that library, even though this could be pretty useful. We could perhaps extend stubgen to do this job.

Here's how this could work internally:
* Do the equivalent of a mypy run against a target module/package.
* Generate stubs based on the m

[2017-05-30 12:52] ilevkivskyi commented on #3475
There is an existing PR https://github.com/python/mypy/pull/3169 for improving stubgen. But it only preserves existing annotations, type aliases, and ``TypeVar``s (i.e. no inferred annotations).

[2017-05-30 13:08] OddBloke commented on #3472
Thanks all! When might we expect to see this in a release?

[2017-05-30 13:14] JukkaL opened #3476 "Document how to selectively ignore specific imports"
Currently mypy users often have to ignore all imports (`--ignore-missing-imports`) because mypy can't find stubs for a third party library module. Instead, we could provide an option to only ignore specific imports everywhere within a program.

Potential way to support this:

[code]

This would have a few benefits over `--ignore-missing-imports`:
* It would be possible to have fine-grained control

[2017-05-30 13:31] JukkaL commented on #3472
We typically have a release every 2 months or so, so the next release could be June/Julyish.

[2017-05-30 13:58] JukkaL commented on #1174
@rhettinger showed me an example which redefines a `set` as a `frozenset`, and apparently he sees cases similar to this pretty often. Here is a sketch (I may have forgotten about some specifics, though):

[code]

[2017-05-30 14:00] cpennington commented on #3432
@JukkaL, @gvanrossum, @ddfisher: Is that enough consensus on @JukkaL's proposal that I should go ahead and implement it? It wouldn't be a huge deviation from the code I already have, which is nice.

[2017-05-30 15:24] gvanrossum commented on #3432
Let's go with Jukka's proposal. Note that you can use hyphens or underscores in config variable names, internally it's all converted to hyphens.

[2017-05-30 15:30] JelleZijlstra commented on #3475
I was thinking about this in the context of python/typing#84.

An alternative for fully annotated libraries could be to just install their full code in the "stubs" directory, so we don't have to generate separate stub files. However, that may slow down mypy and it may cause problems when user code is type checked with more restrictive flags than the library.

[2017-05-30 15:37] #3385 closed

[2017-05-30 16:02] JukkaL commented on #3475
User code may also be fail to type check because of differences between mypy versions. Stubs are more likely to be compatible across mypy versions than actual code.

[2017-05-30 17:06] gvanrossum commented on #3355
Sadly it's very shy.

[2017-05-30 20:45] ilinum commented on #3469
yeah, these are good points.
After some in person discussion with @gvanrossum, @JukkaL, and @ddfisher, we decided will add a flag (perhaps in https://github.com/python/mypy/pull/3141) to forbid it.
Then, we may or may not move forward with making omitted generics an error by default depending on how well the adoption of the new flag will go.

[2017-05-30 20:49] ilinum commented on #3469
@ilevkivskyi, I think that may be a good idea but at the same time it may flood the user's console with such errors. Of course, we can do what `javac` does: emit a line saying that there are unchecked operations and provide a flag for verbose output about these operations.

[2017-05-30 21:21] ddfisher commented on #3469
I think the right place in the tradeoff space may be to allow e.g. `list` (perhaps with a note on the console) but to disallow `List` (as you should just write `List[Any]` instead, because it's clearer and ensures you understand what it means).

[2017-05-30 21:35] ilinum commented on #3470
That's a good catch! Yes, this is an explicit `Any` and should be reported if a flag to disallow explicit `Any` is enabled. I edited the original proposal to reflect that.

Yep, updated it with your example!

I share your concern about most restrictive flags not being useful. There will always be places where Any is returned.
This is not in the original proposal but what do you think about the fol

[2017-05-30 21:45] gvanrossum commented on #3470
That example seems designed to undermine the argument since you could also write
[code]
I wonder if there shouldn't be a flag that "nerfs" `Any` by making it similar to `object`? I.e. assignment *to* a variable or argument of type `Any` would be allowed, but assignment of a value of type `Any` to a variable (or passing to an argument) with a more restrictive type would be an error.

[2017-05-30 22:09] ilinum commented on #3470
Well, it becomes the responsibility of the caller to determine the type correctly. You could argue it either way.
I would say the person writing the function call has more information and can more accurately tell the type. In this example, the caller would know what is the sign of the integer parameter.

As for making `Any` behave like `object`, when would that be useful?

[2017-05-30 23:01] gvanrossum commented on #3470
It would flag all places where Any is used in an unsafe way, i.e. presuming the runtime type matches the compile-time type. It's amazing how often some corner case or a change in some other place of the code makes what was once safe no longer so. (Though in mypy the champion crash cause is probably cast() -- it also assumes the programmer knows what they are doing.)

[2017-05-30 23:49] ThatsGobbles commented on #2241
I'm also seeing this occur with new Python 3.6-style NamedTuple type hint declarations.

    import typing as typ

    class EdgeDef(typ.NamedTuple):
        id: int
        stack_cmd: 'StackCommand' # ERROR: Invalid type "test.StackCommand"

    # Other defs that depend on `EdgeDef`

    StackCommand = typ.Tuple[bool, int]

[2017-05-31 00:27] gvanrossum commented on #2241
I think we have enough examples at this point. :-)

[2017-05-31 01:37] ilinum commented on #3470
Hmm, actually, `--treat-any-as-object` might be better than forbidding `Any` in a module altogether. As you pointed out earlier, it may be difficult to remove all `Any`s whereas if `Any` is treated as `object`, the user is forced to check the type at runtime using `isinstance()`.
The downside to your proposed approach, is that it either makes the code more verbose or makes people use casts blindly

[2017-05-31 01:44] ilinum commented on #3470
Going back to the original proposal, below is what documentation would look like. A couple of sidenotes:

* I'm not convinced a flag to forbid `Any`​ from errors is needed. It seems like it is would only be used together with `# type: ignore`.
* `unfollowed` may not be the best word to describe the imports that are either imports from a module that doesn't exist or when a `--follow-imports=skip` i

[2017-05-31 02:59] kirbyfan64 commented on #2241
@ThatsGobbles Is that the same issue though? This issue is with recursive type aliases, but your example doesn't actually have any recursion, just and out-of-order alias.

[2017-05-31 06:49] ilevkivskyi commented on #2241
@kirbyfan64

The original example does not have any recursion. Moreover, I am quite sure that there is no big difference between recursive and non-recursive situations with classes. The problem is very simple: type aliases are not analysed during first pass, but solution is not easy and requires refactoring semantic analyser (see roadmap).

[2017-05-31 07:18] #3326 closed

[2017-05-31 10:15] JukkaL commented on #2887
@ilevkivskyi Are you still working on this?

[2017-05-31 10:19] ilevkivskyi commented on #2887
Sorry, last weeks were busy, so I could not finish this. I actually wanted to spend next week less on reviewing PRs and more on fixing old assigned issues. Do you want to work on this one?

[2017-05-31 10:29] JukkaL commented on #2490
I'm thinking about adding one more test case, but there are some test cases already.

[2017-05-31 10:29] #2490 closed

[2017-05-31 10:30] JukkaL commented on #2476
I updated the link a while ago.

[2017-05-31 10:30] #2476 closed

[2017-05-31 10:31] JukkaL commented on #2337
#3299 has fixed this for calls where the mode argument is either a literal or not explicitly provided.

[2017-05-31 10:31] #2337 closed

[2017-05-31 10:33] JukkaL commented on #1927
Lowering priority because function plugins can often be used to work around this issue.

[2017-05-31 10:36] JukkaL commented on #3283
The errors now have `<nothing>` instead of `<uninhabited>`, which is slightly less strange.

[2017-05-31 10:42] JukkaL commented on #1317
This is still happening, even though mypy now special cases type inference for `contextmanager`. The signature of `foo` has a type variable, but it's not treated as a generic function (the type is `def (x: T'-1) -> contextlib.GeneratorContextManager[T'-1]`).

[2017-05-31 10:50] JukkaL commented on #1074
Closing in favor of #1673. Things are already better since pytest can be used for running a subset of tests, though the migration is still incomplete.

[2017-05-31 10:50] #1074 closed

[2017-05-31 13:03] toolness commented on #3222
So it looks like support for creating symlinks as a non-administrator was added as part of the Windows 10 Creators Update, which was just released (I updated my system to it a few hours ago).  It requires enabling [developer mode](https://www.hanselman.com/blog/Windows10DeveloperMode.aspx), but I've confirmed that running `mklink` (Windows' analog of unix's `ln -s`) now works without administrativ

[2017-05-31 13:12] JukkaL commented on #3462
Link changed in https://github.com/JukkaL/mypy-website/commit/51d555b6e1386bb98b3bcc6d4d2b26f61d219da9

[2017-05-31 13:12] #3462 closed

[2017-05-31 13:21] JukkaL commented on #3222
Requiring a very recent Windows and git releases for mypy development would be problematic. Some potential contributors use company laptops where they may not be able to update things freely. Some internal tools might require a specific version of Windows and/or git, for example.

[2017-05-31 13:23] toolness commented on #3222
Ah, good point!  Yeah, I guess in that case it might be good to avoid requiring symlinks...

[2017-05-31 13:23] JukkaL commented on #2887
I'm reviewing github issues and trying keep the information about who's working on what up-to-date. This issue isn't particularly urgent among the high-priority issues.

[2017-05-31 13:26] JukkaL commented on #626
@ddfisher Are you planning to work on this?

[2017-05-31 14:06] kirbyfan64 commented on #2241
*cough* I...uhh... totally knew that... *cough*

[2017-05-31 18:44] ilinum commented on #3427
Closing this issue in favor of https://github.com/python/mypy/issues/3470

[2017-05-31 18:44] #3427 closed

[2017-05-31 19:03] JukkaL commented on #3470
A few quick notes:
* Add an example such as `list` to the documentation for `generics`.
* What about an option for just rejecting variables with an inferred (i.e. not annotated) `Any` type? This was brought up in an earlier discussion. The idea is to require an explicit annotation for all such variables. The name of the option could perhaps be `inferred`.
* Another option that was discussed before

[2017-05-31 19:22] gvanrossum commented on #2337
Actually some of @illume's issues (e.g. io.BufferedReader doesn't exist in PY2) are pure typeshed issues. @illume Could you open a new issue in typeshed about this (and the other issues you've found related to missing classes in io.pyi)?

[2017-05-31 22:02] gvanrossum commented on #1317
Are you saying this is a bug in the plugin for contextmanager?

[2017-05-31 22:15] ilinum commented on #3470
@JukkaL

Do you mean the builtin types such as `list` and `set`?
How does the following sound:

---

Yes, I think it's a good idea. The option sounds very similar to `untyped` but `untyped` refers to functions whereas `inferred` would refer to variables. If we were to have both `untyped` and `inferred`, we should probably rename the two options to sound similar.

---

This sounds like a good idea.

[2017-06-01 05:23] carljm opened #3482 "mypy doesn't know that classmethods have a __func__ attribute"
We have some code that simplifies to this:

[code]

(The real code is wrapping an async classmethod with a sync version; there's another async-to-sync wrapper in there.)

Mypy doesn't like this code because it doesn't know that classmethods have a `__func__` attribute. The [typeshed annotation for classmethod](https://github.com/python/typeshed/blob/master/stdlib/3/builtins.pyi#L65) includes `__fu