[2018-08-15 14:35] padix-key opened #5486 "Overloads with default arguments do not work properly"
I have the follwoing stub file (`test.pyi`):

[code]

When I run `mypy test.pyi`, *mypy* shows the following error:
`test.pyi:4: error: Overloaded function signatures 1 and 2 overlap with incompatible return types`
The parameter `param` clearly has two different types. Hence, the functions should not overlap to my understanding.

*mypy* 0.620 has been used.

[2018-08-15 14:40] srittau commented on #5486
The problem here is that both overloads match a call of `func()`. Removing the default from the second overload should fix your problem:

* `func()` matches (only) the first overload
* `func(None)` matches the first overload
* `func(42)` matches the second overload

[2018-08-15 14:47] padix-key commented on #5486
Unfortunately, I cannot simply remove the default value from the second overload, because in my actual problem there are default parameters before this parameter, like

[code]
Is there a way to fix this problem?

[2018-08-15 14:49] ilevkivskyi commented on #5486
This is not a bug, mypy shows an actual error. As @srittau mentioned, what is the type of `func()` (no args)? Is it `int` or `str`, because it matches both overloads. You should remove the default value (i.e. `...`) from at least one of the overloads. Also please read the docs https://mypy.readthedocs.io/en/latest/more_types.html#function-overloading

[2018-08-15 14:49] #5486 closed

[2018-08-15 14:50] ilevkivskyi commented on #5486
@padix-key you can just add more overloads that match runtime semantics of your function.

[2018-08-15 15:12] JelleZijlstra commented on #5486
Specifically, in overload 2 you can mark `param2` as a required keyword-only argument by doing `*, param2: str`.

[2018-08-15 20:55] VadimPushtaev commented on #1727
Hello! We encountered this bug on the very first day of `mypy` usage. Is there any reason it's not fixed yet? I would like to solve this issue, but it's nice to know up front if it's extremely hard to do something about it.

[2018-08-16 11:38] toolness opened #5489 "Mypy cache doesn't update if type stubs refer to first-party code"
Hi, I have a very unusual use case. It's ok if this issue doesn't end up being resolved but I figured I'd report it just in case.

Basically, I have a Django project, let's say it's a package called `myproject`, and it has a settings module at `myproject.settings`.  The idiomatic Django way to expose these settings is via a `from djang.conf import settings` import, but these settings are largely j

[2018-08-16 14:08] ilevkivskyi opened #5490 "Use MessageBuilder.pretty_callable in more places"
Currently callable types in many error messages are formatted as
[code]
We should probably switch to more "native" format that is already used in some errors (e.g. for protocol and overloads):
[code]
The main obstacle here is probably updating all tests that use the old format.

This is a follow up for https://github.com/python/mypy/pull/5463/

[2018-08-16 14:27] ilevkivskyi commented on #5489
Hm, I am not sure, but it indeed may be the case. @toolness could you please try the current master to see if you can still reproduce the problem?

[2018-08-16 15:15] JukkaL commented on #1727
There probably isn't any particular reason why this hasn't been fixed -- other than there being a lot of other high-priority work as well.

This doesn't sound like it would be very hard to fix (but probably not entirely trivial either). The core team is planning to allocate a block of time focused on fixing high-priority bugs in the next couple of months, and hopefully this gets fixed then.

[2018-08-16 17:45] mlhamel commented on #3061
Any luck with this one?

It would be great to have the insurance that `__class__(self: _T) -> Type[_T]: ...`

[2018-08-16 18:29] #5453 closed

[2018-08-16 20:02] Michael0x2a commented on #2048
Raising priority to normal, as [requested here](https://github.com/python/mypy/pull/5475#discussion_r210692383).

Something else to keep in mind is that it seems like mypy just doesn't handle division in Python 2 very gracefully in general.

In particular, whoever decides to tackle this issue also ought to carefully audit any code that calls
 [`node.op_methods` and the following data structures](h

[2018-08-16 20:09] Michael0x2a commented on #5136
Just to add some extra details/clues: I tried removing that call in my recent [operators refactor](https://github.com/python/mypy/pull/5475), and it ended up breaking the `pythoneval.testMetaclassOpAccessAny` test case to fail -- I added a TODO about this to [the relevant section of the code](https://github.com/python/mypy/blob/master/mypy/checkexpr.py#L1874).

[2018-08-16 20:19] Michael0x2a opened #5491 "Clean up kludges for handling metaclasses and Type[...] in check_op_reversible"
The [current implementation for checking reversible operators][0] contains two kludges that seem to be related to operators, metaclasses, and Type[...]

1. This call to [has_member][1] feels like it ought to be unnecessary/redundant due to the following `analyze_member_access` -- but removing it causes pythoneval's [OpMetaclassAccess](https://github.com/python/mypy/blob/master/test-data/unit/pytho

[2018-08-17 01:18] whoiscc opened #5492 "List concatenation problems with type context and different operand item types"
Here is a reproduction snippet:

[code]

Error report looks like this:

[code]

The covariance of `Sequence` helps eliminate the first error. But I can never add two lists of objects of different classes without existing annotation, even the classes have same base.

In my opinion, `cast` takes place when downcasting is necessary. So it should not be used in this way.

[2018-08-17 12:57] whoiscc opened #5493 "Spurious error with constrained type variables in generic functions"
Reproduction:

[code]

This is denied with error reporting:

[code]

Is this really not allowed? If `B` is not derived from `A`, then everything is ok.

In my original code, the container of `A`, `B` and `C` is `Dict[List[Tuple[LooseType, str]]]`. I cannot change `List` to `Sequence` because I need `append` method.

In addition, the notes disappear in complicated case.

[2018-08-17 13:31] ilevkivskyi commented on #5493
Thanks for reporting!

Here is a simpler repro (that also is cleaner, since your original repro uses some questionable patterns):
[code]
It seems to me (but this is a pure guess). This is subtle combination of https://github.com/python/mypy/issues/4872 and how functions with restricted type variables are checked.

[2018-08-17 13:42] ilevkivskyi commented on #5492
I think this is a consequence of how `list.__add__` is typed in typeshed. I am however not sure what would be a better signature.

[2018-08-17 13:43] ilevkivskyi commented on #3061
@mlhamel Unfortunately core mypy team is overloaded with other tasks plus two team members are on vacation now.

[2018-08-17 14:18] whoiscc commented on #5493
Actually I uses `StrictType` and `LooseType` in such way:

[code]

(Only last two lines are changed.)

And this causes one more error with inheritance:

[code]

It does not exist neither if `B` is not derived from `A`. I thought this is an unrelevant issue and eliminated it from original snippet.

[2018-08-17 14:19] mlhamel commented on #3061
@ilevkivskyi no worries i was mostly just wondering if there was anything new but if i can help in any way I would be pleased to give a try

[2018-08-17 14:22] #5407 closed, assigned to nobody

[2018-08-17 16:05] rvolgers commented on #2073
I recently typed `if user.is_admin:` instead of `if user.is_admin():` and was pretty disappointed none of the linters was able to catch this. From where I'm standing this looks like a pretty important feature.

[2018-08-17 18:05] ilevkivskyi commented on #2073
OK, I am raising priority to normal.

[2018-08-17 18:31] elazarg commented on #5491
I should work on this, if I will find the time.

[2018-08-17 19:47] Michael0x2a commented on #5491
@elazarg -- sounds good to me!

(I added myself mostly out of a sense of obligation, since the TODOs were a fallout of my operator refactors. But I also don't know when I'll find the time to do this, so feel free to tackle this whenever.)

[2018-08-17 20:33] JelleZijlstra commented on #2073
A possible more general approach would be to give an error if an object is used in a boolean context, but doesn't override `object'`s `__bool__` method, which means it will always appear as True. I don't know if that would cause a lot of false positives though.

[2018-08-17 20:42] elazarg commented on #2073
You mean if the type does not have any possible instance that overrides object's `__bool__()`. There aren't many `final` types in Python.

I think handling (unions of) functions, specifically, is the right thing to do.

[2018-08-17 21:38] GoldsteinE opened #5498 "Can't create __new__ method of metaclass"
[code]
This `MyMeta.__new__` has exactly same signature with `type.__new__` in typeshed:
https://github.com/python/typeshed/blob/master/stdlib/3/builtins.pyi#L88
But mypy thinks that it's incorrect and offers me to write two same `cls` args:
[code]
No mypy flags was used, `mypy --version` is `0.620`

[2018-08-17 21:43] ilevkivskyi commented on #5498
First of all mypy is right that there is an error. If you try to use your metaclass, it will fail at runtime:
[code]
Mypy doesn't say your signature is wrong, it says the method call is wrong (check the line number).

The only problem here is a weird signature formatting in the error message.

[2018-08-17 22:10] #5020 closed

[2018-08-18 16:08] ilevkivskyi commented on #3061
@mlhamel TBH I don't remember now what exactly was the problem with https://github.com/python/typeshed/pull/1951/ that should fix this. I just remember that there was some weird interaction with classes that have an `Any` base class. One thing you can help with is if you have some large code bases could you try locally applying https://github.com/python/typeshed/pull/1951/ and checking if there ar

[2018-08-18 18:35] VadimPushtaev commented on #1727
I've spent some time trying to find a solution, and here is my attempt: https://github.com/python/mypy/pull/5501

[2018-08-18 22:39] ilevkivskyi commented on #3829
Here is a possible idea how this can be implemented (semi-heuristically):
* We would record a pair of `Instance`s that we tried to match instead of just the template's `TypeInfo` like now.
* Then if we hit the same pair (using `is_same_type`), instead of just "backtracking" (like now, we simple say no luck here, try another options) we can try "forceful unpacking". For example if we started from `

[2018-08-18 23:15] ilevkivskyi commented on #1442
FWIW this particular example works correctly on master (due to a recent operator overhaul by @Michael0x2a ). We have a separate issue for general union destructuring in operator checks.

[2018-08-18 23:15] #1442 closed

[2018-08-18 23:16] ilevkivskyi commented on #1442
Just for reference, the main issue is #2128

[2018-08-18 23:36] kornicameister opened #5502 "Call to untyped function that's an exception with types defined in typeshed repo."
Hello,

this is my first issue here, after a lot of googling I couldn't find any useful information, so that's my last resort to try and understand what is it that I am doing wrong.

Ok, let's hit it.

I'm trying to use `werkzeug`, in particular, its exceptions in my application. However `mypy` is not quite happy with it as I am. That's quite surprising because there are typings in typeshed for `w

[2018-08-18 23:38] ilevkivskyi opened #5503 "Make mypy directory structure more tree-like?"
Currently we have these files:
[code]
I think they would look more naturally as
[code]
Another ideas for refactoring may be moving all visitors/traversers to a separate sub-package. Also, we can have a `typeops` sub-package to hold the following things dealing with types only:
[code]
I think you get the idea. We can do this to also some other modules to better reflect "big parts" of mypy machinery

[2018-08-18 23:47] ilevkivskyi commented on #5502
I believe this is a typeshed issue. `HTTPException.__init__` (and few other `__init__`s) in that file are _completely_ untyped. So mypy is right here: instantiating a class translates to a call to `__init__` which is indeed untyped (and you have `disallow_untyped_calls = True`).

I would prose that you move this issue to typeshed.

[2018-08-18 23:51] kornicameister commented on #5502
Thx @ilevkivskyi . I will create an issue there and link this one there.

[2018-08-18 23:59] ilevkivskyi opened #5504 "Support total=False for protocols"
I have heard few requests to allow this:
[code]
with exactly the same semantics as for `TypedDicts` (including subclassing so that only part of members can be optional).

This is quite straightforward to implement. I am just leaving this here so we will not forget about this feature request.

[2018-08-19 00:41] ilevkivskyi commented on #4985
@Michael0x2a Could you clarify what what do you mean by

As I mentioned above there is already a decent check for overload subtypes. Also in your example `B.__add__` is clearly a subtype of `A.__add__`, so there will be no error reported. But there is still a problem. Does this mean that your recent operator overlapping PR still misses some cases of unsafe overlaps between op-methods? Or are you p

[2018-08-19 00:53] ilevkivskyi commented on #4985
Another comment: if I will _not_ use overload at all, it seems to me there is still the problem you shown. For example:
[code]
Has exactly the same problem. So it looks like this problem has nothing to do with overloads.

[2018-08-19 00:53] Michael0x2a commented on #4985
@ilevkivskyi -- yes, I think I misdiagnosed the underlying bug in my first post above. I was mistakenly under the assumption that both subtype visitors were missing logic for whether an overloaded function is a subtype of another callable, when in reality only the proper subtype visitor was missing that logic.

My newest hypothesis is that the existing subtype logic for overloads is buggy or too o

[2018-08-19 00:56] Michael0x2a commented on #4985
Huh, really? That's confusing.

I guess just about the only thing I'm certain about at this point then is that my recent refactor is unrelated to the problems raised in this PR.

[2018-08-19 00:59] ilevkivskyi commented on #4985
`Other` has `__radd__`, and I think this is the crux. The check for unsafe overlap should simply not only check overlap with `A.__add__`, but _also_ with `__add__` in all its subclasses. I think this will fix both the original problem you shown and the union variant. What do you think?

[2018-08-19 01:00] ilevkivskyi commented on #4985
Just to clarify, I didn't think much about this, but it seems to me that the fact that `A` doesn't unsafely overlap with `B` doesn't guarantee that `A` doesn't unsafely overlap with a subtype of `B`.

[2018-08-19 01:06] ilevkivskyi commented on #4985
I don't want to say your overlap PR did something bad (or insufficiently good) :-) I really like it. What I want to say is that fixing the original problem in this issue while avoiding the problem you shown above (and its union variant) might look like this:
* Remove the check I found in `checker.py` (removes the false positive)
* Apply the unsafe overlap check you recently improved to any overrid

[2018-08-19 01:13] ilevkivskyi commented on #4985
OK, after some more thinking my solution is problematic in incremental mode (and generally looks awkward). Another option (a bit sad) is to have special stricter subtyping checks for dunders (something like the domain shouldn't be wider in the subtype).

[2018-08-19 01:16] ilevkivskyi commented on #4985
On the other hand, "refining" the type of `other` in the subtype is the most common use case. I am not sure I have ever seen a situation when someone widened domain for dunders in a subtype. I will make a PR now.

[2018-08-19 01:29] ilevkivskyi commented on #4985
Yes, I agree it is hard to read. Plus we need to copy it to `ProperSubtypeVisitor` for consistency. But this can be an independent PR.

[2018-08-19 02:35] ilevkivskyi commented on #1264
I think all issues here are now resolved. We can open new issues if some complains about too strict overload checks will appear.

[2018-08-19 02:35] #1264 closed

[2018-08-19 07:33] elazarg commented on #5503
related: #1129

[2018-08-19 09:46] ilevkivskyi commented on #5503
@elazarg It seems to me #1129 is safest among al these (would probably cause less merge conflicts), so I would start with it.

[2018-08-19 10:15] ilevkivskyi commented on #3750
OK, I have finally found the crux here, mypy considers this unsafe because of arg kinds:
[code]
I am not sure how to convince mypy that it is actually a subtype, this would require a complex overload subtyping algorithm.

[2018-08-19 19:37] ilevkivskyi commented on #4814
Another related comment here is that we have a bit too many "things" related to type variables (in addition to `TypeVarScope` mentioned above):
* `TypeVarExpr`
* `TypeVarDef`
* `TypeVarType`
* `TypeVarId`
We can probably simplify a bit the model of how type variables work.

[2018-08-19 20:42] scoder commented on #3408
It seems to be a hard to defeat myth that this is necessary. It isn't. It's more like renaming a `.c` file to `.cpp` – don't do it, unless you have a good reason to do so. In your case, you decidedly want to keep the `.py` extension, because you want the syntax to remain Python, and the code to be runnable in Python unchanged (and non-duplicated).

I do not know mypy's implementation, but the run

[2018-08-19 21:14] ilevkivskyi opened #5507 "Re-work how fine grained targets are processed"
Currently, fine grained targets are processed per updated module. This can lead to files being processed multiple times (and also a bit hard to reason, but this may be subjective). I propose to reorganise them to be processed in topologically sorted order. So the algorithm would be like this:
1. Process all edited files, calculate all fired triggers, chain them to find all invalid targets, check f

[2018-08-19 21:28] ilevkivskyi opened #5508 "Add a plugin hook to define dynamic base classes"
Some frameworks allow declaring special classes using the following syntax:
[code]
It would be convenient to have a plugin hook that would allow analysing such definitions and store them as classes in module symbol table.

In addition, we could later refactor semantic analysis of `namedtuple`, `NewType`, `Enum` etc. to use this unified plugin API.

[2018-08-20 04:27] ethanhs commented on #3408
Yes, since writing that, I've learned that it isn't needed :)

Also, thank you for taking a look at the profiling data, your recommendations seem useful. There definitely are things we can do to optimize regardless of whether we choose to use Cython or not, so I appreciate your comment.

[2018-08-20 05:17] Michael0x2a opened #5510 "Moving an overloaded generic function into a class can sometimes introduce "incompatible return type" errors"
Consider the following function:

[code]

This program, after https://github.com/python/mypy/pull/5476 is merged, will type-check with no errors.

But if we move that function into a class like so, it'll cause an "Overloaded function signatures 1 and 2 overlap with incompatible return types" errors:

[code]

It seems this is because mypy is inferring `f2` to basically be structured like below:

[c

[2018-08-20 12:01] zroug commented on #1174
I would like to suggest a way to allow explicit reassignment, without the hassle of specifying the whole type each time. Basically you'd be allowed to reassign a variable with a different type when you explicitly specify that type like

[code]

but there would also be a special type (a bit like there is a special type for type variables) that allows you to explicitly infer the type:

[code]

That

[2018-08-20 18:08] chkno opened #5512 "Conditional expression in "with" statement inferred as 'object', lacking __enter__ and __exit__"
from tempfile import TemporaryDirectory, TemporaryFile
    import sys

    use_file = 'directory' not in sys.argv

    with (TemporaryFile() if use_file else TemporaryDirectory()) as thing:
        print(thing)

Mypy infers the type of the conditional expression as `object` rather than `Union[IO,TemporaryDirectory]`

    $ mypy multi_with.py

    multi_with.py:6: error: "object" has no attribute "

[2018-08-20 23:44] msullivan opened #5514 "Perf regression caused by #5474"
It looks likes #5474 caused a perf regression to the tune of 5% on a self check and in our internal repos.

@ilevkivskyi said he had an idea for fixing

[2018-08-21 11:43] cristicbz opened #5515 "NewType/NamedTuple local inferred to be `Any` if type defined after function."
* **Minimal repro:**
[code]

* **What is the actual behavior/output?**
The type of `bar` inside `before` is inferred as `Any`.

* **What is the behavior/output you expect?**
The type of `bar` inside `before` should be inferred as `Bar`, the `NewType`.

* **What are the versions of mypy and Python you are using?**

[code]

Issue is still present on master:

[code]

[2018-08-21 12:10] ilevkivskyi commented on #5515
Thanks for reporting!

We have seen similar bugs previously, but this one is a false negative and there is a simple workaround (move definition before the function), so this is probably a relatively low priority.

[2018-08-21 16:18] lbenezriravin opened #5516 "mypy doesn't find the `_tests` attribute of unittest.TestSuite"
I don't believe this is an issue with the signature. Please let me know if this better belongs in typeshed.

* Are you reporting a bug, or opening a feature request?
It's a bug
* Minimal repro:
[code]
* What is the actual behavior/output?
`"TestSuite has no attribute "_tests"`
* What is the behavior/output you expect?
That attribute most certainly exists: https://github.com/python/cpython/blob/mas

[2018-08-21 16:42] ilevkivskyi commented on #5516
It is a typeshed issue (but I am not sure if they will add the attribute either). The policy is to allow access to private (i.e. underscore prefixed) attributes only if they are explicitly documented.

Feel free to open a typeshed issue if you believe this attribute should be added.

[2018-08-21 16:42] #5516 closed

[2018-08-21 20:14] ethanhs commented on #3725
We now fail fast when trying to add `site-packages` to the PATH. Would that be enough to consider this as solved?

[2018-08-21 22:30] ilevkivskyi commented on #3725
Do you mean `PATH` or `MYPYPATH`? Or both? Or do we fail fast if we find `site-packages` _wherever_  on search paths (excluding PEP 561 of course)? If this is the latter, then I think we can close this.

[2018-08-21 22:40] ethanhs commented on #3725
In https://github.com/python/mypy/pull/5301 I modified things so that if any PATH except the PEP 561 search path contained `site-packages`, we would fail fast. I will close this.

[2018-08-21 22:40] #3725 closed

[2018-08-22 05:08] ollien opened #5519 "Cannot call dict.get with a falsy second argument and an 'or' expression."
In mypy 0.610, as well as the latest version from master, the following throws an error under Python 3.6

[code]
`test.py:6: error: Argument 2 to "get" of "Mapping" has incompatible type "None"; expected "str"`

However, no matter what, `foo` will still receive a `str`, given that `None` is falsy. Therefore, no error should be thrown. This occurs with just a simple call to `mypy foo.py` with no fl

[2018-08-22 07:09] MarkCBell opened #5520 "Issue with having .pyi files in a separate folder (again)"
This is more of a question than an issue.

I'm starting on using mypy to typecheck a package in which I have stub files in a dedicated `./stubs` folder. However even when I pass this path into the `mypy_path` option in `mypy.ini` these don't seem to be detected and I

The same issue appears to be reported here https://github.com/python/mypy/issues/4933 which includes a minimal example. Tweaking th

[2018-08-22 08:49] pawelswiecki opened #5521 "Possible bug: Value of type variable "_Number" of "median" cannot be "timedelta""
**versions**

Python 3.6.5

mypy 0.620

**the code:**

[code]

**mypy behavior:**

[code]

**expected behavior:**

No error.

Let me know if it's a typeshed issue and I will resubmit it there.

[2018-08-22 14:40] JelleZijlstra commented on #5521
This is a typeshed issue.

I'm not entirely sure we should fix it though. `statistics.median` is documented to work with "numbers" and I don't think a timedelta is a number. The current implementation happens to support timedeltas, but a future version may use a different algorithm that could blow up on timedeltas.

[2018-08-22 15:32] ethanhs commented on #5307
Okay, I submitted #5517, which implements option 1. Hopefully this will mean fewer broken installs!

[2018-08-22 15:49] #5502 closed

[2018-08-22 19:42] kornicameister commented on #5502
@ilevkivskyi do you think it'd be possible to get a sync for typeshed? https://github.com/python/typeshed/pull/2405 has been just merged and I'd appreciate not having the `type: ignore` bits in the code.

I can submit the PR, if you prefer it that way.

[2018-08-22 21:44] carver commented on #4094
I ran into this issue today, on mypy 0.620.

Because I was getting different results on my machine than on others, I speculated that I had a *weird* cache somehow. On a whim I tried `rm -rf .mypy_cache/` and the error went away.

Just thought I'd leave a note, in case it helps another lost soul who stumbles on this issue.

[2018-08-22 22:08] wiml commented on #4727
Is it possible this is the more general case of issue #1727 ?

[2018-08-22 22:33] kornicameister commented on #5502
Cool, thx 😄

[2018-08-23 08:43] pawelswiecki commented on #5521
I see, thanks.

[2018-08-23 09:43] ilevkivskyi commented on #5521
I think this can be closes here. I you want, you can create an issue at typeshed.

[2018-08-23 09:43] #5521 closed

[2018-08-23 09:58] ilevkivskyi commented on #4727
No, this is a problem with deferred nodes (multi-pass type checking). However taking into account two simple workarounds, I would say this is low priority.

[2018-08-23 10:13] ilevkivskyi commented on #4094
Another possible idea is that we can add a suggestion in the error message (if this will happen again) to _first_ archive the cache and send to us for inspection (if it is not proprietary code), and _then_ delete the cache.

[2018-08-23 10:51] ilevkivskyi commented on #5520
Could you please give a bit more context? What exactly do you want to do?

Note: if you want to type-check a body of a function against its signature in a stub, then it is currently impossible, see however PR https://github.com/python/mypy/pull/5139

[2018-08-23 12:05] ilevkivskyi commented on #5512
Yes, one option is to infer a union for conditional expression. Another option however is to still use join, but fix https://github.com/python/mypy/issues/3830 (at leat for the situation where we have a protocol context, like `ContextManager` in this case, which should be pretty straightforward)

[2018-08-23 18:31] warsaw commented on #4954
I think I've run into a similar problem, but given the error message, it's hard to tell.  Here's the code sample:

[code]

the error I get (with mypy 0.620) is:

`error: Unsupported right operand type for in ("None")`

My guess is that the conditional makes mypy think that `employee` may be `None` when it will never be so.

[2018-08-23 18:44] ilevkivskyi commented on #4954
There must be something else, I just tried a complete version of your sample:
[code]
and it type-checks cleanly on master. What is the type of `employee.dn`?

[2018-08-23 20:00] warsaw opened #5523 "Problems with wrapper classes"
Let's say I have a `Person` class with a bunch of attributes; it comes from a library I don't control but for which type information exists.  Now I have a `PersonWrapper` class which provides for defaults so that accessing missing attributes never raises an exception (think, use of instances in f-strings).

[code]

In general, any place I want to use a `Person` I might also want to use a `PersonWr

[2018-08-23 20:29] MarkCBell commented on #5520
I have a package with `./mypy/main.py` and a test in `./tests/test-main.py` and I want to create a stub file in `./stubs/mypy/main.pyi` to keep the stub files separate so I also added `mypy_path=./stubs/` to `mypy.ini`. However when I run `mypy ./tests/test-main.py` it doesn't appear to find any stub files and so raises errors that the functions are missing type annotations.

[2018-08-24 00:11] ilevkivskyi commented on #5523
This is a quite common feature request, see e.g. https://github.com/python/mypy/issues/2087#issuecomment-392904721 (I prefer to call these proxy classes). I am not sure we need to keep this open, it is almost a duplicate of #2087 in the sense that implementing any sort of `@allow_attributes_of(T)` will fix both issues.

Btw, there is a chance this will be fixed/implemented in October.

[2018-08-26 08:40] ilevkivskyi commented on #5520
Sorry I can't reproduce this. I just installed mypy from master, cloned your repo, and I see correct behaviour:
[code]

[2018-08-26 20:04] ilevkivskyi opened #5527 "Mypy fails to calculate MRO in situations with import cycles."
In some situations mypy can't determine MRO, for example consider this test case:
[code]
that fails with
[code]
Note that changing order of files in the cycle (for example by importing `a` in `main`) removes the error.

In this case the actual MRO is consistent (works at runtime), while the import cycle is caused by an unrelated class (used for annotations in real stubs).

I think this is high pri

[2018-08-26 21:03] MarkCBell commented on #5520
Thanks for testing it out. That is a little strange, so I uninstalled mypy and reinstalled the mypy master directly from github but still see the same errors. These are the commands I ran:
[code]

Which version of Python, pip and os are you using? I'm on Python 3.6.5, pip 18.0 and macOS High Sierra 10.13.3.

[2018-08-26 22:00] #4227 closed

[2018-08-26 22:12] ilevkivskyi commented on #4236
@JukkaL

It looks like this pattern is used extensively in SQLAlchemy. A simplified example:
[code]
A potential solution is to use an overloaded `__new__` but unfortunately it doesn't work.

I think this can be raised to at least normal priority.

[2018-08-26 22:41] bryanforbes commented on #4236
IMO, I think the `T = TypeVar('T', default=str)` syntax would be the most robust in the long-run. TypeScript has a [similar syntax](http://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-3.html#generic-parameter-defaults) and it's very handy:

[code]

This could also potentially be combined with the `bound` parameter of `TypeVar()` to provide both the base type of the generic and a

[2018-08-26 22:56] bryanforbes commented on #4236
I forgot to give an example of `default` and `bound`:

[code]

[2018-08-27 08:27] hros opened #5528 "Assert not None not correctly identified for Optional"
According to previous topics mypy should recognize that and Optional is not None following an assertion.
This does not work properly for containers of Optional, as demonstrated by the following code:
[code]

in `f2` mypy gives an error about incompatibility of Optional[int] and int, whereas in `f1` it correctly infers that the Optional is not None.
adding an assignment `ai=a[i]` in function `f3` "

[2018-08-27 09:05] ilevkivskyi commented on #5528
This is kind of a huge change. Mypy doesn't track any kind of "state" of variables apart from type. For example, it is totally fine when the index is a literal:
[code]

Our policy is to keep feature requests open, but not to give any false hope, this is very low priority.

[2018-08-27 09:29] ilevkivskyi commented on #5523
Btw, there is an aspect of proxy types not discussed in #2087 (where the focus is mostly on attribute access): should we accept the proxy where the original is expected? For example:
[code]
The above will naturally work (when we implement attribute access) if `A` is a protocol, but the question is whether this should be allowed if `A` is _not_ a protocol? As shown in OP this may be a common situat

[2018-08-27 09:47] ilevkivskyi commented on #5520
I did this on Python 3.4.3, and 3.6.1. I don't think Python version matters here. The only possible difference is that I never install from remote git repo using pip (because it doesn't work well with git submodules). I normally use `git clone <mypy-repo> && cd mypy && git submodule update typeshed && pip install -U .`

Another question, are you using a virtual environment?

[2018-08-27 15:51] Michael0x2a opened #5529 "meet.is_overlapping_types should be more relaxed for isinstance checks"
Currently, the implementation of `meet.is_overlapping_types(...)` defaults to returning False when it encounters two unexpected types, and doesn't attempt to handle multiple inheritance at all. This behavior makes sense when `is_overlapping_types` is used to detect unsafe overload variants, but may be too restrictive/cause branches to be unexpectedly unreachable when used for isinstance checks and

[2018-08-27 15:53] Michael0x2a commented on #3603
The question of how to handle multiple inheritance came up again during the overloads/overlapping types refactor and was deferred -- see https://github.com/python/mypy/pull/5476#discussion_r211030040 and https://github.com/python/mypy/issues/5529 for more details.

[2018-08-27 22:50] jleclanche opened #5530 "Error with methods defined as function references wrapped in staticmethod()"
[code]

This yields the following error on B.foobar:

[2018-08-27 23:37] ilevkivskyi commented on #5530
I am quite this was already reported, but can't find the issue. The point is that mypy checks superclass compatibility before descriptors are resolved. Btw stubs for `staticmethod` etc. are quite basic in typeshed (mostly because mypy treats them via some special-casing when they are used as decorators) ideally I would make them generic in the wrapped function so that `__get__` can return the same

[2018-08-28 00:13] ilevkivskyi opened #5531 "Daemon should not strip anything that was never analyzed"
Consider this test case:
[code]
It crashes with a traceback ending in
[code]
The cause is quite obvious (see topic). The danger here is that there are probably other similar crashes with other non-trivial constructs in unreachable branches, so I think this is high priority. Also this already causes problems in some internal codebases.

@msullivan this is actually a _positive_ effect of a change yo

[2018-08-28 12:05] JukkaL commented on #5523
I think that we should make proxys valid when the original type is expected. Otherwise `@allow_attributes` may not be very useful. There are precedents that are similar in spirit -- `str` is treated as compatible with `unicode` in Python 2, even though there is no subclass relationship.

[2018-08-28 12:09] ilevkivskyi commented on #5523
Should we just re-use `_promote` for this? Or do we need another plugin hook? (I think we can implement `@allow_attributes` using a plugin).

[2018-08-28 19:31] JukkaL commented on #5523
`_promote` might be the best alternative. The implementation may need some refinement, since it's only been used for a few things in the stdlib and some edge cases might not work.

[2018-08-28 20:05] TheKevJames opened #5534 "Importing packages can poison the `mypy` cache."
Ok -- this is a weird one, but I think I've got it down to the smallest possible repro.

I first noticed this issue with the `aiohttp` library as of version `3.4.0` (when they introduced type-hinting), but I'm cross-posting this issue to both projects since the issue seems to run deeper than just a library issue. Importing the `aiohttp` library, even if it is unused, causes the `mypy` cache to occ

[2018-08-28 20:13] gvanrossum commented on #5534
What do you get without `--ignore-missing-imports`?

[2018-08-28 20:37] TheKevJames commented on #5307
I have no particular input on whether option 1 or 2 is nicer/simpler/better/whatever, but if we're picking anything other than option 2 its probably worth cleaning up [the PyPI typeshed package](https://pypi.org/project/typeshed/) to avoid cases where someone accidentally gets the wrong version of `typeshed` by mistakenly installing the `pypi` version.

Maybe release a `typeshed==1.0.0` with just

[2018-08-28 20:54] ethanhs commented on #5307
@TheKevJames that isn't a problem. In my implementation in #5517 typeshed is never imported, so installing the typeshed package will not interfere.

[2018-08-28 20:59] gvanrossum commented on #5534
OK, so then it would be interesting to see which part of aiohttp 3.4.0 causes the problem. That will be a difficult bisection job (remove code from aiohttp until the problem no longer occurs).

But first, it's been over a month since mypy 0.620 was released, and the bugfix elves have been hard at work all that time. Does the problem still occur with mypy master from GitHub?

[2018-08-28 21:02] TheKevJames commented on #5307
@ethanhs Ah, good point. Might be nice to clean up the released package anyway since its unused / potentially confusing, but it does indeed look like it won't interfere. :+1:

[2018-08-28 21:08] TheKevJames commented on #5534
As of the current latest on `master` (f0b26f9e6197eeb2f755fae73c949ff01384ded3), this is indeed still reproducible. For the record, the verified reproduction was after running:

[code]
in the original venv.

[2018-08-28 21:08] ilevkivskyi commented on #5523
Yes, for example generic proxies will definitely need something like `expand_type_by_instance` applied to `_promote`. But I think it should be straightforward to implement (we need to be careful to generate correct fine grained dependencies however, i.e., on both proxy and target).

[2018-08-28 21:11] gvanrossum commented on #5534
Thanks for confirming -- then bisecting by removing large parts of aiohttp is in order...

[2018-08-28 21:15] ilevkivskyi commented on #5534
There is a hint in the traceback: the problematic type is aliased somewhere at a module level. This should narrow down the search area.

[2018-08-29 09:03] kissge opened #5535 "type: ignore not working on function declaration"
[code]

I use [plac](https://github.com/micheles/plac) pretty much everyday, so this `# type: ignore` feature is very important. Unfortunately, it's not working for ~multiline~ function declarations.
Putting `# type: ignore` to the second line is not effective too. ~For single line function declarations, this just works okay.~

If this is not a bug and anyone knows a good workaround, I'd appreciat

[2018-08-29 09:08] ilevkivskyi commented on #5535
You can skip the whole function by decorating it with `@typing.no_type_check`. Is this what you want?

[2018-08-29 09:53] kissge commented on #5535
Well, I'm afraid it isn't--I just want to skip type checking the function signature, but checking the whole contents is still necessary.

[code]

E.g. with this annotation, the obvious type error is not reported, which is not what I want.

--

btw I've found this problem occurs when the function signature has only one line, too; so I slightly edited the original post.

[2018-08-29 09:58] ilevkivskyi commented on #5535
OK, I think I understand the problem. Type annotations are parsed by `typed_ast` and therefore should be valid Python expressions. Parse error in type annotation is a blocker currently that can't be ignored.

I think this is a bug.

[2018-08-29 10:42] ilevkivskyi commented on #5534
Here is a minimalist repro:
[code]
Run `mypy main.py` once, make any change to `main.py`, run again and see the crash.

And this is what is going on: fist mypy creates an `Instance` of `Slow` (`TypeInfo` at this time) as a type for `s`, but then the ignored import actually overwrites `Slow` in symbol table making it a `Var`. Then when loading the cache mypy panics when it sees an `Instance` whose

[2018-08-29 10:45] ilevkivskyi commented on #5534
Another thing pointed out by @asvetlov is that the assert message could be a bit more informative. I will improve it as a part of the PR (just showing a full name and type of problematic node would be much better).

[2018-08-29 11:42] #5531 closed

[2018-08-29 15:23] ilevkivskyi opened #5536 "Move MRO calculation to a later stage"
Currently we first calculate MROs in the second pass, and then recalculate them in the third pass. This however is error-prone and is nor correct, since MROs are incorrect in the second pass in case of import cycles. This can cause abstract status to be inferred incorrectly, maybe there are other problems.

Unfortunately, moving MRO calculation to the third pass is hard because it is currently use

[2018-08-29 15:28] ilevkivskyi commented on #5536
See https://github.com/python/mypy/issues/5527 as a recent example of bug caused by this.

[2018-08-29 15:35] ilevkivskyi opened #5537 "Release 0.630 planning"
I would like to release mypy 0.630 on Friday ~~September 7~~ September 14. The release branch ~~is going to be~~ was cut on ~~Tuesday September 4~~ Friday September 5. Please mention here any issues and PRs that you would like to include in the release.

Here is the list of release blockers:
* [x] #5534
* [x] #2128
* [x] #5517
* [x] #4913
* [x] #4567
* [x] #5514 (last remaining blocker)
* [x] #555

[2018-08-29 15:37] ilevkivskyi commented on #5537
I think these two should be fixed before the release: https://github.com/python/mypy/issues/5534 and https://github.com/python/mypy/issues/2128

[2018-08-29 15:43] ethanhs commented on #5537
I would like to get https://github.com/python/mypy/pull/5517 in, as it makes finding typeshed a lot simpler and more robust.

[2018-08-29 15:51] Michael0x2a commented on #5537
I was just about to mention https://github.com/python/mypy/issues/2128, actually -- I'm currently in the process of writing some code to resolve that issue and hope to submit a PR either later today or sometime tomorrow.

[2018-08-29 16:27] srittau commented on #5537
Is there any chance to have #4913 fixed in the release? Guido's comment seems to indicate it is an easy fix, although I can't judge this.

[2018-08-29 16:30] gvanrossum commented on #5537
Maybe #4567? It's a plugin hook for MRO calculation that some user would like to see. I think it's unobjectionable, though it currently has a non-trivial conflict (you edited the same code in your most recent fix or MRO-related issues).

[2018-08-29 16:35] gvanrossum commented on #4913
Maybe this was fixed by #5414? My suggestion was implemented there.

[2018-08-29 16:53] srittau commented on #4913
I'll check when I get home.

[2018-08-29 19:09] srittau commented on #4913
This bug is reproducible with mypy 0.620, but not with mypy HEAD. Closing.

[2018-08-29 19:09] #4913 closed

[2018-08-29 20:47] ilevkivskyi commented on #5537
I think it also makes sense to fix https://github.com/python/mypy/issues/5514

[2018-08-30 00:04] lambdanis opened #5538 "Option to disallow comment-based annotation syntax"
When running mypy on python>=3.5 codebase, it checks types specified with python3 syntax as well as those specified with comment syntax (erroring on duplicated annotations).

I think it would be useful to have a flag (e.g. `--disallow-comment-syntax`, default to false) that causes mypy to error on comment type annotations. It could help when migrating annotated codebase from python2 to python3. It

[2018-08-30 00:47] gvanrossum commented on #5538
What use do you have for forbidding type comments? AFAIK there's no downside to leaving them in (other than triggering some people's OCD :-).

Instead you may want to invest in a tool that converts type comments to annotations. Perhaps you can help completing https://github.com/ilevkivskyi/com2ann? (It currently only translates type comments on variable assignments.)

[2018-08-30 04:04] JelleZijlstra commented on #5538
I think we had an issue about this before and concluded that it was out of scope for mypy, because it's very easy to just do `grep '# type: (?!ignore)'` or something on your codebase to find type comments.

[2018-08-30 05:59] ethanhs commented on #5538
Yes, this is a duplicate of https://github.com/python/mypy/issues/5137.

I am going to close this as a duplicate/out of scope.

[2018-08-30 05:59] #5538 closed

[2018-08-30 12:49] ttyridal opened #5539 "mypy can't reference a module if a class member has the same name"
If a module has the same name as a member function in a class, it's not possible to reference tings in the module as types.

[code]

The above example will fail:
[code]

replace with `import foo as foobar` and `foobar.A`, passes without errors, as expected

tested to fail with git-master, 0.610 and 0.620

[2018-08-30 13:34] ilevkivskyi commented on #5539
It will as well fail at runtime with:
[code]
I just tried this. So mypy is right here, it just follows Python name resolution rules here.

[2018-08-30 13:34] #5539 closed

[2018-08-30 14:00] sk- opened #5540 "and expression with bool() does not work with Optionals"
For the following code, mypy reports an incompatible type error on the function `f`

[code]

[code]

however the code is equivalent to the one in `f2`, for which no error is raised.

* What are the versions of mypy and Python you are using?
Mypy: 0.620, Python: 3.6.5

* What are the mypy flags you are using? (For example --strict-optional)
[code]

[2018-08-30 15:03] ilevkivskyi commented on #5540
For mypy `bool` is just a function with type `(object) -> bool`, so it doesn't know that, e.g., for `None` this function always returns `False`. We can of course special-case this (especially with literal types coming soon). But taking into account that there is an equivalent (and IMO better/more readable) pattern, I think this is low priority.

[2018-08-30 18:06] Kristinita opened #5541 "feature_request(clize): Clize syntax support"
### 1. Summary

It would be nice, if will not check [**Clize**](https://github.com/epsy/clize) syntax as wrong.

### 2. Data

Clize — is [**Python argument parser**](https://clize.readthedocs.io/en/stable/alternatives.html).

Mypy report errors for some [**examples in official Clize repository**](https://github.com/epsy/clize/tree/master/examples). [**One example**](https://github.com/epsy/clize/b

[2018-08-30 18:30] JelleZijlstra commented on #5541
This is similar to #5535. From the example you gave above, I don't think it's realistic to expect clize and mypy to work together, since they use the same syntax (argument annotations) for very different purposes. As types are now the standard use case for argument annotations (see e.g. PEP 563), clize should find a different way to express what it wants to do.

[2018-08-30 19:05] gvanrossum commented on #5541
That’s a little harsh. There are a few ways in PEP 484 to disable checking,
per function, class or file. (Though mypy doesn’t yet implement per-file
type ignore comments—we should fix that.)

On Thu, Aug 30, 2018 at 11:30 AM Jelle Zijlstra <notifications@github.com>
wrote:

--
--Guido (mobile)

[2018-08-30 19:10] akaptur commented on #5382
I've hit the same issue with passing a dict of kwargs. I'm also on mypy 0.620, python 3.6.5. Here's a small repro:
[code]
This code is correct at runtime, but generates the following mypy errors:
[code]
I can suppress this error by either:
- annotating `kwargs` as `Dict[str, Any]`
- adding a `#type: ignore`
- calling the function with the kwargs specified (`test(a=1, b="hello", c=False)`)

Somethi

[2018-08-30 19:15] sk- commented on #5540
Thanks @ilevkivskyi for the explanation. "final types" would help in this case without having to special case `bool`, right? Do you know when are they planned to be implemented?"

Regarding readability, without types one would just write:
[code]

but with types we have to write:
[code]
which is much more verbose.

Or the alternative in the OP using `bool`. In both cases we need to add extra code t

[2018-08-30 20:13] ilevkivskyi commented on #5382
[code]
Note however that this may trade false positive for false negative because of https://github.com/python/mypy/issues/5198

[2018-08-30 20:16] ilevkivskyi commented on #5382
Also this is not really a false positive. There is no way mypy can guarantee that a key will be e.g. deleted from this dictionary (it will however prevent you from deleting keys if this is a `TypedDict`).

[2018-08-30 20:45] glyph opened #5542 "attrs plugin error: "The erased type of self '...*' is not a supertype of its class" on class definition with a generic using a constrained type variable, but then seems to work fine after definition"
Consider the following example:

[code]

My expectation here would be a revealed type of `A[W*]`, which I *do* get.

But I also get an error on the `@attr.s` definition:
[code]

if I remove the constraints on `T`, (i.e. `T = TypeVar("T")`) then the errors go away.

[2018-08-30 22:07] gvanrossum commented on #5542
Maybe the attrs plugin author (@euresti) can shed some insight?

[2018-08-30 22:12] ilevkivskyi commented on #5542
This may be related to https://github.com/python/mypy/issues/5263 (if not a duplicate).

[2018-08-30 22:13] ilevkivskyi commented on #5542
Just to clarify, both issues may be caused by bad interaction of patched `self`/`cls` with `checkmember.bind_self()`.

[2018-08-30 23:03] JelleZijlstra commented on #5537
In general, it would be good to sync typeshed right before creating the branch, so that people's typeshed fixes make it in. Maybe that could be part of the standard release procedure.

[2018-08-30 23:10] ilevkivskyi commented on #5537
This is in our internal team playbook. I will make a sync on Monday probably.

[2018-08-30 23:40] lambdanis commented on #5538
Thank you for the responses, I didn't find this previous issue.

My reason to disallow type comments is indeed to make sure the code is consistent. I thought it would be nice to have it checked by mypy as it's already run on CI in many projects, but you're right, adding a separate check using grep would be very easy as well.

Thanks Guido for the link! I'll take a look at this project.

[2018-08-31 03:30] euresti commented on #5542
Actually. I can repro with dataclasses too.

[code]

So it's related to the added `__cmp-ish__` methods

[2018-08-31 05:52] yottacto commented on #4170
Does it fixed?

[2018-08-31 08:36] ilevkivskyi commented on #4170
Not yet. Btw, we have now a more general issue about this https://github.com/python/mypy/issues/5269
So I propose to close this in favour of https://github.com/python/mypy/issues/5269 that has some ideas for fixing.

[2018-08-31 08:36] #4170 closed

[2018-08-31 08:36] ilevkivskyi commented on #5269
https://github.com/python/mypy/issues/4170 provides a real-world example of this problem.

[2018-08-31 09:51] ilevkivskyi commented on #5490
Another thing to note here is that maybe we need to trim horizontally long signatures anyway. Some complex overloads in typeshed can produce huge error messages.

[2018-08-31 11:10] ilevkivskyi opened #5546 "Document ClassVar"
We need a section clarifying what exactly is the semantics of `ClassVar`, what is (and is not) allowed. There were some situations where people got confused by this.

[2018-08-31 11:12] ilevkivskyi commented on #3857
Raising priority to normal. We (I?) should add at least some basic info (mentioning API is still provisional).

[2018-08-31 12:37] dfroger opened #5547 "unpacking bytes"
This behaviour is strange (mypy 0.620):

[code]

[2018-08-31 14:36] euresti commented on #5542
Would the solution just be to make the id `-1`?  It seems to me like -1 should never be used at this point because negative numbers are used for methods/functions and I'm at this point creating it right?  Or are the id's global in scope?

[2018-08-31 14:51] ilevkivskyi opened #5548 "False negative for overriding decorated method in an import cycle"
Consider this test:
[code]
It currently fails with
[code]
Although it is obviously compatible (it is actually identical). The error goes away if I change the order files are processed in the cycle (by importing `a` in main).

The reason is that non-trivial decorator needs to be type-checked to find the type in superclass _first_. A potential solution is to just defer the subclass method node.

[2018-08-31 15:44] gvanrossum commented on #5547
What exactly is strange to you? To me all that looks as expected -- what did you expect to be different?

Assuming you're talking about the typing of `_`, this has nothing to do with bytes or async. It is due to the special-casing of `_` as a throw-away variable.

The `int` type for bytes items is also correct. And mypy doesn't catch the length mismatch between `b'foo'` and the unpacking into two

[2018-08-31 15:44] #5547 closed

[2018-08-31 15:49] gvanrossum commented on #5546
See also
https://www.python.org/dev/peps/pep-0526/#class-and-instance-variable-annotations
and https://docs.python.org/3/library/typing.html#typing.ClassVar

[2018-08-31 19:39] dfroger commented on #5547
@gvanrossum thanks for your helpfull answer, seems that I forgot that `x, y = b'xy'` is correct and give two integers... Everything is actually clear and work as expected.

[2018-08-31 20:55] #5307 closed

[2018-08-31 20:55] #5319 closed

[2018-08-31 20:56] #5386 closed

[2018-09-01 01:24] zvezdan opened #5550 "Use of sys.version_info in ternary operator with straddling code is not handled correctly"
When `if` statements are used, *mypy* is able to recognize the use of the `sys.version_info` and handle the types correctly for straddling code that needs to work with both Python 3 and 2. Unfortunately, *mypy* is not able to handle the same case with a ternary operator.

Can this bug be fixed?

Here's the code that demonstrates the issue:
[code]
When processed by *mypy* it returns:
[code]

When t

[2018-09-01 02:32] lubieowoce commented on #2464
In my [sum type library](https://github.com/lubieowoce/sumtype) I went with syntax like this:

[code]
It's similar to a Haskell GADT declaration in syntax and semantics¹ – there's only one class/type, `Shape`, and you specify the signatures of its constructors², `Circle` and `Rectangle`.

¹ as close as I could get in Python anyway 😄
² modulo a `cls` parameter at the front – they get turned into cl

[2018-09-01 09:59] ilevkivskyi commented on #5542
After some thinking it seems to me just using `-1` should be fine since the methods are auto-generated anyway. Btw, I have found that `senamal_namedtuple` also uses `1` instead of `-1`. Could you please try replacing it by `-1` in both plugins and in named tuple code and play with it trying to break (try some nested classes within generic functions, maybe some scenarios with type inference)?

[2018-09-01 10:07] ilevkivskyi commented on #5550
PEP 484 specifies which forms of version an platform checks should be supported by type checkers, see https://www.python.org/dev/peps/pep-0484/#version-and-platform-checking. And ternary expressions are not there.

Anyway, this one looks like relatively straightforward to implement so I think we can keep this open.

[2018-09-01 14:13] leinardi commented on #4008
Hi @gvanrossum, I am writing a PyCharm/IntelliJ IDEA plugin to run mypy scanning and I am encountering the same issue.

PyCharm/IntelliJ IDEA code inspection API sends me a list of open files in the IDE but, if the file list contains both a `__init__.py` and a python file from the same package, I get the "Duplicate module named" error:

[code]

Do you have any suggestion to scan both this files wi

[2018-09-01 14:29] ilevkivskyi commented on #4008
Would you like to contribute to existing one instead? https://github.com/dropbox/mypy-PyCharm-plugin

[2018-09-01 14:45] euresti opened #5551 "Generic classes with nested generic classes can't have different TypeVars"
Looking at the following example
[code]
Seems like specifying the `T` seems to crush `K` somehow.

[2018-09-01 14:45] leinardi commented on #4008
Hi @ilevkivskyi, normally that would be the best thing to do, but I have already done adapting the code of my [Pylint plugin](https://github.com/leinardi/pylint-pycharm) to work with mypy.

This plugin is based on Checkstyle-IDEA plugin and offers also real-time scanning, checkin validations and various on-demand scan actions.

This is my latest build, is still not production ready but should give

[2018-09-01 14:46] euresti commented on #5551
I don't have any code that does this.  I was just testing out a fix for #5542 and came across this issue.

[2018-09-01 15:26] euresti opened #5553 "mypy attrs tests fail because attrs 18.2.0 was just released"
This morning I tried running the unit tests in a fresh venv with a clean master.  All the attrs test failed.
After much looking around I discovered that:
A) The mypy test-requirements.txt installs the `attrs` package (because it's used by some pytest module)
B) Attrs 18.2.0 "now ships its own PEP 484 type hints. Together with mypy’s attrs plugin, you’ve got all you need for writing statically type

[2018-09-01 15:27] ilevkivskyi commented on #5551
Yes, there are still some weird clashes that can happen. I would say we need to "fix" https://github.com/python/mypy/issues/4814 soon.

[2018-09-01 15:31] ilevkivskyi commented on #5553
No, this will make tests much slower. We need to find a way to use fixtures in this case (maybe there is a bug in test runner?).

[2018-09-01 15:33] ilevkivskyi commented on #5553
This is actually high priority (assuming your diagnosis is right).

[2018-09-01 15:38] euresti commented on #5553
The quick workaround is:
[code]

[2018-09-01 15:50] gvanrossum commented on #4008
This is because apparently you seem to have both a folder named `gsi` and a file name `gsi.py`. This is a problem for Python too (IIRC the folder/package wins) so you can't really blame mypy for complaining about this.

[2018-09-01 15:51] ilevkivskyi commented on #5553
Thanks! I am working on a more permanent solution now. I think we can just skip installed stuff if `options.use_builtins_fixtures` is `True`. If it will not work, I will just pin the version as you suggest.

[2018-09-01 15:51] leinardi commented on #4008
Oh ok, thanks for the clarification :+1:.

[2018-09-01 16:27] ilevkivskyi commented on #5553
Here is what I propose https://github.com/python/mypy/pull/5554

[2018-09-01 16:41] leinardi commented on #4008
Hi @gvanrossum, I am now getting the same error when I try to check these files from mypy project:

[code]
Is it also in this case a project problem? And it why does not happen when I scan the entire project using `$ mypy .`?

[2018-09-01 18:51] PetterS commented on #5378
I wonder how easy this would be to fix? I would be happy if I could fix it, but I haven't had the time to study the mypy code yet.

[2018-09-01 19:36] #5553 closed

[2018-09-01 22:57] leinardi commented on #3053
I just want to point out also [this other new plugin](https://github.com/leinardi/mypy-pycharm) that offers a full integration with PyCharm, including real-time code inspection:
![image](https://user-images.githubusercontent.com/273338/44950556-0e454100-ae4b-11e8-96bb-e1a7ba80cc2f.png)

[2018-09-01 23:27] gvanrossum opened #5557 "Regression since 0.620: Argument 1 to "__div__" of "int" has incompatible type "float"; expected "int""
Consider:
[code]
This looks fine to me, and gives no errors in 0.620 in either Python 2 or Python 3 mode. In the current master it gives this error in Python 2 mode:
[code]
In Python 3 it gives this error:
[code]
@Michael0x2a IIRC you did something with operators recently?

[2018-09-01 23:28] gvanrossum commented on #5537
A regression: #5557.

[2018-09-01 23:46] gvanrossum commented on #4008
Presumably the folders containing the `setup.py` files don't have `__init__.py` files, so mypy treats them both as top-level modules. You can fix this using `--scripts-are-modules`: https://mypy.readthedocs.io/en/latest/command_line.html#miscellaneous

[2018-09-01 23:47] ilevkivskyi commented on #5557
@Michael0x2a Another point about this is that ideally a user should not see any `__X__` in error messages unless this will give some insight, for example this
[code]
Should be formulated as `Unsupported operand types for / "int" and "float"`

Also I am not sure we should show the note about some subtleties of Python internals unless these methods are defined in _user code_ (not in typeshed stubs).

[2018-09-01 23:53] ilevkivskyi commented on #5557
Btw the problem looks specific to unions so there is a chance PR https://github.com/python/mypy/pull/5545 will also fix this.

[2018-09-01 23:54] ilevkivskyi commented on #5557
@Michael0x2a If this is the case, could you please add few tests of this kind to https://github.com/python/mypy/pull/5545? (In both Python 2 and Python 3 mode.)

[2018-09-02 00:10] gvanrossum commented on #5557
Confirmed that #5545 fixes this.

[2018-09-02 01:27] Michael0x2a commented on #5557
Ah, whoops -- I probably should have been more vocal about what I was planning on doing here. But yes, this is fixed by #5545 -- I'll make sure to add some tests.

I also agree that we should get rid of the `__rdiv__ will not be called when evaluating 'float / float': must define __div__` note -- I was actually planning on submitting a PR for that sometime this weekend. It's a useful error message

[2018-09-02 05:01] Lewiscowles1986 commented on #4542
How do I contribute a .stub file?

`backports.csv` is being a pig. I'd like to support `2.7` (or latest 2.x) & `3`.
`from backports import csv` seems to enable this, but mypy has an issue. It looks like it relates to these files.

[2018-09-02 05:13] gvanrossum commented on #4542
@Lewiscowles1986 You will get better help from Gitter (where I see you already checked in).

[2018-09-02 08:56] leinardi commented on #4008
Hey @gvanrossum, thanks for your answer. You are correct, the folders [don't](https://github.com/python/mypy/tree/master/extensions) [have](https://github.com/python/mypy) `__init__.py` files.

But unfortunately the option `--scripts-are-modules` is not fixing the issue:

[code]

[2018-09-02 13:06] iddan opened #5558 "Difference Types"
Feature request:

[code]

Difference to create a new type that validates the value conforms to the first provided type and doesn't conform to the other type.

[2018-09-02 14:38] gvanrossum commented on #4008
I suggest asking for help in a more interactive forum, e.g.
https://gitter.im/python/typing

[2018-09-02 23:31] rpgoldman opened #5560 "mypy error trying to check pymc3"
* Are you reporting a bug, or opening a feature request?
Bug report, for the following error:
    pymc3/backends/hdf5.py:101: error: INTERNAL ERROR -- please report a bug at https://github.com/python/mypy/issues version: 0.620
* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal

[2018-09-02 23:41] rpgoldman commented on #5560
Testing with `mypy 0.630+dev-581e514162797b531a01b86b5266b081e955d6df`, commit `8c90771a20e4dff68e416d832c66b0df5dc2f958` from master.
I see the same error.  New traceback follows:
[code]

[2018-09-02 23:47] rpgoldman opened #5561 "Mypy emits error on decorated property"
Note: if you are reporting a wrong signature of a function or a class in
the standard library, then the typeshed tracker is better suited
for this report: https://github.com/python/typeshed/issues

Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?
Bug
* Please insert below the code you are checking with mypy,
pymc3 -- see #55

[2018-09-03 00:05] ilevkivskyi commented on #5561
Duplicate of https://github.com/python/mypy/issues/1362

(Also I am not sure what is not clear in this error. See the original issue for how to work around this.)

[2018-09-03 00:05] #5561 closed

[2018-09-03 00:55] ilevkivskyi commented on #5560
Here is a simple repro for the crash:
[code]
The repro includes an import cycle, but didn't find any obvious import cycles that part of PyMC3. Maybe the same crash happens if the base node gets deferred or something. I am not sure we can get the fix in the upcoming release (the schedule is a bit too tight), but it would be good to fix this before the following release beginning of October.

[2018-09-03 01:01] ilevkivskyi commented on #4527
Fixed by https://github.com/python/mypy/pull/4567

[2018-09-03 01:01] #4527 closed

[2018-09-03 03:27] rpgoldman commented on #5560
I *think* there's an import cycle.
pymc3's `backends/__init__.py` imports `backends.hdf5`:
[code]
and then `backends/hdf5.py` imports `backends`:
[code]
Is this the kind of cycle you refer to?
If so, is there a way to break this cycle?  Maybe by moving `base` and `ndarray` out of `__init__.py` into their own submodules?  I'm afraid I'm sort of a novice with python, so not sure what import cycles a

[2018-09-03 03:30] rpgoldman commented on #5560
No, sorry -- my bad, I didn't understand the code when I wrote the above.  The backends `base` and `ndarray` are *not* lexically contained in `__init__.py`, so this is not a cycle.

[2018-09-03 05:36] dair-targ opened #5562 "Tests are failing after a fresh checkout"
I've cloned the project and tried to run tests. Here's an exception I'm getting:

[code]

[code]

[code]

[code]

Sorry if that's a known issue - I failed to find any relevant info on that.

[2018-09-03 08:04] #5542 closed

[2018-09-03 08:13] ilevkivskyi commented on #5560
An import cycle is not an error, just a sign of suboptimal design/style. This sometimes happens in larger/older frameworks (even mypy has few import cycles).

Sometimes it is hard to break import cycles (especially if you are working with large codebase), you can just wait few weeks until this issue is fixed.

[2018-09-03 11:16] e2t opened #5563 "'print' returns None"
About the next code:
[code]
mypy reports:
[code]
But function 'print' returns None as far as I understand:
[code]

[2018-09-03 11:56] ilevkivskyi commented on #5562
I think this is because of `unittest` test collection routine. I am not sure if we can (or even should) fix this. Normally we use `pytest`, see https://github.com/python/mypy/blob/master/test-data/unit/README.md.

[2018-09-03 14:16] leinardi opened #5564 "When scanning multiple files, some error prevent the scan of the rest of the files."
Please provide more information to help us understand the issue:
* Are you reporting a bug, or opening a feature request?
Not sure if is a bug or missing feature
* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private:
 I currently don't have one, let me know if is necessary, I will create one.
* What is the actual behavior/output?
The validation is

[2018-09-03 14:47] ilevkivskyi commented on #5564
These are called blocking errors, or blockers. Many of them are practically impossible to fix (what should mypy do if it can't compute an MRO?) for other we have issues  (like invalid type comments/annotations can be non-blockers).

[2018-09-03 14:47] #5564 closed

[2018-09-03 14:55] leinardi commented on #5564
I can understand that the file with the blocking error cannot be scanned any further, but what about the other files? If the other files don't have any blocker, mypy could still validate them, don't you agree?

[2018-09-03 15:06] ilevkivskyi commented on #5564
I don't. If we don't know MROs for at least some classes we don't have a coherent nominal type system, it means that the results of type checking in other files can be arbitrary.

[2018-09-03 15:18] ilevkivskyi commented on #4782
Another thing to pay attention here is redefinitions of names by imports.

[2018-09-03 15:18] leinardi commented on #5564
I see, thanks for the clarification. Is there a way to check if an error is a blocker? Maybe some specific `exit_status` of the process? I would like to give the user a feedback that the scan interrupted prematurely (I tried to [search for "blocker](https://mypy.readthedocs.io/en/stable/search.html?q=blocker&check_keywords=yes&area=default)" inside the doc but without luck).

[2018-09-03 15:37] ilevkivskyi commented on #5564
Yes, this task is tracked here https://github.com/python/mypy/issues/3850, @anlorn started working on it but never submitted a PR IIRC, I assume he doesn't have time for this anymore.

[2018-09-03 15:41] leinardi commented on #5564
Thanks! I will try with the `--verbose` parameter :+1:.

[2018-09-03 16:05] rpgoldman commented on #5560
Thanks for the advice. I was hoping for a work-around since the PyMC3 code base is tricky and *definitely* has some type errors in it.  This error seems to happen before mypy gets to doing any checking, so it means that mypy doesn't work at all on the PyMC3 code.

[2018-09-03 19:25] ilevkivskyi opened #5566 "Daemon should respect the rule that stubs are normal even with follow-imports=skip"
Currently this test fails, presumably because the daemon applies `--follow-imports=skip` to stub files as well (while it shouldn't):
[code]
This was found in https://github.com/python/mypy/pull/5556

@msullivan do you have any ideas why this may happen?

[2018-09-04 03:49] dair-targ commented on #5562
It appears that to make `python setup.py test` we only need to:
* Add `pytest-runner` into `test-requirements.txt`
* Add following lines into `setup.cfg`:
[code]

Is there any concerns about such a configuration change? If no, I'll create a merge request.

[2018-09-04 04:07] gvanrossum commented on #5562
I'm not that excited by the "there's more than one way to do it" approach. We run tests with pytest. What's your use case? Why do you need to use `setup.py test`?

[2018-09-04 04:30] dair-targ commented on #5562
That's fair point - I've missed `Tests` section in the `README.md`. Because of that it came to my surprise that the standard commands (`python setup.py develop test`) are not working despite the project is using setuptools.

[2018-09-04 15:40] jhbuhrman commented on #4872
On request of @ilevkivskyi, after discussed this on [python/typing - Gitter](https://gitter.im/python/typing?at=5b8e9e0aac25fd11b5dd35e4), another example:
[code]

This results in:
[code]

The workarounds discovered so far are:
* add a cast around the split function, as in `cast(List[str], re.split(r'\W+', text))`
* change the `function` parameter of `filter` from `None` into `bool`
* insert a typ

[2018-09-04 15:54] #5534 closed

[2018-09-04 17:16] asvetlov commented on #5534
thanks!

[2018-09-04 17:43] lincolnq commented on #4430
Guido suggested in #220 that someone could try to build hybrid property support on top of mypy's descriptor support. I was able to get this going by defining a typed_hybrid_property generic class (in a pyi file), parameterized by python type and sql type. I had to define my hybrid properties as separate functions with different names (like `_prop_get`, `_prop_expr` and such), and then merge them a

[2018-09-04 18:12] ilevkivskyi commented on #5566
It looks like same happens with `--bazel` incremental build.

@gvanrossum could you give some hints about why this might happen?

[2018-09-04 18:34] srittau opened #5570 "classes with descriptor properties in Unions"
Please consider:

[code]

mypy 0.620 (Python 3.6.6, default options) will warn:

[code]

Changing the annotation of `instance` to `Any` will work around this problem.

[2018-09-04 20:32] Michael0x2a commented on #5537
This is cutting it close to the deadline (sorry!), but it'd be nice if https://github.com/python/mypy/pull/5571 could also be merged in. (It partially addresses some of the feedback regarding error messages in #5557).

[2018-09-04 20:56] macbeth322 opened #5572 "Namespace Package PEP 561 Support"
The current documentation [here](https://mypy.readthedocs.io/en/latest/installed_packages.html#using-pep-561-compatible-packages-with-mypy) indicates that mypy does not support namespace packages in terms of importing type hint information from packages.

At my org, we use a company wide namespace package for all our packages which effectively means there is currently no way to import type hinting

[2018-09-04 20:58] gvanrossum commented on #5572
I think this is a duplicate of https://github.com/python/mypy/issues/1645. Someone started an implementation but never completed it.

[2018-09-04 20:58] #5572 closed

[2018-09-04 22:35] mvaled commented on #5557
I was thinking to add a bug, but I believe this takes cares of this.  The PR #5545 also solves the case below.

The problematic code was having an 'Undefined' number that returns itself is most arithmetic operations:

[code]

[2018-09-04 23:53] ilevkivskyi commented on #4430
@lincolnq This is something that probably can be done by a plugin. We currently have a plugin hook for _classes_ decorated with a given decorator. We can probably just add a similar hook for _functions_.

Btw, we are currently working on SQLAlchemy stubs (and soon mypy plugins) at https://github.com/dropbox/sqlalchemy-stubs

[2018-09-05 01:19] #2128 closed

[2018-09-05 01:20] ilevkivskyi commented on #5557
This is fixed by #5545

[2018-09-05 01:20] #5557 closed

[2018-09-05 02:52] gvanrossum commented on #5566
(The thing we saw internally with Bazel has a completely different cause, unrelated to this issue.)

[2018-09-05 08:28] ilevkivskyi commented on #5566
Yes, I just tried to look a bit more at this, and it looks like the root cause is simple actually: daemon _never_ supposed to work with `follow_imports=normal`, but apparently it should _always_ do this for stubs.

@JukkaL what do you think about this?

Also it looks like I had some misunderstanding about how fine-grained tests work, it seems to me now that by default at every test step all the mo

[2018-09-05 10:58] ilevkivskyi opened #5573 "Regression caused by #5565"
#5565 causes the following code to fail with `Name 'x' already defined`, while it is perfectly valid:
[code]

[2018-09-05 10:58] ilevkivskyi commented on #5537
https://github.com/python/mypy/issues/5573 should be fixed before the release.

[2018-09-05 13:31] JukkaL commented on #5566
@ilevkivskyi Hmm this is pretty unfortunate. On the other hand, this has been around for a long time before this got reported, so it doesn't seem that an urgent fix is needed. We can look at this in a few weeks when the core team will have a bug fixing spree.

[2018-09-05 13:43] jhbuhrman commented on #5519
Should this really be viewed as an error? It depends on whether you would like to expect that dict.get should *always* return the type of the value (`_V`). Simple work-around in this case - perhaps also less error-prone (because this forces you to think about what to do if the dict actually would contain `''`-values):
[code]

[2018-09-05 14:54] jfgossage commented on #1645
Unfortunately the work-around of adding dummy __init__.py files does not work when you are using tools that expect namespace packages to not have __init--.py files. This limitation is preventing me from getting full value from mypy.

[2018-09-05 15:10] ilevkivskyi commented on #1645
@jfgossage As a dirty trick you can try adding dummy `__init__.pyi` files (note `i` at the end), this might work.

[2018-09-05 15:28] jfgossage commented on #1645
I am working with a structure like this:

project
   src
      wiseoldbird  (Python package)
          utilities (Python package)
              module1.py
             module2.py
  test
        wiseoldbird (Python package)
             utilities (Python package)
                   test_module1.py
                   test_module2.py

Unfortunately if I try to use __init__.pyi files in all the packag

[2018-09-05 16:09] jhbuhrman commented on #5519
Yep, you're right. I was assuming that the default argument should be of the same type as the value type of the dict (`_VT`) so that `dict.get(...)` could promise to always return something of `_VT` (regardless if it would be called with one or two args), but this is not necessary in any way, of course. Apologies for the disturbance.

[2018-09-05 18:03] warsaw opened #5575 "mypy 0.620 does not recurse into namespace packages"
For regular packages, mypy recurses as documented into subdirectories:

[code]

However, if I remove the `__init__.py` from the top level namespace package, mypy fails to recurse:

[code]

[2018-09-05 18:14] ilevkivskyi commented on #5575
Thanks for reporting!

This is a duplicate of https://github.com/python/mypy/issues/1645 (already high priority).

[2018-09-05 18:14] #5575 closed

[2018-09-05 18:40] sqwishy opened #5576 "`-2` and `--python-version 2.7` arguments differ in behaviour"
This is on mypy 0.620 on Python 3.6.

My understanding is that the command arguments `-2` and `--python-version 2.7` are
supposed to do the same thing. But in `infer_python_version_and_executable()`
python_version is different on the given options and I think this affects how it finds a
value for `python_executable`.

If I'm understanding this correctly, I think it might be an issue with the argum

[2018-09-05 18:51] gvanrossum commented on #5576
Why are you digging in mypy's internals? Is there any externally observable behavior that differs?

[2018-09-05 18:58] sqwishy commented on #5576
I think the site-packages ends up being different. I could be wrong. I'm just not entirely sure how to show this. Sorry for being unclear.

[2018-09-05 19:02] gvanrossum commented on #5576
OK, I'll wait until you have something more concrete.

[2018-09-05 19:33] sqwishy commented on #5576
My problem was that I was getting `Cannot find module named ...` and it turned out I forgot a `py.typed` file because I can't read good. I was looking through mypy because I thought I was doing something wrong but wasn't sure what. Now that I know that...

I have two 2.7 packages, `A` and `B`. `A` just has one function with comment annotations and is installed into a 2.7 virtualenv with `pip -e` s

[2018-09-05 19:56] gvanrossum commented on #5576
@ethanhs Can you repro this?

[2018-09-05 20:09] sqwishy commented on #5576
It also seems if I write a `mypy.ini` that sets `python_version: 2.7` it behaves like `mypy -2`.

I think because `infer_python_version_and_executable()` is reading `python_version` from `special_opts` but `parse_config_file()` set it on `options`? The result is that `options.python_executable` is set to a path to python 3 interpreter, not a python2.7 interpreter.

[2018-09-05 20:14] #5573 closed

[2018-09-05 20:34] ilevkivskyi commented on #5537
I updated the description with a list.

Why is this important? This release is already late, I would limit ourselves to only critical things.

Yes, I think we can do it on Monday-Tuesday. However, if there are no additional things I would cut release branch tomorrow.

[2018-09-05 20:34] gvanrossum commented on #5576
OK, I can definitely repro this. I essentially did this:

- untar the tarball
- create a Python 2 virtalenv and activate it
- pip install -e a
- cd b

Then I ran mypy two ways:
[code]
That's expected. But with `-2`:
[code]
@sqwishy If you have an idea for a fix it may go quicker.

[2018-09-05 20:37] gvanrossum commented on #5537
OK, I see #5576 is not that important -- it's not a regression AFAICT.

[2018-09-05 20:39] gvanrossum commented on #5537
Then it looks like there are no blockers left. Can you cut the branch tonight?

[2018-09-05 20:41] ilevkivskyi commented on #5537
Hm, indeed. OK, I will do this now.

[2018-09-05 20:44] gvanrossum commented on #5576
(In any case we decided it's not a blocker for the 0.630 release.)

[2018-09-05 20:46] ilevkivskyi commented on #5537
OK, release branch is cut.

[2018-09-05 20:51] warsaw commented on #1645
As shown with #5575 I hit the same problem.  I think mypy needs to somehow handle namespace packages and be prepared for an all Python 3 world.

[2018-09-05 22:06] benjaminp opened #5577 "explicitly iterating over an enum class loses specialization"
Consider this file:
[code]
I would expect both `reveal_type` calls to show the same type, but they don't:
[code]

[2018-09-05 22:14] ilevkivskyi commented on #5577
Hm, I can't reproduce this on master, both show `enum_example.MyEnum*`. Maybe it is already fixed? (We will have 0.630 release in few days).

Could you please double check before closing? (We normally close issues fixed on master)

[2018-09-05 22:28] benjaminp commented on #5577
Ah, sorry, I see. It's a Python 2 issue.
[code]
(Sorry, I had a `mypy.ini` I forgot about.)

[2018-09-05 22:32] ilevkivskyi commented on #5577
Yes, I figured out that you forgot `--py2` :-)

This looks like a typeshed bug I think. The definition of `EnumMeta` in third party should skip explicit bases to get protocol inference, i.e. the stub in `third_party/2` should match the one in `stdlib/3`. I think @JelleZijlstra can help with this.

[2018-09-06 10:39] zxygentoo opened #5579 "Binder doesn't infer type restrictions for "parent" expressions"
Hi guys, I've been using mypy for a while and quite like it. Today I run into a case that won't type check, the logic boiled-down to something like this:

[code]

type check fail with

$ demo.py:20: error: Cannot infer type argument 1 of "enumerate"
$ demo.py:25: error: Cannot infer type argument 1 of "enumerate"

tested on python 3.6.5 and mypy 0.620

Any idea how to type check this? Thanks!

[2018-09-06 11:03] ilevkivskyi commented on #5579
There are actually two problems with mypy here. One is that `isinstance(a[0], list)` currently only adds type constraints on `a[0]`, but doesn't add type constraints on `a` itself. If you add `reveal_type(a)` then you will see it is still a union in both branches. Solving this would require some special-casing in binder, but I think it makes sense (although low priority).

Another problem is that

[2018-09-06 11:47] zxygentoo commented on #5579
@ilevkivskyi thanks for the explanation~ I'm no type-geek, but I can get that consider the design of python and mypy, union type inference should be a hard problem.

[2018-09-06 17:22] warsaw opened #5580 "Weird, but legal ** syntax not accepted"
I saw this in real code, although I don't really understand the reason why this is done.  Still, even though it's a bit weird, it's legal and I think mypy should allow it:

[code]

[code]

[2018-09-06 21:40] gvanrossum commented on #5580
Agreed -- the dict could be type-checked here with a context of `Mapping[str, Any]` and that would make the empty dict have the type `Dict[str, Any]` rather than `Dict[<nothing>, <nothing>]`.

Low priority though.

[2018-09-06 22:15] nipunn1313 opened #5583 "Mypy types module import references as Any"
Issue crosspost from https://github.com/dropbox/mypy-protobuf/issues/41

eg

[code]

results in

[code]

Proposed workaround is:

[code]

Until mypy gains support for module imports like this.

Currently running `f9c06147d61174959ca7b93b4db07bda8737d92d` of mypy on python3

[2018-09-07 08:54] ruuda opened #5586 "Unhelpful message "invalid type""
Consider the following file:

[code]

When I typecheck this, I get

[code]

This message is not helpful; what does it mean for a type to be "invalid", and why is `SpooledTemporaryFile` invalid?

If I add a type annotation as suggested by the second message, I get the "invalid" message twice:

[code]

I am using Mypy 0.620.

[2018-09-07 08:59] ruuda commented on #5586
Looking into this, `SpooledTemporaryFile` is a function [in typeshed](https://github.com/python/typeshed/blob/dc27768401b09e22bcd9756ee8639eae06f55bab/stdlib/3/tempfile.pyi#L29), but it’s a class in my `/usr/lib/python3.6/tempfile.py`. Is the typeshed annotation wrong?

In any case, it would be nice if the error message could indicate that `SpooledTemporaryFile` is not a valid type because it is a

[2018-09-07 09:01] ilevkivskyi commented on #5586
For poor error message, this is a duplicate of https://github.com/python/mypy/issues/4030

For the signature, yes, report this to typeshed issue tracker.

[2018-09-07 09:01] #5586 closed

[2018-09-07 17:00] jonmcoe commented on #2740
is it possible to inherit in python2?

[2018-09-07 19:25] ilevkivskyi opened #5587 "Bare ClassVar should infer type instead of defaulting to Any"
Currently we have:
[code]
`ClassVar` is not a generic type (and not really a type, rather an access qualifier). So it will be better if a bare `ClassVar` would use inference instead of defaulting to `Any` thus reducing verbosity or false negatives (although `--disallow-any-generics` actually flags this).

Probably not high priority.

[2018-09-07 20:06] gvanrossum commented on #5587
I agree. Should this become an update to PEP 526?

[2018-09-07 20:34] ilevkivskyi commented on #5587
I think it is worth explicitly mentioning it in the PEP.

[2018-09-07 20:36] gvanrossum commented on #5587
OK, but is it still provisional? It was provisionally accepted for 3.6. Can we still change it? (PEP 411 suggests provisional applies to a single feature release.)

[2018-09-07 20:58] gvanrossum commented on #5587
Fair enough.

[2018-09-07 21:20] brettcannon opened #5588 "Triggering an AssertionError mypy.fixup: "Should never get here in normal mode""
When running https://github.com/python/the-knights-who-say-ni/blob/master/mypy.sh on a checkout of Python's CLA bot, mypy reports some type failures (which is fine). But then if I run the above script again I get:
[code]

If I delete `.mypy_cache/` then I can run mypy again without  any error.

[2018-09-07 21:41] warsaw opened #5589 "@sys.meta_path.append type error"
I'm not sure if this is a bug in Python or in mypy, or there is no bug at all.  It seems a bit weird given the contents of `sys.meta_path` and my grep-fu must suck because I can't find where the signature is defined.  Here's the code:

[code]

and the error:

[code]

and the contents of `sys.meta_path` on a vanilla Python:

[code]

[2018-09-08 01:50] msullivan commented on #5589
The type of `sys.meta_path` is defined in the typeshed stub: https://github.com/python/typeshed/blob/master/stdlib/3/sys.pyi#L42

The class is defined here: https://github.com/python/typeshed/blob/master/stdlib/3/importlib/abc.pyi#L55

Subclassing from it should fix the error.

I don't think there is any bug here?

[2018-09-08 01:50] #5589 closed

[2018-09-08 01:50] msullivan commented on #5589
(Feel free to reopen if you disagree)

[2018-09-08 02:38] jaraco commented on #5589
Perhaps it's a bug in typeshed... and the spec should be more lenient, to allow for `MetaPathFinder` or `Type[MetaPathFinder]` or maybe any other class that duck types a MetaPathFinder (because even the stdlib `<class '_frozen_importlib.BuiltinImporter'>` is not an instance of MetaPathFinder.

[2018-09-08 08:13] ilevkivskyi commented on #5589
Yes it is a typeshed bug, not mypy bug. @msullivan's suggestion should fix it in typeshed.

[2018-09-08 22:25] remdragon opened #5590 "getting errors trying to perform mathematical operations on Unions"
* Are you reporting a bug, or opening a feature request?

BUG

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

[code]

* What is the actual behavior/output?

[code]

* What is the behavior/output you expect?

Code should not generate any mypy errors

* What are the

[2018-09-08 22:51] ilevkivskyi commented on #5590
It is already fixed. (Except for the last examples with `c` which are actual type errors.)

[2018-09-08 22:51] #5590 closed

[2018-09-09 14:57] eigengrau opened #5592 "Keep mypy_extensions versioning in sync with main package"
On the Arch user repository, we sometimes like to build packages targeting the repository master branch. I’ve been made aware that mypy now hard-depends on the extensions module. Since the Arch Linux packaging tools support building multiple packages from one repository, it would be convenient to produce both packages in tandem. However, the distribution built from the extensions tree of the maste

[2018-09-09 16:08] bcl commented on #5588
I'm seeing the same behavior in a couple of projects using aiohttp, updating my venv to use the version from master fixes the crash.

[2018-09-09 17:51] ilevkivskyi commented on #5588
OK, then I think we can close the issue.

[2018-09-09 17:51] #5588 closed

[2018-09-09 18:02] ilevkivskyi commented on #5592
@ethanhs Do you have any opinion on this? Any hidden downsides? (This sounds reasonable to me.)

[2018-09-10 15:24] sk- opened #5593 "TypedDict: Argument 1 to "f" has incompatible type "test.C"; expected "C""
The following code fails to typecheck:

[code]
producing the following error:
[code]

I think this is a bug related to `TypedDict`, as using any other class (like `D` in the sample code) works just fine.

Note also that one cannot tighten `T` with a `bound=TypedDict`, as that produces the error:
`Invalid type "mypy_extensions.TypedDict"`.

* What are the versions of mypy and Python you are using?

[2018-09-10 16:13] gvanrossum commented on #5593
Confirmed on master.  It feels familiar -- maybe it's a duplicate?

[2018-09-10 18:26] tyehle opened #5594 "Can't assign to ()"
Mypy incorrectly complains about assignments to `()`. The simplest example of this is
[code]
This code executes without a problem, but mypy says `error: can't assign to ()`

A more real world use case might be code like this
[code]
In this case the assignment to `()` is a concise way of asserting that the second list is empty.

* What is the actual behavior/output?
`error: can't assign to ()`
* Wh

[2018-09-10 19:30] JelleZijlstra commented on #5594
Thanks for the report! This seems like a real bug, but low-priority because little real-world code would do it. If somebody submits a PR to fix it, we'll take a look.

[2018-09-10 19:55] ilevkivskyi commented on #5537
After some thinking we decided that we should first fix #5514 and postpone the release by few days again -- new target date is Friday, September 14.

(I updated the issue description.)

[2018-09-10 20:17] ethanhs commented on #5592
I think this would be nice, but I am a bit confused on the concrete proposal of how it would work? Would we modify the dependency to be `mypy_extensions>=0.4,<0.6`? Would we change the mypy_extensions version to be exactly the same as mypy? What happens when we need to bump the mypy_extensions version? (I think there are cases where this gets complicated or weird).

[2018-09-11 02:37] alunduil commented on #2288
I'm not sure if this smaller example is part of this issue or something different, but I'm having trouble getting Callable[..., T] to unify with a concrete type.

[code]

This fails with:

[code]

Is there a way to workaround this issue?  If there is a better place for this discussion, let me know.

[2018-09-11 07:45] ojii opened #5596 "dataclasses.field(default=None) causes error: "field" does not return a value"
mypy 0.620
python 3.7.0

code:

[code]

Errors with `error: "field" does not return a value` on the last line. (A more realistic example would be `bar: Optional[...]`, which gives the same error)

However, non-None types work fine:

[code]

[2018-09-11 09:30] JukkaL commented on #2288
@alunduil Your issue seems different from the original issue. It would be great if you could open a new GitHub issue about it.

Here's my analysis anyway:

`f` basically seems to have an existential type in your example (`Optional[Callable[...]]` for some `T`). Unfortunately, mypy doesn't support existential types, and mypy should actually complain about the type annotation of `f` instead of the a

[2018-09-11 09:32] ojii opened #5597 "must/should-use return values"
I would like to suggest a type-hint for return values that must (or maybe should) be used. This would be useful to type-hint immutable objects which are "manipulated" by calling methods on them that return new instances.

Consider the following

[code]

This will fail because Python strings are immutable, but a type-checker like mypy would be perfectly happy.

`str.replace` has the following signa

[2018-09-11 14:33] ilevkivskyi opened #5598 "Document final names, methods, and classes."
The latest WIP version is in https://github.com/python/mypy/pull/5522/commits/66fdbc835c3890201fa21281c24a580c841a1fdc

[2018-09-11 14:34] ilevkivskyi commented on #5598
This is a follow-up for https://github.com/python/mypy/pull/5522

[2018-09-11 14:42] ilevkivskyi opened #5599 "Make enum attributes implicitly final"
This is currently allowed but fails at runtime:
[code]
but it fails at runtime.

This is a follow-up for https://github.com/python/mypy/pull/5522

[2018-09-11 15:29] JelleZijlstra commented on #2288
(Also, I think the example lambda is a `Callable[[T], str]`, not `Callable[[str], T]`.)

[2018-09-11 15:31] JelleZijlstra commented on #5597
This is similar to #2499.

[2018-09-11 15:43] JukkaL commented on #5597
I can see how this could be useful. To get the most out of this feature, I wonder if every function without side effects should be annotated with `MustUse[...]`? This would greatly decrease the usefulness of this, I think. But maybe only a small subset of functions are likely to be misused in this way.

To support the original use case, we'd need to use `MustUse[...]` in typeshed, where introducin

[2018-09-11 15:44] twk opened #5600 "Unsupported operand types for &"
Mypy fails with `error: Unsupported operand types for & ("KeysView[Wrapper]" and "List[Wrapper]")` when I try to do this:

[code]

My code that uses this functionality works, so perhaps this is a bug in mypy?

[2018-09-11 16:26] Michael0x2a commented on #5597
We might not even need to add a custom type or decorator -- it might be sufficient to just check and make sure all functions that return a non-None value are assigned to something. In the case that you genuinely don't need the return value, you could pretty easily silence the warning by doing `_ = foo(...)` or something.

Maybe this is something we could support via the plugins API? I'm thinking t

[2018-09-11 16:34] #1214 closed

[2018-09-11 19:55] gappleto97 opened #5601 "Tuple[int] not regarded as Sequence[int] when the key of a dictionary"
Platform: Windows 10 (64-bit)
Python: CPython 3.6.5
Mypy: 0.620

Offending code:

[code]

In particular, the error reported is:

`error: Argument 1 to "test" has incompatible type "Dict[Tuple[int], Any]"; expected "Dict[Sequence[int], Any]"`

There is probably a more minimal example, but this is what I have found thus far.

[2018-09-11 20:44] tausackhn opened #5602 "Invalid syntax for "await" expression in f-string"
Checking the next code with `mypy --python-version 3.7 test.py` cause `error: invalid syntax`.
[code]
`await` expressions are allowable syntax in f-strings since Python 3.7 (https://bugs.python.org/issue28942)

[2018-09-11 20:48] CoreyCole commented on #604
@ethanhs @JukkaL can you point me in the direction of what files a feature like this might touch?

My understanding of the implementation for this feature would be:
1) only check functions named `__init__`
2) if there is not an explicit return type, assume it is `None` instead of `Any`

Where are functions checked and where can I see the name of the function currently being checked?

Where is the

[2018-09-11 21:00] ethanhs commented on #5602
This is because we are currently using a modified version of the parser for Python 3.6 (typed_ast). You can follow https://github.com/python/typed_ast/issues/60 for more on accepting Python 3.7 syntax. Since this is a typed_ast feature request, I will close this.

[2018-09-11 21:00] #5602 closed

[2018-09-11 21:15] JelleZijlstra commented on #5601
This looks like an invariance issue. See https://mypy.readthedocs.io/en/latest/common_issues.html#invariance-vs-covariance.

[2018-09-11 21:52] msullivan commented on #5600
This seems like a bug in https://github.com/python/typeshed, the collection of types for the stdlib

[2018-09-11 22:08] msullivan commented on #5601
Yeah, that is what it is. In many cases (though unfortunately not this one), we print out a more helpful error message pointing to this fact. If `test` only needs to read from the dictionary, consider having it take a `Mapping` instead.

[2018-09-11 22:08] #5601 closed

[2018-09-11 22:34] gappleto97 commented on #5601
That does not seem to fix it:

[code]

Error message: `error: Argument 1 to "test" has incompatible type "Dict[Tuple[int], Any]"; expected "Mapping[Sequence[int], Any]"`

[2018-09-11 22:39] JelleZijlstra commented on #5601
The key argument to `Mapping` is still invariant; it's just for the value argument that switching to Mapping helps, because the value argument is covariant for mapping but invariant for dict.

[2018-09-11 22:42] gappleto97 commented on #5601
Is there any way to denote that you are willing to take a mapping of anything that supports the Sequence API? The method inspiring this translates everything to a sorted tuple anyways, so it does not care about what type the keys are originally, so long as they support the Sequence API.

[2018-09-11 22:51] JelleZijlstra commented on #5601
I think you could define a custom covariant Protocol as the argument type for your function that declares the methods you need.

[2018-09-11 23:30] ilevkivskyi opened #5603 "Per-file strict optional doesn't play well with subtype cache"
Consider this test case:
[code]
The error in `a.py` is not detected because the _same_ two types are first compared in `b.py` and the  positive result is stored in the subtype cache.

After studying a bit the code around per-file strict optional, it looks quite problematic. There is `TypeChecker.should_suppress_optional_error()` with some questionable code, but it actually doesn't work because `se

[2018-09-12 01:07] alunduil commented on #2288
@JelleZijlstra, It's `Callable[[T₂], str]` going into a `Callable[[str], T₁]` which should be unifiable (and might be the problem), but I'll document all of this in another issue so we don't pollute this one.

[2018-09-12 01:34] alunduil opened #5605 "Unexpected error while unifying Callable with TypeVar"
I'm not sure if this is a bug or user error but wanted to get it documented so if others happen to come across the same issue they can hopefully find resolution.

The larger piece of code that I'm checking is here:
https://github.com/alunduil/crumbs/blob/191ab997d7d312e926c494e19e97953c76864edc/crumbs/__init__.py#L441

The error can be viewed here:
https://travis-ci.org/alunduil/crumbs/jobs/426535

[2018-09-12 02:11] ojii commented on #5597
If the default should be flipped, I think there still needs to be a new type to indicate that a result can be discarded, similar to `discardableResult` in [Swift](https://docs.swift.org/swift-book/ReferenceManual/Attributes.html), so `def foo() -> bar:` would be `def foo() -> Discardable[bar]:`.

[2018-09-12 13:03] #5514 closed

[2018-09-12 14:05] exhuma commented on #2783
@ilevkivskyi Using your suggestion of appending `# type: ignore` to the line does indeed work quite well. But I find it personally very counter-intuitive, seeing a line with type-hints and an additional `type: ignore` annotation. It makes it look like the type is completely ignored on that line.

[2018-09-12 16:05] JukkaL commented on #5603
Would it help if we added the value of `experiments.STRICT_OPTIONAL` (the name of which is a misnomer) in the subtype cache key?

[2018-09-12 16:09] ilevkivskyi commented on #5603
Yes, but I think we already have many flags there, so I would avoid adding them (plus it may affect performance).

[2018-09-12 16:18] twk commented on #5600
Thanks, I'll go file it there.

[2018-09-12 16:18] #5600 closed

[2018-09-12 17:45] ilevkivskyi opened #5608 "Allow omitting initializer for Final attributes in dataclasses"
Dataclasses typically don't have `__init__`, so this is rejected, but is probably valid:
[code]
A possible solution is that plugin should set the `final_set_in_init` flag manually for the corresponding field `Var`s.

[2018-09-12 18:44] simonlindholm opened #5609 "False negative involving attrs and forward referenced-unions"
* Are you reporting a bug, or opening a feature request?

bug

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

[code]

* What is the actual behavior/output?

Nothing is printed (even with `--strict`).

* What is the behavior/output you expect?

`foo` is expected to

[2018-09-12 22:55] takeda opened #5610 "How to ensure that MyPy also includes packages that are already typed?"
Apologies if this was already answered, but I spent few hours and couldn't find answer.

Basically I'm doing the following:

- installed mypy on python 3.7
- I created a Python 2.7 virtualenv
- entered directory of the application I'm about to check
- run `../venv/bin/pip install -e .`
- run `mypy --python-executable ../venv/bin/python --python-version 2.7 -p packageA`

In the output I still see m

[2018-09-12 23:06] JelleZijlstra commented on #5610
You need to add `py.typed` in `packageB`. See PEP 561 and https://mypy.readthedocs.io/en/latest/installed_packages.html#making-pep-561-compatible-packages.

[2018-09-12 23:06] #5610 closed

[2018-09-13 02:01] takeda commented on #5610
That was it, thank you.

[2018-09-13 07:34] eric-wieser opened #5611 "Support invoking mypy from setuptools (feature request)"
It would be great if mypy (or some external tool, `mypy-setuptools` or something) could provide an easy way to run mypy against just the files in a distribution.

There was some work done on this in #994 (to close #992) by @rowillia, but it was reverted without comment in 964a17587231c6f09ba24f6dd19648586ea3d655 by @JukkaL.

Given the python-3.6+ dependence of mypy, and the fact it can check older

[2018-09-13 09:46] JukkaL opened #5612 "Final and TypedDict"
I wonder if we should we support `Final` items in a TypedDict.

[2018-09-13 09:49] ilevkivskyi commented on #5612
This looks like a reasonable feature to me. In particular in view of the parallel `obj.attr` vs `obj.__dict__['attr']`.

[2018-09-13 10:30] jhbuhrman opened #5613 "Feature request: allow for class variables in the class syntax variant of NamedTuple"
Allow for adding class variables when using the "class syntax" variant of `NamedTuple` (as opposed to the "function call syntax").

The following example should clarify it:
[code]

@ilevkivskyi suggested that I could open a feature request for this. Please check out the conversation on https://gitter.im/python/typing?at=5b9a26b1b9531f2dfa5d9782 for more details, including a suggestion on how to im

[2018-09-13 10:33] srittau commented on #5537
Please have a look at python/typeshed#2456 as well.

[2018-09-13 16:17] lingz commented on #3905
In the end, we ended up suppressing stub warnings one by one, by just doing:

[code]

[2018-09-13 17:33] alexyiu875 opened #5616 "stubgen does not seem to retain member variable type hint"
Please provide more information to help us understand the issue:

* Are you reporting a bug, or opening a feature request?
A bug (potentially) in Stubgen

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.
I am using stubgen to generate ".pyi" file.
Original Python Sour

[2018-09-13 17:55] ilevkivskyi commented on #5537
@srittau The PR that caused this didn't get into the release branch, but we anyway decided to revert it.

[2018-09-14 06:50] henryJack commented on #3905
@boompig - To add to @lingz nice example... You can find more information about the current module specific settings in the [per module flags](https://mypy.readthedocs.io/en/latest/config_file.html#per-module-flags) section in the docs.

[2018-09-14 08:39] JukkaL commented on #5603
Have you a better way to fix the issue?

I don't see adding a new flag to a cache key as a problem. It will be used only in a few places, and we just need to document what it means and why we include it.

The performance impact is easy enough to measure/estimate once we have an implementation.

[2018-09-14 15:55] sqwishy opened #5620 "Cannot get type hints from python 2 packages"
In mypy 0.620, there appears to be inconsistent type checking behaviour depending on how you specify the python version. This exists for handling `-2` and `--python-version 2` arguments and is explained well in [issue #5576](https://github.com/python/mypy/issues/5576#issuecomment-418872062) and addressed by pull request #5619. However, this inconsistency also occurs with specifying the python vers

[2018-09-14 15:56] sqwishy commented on #5576
Since the original pull request had some negative outcomes, I've reopened a new one to handle just the behavioural inconsistency between how mypy runs given the `-2` and `--python-version 2.7` command line arguments -- which is what this issue title speaks to.

I have opened a issue #5620 concerning how this problem relates to the configuration file as well, which [I mentioned earlier here](https:

[2018-09-14 16:29] Michael0x2a commented on #5620
Disclaimer: I haven't really been following this issue, so I may be missing some context, but I wonder if this is solvable by just having the people's whose config files broke with #5578 set the `python_executable` option in addition to the `python_version` option?

[2018-09-14 16:38] sqwishy commented on #5620
I believe in that case they would have to set `python_version` to 2.7 to check the Python 2 syntax and `python_executable` to a Python 3 interpreter to use its site-packages. There is something that ensures the versions here match and raises an exception otherwise. But maybe this should be allowed? I can't say for sure if mypy would behave as they'd like if it were allowed. That is interesting.

O

[2018-09-14 18:39] deeplook commented on #731
Just stumbled over this from the JSON example perspective... Is there any timeline/roadmap for recursive types already?

[2018-09-14 18:53] euresti commented on #731
We have a workaround in our codebase:

[code]

This gives us a couple of layers of Dict and Lists before we get to `Any`.  However we've learned that using `JSON` is exceedingly painful because of that `Union`  You have to either `isinstance` very heavily or `cast` to get around issues.  `Dict[str, Any]` is sadly the name of the game most of the time.

[2018-09-14 22:50] Daenyth commented on #731
I ended up going with this in a previous project - you can construct a json parser given a typing.NamedTuple class that matches the json structure

https://gist.github.com/Daenyth/37d615e502114009d6a33652a814a7c8

[2018-09-15 15:28] zero323 opened #5621 "[question] Overload with return type depending on an optional argument"
i am working on annotation for a 3rd package.  For simplicity let's say  we have a function like this one:

[code]

I would like to express, that the return type of the function is

- `int` if `f` is missing.
- The same as `f` return type otherwise.

So conceptually I would like to see something like this:

[code]

Of course, it is not valid, as non-default argument follows default argument. Simil

[2018-09-15 15:48] ilevkivskyi commented on #5621
I think no. If it would be your code I would just recommend to move `f` to the first position. Unfortunately some existing APIs were designed without any thinking about types and are now hard to change (backwards compatibility etc.)

In certain cases it is possible to use `*args`, but it looks like it will be imprecise in this situation.

[2018-09-15 16:05] Michael0x2a commented on #5621
One option might be to use three overloads instead of two:

[code]

In short, you split up the overload variant handling the callable into two -- one to handle the case where x is missing and the other for when x is present.

[2018-09-15 17:28] zero323 commented on #5621
@ilevkivskyi Than you for your prompt response. I was afraid this is the case.

@Michael0x2a I thought of that, but the number of required signatures grows exponentially in terms of the number of preceding optional args. In reality I deal with ~4 other args - feasible but hard to maintain.

[2018-09-16 14:49] elazarg commented on #5491
@Michael0x2a - sorry, I can't seem to find the time to do that.

[2018-09-16 19:51] Michael0x2a commented on #5537
I'm not sure if we've started the release process yet or not, but if there's still time, could we perhaps sneak in https://github.com/python/mypy/pull/5595? It's almost entirely a docs change -- the only actual change in the code is a small tweak to the text we print out when running `mypy --help`.

If this is too late/too much trouble, that's totally fine -- this is a pretty low-priority thing. I

[2018-09-16 19:58] ilevkivskyi commented on #5537
We are kind of deep into the release process, in the sense that everything is ready, but the actual release was already postponed twice for some reasons. If everything will be OK, I will upload packages to PyPI on Monday morning. There is no big need for doc updates, since the website is anyway built from master. I mean you can already see your changes on https://mypy.readthedocs.io.

[2018-09-16 20:13] Michael0x2a commented on #5537
Only if you visit https://mypy.readthedocs.io/en/latest/ -- if you visit https://mypy.readthedocs.io/en/stable/ (which is what mypy-lang.org links to), you won't see the changes.

But anyways, no worries -- I figured I might as well try asking.

[2018-09-17 14:33] ilevkivskyi commented on #5616
@JukkaL
Actually this (preserving explicit annotations) was implemented in https://github.com/python/mypy/pull/3169, but it looks like the implementation has an inconsistency (bug?): it works correctly when an attribute is declared in the class body, but doesn't work if it was declared in `__init__`.

Should we reopen this for tracking preserving _explicit_ annotations, and keep #3475 for inferred

[2018-09-17 16:00] ilevkivskyi commented on #5537
Th release is out!

[2018-09-17 16:00] #5537 closed

[2018-09-17 16:06] gvanrossum commented on #5537
Congrats! Thank you for all your work on this.

[2018-09-17 16:58] ilevkivskyi commented on #2499
@njsmith

I am not sure writing it as a plugin is the best solution. This will need addition of at least one new plugin hook. I think a better idea is to just add a flag to mypy. This looks like a common scenario. Also the implementation in mypy is very simple. We can add a flag `is_awaited` on `CallExpr` that will be populated during semantic analysis (by enclosing `visit_await`). An then an erro

[2018-09-18 00:38] #3526 closed

[2018-09-18 01:00] #5576 closed

[2018-09-18 03:34] gvanrossum opened #5630 "Make python_version in config file truly equivalent to --python-version on command line"
See https://github.com/python/mypy/pull/5619#issuecomment-422218354. We'll also have to add `site_packages` (bool) to the config file options.

[2018-09-18 07:18] pradyunsg opened #5631 "Yet another "AssertionError: Should never get here in normal mode""
Similar crash as in #5192; happening with current pip master.

[code]

I haven't tested with master (internet access is patchy for me atm) but this does occur for mypy 0.630 on Python 3.7.0.

[2018-09-18 08:32] ilevkivskyi commented on #5631
I still see the crash on master. I am investigating now.

[2018-09-18 08:39] ilevkivskyi commented on #5631
OK, it looks like the code causing the crash is also similar to the previous one (now in `urllib3`):
[code]
I will try to write a simple repro now.

[2018-09-18 09:12] ilevkivskyi commented on #5631
OK, the minimal repro is as simple as this:
[code]
Also it looks like this is a regression since 0.620, caused by #5565

The fix is straightforward, the only question is does this warrant a bug-fix release 0.631?

[2018-09-18 09:27] ilevkivskyi commented on #2499
I have heard similar things from other people. We can start with something, and then maybe generalize the flag to be tunable, for example:
* `--enforce-await=none` (default) does nothing
* `--enforce-await=global` (hard to implement) will complain only if a coroutine is never awaited
* `--enforce-await=local` (easy to implement) will complain if a coroutine is not _immediately_ awaited.

But we ca

[2018-09-18 09:51] JukkaL commented on #2499
I don't like the idea of just adding another opt-in warning for this. I'd much prefer if we could have something that is enabled by default, even if it doesn't catch all errors. There's a risk that the majority of users would not realize that such an option exists.

What about always rejecting code such as the original example, as the first iteration of this feature:

[code]

Is there ever a good

[2018-09-18 09:59] JukkaL commented on #5631
Let's wait first if there are other reports of this issue. If not, we can release 0.640 in ~two weeks, on a slightly accelerated schedule. If there are other reports, a bug-fix release may make sense.

[2018-09-18 10:09] JukkaL commented on #5398
Increased priority to "high" since this behavior is very unexpected and can hide bugs.

[2018-09-18 13:24] marcosschroh opened #5633 "Overload supertype methods"
I am trying to fix some annotations on magic and normal methods. For example, I have some cases like:

[code]

and when I run `mypy somefile.py --disallow-untyped-defs` I have the following errors:

[code]

I can fix the error doing `key: typing.Any` and ignoring the second error with `# type: ignore` respectively, but I would like to really specify which type should be in each case.

What I under

[2018-09-18 13:30] ilevkivskyi commented on #5633
There is no global flag for this, because Liskov principle is like one of cornerstones of the type system.
You can silence the error by `# type: ignore` of course.

Original definitions can be found in the typeshed repository.

[2018-09-18 13:30] #5633 closed

[2018-09-18 13:31] ilevkivskyi commented on #5633
(Also we prefer Gitter for questions, tracker is mostly for bugs and feature requests.)

[2018-09-18 13:41] marcosschroh commented on #5633
Thanks for the reply @ilevkivskyi !!

tracker is mostly for bugs and feature requests: Thanks, good to know for the future!!

[2018-09-18 14:17] gvanrossum commented on #5630
Duplicate of #5620.

[2018-09-18 14:17] #5630 closed

[2018-09-18 14:57] tomchristie commented on #5633
Let me re-phrase this issue, since there are two aspects that don't seem obviously correct to me:

* Subclassing `typing.Mapping[str, str]`, I'd assume that the function signature for the argument `key` in `__contains__` ought to match the generic type?
* Subclassing `def __contains__(self, key)` to `def __contains__(self, key: str)` is in any case more specific. A more specific subtype doesn't vi

[2018-09-18 15:15] Michael0x2a commented on #5633
`__contains__` isn't a generic method -- it's defined to have the type signature `__contains__(self, key: object) -> bool`. You can [check this on typeshed](https://github.com/python/typeshed/blob/master/stdlib/3/typing.pyi#L335). The reason why `__contains__` is defined this way is because doing things like `1 in {"foo": "bar"}` is technically legal.

When you're overriding a function, it's ok to

[2018-09-18 16:50] tomchristie commented on #5633
Okay, yes. I think it'd be a perfectly reasonable (but different) behavior if it *was* expected to be generic. (ie. raise TypeErrors for `in` on type-strict containers for invalid comparison types), but either way around seems reasonable ways to have defined the behavior, so.

Gotcha 👍

Thanks for your time.

[2018-09-18 18:56] rgabbard opened #5636 "Errors on inherited methods when an attrs class derives from AbstractSet and cmp=True"
When I make an `attrs` class which inherits from `AbstractSet`, `mypy` complains about the type signatures of the inherited `__lt__`, etc. methods.

Here is a minimal example with three  cases:
[code]

Running `mypy` (with no flags) results in:
[code]

So `mypy` gives errors for the first case, but if we set `cmp=False` (second case) or don't use `attrs` (third case), no errors are given.  I would

[2018-09-18 19:12] rgabbard commented on #5636
Aha, actually this is not a bug at all - the `attrs`-generated `__lt__` raises `NotImplemented` when its argument is not of the same type, while the typeshed for `AbstractSet` says:

[code]

So `mypy` is perfectly correct.

[2018-09-18 19:12] #5636 closed

[2018-09-18 23:14] msullivan opened #5639 "More permissive behavior when overriding class variables"
The following code fails to typecheck:
[code]
with
`test.py:5: error: Incompatible types in assignment (expression has type "str", base class "A" defined the type as "None")`

My proposal for fixing this is to add a new flag, on by default, that will cause class variables with the type `None` to instead be given the type `Optional[Any]`.

Not sure what the flag should be called, though.

(I'm inve

[2018-09-18 23:55] JelleZijlstra commented on #5639
For what it's worth, this was also one of the most common causes of errors when running mypy on our big unannotated codebase.

[2018-09-19 00:16] ethanhs commented on #5639
This does seem like a common pattern. However, I don't think this flag should be on by default. I'd rather have people who are starting anew turn something on over subtly changing the behavior for existing mypy users (and losing type safety they thought once existed).

[2018-09-19 00:39] Michael0x2a commented on #5491
@elazarg -- no worries, I'm also in the same boat.

[2018-09-19 03:05] gvanrossum commented on #1279
I don't think https://github.com/python/typeshed/pull/2467 actually fixed this (the auto fix triggered by accident).

[2018-09-19 03:09] JelleZijlstra commented on #1279
Oops, sorry for that and thanks for fixing.

[2018-09-19 06:03] toshihikoyanase opened #5640 "Mypy infers types of NamedTuple subclass as 'nothing' when using isinstance."
I encountered an issue that `mypy` failed to infer a type of a variable. This issue occurs when `isinstance()` is applied to a subclass of `NamedTuple`.

Environment:
- Python 3.6.5
- mypy: 0.630

Code
[code]

Python 3.6.5 successfully executes this code and returns `11` as expected. But `mypy` 0.630 fails to infer the type of `o` after checking its type using `isinstance` as follows:

[code]

Obs

[2018-09-19 08:35] ilevkivskyi commented on #1240
OK, thanks! I think this statement is outdated (and maybe was more in response to concrete proposal). Although the plugin API is still unstable (i.e. no guarantees about backwards compatibility), we now support user installed plugins.One can just install a mypy plugin using `pip install` and activate it in `mypy.ini` by writing `plugins = plugin_a, plugin_b`.

Maybe @JukkaL can add more.

[2018-09-19 08:55] ilevkivskyi commented on #5640
Thanks for reporting! We are sorry for this regression. I will try fixing this shortly.

[2018-09-19 11:40] JukkaL commented on #5639
This is a tricky issue. To make it easier to start using mypy, we could perhaps generalize the concept of strictness levels, which are presets for certain sets of options. We already have one, `--strict`, but we could easily add more. Here's one idea:

* By default use strictness level 1 (say, equivalent to `--strictness=1`). This corresponds to the current behavior.
* Provide a new level 0 ( `--s

[2018-09-19 12:38] JukkaL commented on #2499
Small plugin API changes are typically not controversial, so this is a possibility.

That would be one way to do it, but ordering issues would make this a bit awkward, as you point out. Another option would to add a new "check only" hook that is called after the signature hooks have already run and we have a final signature. The hook wouldn't be able to change the signature but it can perform addi

[2018-09-19 12:56] ilevkivskyi commented on #5639
I think this was already discussed before, but I would also disable `Need type annotation for variable` for `--strictness=0`.

[2018-09-19 13:12] lubieowoce commented on #1240
@ilevkivskyi I'm glad to hear that! From reading the code, I also figured out that you can do
`plugins = user_plugin_a:some_function`
to use `user_plugin_a.some_function(...)` as the hook mypy will call to obtain the actual `UserPluginA(mypy.plugin.Plugin)` class. (`user_plugin_a.plugin(...)` will be used be default)

[2018-09-19 14:12] JukkaL commented on #1240
Yeah, you can now have plugins that are installed separately from mypy. I still think that it may be worth having plugins for some 3rd party libraries in the mypy repo, but that really only makes sense if the APIs are relatively stable. There are at least three reasonable ways to maintain a plugin:

1. The plugin lives completely separately from mypy. The main tradeoff here is that it's possible t

[2018-09-19 17:49] lubieowoce commented on #1240
@JukkaL since you're here, is there a way to safely inject additional definitions into a file? If my plugin has a class decorator hook, I can access the classes `MypyFile` by poking around in the `ClassDefContext` my hook receives, but adding anything to the file's `defs` list sounds like a recipe for trouble since the list is being iterated over when the hook is called.

[2018-09-19 18:59] msullivan commented on #4190
Interestingly, the following works:
[code]

[2018-09-19 19:57] #5631 closed

[2018-09-19 20:00] #5640 closed

[2018-09-19 20:14] ilevkivskyi commented on #5195
This doesn't crash on master, but the type of `HelpCommand` class object contains a broken instance with an empty MRO and no line number set. I have a simple fix for this.

[2018-09-19 20:27] msullivan commented on #4190
I think the fix for this is to make the type of `cls` be `Type[A]`.

[2018-09-19 20:46] msullivan commented on #4575
This appears to be fixed by 0.630.
(The checkmember calls in semanal are still there, but I'm about to put up a PR that removes that.)

[2018-09-19 20:46] #4575 closed

[2018-09-19 21:02] msullivan commented on #1727
I've got a PR about to go up that fixes this as a side effect of changing the type of classmethod first arguments to be a `TypeType`

[2018-09-19 21:14] ilevkivskyi commented on #1727
@msullivan There is an existing PR. Please take a look at the questions that appeared there (interactions with fine-grained mode, plugins, forward references, generics, and overloads).

[2018-09-19 21:17] ilevkivskyi commented on #1727
@msullivan Forgot to add the PR number, here it is https://github.com/python/mypy/pull/5501

[2018-09-19 21:30] msullivan commented on #3120
#4190 is a dupe of this but I'm closing this one because that one got categorized

[2018-09-19 21:30] #3120 closed

[2018-09-19 22:19] #1279 closed

[2018-09-19 22:47] msullivan opened #5647 "Prefer `__new__` over `__init__` for determining callable type of a class"
#5642 made `__new__` chosen in more situations but `__init__` is still chosen when
one class defines both. The difficulty is that typeshed has a bunch of dodgy `__new__`
annotations that need to be cleaned up first.

[2018-09-19 22:51] msullivan opened #5648 "Check consistency of `__new__` and `__init__`"
We permit the following program:
[code]
even though it crashes at runtime.

Per https://github.com/python/mypy/pull/5642#pullrequestreview-157002281:
The rule CPython uses is this (for a class `C` with superclass `B`, where `B` is not `object`):

- If both `C.__new__` and `C.__init__` refer to their versions in `object`, the signature is `def () -> C`.
- If exactly one of `C.__new__` and `C.__obje

[2018-09-19 22:55] msullivan commented on #5648
Actually closing as a dupe of #1019

[2018-09-19 22:55] #5648 closed

[2018-09-19 22:56] msullivan commented on #1019
A test case
[code]
even though it crashes at runtime.

Per https://github.com/python/mypy/pull/5642#pullrequestreview-157002281:
The rule CPython uses is this (for a class `C` with superclass `B`, where `B` is not `object`):

- If both `C.__new__` and `C.__init__` refer to their versions in `object`, the signature is `def () -> C`.
- If exactly one of `C.__new__` and `C.__object__` refers to its `

[2018-09-19 23:13] gregdingle opened #5649 "Bug with inline if-else and tuples"
Thanks for all the work with mypy. I'm really enjoying it every time I code now.

I found this oddity which may be a bug.

Here is a short demo.

[code]

[2018-09-19 23:37] #5195 closed

[2018-09-20 01:11] toshihikoyanase commented on #5640
This fix solved actual problems in my project. Thank you for your swift action!

[2018-09-20 05:40] toolforger commented on #5195
Sweet, thanks.
The type recursion is at the core of the central data structure of my code. I tried changing its type, but that would have made using Mypy largely pointless, so I stopped using Mypy.

[2018-09-20 06:27] srittau commented on #5649
Possibly related to #5392.

[2018-09-20 07:41] njsmith opened #5650 "Plugin extensions to enable robust checking for unawaited coroutines in Trio programs"
Forking this off from #2499, as [requested by Jukka](https://github.com/python/mypy/issues/2499#issuecomment-422786449). The discussion is about how Trio programs can use mypy to detect when they've accidentally forgotten an `await`, which is a fairly common problem. (See also the corresponding Trio bug, which has examples: https://github.com/python-trio/trio/issues/671)

What makes Trio special h

[2018-09-20 07:41] njsmith commented on #2499
OK, forked this off into #5650 and replied there.

[2018-09-20 08:27] JukkaL commented on #1240
@lubieowoce Adding definitions to `MypyFile` in a plugin is not supported at the moment.

[2018-09-20 08:35] ilevkivskyi commented on #5649
This is just a combination of https://github.com/python/mypy/issues/4975 and #5392. Fixing any of those fill fix this as well.

[2018-09-20 08:35] #5649 closed

[2018-09-20 16:48] ilevkivskyi opened #5651 "Allow installing stub packages in mypy's Python as a fallback"
Currently PEP 561 specifies that stub packages (like `sqlalchemy-stubs`) should be installed in the site packages of the Python version of the program that is being checked:

However, there is an important use case for stub packages that is incompatible with such path resolution scheme: single installation for stubs accompanied by a plugin. For example, all large frameworks like Django, NumPy, SQL

[2018-09-20 17:41] ilevkivskyi commented on #5650
Something I wanted to add from myself: there is a common limitation on all current plugin hooks: they _only_ get called for a given qualified name of some node. I understand this limitation is probably to avoid big performance losses if a plugin is called on _every_ node. But I think we should think more about possible compromises here. This limitation makes it hard to implement plugins that need

[2018-09-20 17:59] silviogutierrez commented on #5169
@ilevkivskyi : any area I could look at to speed this up? Or is it super complex?

Either way: I'm guessing there's no conf setting to at least raise an error when Any is inferred, right? The way TypeScript does.

[2018-09-20 19:08] ethanhs commented on #5019
Unfortunately, I do not think I will have time to work on this any time soon (at least until December most likely). I am going to un-assign myself so someone else can pick this up if they are interested, but if not, I will come back to this in December.

[2018-09-20 19:21] msullivan opened #5652 "Crash when using decorated function as type annotation in import cycle"
Discovered from a user report at Dropbox, the following test case crashes:
[code]

with a traceback ending with:
[code]

[2018-09-20 19:26] ilevkivskyi commented on #5169
@silviogutierrez https://mypy.readthedocs.io/en/latest/command_line.html#disallow-dynamic-typing

[2018-09-20 19:44] msullivan commented on #5652
Looks like an easy fix

[2018-09-20 19:47] dfee opened #5653 "Crash on definition of TypedDict method"
I'm not sure if this is a bug or a feature, but I was considering migrating from NamedTuple to TypedDict, and ran into a problem where **methods** don't seem to be supported on TypedDicts.

[code]

Despite the error, the code runs fine. So, I'm looking for clarification that this is / isn't a bug, and maybe some reasoning about

[2018-09-20 20:49] #1435 closed

[2018-09-20 21:02] dfee commented on #5653
Also, when used as a var-keyword param, TypedDict doesn't work as I'd expect it to:

[code]

I noticed there is a dedicated type [`KwArg`](https://mypy.readthedocs.io/en/latest/additional_features.html?highlight=kwargs#extended-callable-types) but that's unfortunate as I can't rely on my var-keyword params to always share the same type.

[2018-09-21 00:02] vim345 commented on #5596
I am facing the same issue.

[2018-09-21 00:21] ilevkivskyi commented on #5596
This is actually a duplicate of https://github.com/python/mypy/issues/4214.

I will close this one, I will raise priority of the other issue to high.

[2018-09-21 00:21] #5596 closed

[2018-09-21 00:23] ilevkivskyi commented on #4214
I am raising priority to high because it keeps coming and this error is quite annoying because mypy is complaining about perfectly valid code.

[2018-09-21 00:52] #5652 closed

[2018-09-21 02:41] TV4Fun opened #5656 "Mypy should infer result of `x in y` as a `bool`"
Python always casts the value of an `in` test to `bool`, so `a in b` will be a `bool` regardless of what the return type of `b.__contains__` is. Mypy does not internalize this idea though. So for example, the following code:
[code]
Generates this error from Mypy:
[code]
Though actually, this should be fine, as even though `MyClass.__contains__` returns `42`, `1 in self` will evaluate to `True`. Th

[2018-09-21 04:04] gvanrossum commented on #5656
Interesting. Confirmed this is the case. Note that `__contains__` is unique here -- overriding e.g. `__lt__` as returning `int` does not cast the return value to `bool`. (Probably because of "rich comparisons".)

[2018-09-21 19:35] ethanhs commented on #5651
Hm, this makes me feel a bit uneasy. There are cases where this might not be possible (e.g. a Python 2 only dependency).

I would much rather have mypy look in the other Python executable for the plugin than have mypy break the model of "We look at the Python executable pointed at via python_executable or python_version for typed packages".

[2018-09-21 20:02] jhance commented on #1174
If this issue is "fixed" can restoring the old behavior be available via a strictness flag in mypy.ini? I find that such cases of overriding a variable's type with a new one to be nearly always something I don't want to do intentionally (easy to accidentally do it by e.g. replacing a set with a list, then get terrible performance for `in` for the rest of the function) and, even if necessary, just

[2018-09-21 20:35] #1727 closed

[2018-09-21 20:35] #4190 closed

[2018-09-21 20:35] #5263 closed

[2018-09-21 20:38] ilevkivskyi opened #5658 ""Can't determine type" error in import cycles with named tuples and typed dicts"
Consider this test case which currently fails with `Cannot determine type of "tp"`:
[code]
Note however that such code will anyway fail at runtime, and it works if one imports under `if MYPY:` (see https://github.com/python/mypy/issues/2015). I think therefore it is relatively low priority.

This is a follow up for https://github.com/python/mypy/pull/5635

[2018-09-21 21:05] gvanrossum commented on #5651
That was my POV too, but Ivan's argument was that then you'd to execute two pip commands (using two different interpreters!) to install the typing support for such packages. That has much more of a chance of breaking, since it's likely that some kind of coordination between versions of the plugin and the stubs is needed.

[2018-09-21 21:12] ethanhs commented on #5651
@gvanrossum but if we search for plugins based on `python_executable` the package only needs to be installed in the correct Python install AFAICT?

[2018-09-21 21:14] ilevkivskyi commented on #5651
Also there seems to be some misunderstanding about what I am proposing:
a) I don't want to change anything about typed packages either inline or with stubs, since those contain actual runtime  code, I am talking only about stub packages (number 3 in PEP 561 resolution order).
B) I don't want it as a _default_ behavior, we still look in the dedicated version, but if we didn't find it, we fall back

[2018-09-21 21:16] ilevkivskyi commented on #5651
@ethanhs
A plugin is actual runtime code that will be executed by the interpreter, it may be even syntactically invalid for Python 2. On the other hand, stub files are essentially just text.

[2018-09-21 23:29] #4520 closed

[2018-09-21 23:41] msullivan opened #5659 "mypy ignores type errors inside `list` and `dict` calls"
In the following program:
[code]
two errors ought to be generated for each call (one for `int` not having `.foo`, one for `'lol'` being the wrong type of argument). These errors seem to be suppressed while checking `list` and `dict`, which get filled with `Any`s.

[2018-09-21 23:53] msullivan commented on #5659
This looks like an overloads issue. The following doesn't produce any errors:
[code]
So this looks like an overloads issue, and it is a regression from 0.610 to 0.620 (I haven't dug any deeper than that.)

@Michael0x2a thoughts?

[2018-09-22 12:11] ilevkivskyi opened #5661 "Overload variant notes are sometimes printed multiple times"
I don't have a simple repro for this, but I have seen this problem recently. For certain complex overloads, bad call results in the following being printed:
[code]
The original function had only two overloads.

[2018-09-22 12:41] ilevkivskyi commented on #4300
All the original examples now pass correctly, the only remaining problem is that now reasonably invalid (from mypy's point of view) things like `type((1, 2))()` cause an error that has wrong formatting and don't have a line number:
[code]

[2018-09-23 20:34] azag0 commented on #731
Speaking of workarounds for JSON, here is a pretty solid workaround using protocols. @ilevkivskyi, @JukkaL, do you see any potential gotchas beyond mimicking the required behavior of `list` and `dict` (which could be improved by including more functions)? Also, I'm not sure about performance.

[code]

[2018-09-23 22:35] azag0 commented on #731
Hm, ok, the limitation of this approach obviously being that it's "one-directional", one would still have to cast JSONArray/Dict to List/Dict when getting out of JSON.

[2018-09-24 10:19] oraluben opened #5664 "type signature in generic subclass"
[code]

output of mypy is
[code]

I was expecting that mypy will find type mismatch to call `IteratorBox.wrap(g)`, which it didn't.
And `reveal_type(IteratorBox.wrap)` just return the type of the method in base class.

[2018-09-24 14:03] exhuma opened #5665 "Combining "Optional" with "Type" causes a run-time exception"
When marking up code with `Optional[Type[MyClass]]` the code type-checks correctly but causes a runtime exception.

Example code:

     from typing import NamedTuple, Optional, Type, Union

     Foo = NamedTuple('Foo', [
         ('a', str),
         ('b', Optional[Type['Hello']]),
     ])

     class Hello:

         def foo(self, a: str) -> bool:
             return False

     a = Foo('a', Hell

[2018-09-24 14:06] ilevkivskyi commented on #5665
This is not mypy issue, but an issue with builtin `typing` module. Also IIRC it was fixed in a newer version of Python.

[2018-09-24 14:06] #5665 closed

[2018-09-24 14:12] JukkaL commented on #1174
@jhance A strictness flag to enable the old behavior is possible, but it might not be included initially. I'm currently planning to only support redefinition in the same block, as this seems like the most common case and it's the easiest one to support.

[2018-09-24 14:56] JelleZijlstra commented on #5665
As a workaround, you can probably (I haven't checked) make your type annotation a string, like `"Optional[Type[Hello]]"`.

[2018-09-24 15:41] lubieowoce commented on #1240
@JukkaL I got around it by putting the subclass into the parent class, works okay for my purposes 👍

Another question: A `method_hook` receives a `MethodContext` object with a `context: Context` attribute – usually the expression that triggered the hook. Is the hook allowed to modify `context` in any way, e.g. to transform the AST into a form that's more palatable to mypy?

(in particular, I'd lik

[2018-09-24 16:17] oraluben commented on #5664
Thanks for your reply! I have tried the PR and found a code may get wrong checking result. I will put my repro in the [PR](https://github.com/python/mypy/pull/5420).

[2018-09-24 17:05] onlined commented on #604
What is the status? Is final decision made? Is somebody assigned with the implementation? I can work on it, if there is no one available.

[2018-09-24 20:49] vim345 commented on #5485
I just came across the same issue. I guess a lot of people are going to face this issue very soon, as it's very easy to reproduce it using dataclasses.

[2018-09-25 00:05] TV4Fun opened #5666 "Infer generic types for default implementations"
It would be useful in some cases to have an abstract class where a method's return type is overridable, but a default implementation is still provided for the most common case. Consider an example like this:
[code]
In this case, I would like `GenericBase` to provide a default implementation of `second_step` for the most common cases, but allow implementations to change its return type if they woul

[2018-09-25 01:37] ilevkivskyi commented on #5485
I guess this should be not hard to fix, mypy cares whether a callable was assigned in class (to match what Python does), so we should just tweak the `Var`s in plugin to pretend they were assigned on `self`. But we still need a volunteer who will fix this.

[2018-09-25 04:54] scolby33 opened #5667 "Using os.PathLike as an annotation"
I am trying to create a typealias for all the types that can be passed as the first argument of `open()`. MyPy reveals the type to be `Union[builtins.str, builtins.bytes, builtins.int, builtins._PathLike[Any]]`.

My first attempt at this is:
[code]

MyPy is happy with this, but alas Python is not:
[code]

Trying this, then:
[code]

But now MyPy is unhappy:
[code]

What is the correct way of using

[2018-09-25 09:14] JukkaL commented on #604
@onlined We are happy to accept a PR that implements the proposal. Nobody is working on this yet.

[2018-09-25 10:03] ilevkivskyi commented on #5667
Another solution is to use `if TYPE_CHECKING: ...`.

This problem appeared several times. It would be great to create a documentation entry about this.

[2018-09-25 16:01] wkschwartz opened #5668 "Surprisingly swapped order of type variables with multiple inheritance of generic types"
I'm using Python 3.7.0 and mypy 0.630. Input file `mypy-test.py`:

[code]

Output of `mypy mypy-test.py`:

[code]

This surprises me because I would expect `D` to have exactly the same type signature as its superclass `B`, binding `S` to `str` and `T` to `float`. However, despite the same type input, `B.t` expects and returns a `float` whereas `D.t` expects and returns a `str`.

This is not techni

[2018-09-25 16:27] gvanrossum commented on #5668
As you state, this is all working as documented. If you want to control the order of type variables you should just add `Generic[S, T]` or `Generic[T, S]` to the base classes of `D`.

Perhaps it is helpful to know that the names of the type variables is irrelevant across classes? That is, if you consistently rename (or swap) all occurrences of `S` and `T` in a given class, the meaning is unchanged

[2018-09-25 16:29] ilevkivskyi commented on #5668
Looking at the two lines:
[code]
I don't see how this is surprising, you just literally substitute variables one by one:
[code]
how else can one substitute them?

If you want, you may add your example to the docs, otherwise I would just close this.

[2018-09-25 19:42] rpgoldman opened #5669 "Handling "default" methods in class hierarchies"
feature request

See the directory `test-data/default-methods/` in my branch: https://github.com/rpgoldman/mypy/tree/default-method-example

[code]

Complains that the `SubClass` method signature contradicts the one at `SuperClass` (which has a vacuous parameter list):

[code]

Ideally, mypy should recognize that a method definition whose signature is:
[code]
does not constrain any subclass's impl

[2018-09-25 19:49] rpgoldman commented on #5669
P.S. in the PyMC3 code base I see these vacuously-parameterized methods used for delegation and for raising exceptions where a method is not implemented, but should be.  I think there is probably a better mechanism for the latter, but I'm not as sure about the former.

[2018-09-25 21:11] wkschwartz commented on #5668
Thanks, guys. Perhaps I was just being obtuse. I'll close the ticket.

Flag me down if someone files a similar ticket in the future. Maybe extra documentation would be appropriate at that point.

[2018-09-25 21:11] #5668 closed

[2018-09-25 21:32] mvaled commented on #2783
I got this is issue by looking for: Argument 1 of "__eq__" incompatible with supertype "object"

[code]

[2018-09-25 22:04] benjaminp opened #5671 "support platform and version checks in conditional expressions"
I wanted to write `os.environb if sys.version_info[0] == 3 else os.environ` to obtain a dictionary of bytes environmental variables. However, this fails to typecheck on Python 2 because mypy doesn't recognize the version in conditional expressions.

[2018-09-25 22:07] ethanhs commented on #5671
We do support platform and version checks, but only `sys.platform` and `sys.version_info`. Considering `six` is used a fair amount for Python2/3 straddling code, I think we should also support it.

[2018-09-25 22:10] benjaminp commented on #5671
Ah, sorry, I didn't mean this to be about `six`. There's the same problem with `sys.version_inf[0] == 3`.

[2018-09-25 22:13] ethanhs commented on #5671
Ah, interesting, with this:

[code]
This reveals `builtins.object` on Python 3 and gives an attribute error on Python 2 (since `os.environb` doesn't exist`. This does indeed seem to be a bug.

[2018-09-25 22:13] gvanrossum commented on #5671
(OT: `six.PY3` support is easy: just pass `--always-true=PY3`.)

[2018-09-25 23:38] msullivan commented on #2783
It needs to be on the line with the function declaration

[2018-09-26 01:06] #4571 closed

[2018-09-26 02:14] #4214 closed

[2018-09-26 08:41] orenbenkiki opened #5676 "Support for the multiprocessing module"
A file with a single line:

[code]

Fails to typecheck with the error:
[code]

This happens with both Python 3.6.3 and 3.7.0, using `mypy` version 0.630 which is currently the latest version.

Is there a way to use `mypy` to typecheck `multiprocessing` code?

[2018-09-26 09:05] ethanhs commented on #5676
Hi Oren, this appears to be a [typeshed](https://github.com/python/typeshed) issue. Please open an issue there about this error. With a quick look, it seems the Python 2 stubs are out of sync with the Python 3 stubs in this case.

[2018-09-26 09:11] #5676 closed

[2018-09-26 16:26] ilevkivskyi commented on #5669
As a random suggestion, we can maybe make it a strictness flag, like in https://github.com/python/mypy/pull/5670 instead of adding a special decorator or similar.

[2018-09-26 16:32] ilevkivskyi commented on #5671
This is a duplicate of https://github.com/python/mypy/issues/5550.

I will raise the priority of that issue (but still not high probably, since there is a simple workaround).

[2018-09-26 16:32] #5671 closed

[2018-09-26 16:50] marcinsulikowski opened #5678 "mypy fails to recognize functions as generators when `sys.platform` condions are used"
`mypy` seems to be too thorough when interpreting `if sys.platform == ...` conditions. Consider the following file:

[code]
I'm trying to run `mypy` for this file on Linux using `mypy gen.py`

**Expected behavior:**
`mypy` test passes for this file on Linux

**Actual behavior:**
I get this on Linux:
[code]
At the same time, `mypy` on macOS does not complain. I think that this is related to #698

*

[2018-09-26 17:40] gvanrossum commented on #5678
Agreed. It looks like the analysis that determines whether a function body contains any `yield`s runs after the version/platform-based dead code elimination; it ought to run before that. Are you interested in trying to fix this?

[2018-09-26 18:09] gvanrossum commented on #5661
What was the definition of `T`? Did it happen to be of the form `TypeVar('T', xxx, yyy)`?

[2018-09-26 18:27] ilevkivskyi commented on #5661
Oh, sorry, I lost track of this, I don't have a repro for this. I don't remember what was the variable, but I remember this happened for calling a generic overload with another generic overload, like `f(g(x))`.

[2018-09-26 19:14] li-dan opened #5679 "mypy --py2 does not respect division future statement"
When I use `from __future__ import division`, mypy looks for `__div__` on objects instead of `__truediv__`. Example code:

[code]

The actual output of running `mypy --py2`:

[code]

The expected output should be something like this:

[code]

It would also be acceptable to give the same output as in Python 3 mode, which is:

[code]

I am using mypy from Git master. Version info:

[code]

I am not

[2018-09-26 19:19] li-dan commented on #5679
A more obvious reproducer:

[code]

The output of this is:

[code]

But it should be:

[code]

[2018-09-26 19:19] gvanrossum commented on #5679
That's a good catch. Do you feel up to attempting to submit a fix as a PR?

[2018-09-26 20:28] OJFord opened #5680 "error: Item "None" has no attribute "__bool__""
[code]

As expected:
[code]

Not expected:
[code]

cf. python/typeshed#2432

[2018-09-26 22:02] guboi72 opened #5681 "Dataclass inheritance: Missing override."
### Version 0.630

### Description
The problem seems to be that mypy derived classes do not override base classes. Looking at the dataclass plugin `collect_attributes` method, it is not clear that it does a reverse MRO lookup as mentioned in the dataclass spec (https://docs.python.org/3/library/dataclasses.html#inheritance). Let me know if you would like me to suggest a pull request.

### To repro

[2018-09-26 22:18] #5639 closed

[2018-09-26 22:49] ilevkivskyi commented on #3260
I tried both examples (`lru_cache()` and `asynccontextmanager`) they both work correctly on master.

[2018-09-26 22:49] #3260 closed

[2018-09-26 23:03] ilevkivskyi commented on #5680
This should be easy to fix by adding a special case for things that are defined on `None`, but not on `object`, which is apparently only `__bool__` on Python 3:
[code]
Look at `checkmember.analyze_member_access` under this comment :-)
[code]

[2018-09-27 00:01] TV4Fun opened #5684 "Assigning TypeVared generic type to variable loses typing information"
If I create an alias for a generic type using a `TypeVar`, Mypy seems to infer the `TypeVar` as `Any` and lose the typing information. For example, this works:
[code]
and gives these types:
[code]
I would expect this
[code]
to behave in the same way, but it doesn't:
[code]
This can be a problem if I am using the same complex generic type multiple times, as in this real-world example:
[code]
Having

[2018-09-27 00:10] ilevkivskyi commented on #5684
When you write `C = Callable[[], T]` you create a generic alias. You need to write `C[T]`, bare `C` is equivalent to `C[Any]` as with any other generic, please read the docs https://mypy.readthedocs.io/en/latest/kinds_of_types.html#type-aliases

What actually surprises me is that `--disallow-any-generics` is not in `--strict`, I think we should add it there. Do you want to make a PR?

[2018-09-27 00:16] ilevkivskyi commented on #5684
Also unrelated suggestion, decorators like this are better typed using:
[code]
which will give you more precise types, read https://mypy.readthedocs.io/en/latest/generics.html#declaring-decorators

[2018-09-27 01:03] TV4Fun commented on #5684
Thank you! Made a PR.

[2018-09-27 01:39] TV4Fun commented on #5684
Also, your suggestion doesn't actually work with `--strict`, as `inner_wrapper` still needs to specify a return type. I could specify `wrapper` to return `Any`, but that also seems imprecise. The ideal solution would be if I could specify:
[code]
but I can't specify a generic type as a bound to a `TypeVar`.

[2018-09-27 01:49] TV4Fun commented on #5684
Alternatively, how hard would it be to give types type members? That way I could do something like this:
[code]

[2018-09-27 16:27] #5577 closed

[2018-09-27 20:01] pongo commented on #3547
For pycharm you can use this "external tool" setup:

* arguments: `--cache-dir $ProjectFileDir$/.mypy_cache --ignore-missing-imports $FileDir$/$FileName$`
* working directory: `C:\temp` (unrelated to your project)
* output filters: `$FILE_PATH$:$LINE$:$COLUMN$:.*`

[2018-09-27 20:40] TV4Fun opened #5687 "Add static_assert to verify type constraints in mypy"
Mypy's type checking works well in many cases, but there are some complex cases that are difficult to code for, and would be impossible or costly to check at runtime. I give an example of a case where this would be useful in #5666. While I give a slightly cumbersome possible solution there, another possibility is to use explicit casting:
[code]
This works, but it eliminates type safety, as I have

[2018-09-27 20:58] TV4Fun commented on #5687
I realize the particular syntax I have suggested here might be difficult to implement, as it would require extending Python so it knows not to evaluate the `issubclass` call here. An alternative would be to define a method `static_assert_issubclass(class, classinfo)` that would behave like `static_assert issubclass(class, classinfo)` but would not require extending Python.

[2018-09-28 14:27] lingz opened #5689 "BUG: Function parameter types are not checked inside other function bodies"
Simple repro using mypy 0.630:

`test.py`
[code]

`mypy test.py`
Gives: `test.py:4: error: Argument 1 to "test" has incompatible type "str"; expected "int"`

Clearly it should also report the error in `test2`, but it seems parameters are not checked inside function bodies? In fact the following file has no type errors:

`test.py`
[code]

[2018-09-28 15:03] gvanrossum commented on #5689
This is because `test2()` is not annotated. Mypy doesn't check inside unannotated functions. If you add `-> None` to `test2()` it will detect the error.

Good luck!

[2018-09-28 15:03] #5689 closed

[2018-09-28 15:21] lingz commented on #5689
Thanks for the quick reply, I just read the docs and saw this, though I wonder if there is a reasoning for this as it seems counterintuitive as:

- mypy has a case for type inference, so it does not feel necessary to annotate every function definition, as these feel like they would be inferred
- there are many real use cases where the return type is just noise to annotate, for example, I was wonde

[2018-09-28 15:43] Michael0x2a commented on #5689
AFAIK, the reason for this behavior is to help make sure mypy can integrate seamlessly with existing Python code. Suddenly trying to type-check everything can often lead to a lot of errors, and for large enough codebases, it isn't really feasible to try and fix all those errors at once. So, it's useful to have these sorts of mechanisms that let you distinguish between code that's ready to be type-

[2018-09-28 15:56] lingz commented on #5689
I think more emphasis is a good approach, or it seems like `--check-untyped-defs` could be the default, and we could have `--skip-untyped-defs`. As one would assume someone migrating a large codebase would be more sophisticated and likely is not using defaults anyway. Though this is definitely one of the more "unintuitive" parts of mypy.

To draw a parallel: typescript does exactly that, defaults

[2018-09-28 16:02] ilevkivskyi commented on #4530
We should probably schedule this one for next sprint usability bugs squashing week. This happened again, it can very challenging with more complex signatures.

[2018-09-28 17:04] Michael0x2a commented on #4530
We also run into similar issues with sufficiently complex overload signatures -- for example, I ended up being confused by this sort of thing in https://github.com/python/mypy/issues/5235.

FWIW, one solution I was sort of tossing around was to modify or refactor `subtypes.is_callable_compatible` so it returns the reason why two callables are incompatible, rather then just a bool. The code doing t

[2018-09-29 09:07] jwaixs commented on #3864
I agree, I would like to claim this issue. (as first contribution)

[2018-09-29 11:09] ilevkivskyi commented on #3864
We had two major config flags overhauls recently, so I am not sure this issue is still relevant.

[2018-09-29 11:18] ilevkivskyi commented on #5687
Mypy already has such feature, it is called `cast()`. Of course it is not exactly the same as you propose, but I believe `cast()` is sufficient for your purpose.

[2018-09-29 15:45] gvanrossum commented on #5687
FWIW there's a type of cast (probably downcast() would be a good name) that
I am missing more and more. It differs from cast() in two ways:

1. It inserts a runtime check that the object being cast is an instance of
the target class
2. The static check ensures that its type is an instance of a supertype of
the target type *other than object* (perhaps also disallowing ABC and a few
others)

Thus, i

[2018-09-29 15:58] gvanrossum commented on #3864
Yeah, sorry, this is no longer relevant. I'm sure there are smaller improvements to the current docs for flags and options possible though.

[2018-09-29 15:58] #3864 closed

[2018-09-29 17:50] ilevkivskyi commented on #5687
Yes, `downcast()` may be useful indeed. We can try experimenting with it, but the main problem is scheduling/prioritization. There are many other important tasks that needs to be done soon.

[2018-09-29 19:52] mchlnix opened #5695 "Bug, while stubbing a third party library locally"
These two crashes happened, while working on stubbing `pycryptocome`. Not sure what caused them, other than the errors caught by mypy itself.

I'm trying to stub the `Crypto.Hash.*` files of the library in a top level directory `stubs/Crypto/Hash`. Stubs for `Crypto.Cipher.*` exist already, locally as well.

The crash was maybe caused by me erroneously putting a `__init__.pyi` file into the `stubs

[2018-09-29 20:09] ilevkivskyi commented on #5695
Just to clarify, do you still see this problem when using mypy version from GitHub master?

[2018-09-29 20:16] ethanhs commented on #5695
(You can install mypy from master with `pip install git+https://github.com/python/mypy.git`)

[2018-09-29 20:40] mchlnix commented on #5695
**Yes**

[code]

I don't think the errors mypy throws are relevant to the crash, but who knows. They appear, because I copied the .py files of the module and rename/reduce/type them into .pyi files bit by bit.

[2018-09-30 10:41] iddan opened #5696 "Misplaced type annotation"
* Are you reporting a bug, or opening a feature request? bug
* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

[code]

* What is the actual behavior/output? mypy emits `error:misplaced type annotation`
* What is the behavior/output you expect? to parse correctly
* Wha

[2018-09-30 11:06] elazarg commented on #5696
Seems like a problem in https://github.com/python/typed_ast

[2018-09-30 14:16] kojiromike commented on #731
@JukkaL I suppose it's a pretty similar problem to that of JSON, but I've been trying to add type hints to apache/avro. Without recursive types I can't express the shape of avro schema completely.

Here is [the work in progress](https://github.com/kojiromike/avro/blob/py3-typehints/lang/py3/avro/schema.py). Variance is hard and mypy has found a lot of problems, so I expect to be working on this fo

[2018-09-30 17:26] stefanhoelzl opened #5697 "False warning: Returning Any from function declared to return "bool""
* Are you reporting a bug, or opening a feature request? **Bugreport**
* Please insert below the code you are checking with mypy
[code]
* What is the actual behavior/output?
[code]
* What is the behavior/output you expect? **No error**
* What are the versions of mypy and Python you are using?
[code]
`mypy==0.630`
* What are the mypy flags you are using?
`--strict`

[2018-09-30 17:36] ilevkivskyi commented on #5697
Why do you think the warning is false? It looks like a totally reasonable warning, since `--warn-return-any` is part of `--strict`. If you don't like it, don't use this flag.

[2018-09-30 17:40] ilevkivskyi commented on #5696
I cannot reproduce this. Maybe there is something else you didn't mention?

[2018-09-30 17:44] stefanhoelzl commented on #5697
because `{} == other` should evaluate to a `bool`.
Which means the method returns a `bool`.
Then getting a warning `Returning Any` seems false to me.

[2018-09-30 17:50] ilevkivskyi commented on #5697
Everything applied to `Any` evaluates to `Any`. A dynamic class can define `__eq__` that returns a string, there is no guarantee it is a `bool`.

[2018-09-30 17:50] #5697 closed

[2018-09-30 18:55] Achimh3011 opened #5698 "Mixing python functions and predicate objects raises error"
A Callable and a predicate object implementing the same behavior should be assignable to the same variable without mypy raising an error.

* Are you reporting a bug, or opening a feature request?
bug

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

https://gist.gith

[2018-09-30 19:54] JelleZijlstra commented on #5698
You probably need to pre-declare `file_filter` (e.g., with `file_filter: Callable[[Path], bool]`). Mypy basically goes with the first assignment otherwise.

[2018-09-30 20:02] ilevkivskyi commented on #5698
This is not a bug. `matching_suffix` is a narrower type than just `Callable[[Path], bool]` (for example you can access `suffixes` on it). You therefore need to either give an annotation or switch order of branches.

To clarify, this is an error from mypy's point of view:
[code]

[2018-09-30 20:02] #5698 closed

[2018-09-30 20:06] ilevkivskyi commented on #5698
Also FYI there is an existing proposal to allow this and automatically infer a union https://github.com/python/mypy/issues/2611

[2018-09-30 21:35] ilevkivskyi commented on #5519
It turns out this is unrelated to #4872. The fix is simple but it involves compromises, so we need to wait a bit more to see how often this error appears.

[2018-09-30 21:36] ilevkivskyi commented on #5311
This issue will not be fixed by the upcoming fix for #4872, therefore I am re-opening. The general fix for this problem may be tricky.

[2018-10-01 02:02] ollien commented on #5519
@ilevkivskyi would you mind explaining what the compromises are?

[2018-10-01 05:44] scolby33 commented on #5667
Oh of course, how could I have forgotten about the string version of annotations!?

+1 to a mention in documentation

[2018-10-01 05:52] llchan opened #5701 "sitecustomize/full sys.path support"
Looking at sitepkgs.py, the current implementation only looks for PEP 561 packages in `site.usersitepackages()` and `site.getsitepackages()`. My environment has a sitecustomize.py that adds additional paths to `sys.path` based on some in-house env vars (not really my choice, I inherited this setup). Could we add a mypy flag to indicate that it should use the full sys.path? I don't really see a har

[2018-10-01 06:28] ethanhs commented on #5701
We should probably support this. I am a little concerned that it will be hard to figure out when packages passed via command line are on the path, but I will have to think more about this.

I also want to refactor sitepkgs.py to be a more general script used to get all the information we need from an external Python executable (version, location, etc).

[2018-10-01 11:19] ilevkivskyi commented on #2683
This now works correctly on master.

[2018-10-01 11:19] #2683 closed

[2018-10-01 12:27] JukkaL commented on #3968
Yeah, we can close this. There are follow-up issues for remaining work.

[2018-10-01 12:27] #3968 closed

[2018-10-01 12:29] ilevkivskyi commented on #4124
Currently only the last two errors are shown independently of where the union defined, before or after the function. So this is probably a meet problem for tuple types.

[2018-10-01 13:21] ilevkivskyi opened #5703 "Default values for generic attributes are unsafe"
Currently mypy accepts this unsafe code:
[code]
A potential solution would be to disallow all default values for generic attributes except `None`. This is however a low priority, since it is a false negative, and a rare corner case.

[2018-10-01 13:29] iddan commented on #5696
Here it is from the beginning of the file (excluding imports):
[code]

[2018-10-01 13:36] ilevkivskyi commented on #5696
I just tried this, and this works perfectly. What is the version of `typed_ast` you have?

[2018-10-01 13:46] ilevkivskyi commented on #5519
One way to solve: provide an optional context for inference -- downside: it looks too ad-hoc.
Another way to solve: don't provide the context for l.h.s at all since it is often not needed -- downside: often != always.

[2018-10-01 14:04] TV4Fun commented on #5687
@ilevkivskyi My whole point here is that I would like a type-checked cast. So for example, if `cast` worked the way I wanted, then this should be an error:
[code]
and the case I would really like to be able to check is this one:
[code]
This case might or might not be an error, depending on how `T` and `U` are defined, but there is not to my knowledge a way to check that they are defined in compati

[2018-10-01 14:19] JukkaL opened #5704 "Provide decorator for unsafe overrides"
Unsafe overrides are pretty common when annotating legacy codebases. The recommended way to deal with this is to add a `# type: ignore` comment. This has a few major issues, though:

1. It's not intuitive. Users often don't realize that they should use it in cases like this.
2. Users frequently misunderstand `# type: ignore` and believe that it ignores the type annotation, even though it only igno

[2018-10-01 14:25] JukkaL opened #5705 "Provide more context about why incompatible with supertype is an error"
Users often don't realize that overriding a method with an incompatible signature is unsafe from a type checking perspective; see #1237 for an example. We could generate some more descriptive notes with the error message, perhaps with a link to mypy documentation what contains a detailed discussion of Liskov Substitution Principle. We could also discuss how to work around the issue.

#5704 and #50

[2018-10-01 14:28] JukkaL commented on #5687
I agree that something like `downcast()` would be quite useful. I remember discussing similar ideas before, but the discussions never went anywhere. One issue with the proposed semantics would be that only instance types would likely be usable as the target type (or a tuple of classes). Maybe that's fine, though.

@gvanrossum Can you create a separate issue focused on `downcast()`?

[2018-10-01 14:54] gvanrossum commented on #5701
As long as we filter by the presence of `py.typed` or the directory suffix `-stubs` I don't see a problem with searching all of `$PYTHONPATH`. If we do that, do we need a change to PEP 561?

An alternative could be to search for these on all of `$MYPYPATH`. (Though it's less powerful because it doesn't automatically vary with `--python-version`.)

[2018-10-01 15:18] ilevkivskyi opened #5706 "Give better error message if type inference fails because of unsatisfiable upper bound"
After #5699 in certain cases (see `testWideOuterContextEmptyError`) if type inference fails, mypy gives an obscure error like
[code]
This error message could be improved. Here are some ideas:
* Record that we didn't use the outer context because of unsatisfied bound and add a note about this
* (Probably better) If type variable with a bound is used in an invariant context and we can't infer a valu

[2018-10-01 15:56] llchan commented on #5701
Thanks for the consideration. Just to make sure I'm explicit about it, it's not just PYTHONPATH that I'd like to see, but the full site.py logic that includes sitecustomize.py or maybe usercustomize.py.

I would probably go with the "filter things out from sys.path" rather than the "recreate the logic in site.py" approach, so that future changes in site.py will likely work without replicating the

[2018-10-01 16:44] takeda opened #5707 "mypy doesn't seem to understand when property is used as a function but not decorator"
So here's a code:

[code]

When running `mypy` I get following error:
[code]

The `Handler` class contains the following code:
[code]
I'm running `mypy` on Python 3.7.0 as follows:
`mypy --python-executable ../py27/bin/python test.py`

The `mypy` has version 0.620

[2018-10-01 16:50] ethanhs commented on #604
This was resolved in #5677. Thank you @onlined!

[2018-10-01 16:50] #604 closed

[2018-10-01 17:53] JelleZijlstra commented on #5707
You can work around this by using `@property def name...` and then `@property.setter`.

[2018-10-01 18:19] takeda commented on #5707
This `logging` is a system module though, so it is not up to me how the property is used :(

[2018-10-01 19:17] iddan commented on #5696
1.1.0

[2018-10-01 19:21] gvanrossum commented on #5696
And on what line exactly do you get the error?

[2018-10-01 19:33] ilevkivskyi commented on #5696
Are you sure you get the error in this file? Maybe you have a file with a similar name or `foo.py` vs `foo/__init__.py` confusion?

[2018-10-01 19:40] bwo opened #5708 "name resolution in class-level list comprehension (python 2)"
This code is legal in Python 2:

[code]

It seems not to be legal in Python 3.

However, even with `-2`, mypy does not allow it:

[code]

Expected behavior: the code should typecheck in py2 mode.

[2018-10-01 20:20] gvanrossum commented on #5696
@iddan I think we're not going to get to the bottom of this until you post a completely self-contained repro, something that anybody can copy/paste into a file and run mypy over.

[2018-10-01 20:42] iddan commented on #5696
This is a company secret closed source.

[2018-10-01 20:57] benjaminp opened #5710 "mypy thinks `raise NotImplemented` is okay"
A mistake I've seen several times is to write `raise NotImplemented` rather than `raise NotImplementedError`. mypy is silent about this bug:
[code]

[2018-10-01 21:04] gvanrossum commented on #5696
So you cannot boil it down to something you can share? Then we have to close this issue.

[2018-10-01 21:04] #5696 closed

[2018-10-01 21:08] gvanrossum commented on #5710
It looks like this is because in typeshed, `NotImplemented` is given type `Any` -- if it had pretty much any other type that doesn't derive from `BaseException` it would be flagged.

Unfortunately if we change it to what it really is (a magic singleton) then everything that *returns* `NotImplemented` will be flagged as an error unless we special-case that value in mypy (preferably only on binary o

[2018-10-01 21:45] ethanhs commented on #5081
Well, I think the `global` statement wouldn't be executed until `foo` is called, so I would say the name gets added to the global namespace after the first call to `foo`. But I could be wrong.

[2018-10-01 21:49] gvanrossum commented on #5081
I'd say what happens at runtime is irrelevant. I think mypy should most likely not ever consider this as a definition of an alias (global or otherwise); it should perhaps flag this as an error (though arguably it should just leave it alone); and it should definitely not crash.

[2018-10-01 22:00] onlined commented on #5081
So I think that we (actually not we, the lead developers) should agree on a
decision, and then this crash can be fixed according to that decision.

By the way, I agree with @gvanrossum. It should be ignored. It should cause
neither an error nor a crash.

2 Eki 2018 Sal 00:50 tarihinde Guido van Rossum <notifications@github.com>
şunu yazdı:

[2018-10-01 22:04] gvanrossum commented on #5081
OK, so extending the example:
[code]
I can live with that. It's somewhat similar to this example (which passes without errors):
[code]

[2018-10-01 23:44] gvanrossum commented on #4212
I don't think I have the chops to fix this, so unassigning.

[2018-10-01 23:47] gvanrossum commented on #3621
The platform has been recorded in the cache for ages.

[2018-10-01 23:47] #3621 closed

[2018-10-02 00:47] ocehugo opened #5713 "Chatty Init signature of derived types function!?"
* Are you reporting a bug, or opening a feature request?

I think it's a bug , given I don't see utility as actual user of the code. But not sure if it's a mypy bug or an ipython bug: I don't know which one is responsible for setting the init_signature field.

* Please insert below the code you are checking with mypy,
[code]
* What is the actual behavior/output?
[code]
* What is the behavior/outpu

[2018-10-02 02:19] kirbyfan64 commented on #5713
FWIW I believe this would be a bug in python/typing and not here, though this seems flat-out incorrect.

[2018-10-02 06:52] dgoldstein0 opened #5714 "mypy should error when code might raise UnboundLocalError"
* Are you reporting a bug, or opening a feature request?

Feature request

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

I found a case in my code recently where I had a typed function that had an UnboundLocalError - one of the branches used a variable that was un

[2018-10-02 06:55] onlined commented on #5081
I think that we should do the same with `nonlocal`.

[2018-10-02 07:12] ethanhs commented on #5713
Yes this appears to be a bug for the [`typing module bug tracker`](https://github.com/python/typing). Please open this there.

[2018-10-02 07:12] #5713 closed

[2018-10-02 08:06] iddan commented on #5696
It was another file. I have no idea why it wasn't reported in VSCode for the wrong location

[2018-10-02 08:07] iddan commented on #5696
So it seems like commented out code is failing:
[code]

[2018-10-02 08:32] JukkaL commented on #5710
One option would be to special case only `raise NotImplemented` and `raise NotImplemented(...)` to generate an error.

[2018-10-02 08:36] ilevkivskyi commented on #5696
And this is expected, because on line 6 of your snippet there is
[code]
which is a type comment.

You can just put two comment signs to suppress this `## type: str` is a normal comment again.

[2018-10-02 08:36] JukkaL commented on #4212
This should already work efficiently in fine-grained incremental mode, so I don't think that there's anything that needs to be done any more.

[2018-10-02 08:36] #4212 closed

[2018-10-02 08:48] ilevkivskyi commented on #5713
I think this is not a bug in `typing` either. The built-in `help()` function works correctly with this:
[code]

[2018-10-02 10:13] iddan opened #5715 "Incompatible types in assignment"
* Are you reporting a bug, or opening a feature request? bug
* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

[code]

* What is the actual behavior/output?
[code]
* What is the behavior/output you expect? to work
* What are the versions of mypy and Python you are usi

[2018-10-02 10:28] ilevkivskyi commented on #5715
This is not a bug, see https://github.com/python/mypy/issues/4186

[2018-10-02 10:28] #5715 closed

[2018-10-02 11:17] iddan commented on #5715
But:
[code]
is valid

[2018-10-02 11:19] iddan commented on #5696
It will be good if this syntax would be prohibited eventually

[2018-10-02 11:29] midnio opened #5716 "Type declaritions in for loop"
[code]

This code doesnt work. Is there a possible way to do it?

[2018-10-02 11:37] midnio commented on #5716
Actually i realized this is the repo.

[2018-10-02 11:42] ilevkivskyi commented on #5716
I replied to you in typing repo. This was rejected in PEP 526, see relevant section in https://www.python.org/dev/peps/pep-0526/#rejected-postponed-proposals for motivation (basically we didn't want to complicate Python's parser).

[2018-10-02 11:42] #5716 closed

[2018-10-02 11:44] #3876 closed

[2018-10-02 11:44] #4872 closed

[2018-10-02 11:44] #2678 closed

[2018-10-02 11:44] #5199 closed

[2018-10-02 11:44] #5493 closed

[2018-10-02 11:53] midnio commented on #5716
Ok, thanks.

[2018-10-02 12:32] ilevkivskyi commented on #5714
It looks like this is a duplicate of https://github.com/python/mypy/issues/2400. I will close this one and raise the priority of the other issue instead.

[2018-10-02 12:32] #5714 closed

[2018-10-02 12:32] ilevkivskyi commented on #2400
This appears to be a common problem so raising priority to normal.

[2018-10-02 15:37] gvanrossum commented on #5710
Honestly if we're going to special-case `NotImplemented` I'd prefer to
special-case `return NotImplemented`, so we can give `NotImplemented` a
better type than `Any`.

[2018-10-02 15:48] martinstein commented on #5520
I'm having the same issue as @MarkCBell , both in my local project and when trying out the test case from this thread from https://github.com/MarkCBell/mypy

I'm on Windows 10, Python 3.7 in a virtual environment from `venv`, if that matters. For the test case, I've also tried slashes, backslashes and double backslashes for specifying the stubs-path, but the result is still:

[code]

[2018-10-02 15:58] JukkaL commented on #5710
That's a very good point. Maybe `return NotImplemented` should be only valid in relavant dunder methods (or with a sufficiently permissive return type)?

[2018-10-02 16:14] gvanrossum commented on #5710
Right, that's what I was trying to say earlier. :-)

[2018-10-02 16:27] ilevkivskyi commented on #5710
A very easy but hacky way to fix this is to annotate `NotImplemented` as `NoReturn`. The latter is a subtype of al types, so it will be accepted as a return value, but it is not `Any` so it will be invalid in some other situations such as raising it.

[2018-10-02 16:48] martinstein commented on #5520
I'm able to make MyPy see the `.pyi` stub file if it sits in the exact same directory as the original `.py` module. However, according to the docs I was expecting that the same logic (higher priority for the `.pyi` file if found) would apply to the stub directory as well.

Can anybody else get a test-case to work where a module from your own code has a stub file in a stubs-directory (i.e. not in t

[2018-10-02 17:13] ilevkivskyi commented on #5704
I think this is a more general problem. I have seen this some many times in different contexts. It is not possible to rename this, but maybe we can add a large note somewhere early in the docs explaining that `# type: ignore` only ignores type errors, not types?

[2018-10-02 17:58] gvanrossum commented on #5520
If you use `mypy -v` you should see copious logging showing which files it is analyzing.

One rule to be aware of: mypy's search patch is something like this:

1. current directory
2. directories where sources given on command line live
3. $MYPYPATH
4. mypy_path from mypy.ini
5. site-packages etc.
6. typeshed

The other rule to know is that mypy searches each directory on the path in turn, looking

[2018-10-02 18:00] gvanrossum commented on #5704
I like the idea of a decorator to flag unsafe overrides.

[2018-10-02 18:18] ilevkivskyi commented on #5520
@gvanrossum This is a nice short summary. However I noticed the order in your list is a bit different from the one documented in https://mypy.readthedocs.io/en/latest/running_mypy.html#how-imports-are-found, namely `MYPYPATH` stays _first_. So what should we fix, the docs or the implementation?

[2018-10-02 18:19] martinstein commented on #5520
Okay, thanks for the `-v` suggestion. I got @MarkCBell 's test-case working... it turns out naming the package in the test-case `mypy` was not ideal (since it conflicts with `mypy` itself, apparently). As soon as you rename that package to something else, e.g. `mypyx` then it works as expected.

Now I'll try to figure out why things are not working in my more advanced setup.

[2018-10-02 18:27] martinstein commented on #5520
Actually, sorry, please scratch my last message. I'm still unable to get that test-case working...

[2018-10-02 18:33] martinstein commented on #5520
The verbose log output (after renaming the test-package to `mypyx` to avoid conflicts) doesn't give any indication about the stubs directory:

[code]

[2018-10-02 18:44] MarkCBell commented on #5520
@martinstein Thank you for your comments, particularly about the name conflict. To ease debugging I have pushed a new version to the repository, following your suggestion, in which the folders have been renamed to `mypyx`. However I am still seeing the same incorrect output, namely:
[code]

[2018-10-02 18:58] MarkCBell commented on #5520
@gvanrossum Thank you for letting me know about the order in which locations are checked. After renaming my example to `mypyx`, I have verified that if the `./stubs/mypyx` folder is moved to the current folder that I am in when I start mypy (location 1) or the folder where sources given on command line live (location 2) then mypy produces the expected output.

However, if I try to achieve this by

[2018-10-02 19:17] gvanrossum commented on #5520
@ilevkivskyi

This deviation from the docs may have been introduced by @ethanhs's PEP 561 work. I also recalled $MYPYPATH coming first, but the current source code (which I have been studying in depth for #5691) places the directories containing user code first. I think we should fix the code -- just like Python puts $PYTHONPATH first, mypy should put $MYPYPATH first. But let's see if @ethanhs had

[2018-10-02 19:44] ilevkivskyi commented on #5520
OK, let's wait for his response.

[2018-10-02 19:55] MarkCBell commented on #5520
So I think I may have found the source of the issue. Exactly as @gvanrossum said, the current directory is checked before $MYPYPATH or mypy_path from mypy.ini. Therefore if you run `mypy tests/test-main.py` within the top level of this project, it tries to find stubs for `mypyx.main` and spots that within the current folder is a folder called `mypyx` (with an `__init__,py`) and within that is a `m

[2018-10-02 20:55] arnavb opened #5719 "mypy not recognizing attribute of class created with setattr"
Let's say I have the following code in `example.py`:

[code]
When I run `mypy example.py`, I get:

[code]

Is this expected behavior?

[2018-10-02 20:56] gvanrossum commented on #5719
Yes, mypy doesn't run your code, it only reads it, and it only looks at the types of attributes, not at actions like `setattr()`.

[2018-10-02 20:56] #5719 closed

[2018-10-02 20:59] ethanhs commented on #5520
Hm, PEP 561 states things like MYPYPATH go after user code, even though it acknowledges these are supposed to be on the front of the PATH... I think the PEP should be re-worded to be clearer (MYPYPATH goes BEFORE user code) and the mypy implementation should be corrected to follow the ordering as laid out in the PEP. That is to say the mypy path should go *before* user code, which should be as sim

[2018-10-02 21:08] gvanrossum commented on #5520
It would be nice if we could just entirely skip the current directory, but there are cases (like the `-m` and `-p` options) where users just expect the current directory to work. It's a problem with Python itself too (having `''` on `sys.path` is an endless source for debate, bug reports etc.). I'm not sure how we would move forward on that. Perhaps we could add it only if there are no source file

[2018-10-03 00:05] msullivan opened #5720 "Class typevars lose information from `isinstance` checks"
[code]
fails with `Argument 1 to "bar" of "C" has incompatible type "int"; expected "T"`, even though `x` is obviously a `T` (that was its annotated type!)

Arguably this is just the Dreaded Intersection Bug (#3603) in a different manifestation?

[2018-10-03 01:10] ilevkivskyi commented on #5720
Yes, and this is probably a hardest aspect of the problem, because I don't see an easy way to work around this using some fake `TypeInfo`s for intersections.

[2018-10-03 12:12] iddan opened #5723 "TypedDict as default_factory in dataclasses is not inferred correctly"
* Are you reporting a bug, or opening a feature request? bug
* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

[code]

* What is the actual behavior/output?

[code]

* What is the behavior/output you expect? To pass
* What are the versions of mypy and Python you are u

[2018-10-03 12:51] Dentosal opened #5724 "Allow overriding type annotations with type hint comments"
This is a feature request.

I suggest adding a config option or a per-file toggle that would allow overriding type annotations with comments, instead of producing an error message.

# Repro / example use case

[Hug](https://github.com/timothycrosley/hug) uses function return annotation to convert return value to http response. It requires a function (usually a type constructor), so using something

[2018-10-03 17:15] gvanrossum commented on #5724
Wouldn't it be better to fix this in hug? Type comments are eventually going away completely, so really hug is impeding progress here, and should be fixed.

[2018-10-03 17:18] scottbelden opened #5725 "How do I get mypy to use an absolute import instead of a relative import"
* Are you reporting a bug, or opening a feature request?

Bug

* Please insert below the code you are checking with mypy,
  or a mock-up repro if the source is private. We would appreciate
  if you try to simplify your case to a minimal repro.

Create a directory with the following three files:

 `__init__.py`
[code]

`operator.py`
[code]

`test.py`
[code]

* What is the actual behavior/output?

[

[2018-10-03 17:34] gvanrossum commented on #5725
You are invoking mypy from inside the directory. It doesn't recognize this as a package, so it sees operator.py as a module with higher priority than the buildin one (same as Python itself would do in this case).

The solution would be `cd ..; mypy <directory>/test.py`.

[2018-10-03 17:34] #5725 closed

[2018-10-03 18:09] #1645 closed

[2018-10-03 18:11] scottbelden commented on #5725
Thanks!

[2018-10-03 21:32] gvanrossum opened #5728 "Let's retire --quick-and-dirty"
This flag was a hack attempted to create a faster incremental mode. We've now got daemon mode, which is much better. (Exception: daemon mode isn't supported on Windows.)

[2018-10-03 23:58] ilevkivskyi commented on #5728
I like this idea. We can start emitting a warning as soon as in the coming release, and then remove the flag when we add Windows support for daemon.

[2018-10-04 00:02] edwardcwang opened #5730 "async def functions with Python2-style type hints that use async features fail to type-check"
Python 3.7, mypy 0.630

The following code runs fine but fails to typecheck due to the Python2-style comment type annotation for `async def main`. In contrast, `async def main() -> None:` works fine.

[code]

Error message:

[code]

[2018-10-04 00:18] ilevkivskyi commented on #5730
Duplicate of https://github.com/python/mypy/issues/5431

[2018-10-04 00:18] #5730 closed

[2018-10-04 01:37] ocehugo commented on #5713
@ilevkivskyi, good catch on using the help...I'm spoiled by ipython magics. So I got stuck:
report to typing or ipython/somewhere else?

[2018-10-04 03:36] gvanrossum commented on #5431
Let's not argue about whether this is useful.

The error is reported by [typed_ast](https://github.com/python/typed_ast) and it should be reported there.

[2018-10-04 03:36] #5431 closed

[2018-10-04 06:32] onlined opened #5732 "mypy gives 'not defined' error for use after global declaration"
In version 0.630 and `master` (with Python 3.7.0), I get this error :

[code]

I thought that I should not get an error. Is this behavior correct?

[2018-10-04 06:46] onlined commented on #5081
I think #5732 is related to this issue.

[2018-10-04 08:44] ilevkivskyi commented on #5713
I think try IPython first.

[2018-10-04 10:06] JukkaL commented on #5728
Agreed, let's do this.

[2018-10-04 10:10] JukkaL commented on #5732
Mypy doesn't behave correctly, but it may be somewhat difficult to fix in mypy. As a workaround, you can declare the global at module top level:

[code]

[2018-10-04 14:01] ikelos commented on #5592
If the two versions can be bumped independently of each other, and they're seen as different packages by the packages themselves, perhaps they should live in separate repositories?  Rather than trying to keep two packages in one repo, it seems as though this should now be moved to something like github.com/python/mypy_extensions, with proper releases and tarballs.  I'm facing similar issues trying

[2018-10-04 15:00] jhance opened #5736 "Provide mechanism for hiding imports"
Imports are usually (not in all cases) an implementation detail, but it ends up getting "exported" unless you do
[code]
to make it an error to import `bar` from the module. (Of course, one can still import `_bar`, but this is less likely to occur by accident)

In a large codebase, importing identifiers from the wrong module can cause unnecessary dependencies, which hurts selective testing. I've ha

[2018-10-04 18:52] msullivan opened #5738 "Generic inference regression from #5699"
Since #5699, mypy now rejects the following program (minimized from a few failures at dropbox):
[code]
with the error message
`Incompatible types in assignment (expression has type "Tuple[_T_co, ...]", variable has type "Tuple[str, ...]")`

@ilevkivskyi thoughts?

To be honest I'm not totally sure how we used to get this right, since my understanding was that we don't do the sort of instantiation

[2018-10-04 20:18] ilevkivskyi commented on #5738
OK, so here is the diagnosis: I remember that I checked that our repos are clean with that PR, but later @JukkaL proposed to only use the outer context _invariant_ instances, which I didn't check. The point is that tuple is covariant (and `Tuple[str, ...]` translates to an instance type), so we previously (successfully) used it for inference, but not anymore.

It looks however, there is another bu

[2018-10-04 20:28] ilevkivskyi commented on #5738
Yes, I am pretty sure this is a duplicate of #1317, here is a similar repro:
[code]

I can try looking into this more today and tomorrow, but I can't guarantee it is easy to fix.

[2018-10-05 00:31] ethanhs commented on #5651
I suppose I am okay with this. It makes me feel uneasy, but I can't disagree that it has good ergonomic benefits.

[2018-10-05 01:38] ethanhs commented on #5620
I think @Michael0x2a's solution is likely optimal here. I will work on a fix for this later.

[2018-10-05 07:57] onlined commented on #5081
Since #5732, @gvanrossum's example actually turns into this:
[code]

How should we proceed? Fixing the other issue before this, or fixing this with accepting the behaviour mentioned in the other one?

[2018-10-05 11:02] ilevkivskyi commented on #5738
Continuing thinking about this and #1317 it seems there are actually two aspects here:
* Fix leaking type variables (which I find quite annoying)
* Support inferring generic types (which is more relevant for original use case in #1317), because currently inferred types can't have free type variables.

Fixing the first one could be easy, while the second point may be a bit tricky. Currently mypy ge

[2018-10-05 13:09] JukkaL commented on #5738
I agree that leaking type variables probably isn't hard to fix, once we figure out what the correct behavior would be.

I can't say how hard it would be to infer generic types. This would need some research.

[2018-10-05 17:03] gvanrossum opened #5741 "Release 0.640 planning"
I am the release manager for mypy 0.640. I plan to cut the release branch right now (Oct 5) and do the release in a week (Oct 12).

If there are PRs that are low-risk and high-value that ought to go into this release please mention them here and I'll see if they can be cherry-picked.

[2018-10-05 17:15] ilevkivskyi commented on #5741
I think we should decide what to do about https://github.com/python/mypy/issues/5738, because technically it is a regression. Possible options are:
* Don't care about this for now, it is minor and is caused by an old bug exposed by a fix to another issue.
* Implement a simple fix (unfortunately I don't have one yet, sorry, but it should not be hard) just to avoid the false positive.
* Revert the s

[2018-10-05 17:30] ilevkivskyi commented on #5738
It is not incorrect although. I will try a bit more to see if there is a simple fix, I will have nothing by the end of the day, I would propose to just not worry about this for now.

[2018-10-05 18:48] ilevkivskyi opened #5743 "Add a note suggesting to add __init__.py in case of duplicate modules"
For example:
[code]
Probably we should use some heuristic to add this note only when it makes sense (e.g. there is at least one directory level between the file and the place where mypy is running).

[2018-10-05 20:16] galcik opened #5744 "[Attrs] Invalid typing of init arguments in subclasses of generics"
[code]

fails ONLY on the last line:

[code]

It seems that typing for the attribute `items`  works as expected. However, if `items` is used as a keyword argument of the `__init__` generated by attrs, typing fails.

Note also that if the following class is added:
[code]
mypy fails with error:
[code]

[2018-10-05 22:14] gvanrossum commented on #5741
Release branch created: https://github.com/python/mypy/tree/release-0.640

It's currently identical to master -- the last commit is "Fix infinite loop on corrupted fine-grained cache (#5739)".

Anything that we decide should go into this release will be cherry-picked.

[2018-10-07 09:52] hashbrowncipher opened #5746 "different treatment of untyped defs, typed defs, and lambdas"
Edit: see first comment

Test case:

[code]

Actual output:
[code]

Expected output: none, because I believe mypy should treat fails1() and fails2() identically to works()

[2018-10-07 10:05] hashbrowncipher commented on #5746
I've realized that the only reason that `works()` works is because I wasn't using `--check-untyped-defs`, so here's a second test case that gets to what I actually care about:

[code]

[2018-10-07 19:28] ilevkivskyi commented on #3009
This works on master.

[2018-10-07 19:28] #3009 closed

[2018-10-07 19:31] ilevkivskyi commented on #5746
Thanks for reporting!

This is a duplicate of https://github.com/python/mypy/issues/2608 (types don't propagate to nested functions, including lambdas), see also https://github.com/python/mypy/issues/4973.

[2018-10-07 19:31] #5746 closed

[2018-10-07 19:32] ilevkivskyi commented on #2608
(I am raising priority to high since this appears quite often.)

[2018-10-07 21:18] gvanrossum opened #5747 "Fine-grained incremental step does lots of spurious stat() calls"
While working on #5745 I instrumented fscache.py and discovered that a lot of spurious `stat()` calls are made in fine-grained-incremental runs by `find_module()`. This is invoked from `is_module()` whose only call site is in `all_imported_modules_in_file()`. This is used by `compute_dependencies()` to disambiguate `from X import Y` -- it needs to know whether `Y` is a submodule of `X` or just som

[2018-10-07 23:31] ilevkivskyi commented on #5747
I am not sure what do you mean by this. Any changes in typeshed files are currently ignored by the daemon (they are not propagated). This is a conscious decision, you can find several places where triggers are ignored if they are from typeshed. @JukkaL can probably comment on this (IIRC he originally proposed this as an optimisation).

[2018-10-08 00:50] gvanrossum commented on #5747
I know, but I didn't feel comfortable to decide that hence it would be okay for `is_module()` to be wrong for typeshed.

Let's say the source has `from os import path`. This causes the inquiry `is_module('os.path')` to be made, and the implementation I had would incorrectly return `False`. There may well be a reason at a higher level in the code why this doesn't matter, but I didn't want to make a

[2018-10-08 04:06] l0b0 opened #5748 "Can't "unpack" Optional in grandparent context"
I found this bug when refactoring the common functionality of two child methods into a separate grandchild method. Test case:

[code]

Test run:

[code]

If I move the check into `parent` instead it passes as expected:

[code]

Environment:

[code]

Flags:

[code]

[2018-10-08 13:13] ilevkivskyi commented on #5748
I don't see where is a bug here. You have a clear type error in your signatures:
[code]

[2018-10-08 13:13] #5748 closed

[2018-10-08 13:14] ilevkivskyi commented on #5748
(Edit: moved comment in the snippet to right line.)

[2018-10-08 13:17] ilevkivskyi commented on #5747
OK, I see, then I wouldn't worry too much about several extra `stat()`s.

[2018-10-08 14:31] ilevkivskyi commented on #5744
Yes, this is clearly a bug. The cause is that `__init__` is generated for every subclass that is an attrs class. When `__init__` (or any other attribute) is accessed on a superclass of a normal class, mypy takes care to `map_instance_to_supertype`/`expand_type_by_instance`, while the plugin doesn't do this.

@euresti will you have time to work on this?

[2018-10-08 14:32] ilevkivskyi commented on #5744
Btw, most likely dataclasses have the same problem.

[2018-10-08 16:15] takeda opened #5750 "Reusing variable name in different scopes"
I saw that there is a similar bug around redefining a variable, but I believe this one is slightly different problem, here is the code:

[code]

The variable `var` while it uses the same name, it is technically a different variable, but mypy 0.630 is complaining about it:
[code]
Ideally it should have no problem with it and at the point where there is `return` statement it should just do an union

[2018-10-08 16:16] yoeo opened #5751 "Value of type "object" is not indexable. When accessing indexable value contained in a "dict""
Information to help understand the issue:

* Are you reporting a bug, or opening a feature request?
I'm reporting a bug.

* Please insert below the code you are checking with mypy,
[code]

* What is the actual behavior/output?
[code]

* What is the behavior/output you expect?
[code]
No error message shown.

* What are the versions of mypy and Python you are using?
[code]

* Do you see the same iss

[2018-10-08 16:29] ilevkivskyi commented on #5750
OK, let us keep this open, although it is just another aspect of a known problem. @JukkaL is currently exploring possible solutions.

[2018-10-08 16:32] ilevkivskyi commented on #5751
This is not a bug. `Dict[str, object]` is a best type mypy can infer for this literal. If this is intended to be a `TypedDict` you should explicitly annotate it as such.

[2018-10-08 16:32] #5751 closed

[2018-10-08 16:32] gvanrossum commented on #5750
I beg to differ. In your example, at least, it looks like a single variable, because `return var` references it. (I would agree that you could argue it's two variables if that `return` weren't there.)

[2018-10-08 16:35] takeda commented on #5750
The error is still showing up even if I set return to `None`.

[2018-10-08 16:49] takeda commented on #5750
If I try to treat it as a single variable, and try to define an unified type like this:
[code]

I get this error:
[code]

It feels that as far as type checker is concerned it probably would be easier to treat them as two different variables and then do `Union` at the end of the control block.

I found this pattern in code that works with JSON data if that helps.

[2018-10-08 17:38] llchan opened #5752 "Better error message for rejected protocol subtyping due to mutability"
It appears that Union types for Protocol attributes aren't recognized.

Repro example:
[code]

Failing output:
```Argument 1 to "dec" has incompatible type "Type[Thing]"; expected "Type[HasFoo]"```

Misc info:
Tested with both mypy 0.630 and mypy master (e12be3ba9e6be3e9242e3a81ffaa9b3a136876fe), run with `--strict`

[2018-10-08 17:51] ilevkivskyi commented on #5752
This is not a bug, but an actual type error, please read this https://mypy.readthedocs.io/en/latest/common_issues.html#covariant-subtyping-of-mutable-protocol-members-is-rejected

[2018-10-08 17:55] ilevkivskyi commented on #5752
On the second thought, maybe we should add this link to the error message? It is not obvious that this is rejected because of the mutability (especially that mypy allows this for nominal subclasses), but on the other hand it is quite rare case, so I am not sure here.

[2018-10-08 18:06] llchan commented on #5752
Yeah, I was just about comment that it would be helpful if the error message indicated that the protocol was rejected due to mutability. Doesn't make a huge difference to me now that I know, but might be helpful for others that run into this?

[2018-10-08 18:09] ilevkivskyi commented on #5752
OK, let's see what others think. @JukkaL @gvanrossum should we add a note (probably with the link) to this error message?

[2018-10-08 18:15] gvanrossum commented on #5752
I do think the error should be clearer, and if we can link to that section in the docs when we find covariant subtyping might be assumed that would well help.

I wonder if the OP has thought of adding `# type: Union[str, int]` to the initialization of `foo` in `Thing`. (Of course that might cause other problems down the line, but it's still enlightening to realize it.)

[2018-10-08 18:18] ilevkivskyi commented on #5752
OK, I am re-opening with another title.

[2018-10-08 18:30] llchan commented on #5752
Thanks, I really appreciate the responsiveness and the dedication to usability!

[2018-10-08 18:38] JukkaL commented on #5750
The feature I'm working on won't support this use case yet, though it would be nice if mypy would support this better. Maybe we need to revisit #2008 at some point.

Here's a workaround that works right now using Python 3.6+ syntax:

[code]

[2018-10-08 19:45] l0b0 commented on #5748
@ilevkivskyi The point was that I ensure the field is set before calling `parent`, so the field is guaranteed to be set when reaching `child`:

[code]

[2018-10-08 19:49] ilevkivskyi commented on #5748
This doesn't matter, the error in in the `parent` function _body_. What should mypy do if it would allow the definition of `parent`? Should it only allow calling this function under certain if statements? This doesn't make sense, a function definition is either correct or not, there is no middle ground, outside of a function body, the only information about it, is its type, otherwise it is more or

[2018-10-09 00:53] noporpoise commented on #4928
I think I'm having a similar issue, but with the `Type` as the dict value rather than key:

    from typing import TypeVar, Type, Dict

    class A:
        pass

    class B(A):
        pass

    class C(A):
        pass

    T = TypeVar('T', bound=A)
    d = {}  # type: Dict[str, Type[T]]  # <-- line17: this line triggers the error

Getting the following error:

    $ mypy test.py
    test.py:17

[2018-10-09 01:04] gvanrossum commented on #4928
@noporpoise No, that's unrelated -- you're using a type variable outside a generic class or function. If you need more help with that please use the Gitter channel (see project README).

[2018-10-09 06:04] sobolevn opened #5753 "mypy warns: Module 'typing_extensions' has no attribute 'Final'"
# Bug

## Thesis

When trying to use new `Final` from `typing_extensions` I am getting an error from `mypy`.
That's how it looks:

[code]

Corresponding issue:

[code]

And if I try to execute this line in my `python`'s REPL it works fine:

[code]

## Version info

`typing_extensions`: `typing-extensions==3.6.6`
`mypy -V`:  0.630
`which mypy`: `/Users/sobolev/Documents/github/wemake-python-stylegu